-url = url_for(:controller=>:help, :action=>:show, :id=>result[:name])
=link_to_remote(wikize(result[:title], :without_paragraph=>true), {:url=>url, :update=>:helpage, :method=>:get}, :href=>url)
%span.pertinence=tc(:pertinence, :value=>result[:pertinence].to_s)
