.search
  =form_tag({:controller=>:help, :action=>:index}, :method=>:get) do
    %table
      %tr
        %td.label=tc(:search)
        %td.field=text_field_tag :key, @key
        %td.submit=submit_tag tg(:search_go), :name=>nil
