%div{:orient=>:vertical, :flex=>1}
  .nav
    #help-close.help-link=link_to_remote(tg(:close), :url=>{:controller=>:help, :action=>:close}, :loading=>"closeHelp(); onLoading();", :loaded=>"onLoaded();")
    #help-previous.help-link=link_to_remote(tg(:previous), :url=>{:controller=>:help, :action=>:previous }, :update=>:help, :complete=>"resize2();", :loading=>"onLoading();", :loaded=>"onLoaded();" ) if session[:help_history].size>1
    %h1.title=tc :title
  -cache(:action=>"help", :id=>@article) do
    .content{:flex=>1, :style=>'overflow:auto;'}
      - doc=article(@article)
      - if doc.blank?
        %h1=tc("missing_help")
        .help-error=tc(:error_no_file, :article=>@article)
      - else
        =doc
      %ul
        %li=link_to_remote(tc("home"), :url=>{:controller=>:help, :action=>:search, :article=>"company-index"}, :update=>:help, :complete=>"resize2();", :loading=>"onLoading();", :loaded=>"onLoaded();")
        %li=link_to(tc("ekylibre"), "http://www.ekylibre.org")
      .text-end &nbsp;
