-update, complete, resize = "help", "resize2(); return true", nil
-if params[:dialog]
  -update, complete, resize = "#{params[:dialog]}-help", "$('#{params[:dialog]}').resize()", params[:dialog]
-base_url = {:controller=>:help}
-base_url[:dialog] = params[:dialog] if params[:dialog]
-cache(:action=>"help", :locale=>::I18n.locale, :id=>@article) do
  .content.flex{:style=>'overflow:auto;'}
    -doc=article(@article, :update=>update, :complete=>complete, :url=>base_url.merge(:action=>:search))
    -if doc.blank?
      %h1=tc("missing_help")
      .help-error=tc(:error_no_file, :article=>I18n.locale.to_s+":"+@article)
    -else
      =doc
