= backend_fields_for object do |f|
  = f.referenced_association :address, :source => :mails, input_html: {data: {"when-item": "address_id", "when-set-value": "RECORD_VALUE"}}
  = f.referenced_association :delivery_address, :source => :mails, input_html: {data: {"when-item": "address_id", "when-set-value": "RECORD_VALUE"}}
  = f.referenced_association :invoice_address, :source => :mails, input_html: {data: {"when-item": "address_id", "when-set-value": "RECORD_VALUE"}}
