-item ||= f.object
%tr
  %td=@sale.currency
  %td=number_field_tag(:quantity, 0, :size => 7)
  %td.decimal PRICE
  %td.decimal=item.pretax_amount.l :currency => @sale.currency
  %td.decimal=item.amount.l :currency => @sale.currency
  %td.action
    =link_to("#", :class => "remove") do
      %i