=field_set do
  =f.referenced_association :production_chain
  =f.input :name
  =f.input :nature
  -assocaition :operation_nature
  =f.referenced_association :building, :source => "Building#buildings"
  =f.input :description, :field => :text

