=field_set do
  =f.association :production_chain
  =f.input :name
  =f.input :nature
  -assocaition :operation_nature
  =f.association :building, :source => "Warehouse#buildings"
  =f.input :description, :field => :text

