-field_set do
  -association :production_chain
  -input :name
  -input :nature
  -assocaition :operation_nature
  -association :building, :source => "Warehouse#buildings"
  -input :comment, :field => :text

