-if @cash.new_record?
  =hidden_field :cash, :entity_id

=formalize do |f|
  -f.error :cash
  -f.title :general
  -f.field :cash, :name
  -if @cash.has_dependents?
    -f.field :cash, :currency, :field=>:label
    -f.field :cash, :nature_label, :field=>:label
  -else
    -f.field :cash, :currency, :choices=>currencies
    -f.field :cash, :nature, :field=>:radio, :choices=>Cash.natures.collect{|n| [n[0], n[1], {"data-show"=>"##{n[1]}_options", "data-dependents"=>"#cash-accountancy", "data-parameter-name"=>"nature"}]}

-if @cash.new_record? or @cash.bank_account?
  #bank_account_options
    =formalize do |f|
      -f.title @cash.nature_label
      -f.field :cash, :bank_name
      -f.field :cash, :address, :field=>:textarea
      -f.field :cash, :mode, :field=>:radio, :choices=>Cash.modes.collect{|m| [m[0], m[1], {"data-show"=>"##{m[1]}_options"}]} 
    #bban_options
      =hidden_field_tag "cash[country]", "fr"
      =formalize do |f|
        -f.field :cash, :bank_code, :size=>10
        -f.field :cash, :agency_code, :size=>10
        -f.field :cash, :number
        -f.field :cash, :key, :size=>4
    =formalize(:id=>:iban_options) do |f|  
      -f.field :cash, :iban, :size=>48
      -f.field :cash, :bic

-if @cash.new_record? or !@cash.bank_account?
  #cash_box_options

#cash-accountancy{"data-refresh"=>url_for(:controller=>:cashes, :action=>:new, :mode=>:accountancy), "data-refresh-mode"=>"update"}=render :partial=>"accountancy_form"


