=toolbar do |t|
  -t.edit @cash

=beehive do |b|
  -b.cell do
    =attributes_list(@cash) do |l|
      -l.attribute :name
      -l.attribute :nature
      -l.attribute :journal, :url=>true
      -l.attribute :account, :url=>true
      -if @cash.bank_account?
        -l.attribute :bank_name
        -l.attribute :address
        -l.attribute :iban_label
        -l.attribute :bic
        -if @cash.mode_bban?
          -l.attribute :bank_code
          -l.attribute :agency_code
          -l.attribute :number
          -l.attribute :key

  -if @cash.bank_account?
    -b.tabbox do
      -b.cell(:deposits) do
        =list(:deposits)
      -b.cell(:bank_statements) do
        =toolbar do |t|
          -t.link(:new, :controller=>:bank_statements, :cash_id=>@cash.id)
        =list(:bank_statements)
