-# Eclated automatically (2011-06-08)
=toolbar do |t|
  -t.update @cash

=attributes_list(@cash) do |l|
  -l.attribute :name
  -l.attribute :nature_label
  -l.attribute :journal, :url=>{:controller=>:accountancy, :action=>:journal}
  -l.attribute :account, :url=>{:controller=>:accountancy, :action=>:account}
  -l.attribute :bank_name
  -l.attribute :address
  -if @cash.bank_account?
    -l.attribute :iban_label
    -l.attribute :bic
    -if @cash.use_mode? :bban
      -l.attribute :bank_code
      -l.attribute :agency_code
      -l.attribute :number
      -l.attribute :key

=tabbox(:cash) do |tb|
  -tb.tab(:deposits) do
    =list(:deposits)
  -if @cash.bank_account?
    -tb.tab(:bank_statements) do
      =toolbar do |t|
        -t.link(:bank_statement_create, :cash_id=>@cash.id)
      =list(:bank_statements)
