=toolbar do |t|
  -t.edit @cash

=attributes_list(@cash) do |l|
  -l.attribute :name
  -l.attribute :nature_label
  -l.attribute :journal, :url=>true
  -l.attribute :account, :url=>true
  -l.attribute :bank_name
  -l.attribute :address
  -if @cash.bank_account?
    -l.attribute :iban_label
    -l.attribute :bic
    -if @cash.use_mode? :bban
      -l.attribute :bank_code
      -l.attribute :agency_code
      -l.attribute :number
      -l.attribute :key

=tabbox(:cash) do |tb|
  -tb.tab(:deposits) do
    =list(:deposits)
  -if @cash.bank_account?
    -tb.tab(:bank_statements) do
      =toolbar do |t|
        -t.link(:new, :controller=>:bank_statements, :cash_id=>@cash.id)
      =list(:bank_statements)
