= formalize do |f|
  -f.title :infos
  -f.error :land_parcel_group
  -f.field :land_parcel_group, :name
  -f.field :land_parcel_group, :color
  -f.field :land_parcel_group, :comment, :field=>:textarea
