= formalize do |f|
  - f.error :operation
  - f.title :infos
  - f.field :operation, :name
  - f.field :operation, :responsible_id, :choices=>{:reflection=>:employees}, :new=>{:controller=>:company, :action=>:user_create, :employed=>1}
  - f.field :operation, :nature_id, :choices=>{:reflection=>:operation_natures}, :new=>{:action=>:operation_nature_create}
  - f.field :operation, :target_id, :choices=>{:reflection=>:land_parcels, :include_blank=>""}, :new=>{:action=>:land_parcel_create}
  - f.field :operation, :planned_on
  - f.field :operation, :description, :field=>:textarea
  - f.title :duration
  - f.field :operation, :hour_duration
  - f.field :operation, :min_duration
%table.invex
  %tr
    %td{:valign=>:top}
      = formalize do |f|
        - f.title :operation_lines
      =hidden_field_tag "operation[target_type]", LandParcel.name
      %table.kame
        %thead
          %tr
            %th=OperationLine.human_attribute_name("direction")
            %th=OperationLine.human_attribute_name("product_id")
            %th=OperationLine.human_attribute_name("quantity")
            %th=OperationLine.human_attribute_name("tracking_id")
            %th=OperationLine.human_attribute_name("location_id")
            %th.act
        %tbody#lines=render :partial=>'operation_line_row_form', :collection=>(@operation_lines||@operation.lines)
      =toolbar do |t|
        -t.link :in_line_create,  :remote=>true, :url=>{:action=>:operation_line_create, :direction=>:in},  :update=>:lines, :position=>:bottom
        -t.link :out_line_create, :remote=>true, :url=>{:action=>:operation_line_create, :direction=>:out}, :update=>:lines, :position=>:bottom
        
    %td{:style=>"width:8px"}

    %td{:valign=>:top}
      = formalize do |f|
        - f.title :tools
      %table.kame
        %thead
          %tr
            %th=OperationUse.human_attribute_name("tool_id")
            %th.act
        %tbody#uses=render :partial=>"operation_use_row_form", :collection=>(@operation_uses||@operation.uses)
      =toolbar do |t|
        -t.link :operation_use_create,  :remote=>true, :update=>:uses, :position=>:bottom # , :url=>{:action=>:operation_use_create}
