.search
  =form_tag(nil, :method=>:get) do
    %table
      %tr
        %td.label=tl(:display)
        %td.field=calendar_field_tag :viewed_on, session[:viewed_on]
        %td.submit=submit_tag tg(:search_go)

=toolbar do
  -link :land_parcel_create

=form_tag do
  -for group in @current_company.land_parcel_groups
    .group
      %h2=group.name
      %table.treemap
        %tr
          -land_parcels = group.land_parcels_on(session[:viewed_on])
          -unit = land_parcels[0] ? land_parcels[0].area_unit : nil
          -total_area = group.area(session[:viewed_on], unit)
          -for land_parcel in land_parcels
            %td.plot{:style=>"width: #{100*land_parcel.area(unit).to_f/total_area}%;", :class=>cycle("odd", "even"), :onclick=>"toggleLandParcel(this, 'land_parcel_#{land_parcel.id}')"}
              =hidden_field_tag("land_parcel[#{land_parcel.id}]", "0", :id=>"land_parcel_#{land_parcel.id}")
              .bmenu
                =link_to(land_parcel.name, {:action=>:land_parcel, :id=>land_parcel.id}, :class=>:name)
                %ul
                  %li=link_to(::I18n.t("actions.production.operation_create"), {:action=>:operation_create, :target_id=>land_parcel.id, :planned_on=>session[:viewed_on]}, :class=>"icon im-create")
                  %li=link_to(tl(:divide), {:action=>:land_parcel_divide, :id=>land_parcel.id}, :class=>"icon im-divide")
                  %li=link_to(tl(:update), {:action=>:land_parcel_update, :id=>land_parcel.id}, :class=>"icon im-update")
                  %li=link_to(tl(:delete), {:action=>:land_parcel_delete, :id=>land_parcel.id}, :method=>:delete, :confirm=>:are_you_sure_you_want_to_delete, :class=>"icon im-delete")
              .area=tl(:x_unit, :quantity=>land_parcel.area_measure, :unit=>land_parcel.area_unit.name)
              .desc=land_parcel.description
              %ul.operations
                -for operation in land_parcel.operations.find(:all, :conditions=>["COALESCE(moved_on, planned_on) < ? ", session[:viewed_on]], :limit=>5)
                  %li=link_to(operation.name, {:action=>:operation, :id=>operation.id})
  #merge
    .fields
      .end
    .actions   
      =submit_tag tg(:merge), :confirm=>tl(:are_you_sure)
  :javascript
    var selected = 0
    window.toggleLandParcel = function(element, field) {
      element = $(element);
      field = $(field);
      if (field.value == "0") {
        element.addClassName('selected');
        field.value = "1";
        selected += 1;
      } else {
        element.removeClassName('selected');
        field.value = "0";
        selected -= 1;
      }
      toggleMerge();
    }
    window.toggleMerge = function() {
      if (selected > 1) {
        $('merge').show();
      } else {
        $('merge').hide();
      }
    }
    toggleMerge();

%h2=LandParcelGroup.human_attribute_name("land_parcels")
=kame :land_parcels

