=toolbar do |t|
  -t.update @land_parcel
  -t.divide @land_parcel

=list_evalue(3) do |l|
  -l.evalue @land_parcel, :name
  -l.evalue @land_parcel, :description
  -l.evalue @land_parcel, :started_on
  -l.evalue @land_parcel, :stopped_on
  -l.evalue @land_parcel, :area_measure
  -l.evalue @land_parcel, :area_unit

%table.stepper
  %tr
    %td.step=@land_parcel.parent_kinships.collect{|k| link_to(k.parent_land_parcel.name, :action=>:land_parcel, :id=>k.parent_land_parcel_id).html_safe}.to_sentence.html_safe
    %td.step.active=@land_parcel.name
    %td.step=@land_parcel.child_kinships.collect{|k| link_to(k.child_land_parcel.name, :action=>:land_parcel, :id=>k.child_land_parcel_id).html_safe}.to_sentence.html_safe

%h2=tc :operations
=toolbar do |t|
  -t.link :operation_create, :target_id=>@land_parcel.id, :target_type=>LandParcel.name
=dyta(:land_parcel_operations)
