=toolbar do |t|
  -t.link :operation_update, :id=>@operation.id

%table
  %tr
    %td
      =evalue @operation, :name
      =evalue @operation, :nature, :label=>:name
      =evalue @operation, :responsible, :label=>:label
      =evalue @operation, :target, :label=>:name
    %td
      =evalue @operation, :planned_on
      =evalue @operation, :moved_on
      =evalue @operation, :tools_list


%h2=tc(:lines)
=dyta(:operation_lines)

%h2=tc(:uses)
=dyta(:operation_uses)
