=toolbar do |t|
  -t.link :operations
  -t.link :operation_update, :id=>@operation.id

%table
  %tr
    %td
      =evalue @operation, :name
      =evalue @operation, :nature, :label=>:name
      =evalue @operation, :responsible, :label=>:label
      =evalue @operation, :shape, :label=>:name, :url=>{:action=>:shape}
    %td
      =evalue @operation, :planned_on
      =evalue @operation, :moved_on
      =evalue @operation, :tools_list
