=toolbar do |t|
  -t.link :operation_update, :id=>@operation.id

%table
  %tr
    %td
      =evalue @operation, :name
      =evalue @operation, :nature, :label=>:name
      =evalue @operation, :responsible, :label=>:label
      =evalue @operation, :target, :label=>:name
    %td
      =evalue @operation, :planned_on
      =evalue @operation, :moved_on
      =evalue @operation, :tools_list

=tabbox(:operation) do |tb|
  -tb.tab(:lines, :content=>dyta(:operation_lines))
