=toolbar do |t|
  -t.update @shape

%table
  %tr
    %td
      =evalue @shape, :name
      =evalue @shape, :polygon
    %td
      =evalue @shape, :description
      =evalue @shape, :master

%h2=tc :operations
=toolbar do |t|
  -t.link :operation_create, :target_id=>@shape.id, :target_type=>Shape.name
=dyta(:shape_operations)
