=toolbar do |t|
  -t.update @tool

=attributes_list(@tool) do |l|
  -l.attribute :text_nature
  -# l.attribute :consumption
  -l.attribute :usage_duration, :duration=>:minutes
  -l.attribute :remaining_duration, :duration=>:minutes

%h2=tc(:x_operations, :count=>@tool.uses.count)
=kame(:tool_operations)
