%table
  %tr
    %td
      =evalue @tool, :text_nature
    %td
      =evalue @tool, :consumption


%h2=tc(:operations, :count=>@tool.uses.count)
=dyta(:tool_operations)


%h2=tc(:hour_duration, :count=>@tool.usage_duration_sum)
