- if @campaign
  :ruby
    #
    
    started_on = Date.new(@campaign.name, 01, 01)
    stopped_on = Date.new(@campaign.name, 12, 31)

    sales = Sales.invoiced_between(started_on, stopped_on)
    
    sale_items = SaleItems.where("sale_id IN ? ", sales.pluck(:id))
    
    series = []
    categories = {}
    date = started_on
    while date < stopped_on
      categories[date.year.to_s + date.month.to_s.rjust(2, '0')] = date.l(:format => "%b %Y")
      date = date >> 1
    end
    
    
    

  = bar_chart(series,legend: { layout: 'vertical', align: 'bottom', vertical_align: 'bottom', border_width: 0 }, x_axis: { categories: categories.values})
- else
  %strong= :no_data.tl