=toolbar do |t|
  -t.link :new, {:controller=>:journal_entry_lines}, :remote=>true, "data-update"=>"#lines", "data-update-at"=>:bottom, "data-type"=>:html, :method=>:get
=formalize do |f|
  -f.error :journal_entry
  -f.field JournalEntry.human_attribute_name("journal"), link_to(@journal_entry.journal.name, :action=>:show, :controller=>:journals, :id=>@journal.id)
  -f.field :journal_entry, :number
  -f.field :journal_entry, :printed_on
  -# f.field :journal_entry, :draft_mode
  -# f.field :journal_entry, :created_on
=hidden_field_tag "journal_id", params[:journal_id]
%table.list{:style=>"margin-bottom: 8px;"}
  %thead
    %tr
      %th=JournalEntryLine.human_attribute_name("name")
      %th=JournalEntryLine.human_attribute_name("account")
      %th=JournalEntryLine.human_attribute_name("debit")
      %th=JournalEntryLine.human_attribute_name("credit")
      %th.act
  %tfoot
    %tr#total.total{"data-valid-if-equality-between"=>"#entry-debit, #entry-credit"}
      %th{:colspan=>2}=tg(:total)
      %td#entry-debit.decimal{"data-use"=>"input.debit"}=@journal_entry.debit
      %td#entry-credit.decimal{"data-use"=>"input.credit"}=@journal_entry.credit
  %tbody#lines.lines
    -lines = @journal_entry_lines || @journal_entry.lines
    =render :partial=>"journal_entry_lines/row_form", :collection=>lines
    =render :partial=>"journal_entry_lines/row_form", :object=>@journal_entry.lines.new if lines.empty?
