=journals_tag
=toolbar do |t|
  -t.edit @journal_entry unless @journal_entry.closed?

=attributes_list(@journal_entry) do |l|
  -l.attribute :number
  -l.attribute :printed_on
  -l.attribute :created_on
  -if @journal_entry.resource
    -l.attribute :resource, :url=>true
  -l.attribute :journal, :url=>true
  -l.attribute :debit
  -l.attribute :credit

%h2=JournalEntry.human_attribute_name("lines")
=list(:lines)
