=field_set(@tool, :general_informations) do |f| # partie info general de l entité animal
  =f.error :tool # affiche les erreurs renvoyés par le model
  =f.hint 'Selectionner la catégorie' # affiche une infos
  =f.association :nature, :as => :radio_buttons # affiche un menu deroulant construit par la relation group_id vers le champ name de l entité animal_group
  =f.input :name# affiche le champ name de l entité animal avec une infos derriere
  =f.input :comment, :field=>:textarea # affiche le champ comment
  
=field_set(@tool, :assets_informations) do |f| # partie info general de l entité animal
  =f.association :asset
  =f.input :purchased_on
  =f.input :ceded_on
  
-# @todo waiting for paperclip
=field_set(@tool, :image) do |f|# partie entrée sortie de l entité animal
  -#=f.file_field :picture, :multiple => true