-field_set do # partie info general de l entité animal
  -association :nature # affiche un menu deroulant construit par la relation group_id vers le champ name de l entité animal_group
  -input :name # affiche le champ name de l entité animal avec une infos derriere
  -input :comment, :field=>:textarea # affiche le champ comment
  -f.input :picture, :multiple => true

-field_set(:assets_informations) do # partie info general de l entité animal
  -association :asset
  -input :purchased_on
  -input :ceded_on
