=toolbar do |t|
  -t.edit @tool

=attributes_list(@tool) do |l|
  -l.attribute :nature
  -l.attribute :consumption
  -l.attribute :usage_duration, :duration=>:minutes
  -l.attribute :remaining_duration, :duration=>:minutes
  =image_tag(@tool.picture.url(:thumb))

%h2=tc(:x_operations, :count=>@tool.uses.count)
=list(:operations)
