- financial_year = FinancialYear.find_by(id: params[:current_financial_year])
- financial_year ||= FinancialYear.current
- main_financial_year_selector(financial_year)
- params[:period] = financial_year.started_on.to_s << '_' << financial_year.stopped_on.to_s

- if params[:period]
  = main_toolbar do |t|
    = dropdown_menu_button(:export.ta, icon: :download) do |d|
      - export_params = params.slice(:started_on, :stopped_on, :period, :states, :accounts, :centralize, :lettering_state, :level_1, :level_2, :level_3, :level_4, :level_5, :level_6, :level_7, :level_8, :level_9, :level_10)
      - d.item :export_as_ods.tl, params: export_params.merge(format: :ods)
      - d.item :export_as_csv.tl, params: export_params.merge(format: :csv)
      - d.item :export_as_xcsv.tl, params: export_params.merge(format: :xcsv)
      - d.item :export_as_odt.tl, params: export_params.merge(format: :odt)

= kujaku do |k|
  - k.helper :ledger_crit
  - k.helper :journal_entries_states_crit
  - k.helper :accounts_range_crit
  - k.helper :journals_crit
  - k.number :amount_range_crit
  - k.multi_choice :lettering_state, [:lettered, :unlettered, :partially_lettered].map{ |s| [s.tl, s] }, label: :lettering_state.tl

= main_list(:journal_entry_items)
