test:
  adapter: postgis
  encoding: unicode
  database: ekylibre_test
  schema_search_path: public,postgis,lexicon
  host: db
  username: ekylibre
  password: password
  postgis_extension: []
development:
  adapter: postgis
  encoding: unicode
  database: ekylibre_development
  schema_search_path: public,postgis,lexicon
  host: db
  username: ekylibre
  password: password
  postgis_extension: []
