=formalize do |f|
  - f.error :deposit
  - f.title :infos
  - f.field :deposit, :cash_id, :choices=>{:reflection=>:self_bank_accounts}, :new=>{:controller=>:accountancy, :action=>:cash_create, :nature=>:bank_account}
  - f.field :deposit, :responsible_id, :choices=>{:reflection=>:users}
  - f.field :deposit, :created_on
  - f.field :deposit, :comment

=hidden_field_tag :mode_id, @deposit.mode_id

%h2=tc :incoming_payments
=kame :depositable_payments
