=formalize do |f|
  -f.error :incoming_payment_mode
  -f.title :general
  -f.field :incoming_payment_mode, :name
  -f.field :incoming_payment_mode, :with_accounting, :onchange=>"toggleAccountancy();"

#accountancy
  =formalize do |f|
    -f.title :accountancy
    -f.field :incoming_payment_mode, :cash_id, :choices=>{:reflection=>:cashes}, :new=>{:controller=>:finances, :action=>:cash_create}
    -f.field :incoming_payment_mode, :with_deposit, :onchange=>"toggleDeposit();"
    -f.field :incoming_payment_mode, :with_commission, :onchange=>"toggleCommission();"
  
  #deposit
    =formalize do |f|
      -f.title :deposit
      -f.field :incoming_payment_mode, :depositables_account_id, :choices=>{:reflection=>:payments_to_deposit_accounts}, :new=>{:controller=>:accountancy, :action=>:account_create, :number=>@current_company.preferred_financial_payments_to_deposit_accounts}, :resize=>true

  #commission
    =formalize do |f|
      -f.title :commission
      -f.field :incoming_payment_mode, :commission_base_amount
      -f.field :incoming_payment_mode, :commission_percent
      -f.field :incoming_payment_mode, :commission_account_id, :choices=>{:reflection=>:charges_accounts}, :new=>{:controller=>:accountancy, :action=>:account_create, :number=>@current_company.preferred_charges_accounts}, :resize=>true

:javascript
  window.toggleAccountancy = function() { toggleElement('accountancy', $('incoming_payment_mode_with_accounting').checked); }
  toggleAccountancy();
  window.toggleCommission = function() { toggleElement('commission', $('incoming_payment_mode_with_commission').checked); }
  toggleCommission();
  window.toggleDeposit = function() { toggleElement('deposit', $('incoming_payment_mode_with_deposit').checked); }
  toggleDeposit();
