=formalize do |f|
  -f.error :tax
  -if @tax.new_record?
    -f.field :tax, :nature, :field=>:radio, :choices=>Tax.natures
    -f.field :tax, :amount
  -else
    -f.field Tax.human_attribute_name('nature'), @tax.nature_label
    -f.field Tax.human_attribute_name('amount'), @tax.amount.to_s
  -f.field :tax, :name
  -f.field :tax, :collected_account_id, :choices=>:collected_account, :resize=>true, :new=>{:controller=>:accountancy, :action=>:account_create, :number=>@current_company.preferred_taxes_collected_accounts}
  -f.field :tax, :paid_account_id, :choices=>:paid_account, :resize=>true, :new=>{:controller=>:accountancy, :action=>:account_create, :number=>@current_company.preferred_taxes_paid_accounts}
  -f.field :tax, :included
  -f.field :tax, :reductible
