=unagi do |u|
  -u.cell :indicator do
    %ul
      =li_link_to tc('x_depositable_payments', :count=>@current_company.payments_to_deposit.size), :action=>:deposits
      =li_link_to tc('x_deposits_to_validate', :count=>@current_company.deposits_to_lock.size), :action=>:unvalidated_deposits
