- main_toolbar do |t|
  -t.edit @campaign

=beehive do |b|
  -b.cell do
    = attributes_list do |l|
      - l.attribute :name
      - l.attribute :harvest_year
      - l.attribute :closed
      - l.attribute :number
      - l.attribute :description

  - b.hbox do
    - b.cell(:productions) do
      = toolbar do |t|
        - t.new(params: {controller: :productions, :campaign_id => @campaign.id})
      = list(:productions)

  - b.cell :map, params: {campaign_ids: @campaign.id}