=main_toolbar do |t|
  - t.edit @outgoing_delivery if @outgoing_delivery.updateable?
  - t.destroy(@outgoing_delivery, :method=>:delete, "data-confirm" => tg(:are_you_sure_you_want_to_delete)) if @outgoing_delivery.destroyable?

=attributes_list(@outgoing_delivery) do |l|
  -l.attribute :number
  -l.attribute :reference_number
  -l.attribute :mode
  -l.attribute :weight
  -l.attribute :sale, :url => true
  -l.attribute :address
  -l.attribute :transporter, :url => true
  -l.attribute :transport, :url => true

%h2=OutgoingDelivery.human_attribute_name(:items)
=list :items
