- target = Maybe(f.object).group.targets.first
- schematic_id = target.product.variant.id.or_else("nil")
= f.referenced_association :schematic, as: :hidden

- source_attr = { scope: { components_of: schematic_id }, keep: true }
- data = { intervention_updater: prefix + 'component_id' }
- input_attr = { class: "scoped-parameter", data: data }
- options = { source: source_attr, input_html: input_attr, new: false }
= f.referenced_association :component, options
