-# TODO : Actually code this.
= f.referenced_association :component, label: :component, source: { keep: true }, input_html: { class: "scoped-parameter", data: { intervention_updater: prefix + 'component_id' } }, new: false
