.btn-group.intervention-duplication
  %button.btn.btn-copy.icn.duplicate-intervention{ title: :duplicate_x_selected_interventions.tl(count: @interventions.count), data: { interventions: @interventions.pluck(:id) }}
    = :duplicate.tl
