- count = 0
:ruby
  data = []
  data_crumbs = []
  resource.product_parameters.each do |cast|
    shape = cast.working_zone
    shape ||= cast.product.shape(at: resource.started_at) if cast.product
    if shape
      activity = cast.activity if cast.is_a?(InterventionTarget)
      if activity
        item = {
          name: cast.product.name,
          shape: shape,
          activity: activity.name,
          shape_color: activity.color
        }
      else
        item = {
          name: cast.product.name,
          shape: shape,
          activity: :activity.tl,
          shape_color: cycle(theme_colors)
        }
      end
      data << item
      count += 1
    end
  end
- map = visualization do |v|
  - if data.any?
    - v.serie :main, data
    - v.categories :activity, :main
  - resource.product_parameters.each do |cast|
    - if cast.crumbs.any?
      - v.serie "path_#{cast.id}", cast.crumbs.reorder(:read_at).collect{|c| {name: cast.name, shape: c.geolocation}}
      - v.path (cast.product ? cast.product.name : cast.variant ? cast.variant.name : cast.name), "path_#{cast.id}"
      - count += 1
  - v.control :zoom
  - v.control :scale
  - v.control :fullscreen
  - v.control :layer_selector
- if count > 0
  - cobbler.cobble :resource_map, title: :map.tl do
    = map
