.procedure{:class => (procedure ? procedure.state : "undone")}
  .detail
    %h3
      %i
      = reference.human_name
  - if procedure and procedure.operations.count > 0
    .operations= render 'operation', :collection => procedure.operations
  - if reference.children.count > 0
    .procedures
      - for refp in reference.children
        = render 'procedure', :procedure => root.get(refp), :root => procedure.root, :reference => refp