.nested-fields.delivery-item
	= field_set do
		= field Entity.human_attribute_name(:supplier), selector_tag(:supplier_id, {controller: :entities, action: :unroll, scope: :suppliers }, {}, data: { product_of_delivery_item: { url: backend_entity_path("RECORD_ID", format: :json) }})
		.purchase-order-input
			= f.referenced_association :purchase, label: :order.tl, input_html: {data: { 'when-item': 'id',  'when-filter-value': {of_supplier: 'RECORD_VALUE'}, 'generate-items': true}}, required: true
