- reference = @intervention.reference
= form_tag(action: :jump) do
  - if reference.variables.size > 0
    = field_set :parameters do
      - for variable in reference.variables.values
        - if variable.new?
          .control-group
            %label.control-label=variable.human_name
            .controls
              NEW
        - elsif variable.given?
          .control-group
            %label.control-label=variable.human_name
            .controls
              %label=variable.value
        - else
          .control-group
            %label.control-label=variable.human_name
            .controls
              .input-append
                :ruby
                  url = {action: :unroll, controller: :products}
                  url[:variety] = variable.variety if variable.variety
                  url[:abilities] = variable.abilities if variable.abilities
                =text_field_tag("variables[#{variable.name}]", nil, 'data-selector' => url_for(url))
  -if reference.operations.size > 0
    =field_set :operations do
      -for operation in reference.operations
        %h4=operation.name
        %ul
          -for task in operation.tasks
            %li=task.expression

  =form_actions do
    =button_tag(:name => :redirect, :value => (@intervention.root? ? backend_interventions_path : backend_intervention_path(@intervention)), class: "btn btn-save") do
      %i
      =:save.tl
    -for following in @intervention.followings
      =button_tag(:name => :go_to, :value => following.name, class: "btn btn-chevron-right") do
        %i
        =:save_and_go_to_x.tl(:x => following.human_name)

    =link_to((params[:redirect] ? params[:redirect] : @intervention.root? ? backend_interventions_path : backend_intervention_path(@intervention)), class: "btn btn-cancel") do
      %i
      =:cancel.tl
