/ - main_toolbar do |t|
/   = t.menu :new, icon: false do |menu|
/     - Activities.includes(:plants).where(use_counting: true).pluck(:plants).each do |plant|
/       - menu.item plant.name, { action: :new, controller: :plant_countings, plant_id: plant.id, plant_density_abacus_id: abacus.id }, title: abacus.name
/ NOT DOABLE BECAUSE OF PLANT_DENSITY_ABACUS
- if PlantCounting.any?
  = main_list
