-register = !defined?(Ekylibre::DONT_REGISTER)
-bad_browser = false
-if request.env["HTTP_USER_AGENT"].to_s.match(/MSIE (\d+\.\d+);/)
  -bad_browser = ($1.to_f <= 9)
-if bad_browser
  #bad_browser.login{:style=>"margin: 64px;"}
    .logoban
    %h2=tc("bad_browser.title")
    %p=tc("bad_browser.explanation")
    %p=tc("bad_browser.proposal")
    %table.browsers.actions
      %tr
        %td=link_to(tc("bad_browser.wb.firefox"), "http://www.mozilla.com/")
        %td=link_to(tc("bad_browser.wb.chrome"), "http://www.google.com/chrome")
        %td=link_to(tc("bad_browser.wb.safari"), "http://www.apple.com/fr/safari/")
        %td=link_to(tc("bad_browser.wb.opera"), "http://www.opera.com/browser/")
        %td=link_to(tc("bad_browser.wb.ie"), "http://www.microsoft.com/france/windows/ie/")
  .clearfix
-else
  #login.login{:style=>"display:none"}
    .logoban{:title=>Ekylibre.version}
    =form_tag(session_path(:redirect=>params[:redirect])) do
      %table
        -if false # ::I18n.active_locales.size > 1
          %tr
            %td
              %label=tc(:locale)
            %td.value=locale_selector
        %tr
          %td
            %label{:for => :name}=tc :username
          %td.input=text_field_tag :name, params[:name], :tabindex=>1, "data-autofocus"=>"true"
        %tr
          %td
            %label{:for => :password}=tc :password
          %td.input=password_field_tag :password, nil, :tabindex=>2
        %tr
          %td.button{:colspan=>2}=submit_tag(tc(:connect), :tabindex=>3, :class=>"important")

  -#if register
    #register.login.register{:style=>"display:none"}
      =tool_to(t("actions.companies.register"), {:controller=>:companies, :action=>:register, :locale=>params[:locale]}, :tabindex=>4, :tool=>:action)
  #nojavascript.login{"data-toggle-now-with"=>"#login, #register"}
    .logoban
    %p.message=tc('no_javascript')
