%h1=controller.human_action_name
#login.login
  .logoban{:title=>Ekylibre.version}
  =form_tag({:company=>params[:company], :url=>params[:url]}, {"data-dialog"=>params[:dialog]}) do
    %table
      %tr
        %td.label=Company.model_name.human
        %td.value=@current_company.name
      %tr
        %td.label=tc :username
        %td.input=params[:name]
      %tr
        %td.label=tc :password
        %td.input=password_field_tag :password, nil, :tabindex=>1, :class=>('invalid' if @no_authenticated), "data-autofocus"=>"true"
      %tr
        %td.button{:colspan=>2}=submit_tag(tc(:connect), :tabindex=>2, :disable_with=>tl(:please_wait))
    =hidden_field_tag :name, params[:name]
    =hidden_field_tag :dialog, params[:dialog]
