- main_toolbar do |t|
  -# t.export do |e|
    - e.incoming_parcel_sheet resource.number, resource
  -# t.new(params: {controller: :issues, :target_id => @animal.id, :target_type => @animal.class.name})
  - t.edit resource
  - t.destroy(resource, method: :delete, "data-confirm" => :are_you_sure_you_want_to_delete.tl) if resource.destroyable?

= cobbles do |c|
  - c.cobble :general_informations do
    = attributes_list do |l|
      - l.attribute :number
      - l.attribute :reference_number
      - l.attribute :received_at
      - l.attribute :sender, url: true
      - l.attribute :address, url: true
      - l.attribute :mode, url: true
      - l.attribute :purchase, url: true

  - c.cobble(:items) do
    = cobble_list(:items)

