=main_toolbar do |t|
  -t.edit @land_parcel_group

=beehive do |b|
  -b.tabbox do
    -b.cell :general do
      .picture
        =@land_parcel_group.shape_svg(:width => 180, :height => 180, :class => :map)
      .info
        %span.title=LandParcelGroup.human_attribute_name(:area_measure)
        %span.value=@land_parcel_group.area_measure.value + " " + @land_parcel_group.area_measure.measure_unit

=beehive do |b|
  -b.cell do
    =attributes_list(@land_parcel_group) do |l|
      -l.attribute :name
      