=main_toolbar do |t|
  -t.edit @land_parcel_group

=beehive do |b|
  -b.tabbox do
    -b.cell :general do
      .picture
        =@land_parcel_group.shape_svg(:width => 180, :height => 180, :class => :map)
      .info
        %span.title=LandParcelGroup.human_attribute_name(:net_surface_area)
        %span.value=@land_parcel_group.net_surface_area.in_hectare.round(2).l

=beehive do |b|
  -b.cell do
    = attributes_list do |l|
      - l.attribute :name
      