=formalize do |f|
  -f.error :observation
  -f.field :observation, :entity_id, :choices=>:entities, :new=>true
  -f.field :observation, :importance,:field=>:radio, :choices=>Observation.importances
  -f.field :observation, :description, :field=>:textarea
  
