.map-background-container
  .map-background{data: {id: map_overlay.id,enable: {url: toggle_backend_map_layer_path(map_overlay)}}, class: "#{map_overlay.enabled ? 'active': ''}"}
    .map-background-header
      .map-background-name
        %span= map_overlay.managed ? map_overlay.name : link_to(map_overlay.name, edit_backend_map_layer_path(map_overlay), class: 'map-background-edit')
        - unless map_overlay.managed
          %span.map-background-delete= link_to '', backend_map_layer_path(map_overlay), title: :delete.tl, class: "map-background-icon", remote: true, "data-type" => "json", method: :delete
    :ruby
      overlays = map_overlay.to_json_object
      zoom = overlays.try(:[], 'maxZoom')
      bounds = CultivableZone.first ? CultivableZone.first.shape_centroid : [44.8423142,-0.5988415]

    .map-view{data: {visualization: {box: {height: 250}, backgrounds: MapBackground.by_default , overlays: overlays, view: {center: bounds, zoom: zoom}.compact, map: {attributionControl: false, setDefaultBackground: true, setDefaultOverlay: true, dragging: false, touchZoom: false, doubleClickZoom: false, boxZoom: false, tap: false}}.to_json}}
