- main_toolbar do |t|
  = t.new params: { redirect: nil }
  = t.action :load, method: :post

- MapLayer.nature.values.each do |nature|
  .map-layers-viewport
    .map-layer-heading
      .map-layer-title
        = I18n.t(nature, scope: [:enumerize, :map_layer, :nature])
    = render @map_layers.to_a.select{ |ml| ml.nature == nature }
