-main_toolbar do |t|
  = t.new params: { redirect: nil }
  = t.action :load, method: :post

- @map_layers.pluck(:nature).uniq.each do |nature|
  .map-backgrounds-viewport
    .map-background-heading
      .map-background-title
        = I18n.t(nature, scope: [:enumerize, :map_layer, :nature])
    = render @map_layers.to_a.select{|ml| ml.nature == nature }