-# Generated automatically. Remove this line to keep your changes.
=backend_form_for([:backend, @entity_link], (params[:dialog] ? {'data-dialog' => params[:dialog]} : {})) do |f|
  -if params[:redirect]
    =hidden_field_tag(:redirect, params[:redirect])
  .form-fields>=render(:partial => 'form', :locals => {:f => f})
  =form_actions do
    =submit_tag(tl(:update), 'data-disable-with' => tl(:please_wait))
    =link_to(tl(:cancel), backend_entity_links_url, (params[:dialog] ? {'data-close-dialog' => params[:dialog]} : {}))
