=list :deliveries
=form_tag(:action=>:deliveries) do 
  %table.formalize
    %tr.title
      %th{:colspan=>2}=tc(:add_outgoing_delivery)
    %tr.field
      %td.label=tc(:outgoing_delivery)
      %td.input=dyli_tag("outgoing_delivery[id]", :deliveries, :resize=>true, :controller=>:interfacers)
  .actions
    =link_to(tc(:back), :action=>:index)
    =submit_tag(tl(:add_outgoing_delivery), :action=>:deliveries)
   


 
