=form_tag(:action=>:create) do
  =formalize do |f|
    -f.error :transport
    -f.title :info
    -f.field :transport, :transporter_id, :choices=>{:reflection=>:transporters}, :new=>{:controller=>:entities, :action=>:new, :transporter=>1}
    -f.field :transport, :responsible_id, :choices=>{:reflection=>:employees, :include_blank=>"-- Aucun --"}, :new=>{:controller=>:users, :action=>:new, :employed=>1}
    -f.field :transport, :transport_on
    -f.field :transport, :comment, :field=>:textarea
  .actions
    =submit_tag(tg(:validate))
