- main_toolbar do |t|
  - t.run  resource, method: :post
  - t.edit resource

= beehive do |b|
  - b.hbox do
    - b.cell do
      = attributes_list do |l|
        - l.attribute :name
        - l.attribute :active
        - l.attribute :nature
        - l.attribute :external
        - if resource.custom_fields.any?
          - l.custom_fields
    - b.cell :guide_evolution, params: {id: resource.id}

  - b.cell :analyses do
    = list :analyses