= main_toolbar do |t|
  - t.edit @guide

= beehive do |b|
  - b.cell do
    = attributes_list do |l|
      - l.attribute :name
      - l.attribute :active
      - l.attribute :nature
      - l.attribute :external

  - b.cell :analyses do
    = list :analyses