= @building.errors.inspect
=field_set do
  =f.input :name
  =f.input :work_number
  =f.input :born_at
  =f.input :identification_number
  =f.referenced_association :nature
  =f.input :variety
  =f.input :description, :field => :text
  =f.input :reservoir, :show => :reservoir
  =f.input :external, inline_label: "Cas des constructions utiles mais non présentes sur l'exploitation"
  =f.referenced_association :owner

=field_set(:reservoir) do
  =f.referenced_association :content_nature
  =f.input :content_maximal_quantity


-#field_set :localization do
  -#association :establishment
  -#input :division
  -#input :subdivision
  -#input :subsubdivision
