- main_toolbar do |t|
  - t.edit resource

= cobbles do |c|
  - c.cobble :details do
    = mini_map(resource)
    = attributes_list do |l|
      - l.attribute :name
      - l.attribute :description
      - l.custom_fields
  - c.cobble :divisions do
    = list(:divisions)
