- main_toolbar do |t|
  - t.edit resource

= beehive do |b|
  - b.cell :details do
    = attributes_list do |l|
      - l.attribute :name
      - l.attribute :description

  - b.hbox do
    - b.cell :divisions do
      = list(:divisions)