=formalize do |f|
  -f.error :entity_link_nature
  -f.field :entity_link_nature, :name
  -f.field :entity_link_nature, :symmetric, "data-hide"=>"#reverse-name"
  -f.field :entity_link_nature, :propagate_contacts
  -f.field :entity_link_nature, :name_1_to_2
#reverse-name
  =formalize do |f|
    -f.field :entity_link_nature, :name_2_to_1
