-field_set do
  -input :name
  -input :nature
  -input :active
  -input :required

-field_set(:string_options) do
  -input :length_max

-field_set(:decimal_options) do
  -input :decimal_min
  -input :decimal_max
