=toolbar do |t|
  -t.link :new, :controller=>:custom_field_choices, :custom_field_id=>@custom_field.id
  -t.sort @custom_field, {:method=>:post} if @custom_field.nature == 'choice'
  -t.edit @custom_field

=list :choices
