-# Eclated automatically (2011-06-08)
=toolbar do
  -link :choice_create, :custom_field_id=>@custom_field.id
  -link :sort, {:id=>@custom_field.id}, {:method=>:post} if @custom_field.nature == 'choice'
  -link :edit, :id=>@custom_field.id

=list :choices
