- if @data
  :ruby
    series = []
    point_start = @data.meta["start_date"]
    point_finish = @data.meta["end_date"]
    point_interval = 24 * 3600 * 1000
    categories = []
    @data.each do |d|
      categories << d['date'].to_s
    end

    indicator = 'low' # open, hight, low, settle, volume, interest
      serie_data = []
      @data.each do |row|
        serie_data << row[indicator]
      end
      series << {name: indicator, data: serie_data}


  = spline_highcharts(series, x_axis: {categories: categories}, y_axis: {title: {text: :values.tl}}, plot_options: {series: {marker: {enabled: false}}})
- else
  = no_data
