.bundle/
.git
.gitconfig
.idea/
/config/application.yml
coverage/
db/first_runs/
db/lexicon/
doc/
k8s/
log/
node_modules/
packaging/
private/
public/assets/
tmp/

**/Dockerfile*
**/docker-compose*.yml
