.bundle/
.circleci/
.git
.gitconfig
.idea/
/config/application.yml
/config/database.yml
coverage/
db/first_runs/
db/lexicon/data.sql
doc/
k8s/
log/
node_modules/
packaging/
private/
public/assets/
tmp/

**/Dockerfile*
**/docker-compose*.yml