.bundle
db/*.sqlite3
log/*.log
tmp
private/**/*
public/assets
config/database.yml
*~
installer/debian/debian/ekylibre.debhelper.log
installer/debian/debian/ekylibre.substvars
installer/debian/debian/ekylibre
installer/debian/debian/files
installer/debian/*.changes
installer/resources
installer/releases
installer/*.log
