-if current_user.can? :build_production_chains
  =toolbar do |t|
    -t.edit @production_chain
    -t.new :controller=>:production_chain_work_centers, :production_chain_id=>@production_chain.id

  #chains=render 'work_center', :collection => @production_chain.operations
  -if @production_chain.unused_conveyors.size > 0
    %h2=ProductionChain.human_attribute_name(:unused_conveyors)
    -for conveyor in @production_chain.unused_conveyors
      %table.conveyor
        %tr
          =render 'conveyor', :object => conveyor
