=toolbar do |t|
  -t.extract @listing, :params=>{:format=>:csv}
  -t.link :mail, {}, :i18n=>{:name=>@listing.name} if @listing.mail_columns.size > 0

=master_form(:update, :method => :put)
.fieldset=render :partial=>"listings/node", :object => @listing.root
