=field_set do # partie info general de l entité animal
  =f.referenced_association :nature
  =f.referenced_association :variety
  =f.input :name
  =f.input :reproductor
  =f.input :born_at
  =f.input :description # affiche le champ description formaté en zone de texte
  =f.input :picture
  =image_tag(@vegetal.picture.url(:thumb))
  =f.custom_fields
