= toolbar do
  = tool_to( :intervention.tl, {action: :new, controller: :interventions}, tool: 'new-intervention')
  = tool_to( :issue.tl, {action: :new, controller: :issues, :target_id => plant.id, :target_type => plant.class.name}, tool: 'new-issue') 