=field_set do
  =f.association :entity
  =f.association :responsible
  =f.association :nature
  -# TODO Manages refresh_depending_on
  =f.input :duration, :refresh_depending_on => :nature
  =f.input :location, :autocomplete => true
  =f.input :reason, :field => :text
  =f.input :started_at
