- main_toolbar do |t|
  = t.new params: { redirect: nil }

-#= kujaku

= janus do |j|
  - j.face :calendar do
    #calendar{data: {simple_calendar: "true"}}= render "month"
  - j.face :list do
    = main_list

