- main_toolbar do |t|
  - t.edit resource
  - t.destroy(resource, method: :delete, "data-confirm" => :are_you_sure_you_want_to_delete.tl) if resource.destroyable?

= beehive do |b|
  - b.hbox do
    - b.cell :details do
      = attributes_list(resource) do |l|
        - l.attribute :name
        - l.attribute :started_at
        - l.attribute :nature, url: true
        - l.attribute :intervention, url: true
  - b.cell :participations do
    - list :participations