- linked = side.object.id == entity_link.entity_id ? entity_link.linked : entity_link.entity
= :timeline_entity_link.th(defaults.merge(linked: link_to(linked.full_name, {controller: :entities, action: :show, id: linked.id}), nature: entity_link.nature.l))
