- main_toolbar do |t|
  = t.edit @settlement

= cobbles do |c|
  -c.cobble :general_informations do
    = attributes_list do |l|
      - l.attribute :name
      - if resource.custom_fields.any?
        - l.custom_fields