.cell{data: {beehive_cell: cell.to_json}}
  .cell-inner
    .cell-title
      = link_to("##{beehive.id}", data: {beehive_remove: "cell"}) do
        %i
      = cell[:type].tl
    - cell[:options] ||= {}
    .cell-content{data: {cell: url_for((cell[:options][:params] || {}).merge(controller: "backend/cells/#{cell[:type]}_cells", action: :show))}}
    .cell-bottom
