.box.box-horizontal{data: {beehive_box: hbox[:cells].size}}
  - hbox[:cells].each_with_index do |child, index|
    = render "backend/shared/beehive/cell", cell: child, beehive: beehive, box_index: box_index, cell_index: index
