-field_set do
  -input :name
  -input :code
  -input :family, :choices => DocumentTemplate.families
  -input :nature, :choices => DocumentTemplate.natures
  -input :to_archive
  -input :by_default
  -input :active
  -input :language, :source => :languages
  -input :country,  :source => :countries
  -input :filename
  -input :source, :field => :text
