= field_set(class: "naming-format-form") do
  = f.nested_association :fields, maximum: 6

  .naming-format-example

    = modal(id: 'namingFormatModal', class: "", size: :small) do
      .modal-body
        %p= :confirmation_update_historical_plans.tl
        %button.btn.btn-default
      .modal-footer