= formalize do |f|
  -f.title :general_informations
  -f.error :land_parcel
  -f.field :land_parcel, :name
  -f.field :land_parcel, :number
  -f.field :land_parcel, :description, :field=>:textarea
  -f.field :land_parcel, :started_on
  -f.field :land_parcel, :area_measure
=field_set(@land_parcel, :general_informations) do |f|
  =f.association :group
  =f.association :area_unit
  -# f.field :land_parcel, :polygon