= formalize do |f|
  -f.title :general_informations
  -f.error :land_parcel
  -f.field :land_parcel, :name
  -f.field :land_parcel, :number
  -f.field :land_parcel, :group_id, :choices=>{:reflection=>:land_parcel_groups}, :new=>true
  -# f.field :land_parcel, :polygon
  -f.field :land_parcel, :area_measure
  -f.field :land_parcel, :area_unit_id, :choices=>{:reflection=>:surface_units}, :new=>{:base=>'m2'}
  -f.field :land_parcel, :started_on
  -f.field :land_parcel, :description, :field=>:textarea
