=toolbar do |t|
  -t.edit @land_parcel
  -t.divide @land_parcel

=attributes_list(@land_parcel) do |l|
  -l.attribute :name
  -l.attribute :description
  -l.attribute :started_on
  -l.attribute :stopped_on
  -l.attribute :area_measure
  -l.attribute :area_unit

%table.stepper
  %tr
    %td.step=@land_parcel.parent_kinships.collect{|k| link_to(k.parent_land_parcel.name, :action=>:land_parcel, :id=>k.parent_land_parcel_id).html_safe}.to_sentence.html_safe
    %td.step.active=@land_parcel.name
    %td.step=@land_parcel.child_kinships.collect{|k| link_to(k.child_land_parcel.name, :action=>:land_parcel, :id=>k.child_land_parcel_id).html_safe}.to_sentence.html_safe

%h2=tc :operations
=toolbar do |t|
  -t.link :new, :controller=>:operations, :target_id=>@land_parcel.id, :target_type=>LandParcel.name
=list(:operations)
