=formalize do |f|
  - f.error :city
  - f.field :city, :name
  - f.field :city, :district_id, :choices => @current_company.districts.find(:all).collect {|d| [d.name, d.id]}, :new => {:action => :districts_create}
