=formalize do |f|
  -f.title :address
  -f.field :contact, :line_2
  -f.field :contact, :line_3
  -f.field :contact, :line_4
  -f.field :contact, :line_5
  -f.field Contact.human_attribute_name("line_6"), text_field_with_auto_complete(:contact, :line_6)
  -f.field :contact, :country, :choices=>countries, :options=>{:include_blank=>true}
  -f.title :canals
  -f.field :contact, :phone
  -f.field :contact, :fax
  -f.field :contact, :mobile
  -f.field :contact, :email   
  -f.field :contact, :website





