=formalize do |f|
  -f.error :contact
  -f.title lc(:title)
  -f.field :contact, :active
  -f.field :contact, :default
  -f.field :contact, :closed_on
  -f.field :contact, :line_2
  -f.field :contact, :line_3
  -f.field :contact, :line_4_number
  -f.field :contact, :line_4_street
  -f.field :contact, :line_5
  -f.field :contact, :line_6_code
  -f.field :contact, :line_6_city
  -f.field :contact, :phone
  -f.field :contact, :fax
  -f.field :contact, :mobile
  -f.field :contact, :email
  -f.field :contact, :latitude
  -f.field :contact, :longitude

