=formalize do |f|
  -f.error :entity
  -f.error :datum
  -f.title :title
  -f.field :entity, :nature_id, :choices=>@current_company.entity_natures.find(:all, :order=>:name).collect {|x| [x.name, x.id]}, :new=>{:action=>:entities_natures_create}
  -f.field :entity, :language_id, :choices=>Language.find(:all, :order=>:native_name).collect {|x| [x.native_name, x.id]}
  -f.field :entity, :name
  -f.field :entity, :first_name
  -f.field :entity, :client
  -f.field :entity, :supplier
  -f.title :details
  -f.field :entity, :country,:choices=>countries
  -f.field :entity, :vat_number
  -f.field :entity, :excise
  -f.field :entity, :code
  -f.field :entity, :born_on
  -#f.field :entity, :dead_on
  -f.field :entity, :website
  -f.field :entity, :comment, :field=>:textarea
  -for datum in @complement_data
    -f.field datum.complement.name, {:datatype=>datum.complement.nature.to_sym, :id=>"complement_datum_#{datum.complement_id}_value", :name=>"complement_datum[#{datum.complement_id}][value]", :value=>datum.value, :size=>datum.complement.length_max, :choices=>datum.complement.choices.collect{|x| [x.name , x.id]}  }

=formalize(:id=>:client_form) do |f|
  -f.title :client
  -f.field :entity, :vat_submissive
  -f.field :entity, :reflation_submissive
  -f.field :entity, :discount_rate
  -f.field :entity, :reduction_rate
  -f.field :entity, :payments_number
  -f.field :entity, :deliveries_conditions, :field=>:textarea

:javascript
  function displayFields(){
    if ($('entity_client').checked)
      $('client_form').show();     
    else
      $('client_form').hide(); 
  }
  displayFields();
=observe_field "entity_client", :function=>"displayFields();", :frequency => 0.25

=render :partial=>"coordinates_form"

