= formalize do |f|
  - f.field :entity_nature, :name
  - f.field :entity_nature, :abbreviation
  - f.field :entity_nature, :active
  - f.field :entity_nature, :physical
  - f.field :entity_nature, :in_name
  - f.field :entity_nature, :description, :field=>:textarea
