=formalize do |f|
  -f.error :entity
  -f.error :datum
  -f.title :title
  -f.field :entity, :nature_id, :choices=>@current_company.entity_natures.find(:all, :order=>:name).collect {|x| [x.name, x.id]}, :new=>{:action=>:entities_natures_create}
  -f.field :entity, :language_id, :choices=>Language.find(:all, :order=>:native_name).collect {|x| [x.native_name, x.id]}
  -f.field :entity, :name
  -f.field :entity, :first_name
  -f.field :entity, :client
  -f.field :entity, :supplier
  -f.title :details
  -f.field :entity, :code
  -f.field :entity, :born_on
  -#f.field :entity, :dead_on
  -f.field :entity, :website
  -for datum in @complement_data
    -f.field datum.complement.name, {:datatype=>datum.complement.nature.to_sym, :id=>"complement_datum_#{datum.complement_id}_value", :name=>"complement_datum[#{datum.complement_id}][value]", :value=>datum.value, :size=>datum.complement.length_max, :choices=>datum.complement.choices.collect{|x| [x.name , x.id]}  }
