-event_nature_id = nil
=formalize do |f|
  -f.error :event
  -f.field :event, :entity_id, :choices=>:entities, :new=>{:action=>:entity_create}
  -f.field :event, :responsible_id,   :choices=>{:reflection=>:users, :label=>:label, :order=>"last_name, first_name"}, :new=>{:controller=>:company, :action=>:user_create}
  -event_nature_id = f.field :event, :nature_id, :choices=>{:reflection=>:event_natures, :label=>:name, :order=>:name}, :new=>{:action=>:event_nature_create}
  -f.field :event, :duration
  -f.field  t("activerecord.attributes.event.location"), text_field_with_auto_complete(:event, :location)
  -f.field :event, :reason, :field=>:textarea
  -f.field :event, :started_at

=observe_field(event_nature_id, :url=>{:action=>:change_minutes}, :frequency=>0.25, :with=>"id")
