%h1=lc(:title,[@name])
=evalue @entity, :first_name
=evalue @entity, :name
=evalue @entity, :code
=evalue @entity, :full_name
=evalue @entity, :active
=evalue @entity, :website
=link_to lc(:back) , :action=>:entities
=dyta :contacts
=h session.data.inspect
   


