= aclist do |l|
  - l.action :entities_contacts_create

=evalue @entity, :name
=evalue @entity, :first_name
=evalue @entity, :code
=evalue @entity, :born_on unless @entity.born_on.blank?
=evalue @entity, :dead_on unless @entity.dead_on.blank?
=evalue @entity, :active
=evalue @entity, :website unless @entity.website.blank?

%h2= tc :contacts, :count=>@contacts.size
=dyta :contacts

   


