%h1=lc(:title)
%p=lc(:nb_entities,[@size])
.action-list
  %ul
    %li=link_to lc :entities_create, :action=>:entities_create
.search.action-list
  - form_tag(:action=>:entities_search) do
    %table
      %tr
        %td.label=lc(:search)
        %td.field=text_field_tag :key ,@key
        %td.submit=submit_tag l(:search_go)
