=toolbar do |t|
  -t.update @entity_category

=attributes_list(@entity_category) do |l|
  -l.attribute :name
  -l.attribute :by_default
  -l.attribute :description
    
%h2=tc :x_prices, :count=>@category_prices_count
=toolbar do |t|
  -t.link :price_create, {:controller=>:management, :mode=>:sales}
=kame :category_prices
