.count=tc('nb_entities', :count=>@current_company.entities.size)

=render :partial=>'entities_search'

.aclist
  %ul
    %li=link_to tc('entities_create'), {:action=>:entities_create}, :class=>'procedure create'
    %li=link_to tc('entities_export'), {:action=>:entities_export}
    %li=link_to tc('entities_import'), {:action=>:entities_import}
=dyta :entities
   
