=keishiki_tag do
  =formalize do |f|
    -f.field tc(:entity_to_update), dyli_tag(:master, :entities)
    -f.field tc(:entity_to_delete), dyli_tag(:double, :entities)
  .actions
    =submit_tag tc(:merge)
