.count=tc('nb_entities', :count=>@current_company.entities.size)

=render :partial=>'entities_search'

=toolbar do
  -link :entities_create
  -link :entities_merge
  -link :entities_export
  -link :entities_import

=dyta :entities
   
