- form_tag() do
  %table
    %tr
      %td.label recherche par id
      %td.input=text_field :formu, :test
      %td.button=submit_tag 'ok'
    %tr
      %td.label recherche par nom
      %td.input=text_field :nament, :test
      %td.button=submit_tag 'ok'
    %tr
- unless @person 
  %p Pas de personne correspondant à l'id
  =params[:formu]
