= toolbar do
  - link :entity_category_update, :id=>@entity_category.id

%table
  %tr
    %td
      =evalue @entity_category, :name
      =evalue @entity_category, :by_default
      =evalue @entity_category, :description
    
%h2=tc :x_prices, :count=>@category_prices_count
=toolbar do
  -link :price_create, {:controller=>:management, :mode=>:sales}
=dyta :category_prices
