= aclist do |l|
  - l.action :entities_update, :id=>@entity.id
  -# l.action :entities_print, :id=>@entity.id

<!-- =itemize(:entity) do |t| -->
<!--   -t.item :name -->
<!--   -t.item :first_name -->
<!--   -t.item :code -->
<!--   -t.item :born_on -->
<!--   -t.item :dead_on -->
<!--   -t.stop -->
<!--   -t.item :active -->
<!--   -t.item :website -->
<!--   -t.item t('activerecord.attributes.entity.country'), image_tag("countries/"+@entity.country+".png")+" "+t("countries."+@entity.country) -->
<!--   -if @entity.client -->
<!--     -t.item :proposer, :label=>:full_name -->
<!--     -t.item :vat_number -->
<!--     -t.item :vat_submissive -->
<!--     -t.item :reflation_submissive  -->
<!--     -t.item :discount_rate -->
<!--     -t.item :reduction_rate -->
<!--     -t.item :payments_number -->
<!--   -for datum in @entity.complement_data.find(:all, :joins=>"JOIN complements ON (complements.id=complement_id)", :order=>"position") -->
<!--     -t.item datum.complement.name, datum.value.to_s -->



%table
  %tr
    %td
      =evalue @entity, :name
      =evalue @entity, :first_name unless @entity.first_name.blank?
      =evalue @entity, :code
      =evalue @entity, :born_on unless @entity.born_on.blank?
      =evalue @entity, :dead_on unless @entity.dead_on.blank?
      =evalue @entity, :active
      =evalue @entity, :website unless @entity.website.blank?
      =evalue t('activerecord.attributes.entity.country'), image_tag("countries/"+@entity.country+".png")+" "+t("countries."+@entity.country) unless @entity.country.blank?
    -if @entity.client
      %td
        =evalue @entity, :category, :label=>:name, :url=>{:action=>:entity_categories_display}
        =evalue @entity, :first_met_on unless @entity.first_met_on.blank?
        =evalue @entity, :proposer, :label=>:full_name unless @entity.proposer_id.blank?
        =evalue @entity, :vat_number unless @entity.vat_number.blank?
        =evalue @entity, :vat_submissive
        =evalue @entity, :reflation_submissive 
        =evalue @entity, :discount_rate unless @entity.discount_rate.blank?
        =evalue @entity, :reduction_rate unless @entity.reduction_rate.blank?
        =evalue @entity, :payments_number unless @entity.payments_number.blank?
        =#evalue @entity, :deliveries_conditions unless @entity.deliveries_conditions.blank?
    %td
      -for datum in @entity.complement_data.find(:all, :joins=>"JOIN complements ON (complements.id=complement_id)", :order=>"position")
        =evalue datum.complement.name, datum.value.to_s

%h2=tc :contacts, :count=>@contacts_count
.aclist
  = link_to tc('entities_contacts_create'), {:action=>:entities_contacts_create, :id=>@entity.id}, :class=>'procedure create'
=dyta :contacts
-if @entity.client
  %h2=tc :sale_orders_number , :count=>@sale_orders_number
  .aclist
    = link_to tc('sales_new'), {:controller=>:management, :action=>:sales_new, :client_id=>@entity.id}, :class=>'procedure create'
  -if @sale_orders_number > 0
    =dyta :entity_sales
  -if @entity.client
    %h2=tc('client_balance')+" : "+@entity.balance.to_s
  %h2=tc :meetings, :count=>@meetings_count
  .aclist
    = link_to tc('meetings_create'), {:action=>:meetings_create, :entity_id=>@entity.id}, :class=>'procedure create'
  -if @meetings_count > 0
    =dyta :entity_meetings
