.count=tc('nb_entities', :count=>@current_company.entities.size)

=render :partial=>'entities_search'

.aclist
  =link_to tc('entities_create'), {:action=>:entities_create}, :class=>'procedure create'
=dyta :entities
