=link_to "Declaration", :action =>:index
%br
="DECLARATION TVA "
- balance = @tax_declaration.collected_amount - @tax_declaration.paid_amount

%table.list
  - if ["normal"].include? @tax_declaration.nature
    %tr{:align=>'center'}
      %th{:colspan=>3}=tc :assessable_operations
    %tr
      %td=tc :code  
      %td=tc :vat_acquisition
      %td="0031" 
      %td  
    %tr
      %td=tc :code  
      %td=tc :others_assessable_operations
      %td="0981"
      %td      
    %tr
      %td=tc :code  
      %td=tc :outgoing_delivery_natural_gas_and_electricity
      %td="0030"
      %td      
    
  %tr
    %th{:colspan=>3}=tc :not_assessable_operations
    %th=tc :out_vat_amount
  %tr
    %td=tc :code
    %td=tc :europe_out_export
    %td="0032"
    %td
  %tr
    %td=tc :code
    %td=tc :others_not_assessable_operations
    %td="0033"
    %td
  %tr
    %td=tc :code
    %td=tc :outgoing_delivery_natural_gas_and_electricity_not_assessable
    %td="0029"
    %td
  %tr
    %td=tc :code
    %td=tc :national_deliveries
    %td="0034"
    %td
  %tr
    %td=tc :code
    %td=tc :free_purchases
    %td="0037"
    %td
  

  %tr{:align=>'center'}
    %th{:colspan=>3}=tc :vat_collected
    %th=tc :out_vat_amount
    %th=tc :vat_amount    
  %tr
    %td
    %td{:align=>'center'}=tc :national_vat_collected
    %td
  %tr
    %td=tc :code
    %td=tc :national_normal_vat_collected 
    %td="0206"
    %td=@normal_not_collected_amount[:national]
    %td=@normal_vat_collected_amount[:national]
  %tr
    %td=tc :code
    %td=tc :national_reduce_vat_collected  
    %td="0105"
    %td=@reduce_not_collected_amount[:national]
    %td=@reduce_vat_collected_amount[:national]
  %tr
    %td
    %td{:align=>'center'}=tc :international_vat_collected
    %td
  %tr
    %td=tc :code
    %td=tc :international_normal_vat_collected  
    %td="0201"
    %td=@normal_not_collected_amount[:international]
    %td=@normal_vat_collected_amount[:international]

  %tr
    %td=tc :code
    %td=tc :international_reduce_vat_collected  
    %td="0100"
    %td=@reduce_not_collected_amount[:international]
    %td=@reduce_vat_collected_amount[:international]

  - if ["simplified"].include? @tax_declaration.nature
    %tr{:align=>'center'}
      %th{:colspan=>3}=tc :assessable_operations
    %tr
      %td=tc :code  
      %td=tc :vat_acquisitions
      %td="0031"   
      %td
      %td=@tax_declaration.acquisition_amount
    %tr
      %td=tc :code  
      %td=tc :others_assessable_operations
      %td="0981"      
      %td
      %td
    %tr
      %td=tc :code  
      %td=tc :outgoing_delivery_natural_gas_and_electricity_assessable
      %td="0030"      
      %td
      %td
       
 
  %tr
    %th=tc :code
    %th{:colspan=>3}='Total '+(tc :vat_collected)
    %td=@tax_declaration.collected_amount
  
  %tr{:align=>'center'}
    %th{:colspan=>3}=tc :vat_paid
    %th
    %th=tc :vat_amount    
  
  %tr
    %td=tc :code
    %td=tc :establish_capital_goods
    %td="0703"
    %td
    %td=@vat_deductible_fixed_amount
      
  %tr
    %td=tc :code
    %td=tc :others_services
    %td="0702"
    %td
    %td=@vat_deductible_services_amount
   
  %tr
    %td=tc :code
    %td=tc :others
    %td="0059"
    %td
    %td=@vat_deductible_others_amount
  
  %tr
    %td=tc :code
    %td=tc :left_balance_amount
    %td="8001"
    %td
    %td=@vat_deductible_left_balance_amount
      

  %tr
    %th=tc :code
    %th{:colspan=>3}='Total '+(tc :vat_paid)
    %td=@tax_declaration.paid_amount

  %tr
    %th{:colspan=>3}=tc :overflow
    %th
    %th=tc :vat_amount
   
  %tr
    %td=tc :code
    %td=tc :balance
    %td="0705"
    %td
    - if balance < 0
      %td=balance.abs

  %tr
    %td=tc :code
    %td=tc :payback
    %td="8002"
    %td
    %td=@vat_payback_amount
  
  %tr
    %td=tc :code
    %td=tc :reported_balance
    %td="8003"
    %td
    %td=@tax_declaration.balance_amount

  %tr
    %th{:colspan=>3}=tc :vat

  %tr
    %td=tc :code
    %td{:colspan=>2}=tc :net_vat_amount
    - if balance > 0
      %td
      %td=balance
   
  %tr
    %td=tc :code
    %td=tc :amount_to_reduce
    %td="9989"
    %td
    %td
  
  %tr
    %td=tc :code
    %td=tc :amount_to_add
    %td="9999"
    %td
    %td
   
  %tr
    %td=tc :code
    %td=tc :assimilated_tax
    %td="9979"
    %td
    %td=@tax_declaration.assimilated_taxes_amount

  %tr
    %td=tc :code
    %td{:colspan=>2}=tc :amount
    %td
    - if balance > 0
      %td{:align=>'center'}=balance - @tax_declaration.assimilated_taxes_amount
    - else
      %td{:align=>'center'}=@tax_declaration.assimilated_taxes_amount
