= render 'backend/shared/financial_year_warning' if Preference.get(:permanent_stock_inventory, true).boolean_value

- main_toolbar do |t|
  = t.export :stocks
  = t.new params: { redirect: nil } if Product.any?

= main_list
