= render 'backend/shared/financial_year_warning' if Preference.find_by(name: :permanent_stock_inventory).boolean_value

- main_toolbar do |t|
  = t.export :stocks
  = t.new params: { redirect: nil } if Product.any?

= main_list
