- main_toolbar do |t|
  - if resource.editable?
    - t.edit    resource
    - t.refresh resource, method: :post
  - if resource.reflectable?
    - t.reflect resource, method: :post
  - t.export :inventory_sheet

= main_informations attachment: true do
  = attributes_list do |l|
    - l.attribute :responsible, url: true
    - l.attribute :achieved_at
    - l.attribute :reflected
    - l.attribute :reflected_at

= cobbles do |c|
  - c.cobble :items do
    = cobble_list :items
