=formalize do |f|
  -f.error :outgoing_payment_mode
  -f.title :general
  -f.field :outgoing_payment_mode, :name
  -f.field :outgoing_payment_mode, :with_accounting, "data-show"=>"#accountancy"

#accountancy
  =formalize do |f|
    -f.title :accountancy
    -f.field :outgoing_payment_mode, :cash_id, :choices=>{:reflection=>:cashes}, :new=>true
