- main_toolbar do |t|
  - t.edit resource

= beehive do |b|

  - b.hbox do
    - b.cell do
      = attributes_list do |l|
        - l.attribute :name

    - b.cell :users do
      = list :users

  - b.cell :rights do
    = access_control_list(resource.rights)
