- export_categories.each do |category|
  .activity-family
    .activity-family-heading
      %h2.activity-family-title= category.human_name
    .activity-family-body
      - Aggeratio.of_category(category.name).each do |aggregator|
        = render 'export', aggregator: aggregator
