= kujaku do |k|
  - @aggregator.class.parameters.each do |parameter|
    = render "parameter", parameter: parameter, k: k

- main_toolbar do |t|
  - t.export do |e|
    - e.send(@aggregator.class.aggregator_name, @aggregator.key, @aggregator)

.aggregator= @aggregator.to_html_fragment
