-field_set do
  -input :name
  -input :comment, :field=>:textarea
  -input :virtual
  -# input :input
  -association :warehouse
  -input :planned_on
  -input :moved_on
  -association :product
  -input :quantity
  -# association :unit

