=formalize do |f|
  -f.error :stock_move
  -f.title :description
  -f.field :stock_move, :name
  -f.field :stock_move, :comment, :field=>:textarea
  -f.field :stock_move, :virtual
  -# f.field :stock_move, :input
  -f.field :stock_move, :warehouse_id, :choices=>{:reflection=>:warehouses}
  -f.field :stock_move, :planned_on
  -f.field :stock_move, :moved_on
  -f.field :stock_move, :product_id, :choices=>{:reflection=>:products}, :new=>true
  -f.field :stock_move, :quantity
  -# f.field :stock_move, :unit_id, :choices=>{:reflection=>:units}

