=field_set do
  =f.input :affected_at
  =f.referenced_association :journal_entry_item
  =f.input :state
  =f.custom_fields

=field_set(:analytics) do
  =f.referenced_association :production
  =f.input :affectation_percentage


