= main_toolbar do |t|
  - t.edit resource
  - t.export do |e|
    - e.manure_management_plan_sheet resource.id.to_s, resource

= cobbles do |c|
  - c.cobble :general_informations do
    = attributes_list do |l|
      - l.attribute :name
      - if resource.custom_fields.any?
        - l.custom_fields

  - c.cobble :zones do
    = cobble_list :zones
