= main_toolbar do |t|
  - t.edit resource
  - t.export do |e|
    - e.manure_management_plan_sheet resource.id.to_s, resource

= beehive do |b|
  - b.cell do
    = attributes_list do |l|
      - l.attribute :name

  - b.cell :zones do
    = list :zones
