- if @campaigns and activities = Activity.of_campaign(*@campaigns).of_families(:vegetal_crops).order(:id) and activities.any?
  :ruby
    activities_serie = []
    productions_serie = []
    storages_serie = []
    for activity in activities
      y = activity.net_surface_area(@campaigns).to_d(:hectare).to_s.to_f
      next if y.zero?
      color = cycle(*theme_colors)
      activities_serie << { name: activity.name, y: y, color: color }
      for production in activity.productions.of_campaign(@campaigns).order(:id)
        y = production.net_surface_area.to_d(:hectare).to_s.to_f
        next if y.zero?
        productions_serie << { name: production.name, y: y, color: ligthen(color, 0.3) }
        for storage in production.storages.order(:id)
          # next unless storage.has_indicator? :net_surface_area
          storages_serie << { name: storage.name, y: storage.net_surface_area.to_d(:hectare).to_s.to_f, color: ligthen(color, 0.6) }
        end
      end
    end

    series = []
    series << {name: Activity.model_name.human, data: activities_serie, size: "50%", data_labels: {color: 'white', distance: -30} }
    series << {name: Production.model_name.human, data: productions_serie, size: "75%", inner_size: "50%", data_labels: {enabled: false}}
    series << {name: CultivableZone.model_name.human, data: storages_serie, size: "80%", inner_size: "75%"}

  = pie_chart(series, tooltip: {point_format: '{point.y: 1.1f} Ha'}, title: @campaigns.name)
- else
  = no_data
