- if @campaigns
  :ruby
    #
    activities = Activity.of_campaign(@campaigns).of_families(:vegetal_crops).order(:id)

    productions = Production.of_campaign(@campaigns).where(:static_support => true, :activity_id => activities).reorder("activity_id, id")

      if activities.count > 0 and productions.count > 0

        activities_serie = activities.collect do |activity|
          { name: activity.name, y: activity.area(@campaigns).in(:square_meter).to_d(:hectare).to_s.to_f, id: activity.id, color: cycle(*Backend::ChartsHelper::COLORS) }
        end

        productions_serie = productions.collect do |production|
          { name: production.name, y: production.area.in(:square_meter).to_d(:hectare).to_s.to_f, id: production.id, color: ligthen(activities_serie.detect{|a| a[:id] == production.activity_id}[:color], 0.3) }
        end

        cultivable_zones_serie = CultivableZone.of_campaign(@campaigns).of_production(productions).reorder("activity_id, production_id, id").collect do |cultivable_zone|
          { name: cultivable_zone.name, y: cultivable_zone.area.in(:square_meter).to_d(:hectare).to_s.to_f, color: ligthen(productions_serie.detect{|a| a[:id] == cultivable_zone.supports.first.production_id}[:color], 0.3) }
        end
      end

    series = []
    series << {name: Activity.model_name.human, data: activities_serie, size: "50%", data_labels: {color: 'white', distance: -30} }
    series << {name: Production.model_name.human, data: productions_serie, size: "75%", inner_size: "50%", data_labels: {enabled: false}}
    series << {name: CultivableZone.model_name.human, data: cultivable_zones_serie, size: "80%", inner_size: "75%"}

  = pie_chart(series, tooltip: {point_format: '{point.y: 1.1f} Ha'}, title: @campaigns.name)
- else
  = no_data