=field_set do
  -input :name
  -input :currency, :source => :currencies
  -input :nature, :show => {:bank_account => :bank_account_options}

=field_set(:bank_account, :in => :bank_account_options) do
  -input :bank_name
  -input :address, :field => :text
  -input :mode, :show => {}

=field_set(:bban, :in => :bank_account_options) do
  -input :country, :field => :hidden
  -input :bank_code
  -input :agency_code
  -input :number
  -input :key

=field_set(:iban, :in => :bank_account_options) do
  -input :iban
  -input :bic

=field_set(:accountancy) do
  -association :account, :source => {{:nature => :bank_account} => :banks, {:nature => :cash_box} => :cashes}, :new => {:number => Account.chart_number(:banks)}
  -association :journal, :source => {{:nature => :bank_account} => :banks, {:nature => :cash_box} => :cashes}, :new => {:nature => :bank}
