- main_toolbar do |t|
  = t.edit resource

= cobbles do |c|
  - c.cobble :general_informations do
    = main_informations attachment: true do
      = attributes_list do |l|
        - l.attribute :number
        - l.attribute :transfered_at
        - l.attribute :description
        - l.attribute :accounted_at
        - l.attribute :emission_cash, url: true
        - l.attribute :emission_amount, currency: :emission_currency
        - l.attribute :emission_journal_entry, url: true
        - l.attribute :currency_rate
        - l.attribute :reception_cash, url: true
        - l.attribute :reception_amount, currency: :reception_currency
        - l.attribute :reception_journal_entry, url: true
