=field_set do
  =f.input :name
  =f.association :responsible, :source => :employees
  =f.association :nature
  =f.input :planned_on
  =f.input :description

=field_set(:duration) do
  =f.input :hour_duration
  =f.input :min_duration

=field_set(:products) do
  -nested_association(:lines) do
    =f.input :direction
    =f.association :product
    =f.input :quantity
    =f.association :tracking
    =f.association :warehouse

=field_set(:tools) do
  -nested_association(:uses) do
    =f.association :tool

