=field_set do
  -#=f.input :name
  -#=f.referenced_association :responsible, :source => :employees
  -#=f.referenced_association :nature
  -#=f.input :planned_at
  -#=f.input :description

-#=field_set(:duration) do
  =f.input :hour_duration
  =f.input :min_duration

-#=field_set(:products) do
  =f.nested_association(:items) do
    =f.input :direction
    =f.referenced_association :product
    =f.input :quantity
    =f.referenced_association :tracking
    =f.referenced_association :building

-#=field_set(:tools) do
  =f.nested_association(:uses) do
    =f.referenced_association :tool

