=main_toolbar do |t|
  -t.edit @operation

= attributes_list do |l|
  -# l.attribute :name
  -# l.attribute :nature
  -# l.attribute :responsible, :label => :label
  -# l.attribute :target, :label => :name
  -# l.attribute :planned_at
  -# l.attribute :moved_at
  -# l.attribute :tools_list

-# %h2=tc(:operation_items)
-# =list(:items)

-# %h2=tc(:uses)
-# =list(:uses)
