=toolbar do |t|
  -t.edit @operation

=attributes_list(@operation) do |l|
  -l.attribute :name
  -l.attribute :nature, :label=>:name
  -l.attribute :responsible, :label=>:label
  -l.attribute :target, :label=>:name
  -l.attribute :planned_on
  -l.attribute :moved_on
  -l.attribute :tools_list

%h2=tc(:operation_lines)
=list(:items)

%h2=tc(:uses)
=list(:uses)
