=field_set do
  -input :name
  -input :active
  -input :currency, :source => :currencies
  -input :downpayment, :show => :downpayment
  -input :with_accounting, :show => :accountancy
  -input :comment, :field => :text

=field_set(:payment_conditions) do
  -association :expiration
  -association :payment_delay
  -association :payment_mode
  -input :payment_mode_complement

=field_set(:downpayment) do
  -input :downpayment_minimum
  -input :downpayment_rate

=field_set(:accountancy) do
  -input :journal, :buttons => {:new => {:nature=>'sales'}}




