-field_set do
  -input :name

-field_set(:disease) do
  -association :disease, :include_blank => true, :default_value => :blank

-field_set(:drug) do
  -association :drug, :include_blank => true, :default_value => :blank
  -input :quantity
  -association :quantity_unit
  -input :per_animal_unit

-field_set(:delay) do
  -input :duration
  -input :per_duration_time_unit
  -input :frequency
  -input :per_frequency_time_unit

-field_set(:delay) do
  -input :duration_wait_for_milk
  -input :duration_unit_wait_for_milk
  -input :duration_wait_for_meat
  -input :duration_unit_wait_for_meat