-field_set do
  -input :name
  -association :prescription, :include_blank => true, :default_value => :blank

-field_set(:drug) do
  -association :drug, :include_blank => true, :default_value => :blank
  -input :quantity
  -input :quantity_interval
  -input :quantity_delay
  -input :drug_admission_way

-field_set(:care) do
  -association :disease, :include_blank => true, :default_value => :blank

-field_set(:delay) do
  -input :started_at
