=field_set do
  =f.input :name
  =f.input :description, :field=>:textarea
  =f.input :virtual
  -# input :input
  =f.referenced_association :warehouse
  =f.input :planned_on
  =f.input :moved_on
  =f.referenced_association :product
  =f.input :quantity
  -# association :unit

