-# Generated automatically. Don't edit this file.
.nested-fields
  =link_to_remove_association('labels.remove_email'.t, f, :class => 'nested-remove remove-email')
  =f.input(:canal, :as => :hidden, :wrapper_html => {:id => 'canal-wrapper'})
  =f.input(:coordinate, :as => :email, :wrapper_html => {:id => 'coordinate-wrapper'})
