=field_set(:major => true) do # |f|
  =association :nature
  =input :language, :source => :languages, :field => :select
  =input :last_name
  =input :first_name
  =input :active, :hide => :dead_on
  =input :code
  =input :prospect
  =input :client, :show => :client_informations
  =input :supplier, :show => :supplier_informations
  =input :attorney, :show => :attorney_informations
  =input :transporter

=field_set(:details, :collapsed => true) do # |f|
  =input :country, :source => :countries
  =input :siren
  =input :activity_code
  =input :vat_number
  =input :born_on
  =input :dead_on
  =input :photo
  =input :comment, :field => :text
  -#=input :ean13
  =custom_fields
  -#for datum in @custom_field_data
    =custom_field datum.custom_field.name, {:datatype => datum.custom_field.nature.to_sym, :id => "custom_field_datum_#{datum.custom_field_id}_value", :name => "custom_field_datum[#{datum.custom_field_id}][value]", :value => datum.value, :size => datum.custom_field.length_max, :options => {:include_blank => (datum.custom_field.required ? nil : '')}, :choices => datum.custom_field.choices.collect{|x| [x.name , x.id]}  }

=field_set(:client_informations) do # |f|
  =association :category
  =input :origin, :autocomplete => true
  =input :first_met_on
  =association :proposer
  =association :responsible, :source => :employees, :after => :category
  =input :vat_submissive
  =input :reflation_submissive
  =input :reduction_percentage
  =input :authorized_payments_count
  =input :deliveries_conditions, :field => :text
  =association :client_account, :source => :client_thirds, :buttons => {:new => {:number => Account.find_in_chart(:client_thirds).number}}

=field_set(:supplier_informations) do # |f|
  =association :supplier_account, :source => :supplier_thirds, :buttons => {:new => {:number => Account.find_in_chart(:supplier_thirds).number}}

=field_set(:attorney_informations, :after => :client_informations) do # |f|
  =association :attorney_account, :source => :attorney_thirds, :buttons => {:new => {:number => Account.find_in_chart(:attorney_thirds).number}}

=field_set(:coordinates, :major => true) do # |f|
  =nested_association(:emails) do
    =input :canal, :value => "email", :field => :hidden
    =input :coordinate, :field => :email, :label => "enumerize.entity_address.canal.email"

  =nested_association(:mails) do
    =input :canal, :value => "mail", :field => :hidden
    =input :mail_line_1
    =input :mail_line_2
    =input :mail_line_3
    =input :mail_line_4
    =input :mail_line_5
    =input :mail_line_6
    =input :mail_country, :source => :countries

  =nested_association(:phones, :before => :emails) do
    =input :canal, :value => "phone", :field => :hidden
    =input :coordinate, :field => :tel, :label => "enumerize.entity_address.canal.phone"

  =nested_association(:mobiles) do
    =input :canal, :value => "mobile", :field => :hidden
    =input :coordinate, :field => :tel, :label => "enumerize.entity_address.canal.mobile"

  =nested_association(:faxes) do
    =input :canal, :value => "fax", :field => :hidden
    =input :coordinate, :field => :tel, :label => "enumerize.entity_address.canal.fax"

  =nested_association(:websites) do
    =input :canal, :value => "website", :field => :hidden
    =input :coordinate, :field => :url, :label => "enumerize.entity_address.canal.website"

-#=render :partial => "contacts/coordinates_form"
