-# Generated automatically. Don't edit this file.
.nested-fields
  =link_to_remove_association 'Remove mail', f
  =f.input(:canal, :as => :hidden)
  =f.input(:mail_line_1)
  =f.input(:mail_line_2)
  =f.input(:mail_line_3)
  =f.input(:mail_line_4)
  =f.input(:mail_line_5)
  =f.input(:mail_line_6)
