=form_tag do
  =field_set(:merge) do
    -field tc(:entity_to_update), selector_tag(:master)
    -field tc(:entity_to_delete), selector_tag(:double)
  =toolbar do |t|
    -t.link :permute, {:action => :merge}, "data-permute-combo-box"=>"#master, #double"
  =form_actions do
    =submit_tag tc(:merge)
