=main_toolbar do |t|
  -t.edit @land_parcel_cluster

=beehive do |b|
  -b.tabbox do
    -b.cell :general do
      .picture
        =@land_parcel_cluster.shape_svg(:width => 180, :height => 180, :class => :map)
      .info
        %span.title=LandParcelCluster.human_attribute_name(:area_measure)
        %span.value=@land_parcel_cluster.shape_area.in_square_meter.convert(:hectare)

=beehive do |b|
  -b.cell do
    =attributes_list(@land_parcel_cluster) do |l|
      -l.attribute :name