- if !previous.nil?
  = form_for crumb, action: :update, url: backend_crumb_path(crumb.id), method: :patch do |f|
    = hidden_field_tag :previous_crumb_id, previous.id
    = hidden_field_tag :nature, 'start'
    = f.submit "start new intervention here"
