- start_crumb = Crumb.where(read_at: data.first[:started_at]).first
= link_to 'delete!', backend_crumb_path(start_crumb), action: :destroy, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-link"
= form_for [:convert_backend, start_crumb], method: :post, action: :convert do |f|
  = f.submit 'convert'
