:ruby
  cursors = []
  data.inject(0){|index, item| cursors << index if ['stop'].include? item[:nature]; index += 1}
  cursors.pop
  config = {}
  config[:crumbs] = data
  config[:cursors] = cursors

= content_tag(:div, nil, data: {slider: config.to_json})