:ruby
  supports = []
  production_supports.each do |supps|
    supps.find_each do |support|
      line = {
          activity:     support.production.activity.name,
          shape:   (support.shape ? support.shape_to_ewkt : nil)
        }
        supports << line
    end
  end

= visualization do |v|
  - v.serie :production_supports, supports
  - v.serie :interventions, data
  - v.categories :activity, :production_supports
  - v.paths legend, :interventions
  - v.background 'OpenStreetMap.HOT'
  - v.background 'Thunderforest.Transport'
  - v.background 'Thunderforest.Outdoors'
  - v.control :zoom
  - v.control :scale
  - v.control :fullscreen
  - v.control :layer_selector