:ruby
  crumbs = @interventions_crumbs
  interventions_paths = {}
  previous_crumb = nil
  crumbs.each do |item|
    interventions_paths[item[:name]] ||= []
    interventions_paths[item[:name]] << item
    popup_content = []
    popup_content << {label: :nature, value: item[:nature] }
    popup_content << {label: :date, value: Crumb.find(item[:crumb_id]).read_at.to_formatted_s(:long)}
    popup_content << render('form', crumb: item[:crumb_id], previous: previous_crumb)
    item[:popup] = {content: popup_content}
    previous_crumb = item[:crumb_id]
  end

  production_supports = @production_supports

= beehive do |b|
  -b.cell :map do
    = render 'map', legend: :started_at, crumbs: crumbs, production_supports: production_supports
  - b.cell :interventions_paths do
    = render 'interventions', crumbs: crumbs
  - interventions_paths.each do |name, intervention_path|
    - b.cell intervention_path.first[:started_at].to_formatted_s(:long) do
      = render 'intervention', path: intervention_path
  