:ruby
  list = rights.inject({}) do |hash, pair|
    if Ekylibre::Access.resources[pair.first.to_sym]
      hash[pair.first] = pair.second
    end
    hash
  end.sort{|a,b| Ekylibre::Access.human_resource_name(a.first).ascii <=> Ekylibre::Access.human_resource_name(b.first).ascii }
.access-control-list
  - list.each do |resource, interactions|
    %span.access
      %span.resource= Ekylibre::Access.human_resource_name(resource)
      - interactions.each do |interaction|
        %span.chk-access{class: "chk-access-#{interaction} active"}
          = Ekylibre::Access.human_interaction_name(interaction).strip
