.state-bar{class: "state-bar-#{states.count}"}
  - states.each do |state|
    - classes = ["state-#{state.name}"]
    - classes << "active" if state == current_state
    %span.state{class: classes}= state.human_name
