=toolbar do |t|
  -t.edit @drug_nature
  -t.destroy(@drug_nature, :method=>:delete, "data-confirm" => tg(:are_you_sure_you_want_to_delete)) if @drug_nature.destroyable?

=attributes_list(@drug_nature) do |l| # liste des champs à afficher
  -l.attribute :name



