=main_toolbar do |t|
  -t.edit @organic_matter

=beehive do |b|
  -b.cell do
    =attributes_list(@organic_matter) do |l|
      -l.attribute :name

  - b.tabbox do
    - b.cell(:interventions) do
      = toolbar do |t|
        - t.new(:params =>{:controller => :interventions})
      = list(:intervention_casts)
    - b.cell(tl(:x_indicators, :count => @organic_matter.indicator_data.count)) do
      = list(:indicators)