* {margin:0; padding:0; font-family: Arial, sans-serif;}
/* BLUE EKYLIBRE : #3060FF */
html {background: #FFF;}
td, th, a, p, input, textarea, select, div { font-size:13px;}
a:link, a:visited, a:focus { color:#00C; }
a:hover { color: #000; }
input[type="text"], input[type="password"], textarea, select { border:1px solid #aaa; background: #fff;}
.stocks { padding: 5px 0 15px 0; }
.paymentpart{ text-align:center; padding: 5px 0 5px 0; }
.payments { text-align:center ; color:#000088;}
.invoice { text-align:center;  padding:10px 0; font-size:15px; width: 200px;  background: #C87; border:5px solid red; margin: 20px auto; }
.entity { text-align:right; }
#loading { padding: 2px; text-align: center; }
#columns {  }
#main { overflow: auto; border-top: 1px solid #95b0e4; }
#content { overflow: auto; border-right:8px solid #C9D7F1; border-left:8px solid #C9D7F1; }
#legals { margin:0; padding:4px 8px; background: #C9D7F1; font-size:13px; color: #047; text-align: center; }

.nav { height: 32px; }
.nav .title { color: #750; font-size: 20px;  height: 24px; padding:4px 8px; font-weight: bold; overflow:hidden; margin:0; }
.side-link { float:left; display:block;}
.side-link div { width: 22px; height:32px; background: url(../images/buttons/close3.png) left center no-repeat;}
#side-open div  { background: url(../images/buttons/open3.png) left center no-repeat;}
#side-close div { background: url(../images/buttons/close3.png) left center no-repeat;}
/*#leftos{ float:left; border:none; margin: 8px 0 0 1px; }
#leftos img { border:none;}*/

#about_us a img { border:none; }

#main .nav { background: #C9D7F1; }
#main .title { color: #047; }

#help .nav { background: #e9e9a8; }
#help .title { color: #750; text-align: center; }

#help { border-left: 1px solid #BEBEBB; border-top: 1px solid #BEBEBB; background: #fefef9 url(../images/template/help.png) repeat-x top;}
#help .content { padding: 8px; }
#help .content h1 { font-size: 17px; margin: 0px 0px 16px; color: #750;}
#help .content h2 { font-size: 15px; margin: 8px 8px 4px;  border-bottom: 1px solid #dd8;}
#help .content h3 { font-size: 13px; margin: 4px 16px 2px; color: #430; }
#help .content pre { font-family: monospace; color: #777; background: #FFF; padding: 8px; margin: 8px 0; }
#help .content ul { padding: 4px 20px; }
#help .content ul li { list-style-type: square; }
#help .content a img { border: 1px solid #00C; padding: 1px;}
#help .content p { margin: 8px 0px;}
#help .content .text-end { height: 1px; }
#help .content .help-error { color: red; text-align: center; padding: 8px; background:#F5EAD7; }

#side { width: 192px; padding: 0 0 8px 8px; background: #c9d7f1; overflow: auto;  border-top: 1px solid #95b0e4;}
#side .menu { background: #FFF; padding:0px; margin:8px 0px 0px; border: 2px solid #95b0e4; }
#side .menu h2 { font-size : 13px; color: #012; padding: 2px 4px; background: #95b0e4; text-align: center; }
#side .menu ul { padding: 0 0px 0 0px; }
#side .menu li { list-style-type: none; background: url(../images/template/round.png) no-repeat center left; border-top: 1px dotted #95b0e4; }
#side .menu li:hover { background: #DBE4F6 url(../images/template/round_hover.png) no-repeat center left; }
#side .menu li a { display:block; padding: 2px 4px 4px 16px;}
/*#side .menu li a { font-size: 11px; }*/
/*#side .index { display:block; padding: 2px; font-size: 11px; text-align:center; background: #FFF; border: 2px solid #95b0e4; margin: 2px;}*/
#side .indicator { border-color: #8ad4c0}
#side .indicator li { background: url(../images/template/round_green.png) left no-repeat; border-top:none;}
#side .indicator li:hover { background: #DBF6E4 url(../images/template/round_hover.png) no-repeat center left; }

#yield { padding: 8px; overflow: auto; background: url(../images/template/columns.png) repeat-x top; border: 1px solid #95b0e4; }
#yield > h1 { margin: 0px 0px 8px; font-size:20px; color: #047;}
#yield > h2 { margin: 16px 0px 4px; font-size:16px; color: #06A;}
#yield li { color:#047; padding: 1px; }
#yield .menu, .errorExplanation { -moz-border-radius: 8px; background: #DBE4F6; padding:4px 6px; margin: 0 0 8px;}
#yield .menu h2, .errorExplanation h2 { font-size : 16px; color: black; padding: 2px; margin: 2px 0px; }
#yield .menu ul, .errorExplanation ul { padding: 4px 4px 4px 18px; }
#yield .menu li, .errorExplanation li { list-style-type: square; }
#yield .menu.special { background: #FE9; }
#yield .menu.special a:link, #yield .menu.special a:visited { color: #A60; }
#yield .menu.indicator { background: #FD8; } /*#FA3;*/
.errorExplanation { background: #ECA; color: #543; margin: 8px; }

#top {height: 24px;}
#top .menu a, #top .menu strong, #top .menu span { margin-left: 6px; }
#guide { float:left; height:24px; margin-top:4px; }
#user { float:right; height:24px; margin:4px 10px; text-align:right;}

.help-link { float:right; padding: 8px 4px;}
.help-link a:link { padding: 4px; font-size: 13px; color: #750; background: #e9e9a8; }
.help-link a:hover { color:black; }
#help-open a { background: url(../images/buttons/help.png) no-repeat scroll left center; padding-left:20px; }
#help-close a { background: url(../images/buttons/close.png) no-repeat scroll left center; padding-left:20px; }
#help-previous a { background: url(../images/buttons/previous.png) no-repeat scroll left center; padding-left:20px; }

/*
#titleavis{ padding:20px 0 20px 0; text-align:center; color:#004477; border:0.1px solid blue; margin-top:20px; margin-bottom:10px; border-right:none; border-left:none;}
#avis .main {padding:8px;  }
#avis .logout { padding:3px 8px; text-align:right;  border-bottom:1px solid #C9D7F1; }
#avis .title { padding:8px; text-align:center; color:#047 }
.avis { padding: 10px 10px 30px 10px; text-align:center; margin-top:40px; border:0.1px solid black; font-weight:bold; border-right:none; border-left:none; }
*/

.clearfix:after { content: "."; display:block; height:0; clear: both; visibility: hidden; }
/* backslash hack hides from IE mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* end backslash hack*/

table.invex, table.invisible { border-collapse: collapse; }
table.invex, table.flex { width: 100% }

.evalue { display:table; border-collapse: collapse; border-bottom: 1px dotted #CCC; margin: 0px 4px;}
.evalue > div { display:table-row; }
.evalue .label, .evalue .value { display:table-cell; padding:1px 4px;  }
.evalue .label { width:176px; text-align:right; color: #777; }
.evalue .value { width:164px; }
.evalue .code { font-family: monospace; }

table.evalue { border-collapse: collapse; margin: 0 auto;}
table.evalue td { border-bottom: 1px dotted #CCC; margin: 0px 4px; padding:1px 4px; }
table.evalue .label { text-align:right; color: #777; }
table.evalue .value { text-align:left; }

div.tr { display: table-row; }
div.td { display: table-cell; }

.logo { width: 160px; padding:4px; background: white; border:1px solid #EEE; text-align:center; vertical-align:center; }

#company { border-spacing:6px; }
#company div.side { border:1px solid #EEE; padding: 2px; background: #f9f9f9;}
#company div.side h2{ margin: 2px 0px 4px;}
#company div.side h3{ border-bottom :1px solid #BBB; margin: 10px 6px 2px; color:#555;}
#company div.side .label {color:#777; width: 160px; text-align:right; padding: 2px;}
#company div.side .value {color:#227;  padding: 2px;}

.flash { padding: 4px 6px; text-align:center; margin-bottom: 8px; border: 1px solid black; background: white; font-weight:bold; }
.flash.error { color: red; border-color: red; background: #FDD;}
.flash.warning { color: #FA0; border-color: #FA0; background: #FEC; }
.flash.notice { color: #4a1; border-color: #7c3; background: #EFC; }

.message { padding: 8px 12px; margin: 0; background: #FFD; border: 1px solid #EDA; font-size: 13px; font-weight: bold; color: #530; text-align: center; }
.count { margin: 0 0 4px; color:#777; }

.contact { padding: 5px 0 8px 4px; border:0.2px solid; border-color:#C9D7F1; background-color:#FEB;}


table.formalize { border-collapse: collapse; margin-left: auto; margin-right: auto; }
table.formalize tr.field td { border-bottom:  1px dotted #CCC; }
table.formalize td.label { text-align:right; padding:1px 4px; color: #008; width: 50%; border-right: 0px dotted #CCC;  }
table.formalize td.input { padding:2px 6px 2px 2px; }
table.formalize td.help  { text-align:left; padding:2px 2px 2px 6px; font-size: 11px; border-left:1px dashed #CCC;}
table.formalize td .notnull { border: 1px solid #33F; background: #eeF }
table.formalize td .info         { color: #007;  background:#CDF; padding:2px; }
table.formalize td .info span    { color: #55C; }
table.formalize td .example      { color: #040;  background:#CFC; padding:2px; }
table.formalize td .example span { color: #4A5; }
table.formalize td .hint         { color: #600;  background:#FDE; padding:2px;}
table.formalize td .hint span    { color: #B54; }
table.formalize tr.title th { padding: 16px 8px 2px; border-bottom: 0px dotted #002; color: #002; font-size:13px; border-bottom: 1px solid #CCC; font-weight:bold;}
/*
table.formalize tr.odd  td { background: #E5ECF6;}
table.formalize tr.even td { background: #F0F8FF;}
*/
table.formalize a.fastadd { margin: 0px 8px; }
.day_field, .month_field, .hour_field, .minute_field, .second_field { width: 2.5ex; }
.year_field { width: 4.5ex; }

.actions { text-align:center; padding:4px !important; background: #CEC; margin: 8px 0 0; }
.actions * { margin: 0px 8px; }
.actions a { padding: 4px; margin: 4px;}
.actions a:link, .actions a:visited, .actions a:hover { color:#080;}

.invalid { border: 1px solid red !important; background: #FDD !important; }

a.firefox  {padding-left: 20px; background: url(../images/buttons/firefox.png) no-repeat center left;}
a.register {padding-left: 20px; background: url(../images/buttons/create.png) no-repeat center left;}



a.right { float:right; }

/* BEGIN BUTTON STYLES */
input[type="submit"] { text-decoration:none; border:1px solid #BBB; color:#444; background: #CCC url(../images/template/button.png) repeat-x top; -moz-border-radius: 4px; padding:1px 5px 2px; }
input[type="submit"]:hover { border:2px solid #DA4; color: #555; text-decoration:none; background: #DDD url(../images/template/button_hover.png) repeat-x top; }
input[type="submit"]:active, input[type="submit"]:focus { border:2px solid #68C; color: #555; text-decoration:none; background: #CCC url(../images/template/button_hover.png) repeat-x top; }
input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus { padding:0px 4px 1px; }
/* END */

.fore { border: 1px solid #C9D7F1; margin: 8px 0; background: #EFE; }
.fore .formalize { margin:8px auto; }
/*E4EBF8*/

/* background: #DBE4F6 */
/*.toolbar { -moz-border-radius: 8px; background: #FEE; padding: 0 2px; margin: 0 0 8px; border:1px solid #95b0e4; }*/
.toolbar { background: #F2E4DD; padding: 0 2px; margin: 0 0 8px; border: 1px solid #E5D9DD;}
.toolbar h2 { font-size : 16px; color: black; padding: 2px; margin: 2px 0px; }
.toolbar ul {padding: 1px;}
.toolbar ul > li {padding: 2px 0; list-style-type: none; height:16px; margin:2px 0;}
.toolbar ul > li > a {padding: 2px 2px 2px 20px; height:16px; background: url(../images/template/round.png) no-repeat center left;}
.toolbar ul > li > a.update  {background: url(../images/buttons/update.png) no-repeat center left;}
.toolbar ul > li > a.create  {background: url(../images/buttons/create.png) no-repeat center left;}
.toolbar ul > li > a.sort    {background: url(../images/buttons/sort.png) no-repeat center left;}
.toolbar ul > li > a.print   {background: url(../images/buttons/print.png) no-repeat center left;}
.toolbar ul > li > a.backup  {background: url(../images/buttons/right.png) no-repeat center left;}
.toolbar ul > li > a.export  {background: url(../images/buttons/right.png) no-repeat center left;}
.toolbar ul > li > a.restore {background: url(../images/buttons/left.png) no-repeat center left;}
.toolbar ul > li > a.import  {background: url(../images/buttons/left.png) no-repeat center left;}



.search { background: #CEA !important; color: #580;  -moz-border-radius: 8px; padding:4px 6px; margin: 0 0 8px;}
.search table { margin: 0px auto; }
.search .label { padding: 1px 4px; }
.search .submit { padding: 0px 4px; }


/*e7f2fd bbcfe6*/



h2.form { font-size: 15px; margin: 8px 0px 4px; border-bottom: 1px solid #C9D7F1; color: #656C79; }

.stepper { border-collapse: collapse; width: 100%; margin-bottom:8px; }
.stepper td { height: 32px;}
.stepper td.step { text-align:center; background: url(../images/template/stepper_default.png) bottom; }
.stepper td.step.active { background: url(../images/template/stepper_active.png) bottom; }
.stepper td.transit { background: url(../images/template/stepper_transit.png) bottom; width:14px; }
.stepper td.transit.left { background: url(../images/template/stepper_left.png) bottom; }
.stepper td.transit.right { background: url(../images/template/stepper_right.png) bottom; }
.stepper td.side { text-align:center; background: url(../images/template/stepper_default.png) bottom; width:32px; }
.stepper td.side.first { -moz-border-radius-topleft: 16px; -moz-border-radius-bottomleft: 16px;}
.stepper td.side.last { -moz-border-radius-topright: 16px; -moz-border-radius-bottomright: 16px;}




input[type="text"], input[type="password"], textarea, select { margin:1px; border-width: 1px; }
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus { border:2px solid #79e !important; margin: 0px;}
input[type="text"].invalid:focus, input[type="password"].invalid:focus, textarea.invalid:focus, select.invalid:focus { border-color: red !important; }


.login { width:512px; border: 1px solid #95b0e4; margin:64px auto; background:#c9d7f1; z-index: 1000;}
.login .logoban { height:80px; background: url(../images/ekylong.png) no-repeat center; margin: 16px;}
.login h2 { background: url(../images/template/gradient.png) repeat-x top; color:white; padding: 2px; text-align:center; font-size:18px;}
.login table { border-collapse: collapse;  margin:16px auto; margin-left:auto; margin-right:auto;}
.login table tr td { padding: 2px 4px;}
.login table tr td.label { text-align:right;}
.login table tr td.input, .login table tr td.input input { text-align:left; width:128px;}
.login table tr td.button {text-align:center; padding:6px 6px 16px;}
/*div.flash-error {text-align:center; color:red; font-style:italic;height:20px;padding: 16px; margin-top: 64px;}*/

.window { padding:4px; background: #EEE; border: 1px solid #AAA; margin: 8px;}
.window .dyta { background: white; }

/* Droits utilisateurs */
.right-category { text-align: center; padding: 15px 0 5px 0; font-weight: bold;}
.right {  margin-left:50px;}

/* entries */
#table.entries tr * { border: 1px solid #AAA; padding: 1px 2px; }
#table.entries tr.odd td{:background: #E3F4FF;}
#table.entries tr.even td{:background: #A3FCFF;}


/* all the styles used by the plugin Dyli.*/
div.dyli_complete {width: 350px;}
div.dyli_complete ul {position: fixed; border:1px solid #888; margin:0; padding:0; width:30%; list-style-type:none;}
div.dyli_complete ul li {background-color:  #C9D7F1; margin:0; padding:3px;}
div.dyli_complete ul li.selected {background-color: #B1D1F9;}
div.dyli_complete ul strong.highlight {color: #800; margin:0; padding:0;}

fieldset.itemize { border: 1px solid #777; -moz-border-radius: 8px; float: left; margin:8px;}
fieldset.itemize legend { color: blue; margin: 0 8px; padding:2px;}


