-listing_node = column_label
=link_to(listing_node.label, "#", "data-toggle-with" => "##{listing_node.key}_label_form", :class => "name")
=form_tag({:controller=>:listing_nodes, :action=>:update, :id=>listing_node.id, :type=>"column_label"}, :method=>:put, :remote=>true, "data-update"=>"##{listing_node.key}_label", "data-type"=>:html, :id => "#{listing_node.key}_label_form", :style=>"display: none;") do
  =text_field_tag("label", listing_node.label, :size=>listing_node.label.size*2)
  =submit_tag(tg(:validate))
%span.attribute="("+listing_node.name+")"
