-listing_node = position
=tool_to(listing_node.position.to_s, "#", "data-toggle-with" => "##{listing_node.key}_position_form", :tool => "sort")
=form_tag({:controller=>:listing_nodes, :action=>:update, :id=>listing_node.id, :type=>"position"}, :method=>:put, :remote=>true, "data-update"=>"##{listing_node.key}_position", "data-type"=>:html, :id => "#{listing_node.key}_position_form", :style=>"display: none;") do
  =text_field_tag("position", listing_node.position, :size=>2)
  =submit_tag(tg(:validate))
