- if @crops.resultset.any?
  = list_settings_toolbar(menu_up: true)
.toolbar
  = link_to :new_inspection.tl, new_backend_inspection_path(activity_id: @activity.id), class: "btn btn-default icn btn-new"

- if @crops.resultset.any?
  = render partial: 'backend/activities/crops'
