=formalize do |f|
  -f.error :animal_group

=field_set(@animal_group, :general_informations) do |f|
  =f.input :name
  =f.input :description
  =f.input :comment
  =f.input :age_min
  =f.input :age_max
  =f.input :sex, :collection => AnimalGroup::SEXES, :as => :radio_buttons
  =f.input :is_pregnant
