=f.product_form_frame do
  =field_set(:identification) do
    -#=f.referenced_association :parent
    =f.input :name
    =f.picture
    =f.input :description

  -#=field_set(:group) do
    =f.nested_association(:memberships) do
      =f.input :started_at
      =f.input :stopped_at
      =f.referenced_association :product