=field_set do
  =f.association :parent
  =f.input :name
  =f.input :description
  =f.input :comment

=field_set(:group) do
  =nested_association(:memberships) do
    =f.input :started_at
    =f.input :stopped_at
    =f.association :product