-field_set do
  -input :name
  -input :active
  -input :currency, :source => :currencies
  -input :with_accounting, :show => :accountancy
  -input :comment, :field => :text

-field_set :accountancy do
  -association :journal, :source => :purchases




