-#fields_for(@stock) do |f|
  =f.field_set :general do
    =f.input :product_id, :choices=>"@current_company.productable_products"
    =f.input :unit_id, :choices=>"DEPENDS_ON.units", :depends_on=>:product_id, :new=>{:base=>"DEPENDS_ON.base"}
    =f.input :tracking_id, :choices=>"DEPENDS_ON.trackings", :include_blank=>true, :depends_on=>:product_id, :new=>true
    =f.input :warehouse, :new=>true


=yasui_fields_for(@stock) do |y|
  -y.field_set(:general) do |f|
    -f.field :warehouse, :new=>true, :choices=>:available_warehouses
    -f.field :product, :new=>true, :choices=>:stockable_products
  -y.field_set(:product_options, :depending_on=>:product) do |f|
    -f.field :unit, :choices=>:units, :new=>{:base=>:base}
    -f.field :tracking, :choices=>:trackings, :include_blank=>true, :new=>true
    -f.field :critic_quantity
    -f.field :quantity_min
    -f.field :quantity_max


-#   
  -product_id = nil    
  =formalize do |f|
    -f.error :stock
    -f.field :stock, :product_id, :choices=>{:reflection=>:stockable_products}
  #detail=render :partial=>"stocks/_detail_form"

  =observe_field(product_id, :url=>{:controller=>:stocks, :action=>:new}, :method=>:get, :frequency=>0.25, :with=>"product_id", :update=>:detail)


