-# Eclated automatically (2011-06-08)
-if @current_company.stocks.size > 0
  .search
    =form_tag({}, {:method=>:get}) do
      %table
        %tr
          %td.crit
            =tc('select_warehouse')
            =select_tag(:warehouse_id, options_for_select([[]]+@warehouses.collect{|x| [x.name, x.id]}, session[:warehouse_id]))
          %td=submit_tag(tg('filter'))

  =toolbar do |t|
    -t.print :stocks, :p0=>Date.today.to_s
=list
