=field_set do
  -input :last_name
  -input :first_name
  -input :language, :choices => :languages
  -input :username
  -input :password
  -input :password_confirmation
  -input :admin, :hide => :rights
  -input :employed, :show => :employee

=field_set(:employee) do
  -input :employment
  -# association :profession
  -association :department
  -association :establishment

=field_set(:rights) do
  -association :role
  -# input :reduction_percent
  -# input :free_price
  -# input :credits
  -partial :rights, :depend_on => :role
  -# #rights{"data-refresh"=>url_for(:action=>:new, :mode=>:rights), "data-refresh-mode"=>"update"}
