- components.each do |component|
  .component-btn-group
    .component-replacement
      - target = {}
      - target[:reference_name] = :equipment
      - target[:product_id] = resource.id

      - input = {}
      - input[:reference_name] = :replacement_part
      - input[:component_id] = component.id

      - group = []
      - group[:reference_name] = :work
      - group[:targets_attributes] = { "0"=> target }
      - group[:inputs_attributes] = { "0"=> input }

      - prefill = {}
      - prefill[:procedure_name] = :equipment_maintenance
      - prefill[:actions] = [:curative_maintenance]
      - prefill[:group_parameters_attributes] = {0 => group}

      - options = {}
      - options[:action] = :new
      - options[:controller] = :interventions
      - options[:redirect] = request.fullpath
      - options.merge! prefill

      = tool_to "", options, icon: :repair, class: "icn-only"

    .component-documentation
      - part_variant = component.part_product_nature_variant
      - if part_variant
        = dropdown_menu_button("", icon: :documentation) do |menu|
          - part_variant.attachments.each do |attachment|
            - options = {}
            - options[:controller] = 'backend/documents'
            - options[:id] = attachment.document_id
            - options[:action] = :show
            - options[:format] = :pdf

            - menu.item attachment.name, options

  = render "equipment_btns", components: component.children