=field_set do # partie info general de l entité animal
  =f.input :name # affiche le champ name de l entité animal avec une infos derriere
  =f.referenced_association :nature # affiche un menu deroulant construit par la relation group_id vers le champ name de l entité animal_group
  =f.referenced_association :variety
  =f.input :active, :hide => :dead_at
  =f.input :external, :show => :entity
  =f.input :reservoir, :show => :stock
  =f.input :description, :field => :text # affiche le champ description
  =f.input :picture, :multiple => true
  =image_tag(@equipment.picture.url(:thumb))
  =f.custom_fields
  -#for datum in @custom_field_data
    =custom_field datum.custom_field.name, {:datatype => datum.custom_field.nature.to_sym, :id => "custom_field_datum_#{datum.custom_field_id}_value", :name => "custom_field_datum[#{datum.custom_field_id}][value]", :value => datum.value, :size => datum.custom_field.length_max, :options => {:include_blank => (datum.custom_field.required ? nil : '')}, :choices => datum.custom_field.choices.collect{|x| [x.name , x.id]}  }

=field_set(:delay) do # partie info general de l entité animal
  =f.input :born_at
  =f.input :dead_at

=field_set(:entity) do
  =f.referenced_association :owner

-#=field_set(:stock) do
  =f.referenced_association :content_nature
  =f.referenced_association :content_unit
  =f.input :content_maximal_quantity