:ruby
  geolocations = Equipment.all.collect do |equipment|
    { name:         equipment.name,
      nature:       equipment.nature_name,
      shape:        equipment.shape
    }
  end

- main_toolbar do |t|
  - t.new

= beehive do |b|
  - b.cell :resources_map, title: :map do
    = visualization do |v|
      - v.serie :geolocations, geolocations
      - v.categories :nature, :geolocations
      - v.background 'OpenStreetMap.HOT'
      - v.background 'Thunderforest.Transport'
      - v.background 'Thunderforest.Outdoors'
      - v.control :zoom
      - v.control :scale
      - v.control :fullscreen
      - v.control :layer_selector

  - b.cell :list do
    = main_list
