.btn-group.campaign-selector

  - url, attrs = '#', {class: 'btn btn-previous icn icn-only'}
  - if campaign.preceding
    - url = { param_name => campaign.preceding.id }
  - else
    - attrs[:disabled] = true
  = link_to('', url, attrs)

  = link_to(campaign.harvest_year.to_s, { controller: '/backend/campaigns', action: :show, id: campaign }, class: 'btn campaign')

  - url, attrs = '#', {class: 'btn btn-next icn icn-only'}
  - if campaign.following
    - url = { param_name => campaign.following.id }
  - else
    - attrs[:disabled] = true
  = link_to('', url, attrs)
