- c.cobble(:distributions) do
  .toolbar
    = tool_to :new.ta, {action: :new, controller: :target_distributions, target_id: resource.id }, tool: :new

  - resource.distributions.collect(&:target).each do |product|
    = target_distributions_chronologies(product.distributions.order(:started_at), product, target: true)
