.btn-group.period-interval-selector

  - current_period_interval = current_user.current_period_interval.to_sym
  - period_intervals = [:day, :week, :months, :years]

  - period_intervals.each do |period_interval|

    - classes = "btn period-interval "
    - classes << 'active' if current_period_interval == period_interval

    = link_to(period_interval.tl, { :current_period_interval => period_interval, :current_campaign => Date.today.year }, class: classes)
