.activity-productions
  - productions.each do |production|
    .activity-production
      .activity-production-infos
        = link_to(production.name, {action: :show, controller: :activity_productions, id: production.id})
        %span.pull-right= production.size.round(2).l(precision: 2) rescue nil
      .activity-production-chronology
        .chronology
          .grades
            - grades.each_with_index do |grade, index|
              .grade{class: (grade.month == 1 ? 'grade-start' : 'grade-middle') + ' ' + ((index == 0 || grade.month == 1) ? 'grade-year' : 'grade-month')}= ((index == 0 || grade.month == 1) ? grade.year.to_s : I18n.t('date.abbr_month_names')[grade.month])
          .periods
            - url_options = { action: :show, controller: :activity_productions, id: production.id }
            - html_options = {:title => production.name}
            = product_chronology_period(production, campaign, period_started_on, duration, url_options, html_options)
