.btn-group.campaign-selector
  = link_to('', { param_name => campaign.harvest_year - 1 }, class: 'btn btn-previous icn icn-only')
  = link_to('Du 15 au 21 août 2016', { param_name => campaign.harvest_year + 1 }, class: 'btn')
  = link_to('', { param_name => campaign.harvest_year + 1 }, class: 'btn btn-next icn icn-only')
