-# TODO: Manage extra content in forms ?
=purchase_steps

=field_set do
  -association :supplier, :source => :suppliers
  -association :nature
  -association :delivery_address, :source => :own_mails, :new => {:entity_id => Entity.of_company.id}
  -input :planned_on
  -input :reference_number
  -association :responsible, :source => :employees, :new => {:employed => 1}
  -input :comment


