=purchase_steps

=formalize do |f|
  -f.error :purchase
  -f.title :infos
  -if @purchase.updateable?
    -f.field :purchase, :supplier_id, :choices=>:suppliers, :new=>{:controller=>:relations, :action=>:entity_create}
    -f.field :purchase, :delivery_contact_id, :choices=>{:reflection=>:self_contacts, :label=>:address}, :new=>{:controller=>:relations, :action=>:contact_create, :entity_id=>@current_company.entity_id}
    -f.field :purchase, :planned_on
    -f.field :purchase, :reference_number
    -f.field :purchase, :responsible_id, :choices=>{:reflection=>:employees}, :new=>{:controller=>:company, :action=>:user_create, :employed=>1}
  -f.field :purchase, :comment, :field=>:textarea


