-# Eclated automatically (2011-06-08)
=purchase_steps if params[:step]

=toolbar do |t|
  -t.update @purchase if @purchase.draft?
  -if @purchase.can_confirm?
    -t.confirm @purchase, :method=>:post, :confirm=>tc(:are_you_sure_you_want_to_confirm)
  -if @purchase.can_invoice?
    -t.invoice @purchase, :method=>:post, :confirm=>tc(:are_you_sure_you_want_to_invoice)
  -for event in [:propose, :correct, :refuse]
    -t.send(event, @purchase, :method=>:post, :confirm=>tc(:are_you_sure)) if @purchase.send("can_#{event}?")
  -t.abort(@purchase, :method=>:post, :confirm=>tc(:are_you_sure)) if @purchase.can_abort?
  -t.print_purchase @purchase

=attributes_list(@purchase) do |l|
  -l.attribute :supplier, :label=>:label, :url=>true
  -l.attribute :number
  -l.attribute :reference_number
  -l.attribute :state_label
  -l.attribute :responsible, :label=>:full_name
  -l.attribute :created_on
  -l.attribute :confirmed_on
  -l.attribute :planned_on
  -l.attribute :currency unless @purchase.currency == @current_company.default_currency
  -l.attribute :comment
  -l.attribute :delivery_contact, :label=>:address
  -l.attribute :journal_entry, :url=>true


-if ["products", "summary", ""].include? params[:step].to_s
  %h2=Purchase.human_attribute_name("lines")
  -if @purchase.draft?
    =toolbar do |t|
      -t.link(:purchase_line_create, :purchase_id=>@purchase.id)
  =list :lines
  %table.kame
    %tr.total
      %th=Purchase.human_attribute_name("pretax_amount")
      %td=number_to_management(@purchase.pretax_amount)
    %tr.important.total
      %th=Purchase.human_attribute_name("amount")
      %td=number_to_management(@purchase.amount)

-if ["products", "summary", ""].include? params[:step].to_s
  %h2=Purchase.human_attribute_name("payment_uses")
  =toolbar do |t|
    -t.link(:outgoing_payment_use_create, :expense_type=>:purchase, :expense_id=>@purchase.id, :controller=>:finances) unless @purchase.unpaid_amount.zero?
  =list :payment_uses


-if ["deliveries", ""].include? params[:step].to_s
  -if @purchase.deliverable?
    %h2=tc :undelivered
    =toolbar do |t|
      -t.link :incoming_delivery_create, :purchase=>@purchase.id
    =list :undelivered_lines
  %h2=Purchase.human_attribute_name("deliveries")
  =list :deliveries


-if ["products", "summary", ""].include? params[:step].to_s
  %h2=tc :financial_state
  %table.kame
    -for k, v in @purchase.stats(:with_balance=>true)
      %tr.total
        %th=tc(k)
        %td=number_to_management(v)
