.progress#running-progress{ data: { refresh_after: 4, url: run_progress_backend_financial_year_path } }
  .progress-bar.progress-bar-striped.active{ role: "progressbar", 'aria-valuenow': "#{value}", 'aria-valuemin': 0, 'aria-valuemax': 100, style: "width:#{value}%" }
    = "#{value}%"

- if value == 100
  %script
    location.reload();
