- main_toolbar do |t|
  - t.export do |e|
    - e.balance_sheet    resource.code, resource
    - e.income_statement resource.code, resource
    - e.trial_balance    resource.code, resource
  - t.compute_balances resource, method: :post
  - attrs = {}
  - attrs["data-confirm"] = :are_you_sure.tl if resource.last_journal_entry
  - t.generate_last_journal_entry resource, attrs
  - if resource == FinancialYear.closable
    - t.close resource

= beehive do |b|
  - b.cell :details do
    = attributes_list do |l|
      - l.attribute :currency
      - l.attribute :started_on
      - l.attribute :stopped_on
      - l.attribute :closed
      - l.attribute :code
      - l.attribute :last_journal_entry, url: true
      - if resource.custom_fields.any?
        - l.custom_fields

  - b.hbox do
    - b.cell(resource.closed ? :balance : :last_computed_balance) do
      = list :account_balances

    - b.cell(:financial_asset_depreciations) do
      = list :financial_asset_depreciations
