%h1=l self.controller.controller_name.to_sym, action_name.to_sym, :title
.formalize
  - form_tag do
    .fields=render :partial=>@partial
    .actions
      =submit_tag(l(@options[:submit]||:create))
      =link_to(l(@options[:cancel]||:cancel),:back)

