%h1=l self.controller.controller_name.to_sym, action_name.to_sym, :title
- unless flash[:message].blank?
  .message=flash[:message]
- form_tag do
  =render :partial=>@partial
  .actions
    =submit_tag(l(@options[:submit]||:create))
    =link_to(l(@options[:cancel]||:cancel),:back)

