.window
  = link_to_function t 'close' do |p| 
    - p.replace_html 'account', '' 
    - p['account_number'].focus()
  - if @accounts.size > 0
    %table.dyta 
      %tr
        %th=lc :account_number
        %th=lc :account_name
      - @accounts.each do |account|
        %tr{:class=>cycle('odd','even')}
          %td
            = link_to_function(account.number) do |p| 
              - p['account_number'].value =  account.number  
              - p['entry_currency_debit'].focus()
              - p.replace_html 'account', ''
          %td=account.name
  - else
    .error=lc :no_accounts
  =link_to lc(:accounts_create), :action=>:accounts_create
