= link_to_function "fermer" do |p| 
  - p.replace_html 'account', '' 
  - p['account_number'].focus()
- if @find_accounts.size > 0
  %table{:border=>1} 
    %tr
      %td.label=lc :account_number
      %td.label=lc :account_name
    - @find_accounts.each do |account|
      %tr
        %td 
          = link_to_function(account.number) do |p| 
            - p['account_number'].value =  account.number  
            - p['entry_debit'].focus()
            - p.replace_html 'account', ''
        %td=account.name
- else
  %p=lc :erreur
