.window
  = link_to_function tg 'close' do |p| 
    - p.replace_html 'account', '' 
    - p['account_number'].focus()
  - if @accounts.size > 0
    %table.dyta 
      %tr
        %th=tc :account_number
        %th=tc :account_name
        %th
        %th
      - @accounts.each do |account|
        %tr{:class=>cycle('odd','even')}
          %td
            = link_to_function(account.number) do |p| 
              - p['account_number'].value =  account.number 
              - p['entry_currency_debit'].focus()
              - p['entry_currency_debit'].select
              - p.replace_html 'account', ''
          %td=account.name
          %td=" "
          %td=" "
  - else
    .error=tc :no_accounts
  =link_to tc(:accounts_create), :action=>:accounts_create
