-if @account
  =formalize do |f|
    -f.error :account
    -if @account.new_record?
      -f.field :account, :number
    -else
      -f.field Account.human_attribute_name("number"), @account.number
    -f.field :account, :name
