.search
  =keishiki_tag({:controller=>:accountancy, :action=>:accounts}, :method=>:get) do
    =hidden_field_tag(:prefix, params[:prefix])
    %table
      %tr
        %td.crit
          %label{:for=>:search_account}=tc("search_account")
          =text_field_tag(:q, params[:q], :id=>:search_account)
          %label{:for=>:used_accounts}=tc(:used_accounts)
          =check_box_tag("used_accounts", "1", params[:used_accounts], :onchange=>"toggleUsedPeriod();")
        %td.submit{:rowspan=>2}=submit_tag tg("search_go"), :name=>nil
      %tr
        %td.crit#used-period=journal_period_crit
  :javascript
    window.toggleUsedPeriod=function() { toggleElement('used-period', $('used_accounts').checked); }
    toggleUsedPeriod();
