=formalize do |f|
  - f.error :statement
  - f.field :statement, :bank_account_id, :choices => @bank_accounts.collect{|b| [b.name, b.id]}, :new => {:action => :bank_account_create}
  - f.field :statement, :number
  - f.field :statement, :started_on
  - f.field :statement, :stopped_on
