=formalize do |f|
  - f.error :bank_account
  - f.title :rib
  - f.field :bank_account, :name
  - f.field :bank_account, :bank_name
  - f.field :bank_account, :address, :field=>:textarea
  - f.title BankAccount.human_name
  - f.field :bank_account, :mode, :field=>:radio, :choices=>BankAccount.modes  
=formalize(:id=>:bban) do |f|
  - f.field :bank_account, :bank_code, :size=>10
  - f.field :bank_account, :agency_code, :size=>10
  - f.field :bank_account, :number
  - f.field :bank_account, :key, :size=>4
=formalize(:id=>:iban) do |f|  
  - f.field :bank_account, :iban
  - f.field :bank_account, :bic
=formalize do |f|  
  - f.title :accountancy
  - f.field :bank_account, :account_id,  :choices => @current_company.accounts.find(:all, :conditions=>['number LIKE ?', '51%'], :order=>:number).collect {|b| [b.label, b.id]}, :new => {:action => :account_create}
  - f.field :bank_account, :currency_id, :choices => @current_company.currencies.all.collect {|c| [c.name, c.id]}
  - f.field :bank_account, :journal_id,  :choices => @current_company.journals.all.collect {|j| [j.name, j.id]}, :new => {:action => :journal_create}
 
=observe_field "bank_account_mode_iban", :frequency => 0.25, :function =>"banToggle(element)"

:javascript
  function banToggle(element) {
    if (element.checked) { 
      $('iban').show(); $('bban').hide();
    } else { 
      $('bban').show(); $('iban').hide();
    }
  }
  banToggle($('bank_account_mode_iban'))
-#  $('bank_account_mode_iban').checked = "checked"
