-nature ||= (@cash ? @cash.nature : "unknown")
=formalize do |f|  
  -f.title :accountancy
  -if nature == "bank_account"
    -f.field :cash, :account_id, :choices=>{:reflection=>:banks_accounts}, :new=>{:action=>:account_create, :number=>parameter("accountancy.accounts.financial_banks").value}
    -f.field :cash, :journal_id, :choices=>{:reflection=>:bank_journals}, :new=>{:action=>:journal_create, :nature=>:bank}
  -elsif nature == "cash_box"
    -f.field :cash, :account_id, :choices=>{:reflection=>:cashes_accounts}, :new=>{:action=>:account_create, :number=>parameter("accountancy.accounts.financial_cashes").value}
    -f.field :cash, :journal_id, :choices=>{:reflection=>:cash_journals}, :new=>{:action=>:journal_create, :nature=>:cash}
