- form_remote_tag(:loading=>"onLoading();", :loaded=>"onLoaded();") do 
  %table.dyta
    %tr
      %th=tc :record_number
      %th=tc :record_created
      %th=tc :record_printed
      %th=tc :label
      %th=tc :account_number
      %th=tc :record_debit
      %th=tc :record_credit
      %th{:colspan=>2}
    %tr
      %td=text_field :record, :number, {:size=>5}
      %td=text_field :record, :created_on, {:size=>10}
      %td=text_field :record, :printed_on, {:size=>10} 
      %td=text_field :entry, :name, {:size=>16}
      %td=dyli_tag   :entry, :account, :dyli=>:account_search, :resize=>true 
      %td=text_field :entry, :currency_debit, {:size=>7}
      %td=text_field :entry, :currency_credit, {:size=>7}
      %td{:colspan=>2}
        =submit_tag tc(:entry_validate)
        =#submit_tag # 'entry_validate', lc(:entry_validate), :url => {:action => :entries}, :html => {:tabindex => 7, :style=>'display:none;'}
    %tr
      %td#account{:colspan=>9}
    -if @records.size>0
      %tr
        %th=tc :record_number
        %th=tc :record_created
        %th=tc :record_printed 
        %th=tc :label
        %th=tc :account_number
        %th=tc :record_debit
        %th=tc :record_credit
        %th
        %th
      - @records.flatten.each do |record|
        - attr = cycle("even","odd")  
        - record.entries.each do |entry|
          %tr{ :class=>(entry.record.balanced ? "balanced" : "unbalanced")+" "+attr}
            %td=entry.record.number
            %td=I18n.localize(entry.record.created_on)
            %td=I18n.localize(entry.record.printed_on)
            /%td=entry.record.created_on.to_formatted_s :attributes
            /%td=entry.record.printed_on.to_formatted_s :attributes
            %td=entry.name
            %td=entry.account.number
            %td{:align=>"right"}=number_to_currency(entry.currency_debit, :delimiter=>"", :precision => 2, :unit=>"")
            %td{:align=>"right"}=number_to_currency(entry.currency_credit, :delimiter=>"", :precision => 2, :unit=>"")
            %td.act=link_to image_tag('buttons/update.png', :border=>0), :action => "entries_update", :id => entry.id
            %td.act=link_to_remote image_tag('buttons/delete.png', :border=>0), :url =>{:action => "entries", :id => entry.id}, :method=>:delete, :confirm=> tc(:confirm) 
