-if @records
  %table{:border=>1, :class => "entries"}
    %tr
      %th=lc :record_number
      %th=lc :record_created
      %th=lc :record_printed 
      %th=lc :label
      %th=lc :account_number
      %th=lc :record_debit
      %th=lc :record_credit
    - @records.each do |record|
      - attr = cycle("even","odd")  
      - record.entries.each do |entry|
        - debit = number_to_currency(entry.debit, :delimiter=>"", :precision => 2, :unit=>"")
        - credit = number_to_currency(entry.credit, :delimiter=>"", :precision => 2, :unit=>"")
        %tr{ :class=>(entry.record.balanced ? "balanced" : "unbalanced")+"-"+attr}
          %td=entry.record.number
          %td=entry.record.created_on.to_formatted_s :attributes
          %td=entry.record.printed_on.to_formatted_s :attributes
          %td=entry.name
          %td=entry.account.number
          %td{:align=>"right"}= debit
          %td{:align=>"right"}= credit
