%table
  %tr
    %td
      =radio_button_tag("period_mode", "automatic", (params[:period_mode] == "automatic"))
      %label{:for=>"period_mode_automatic"}=tc(:period)
      =select_tag("period", journal_periods_tag(params[:period]))
    %td
      =radio_button_tag("period_mode", "manual", (params[:period_mode].nil? ? true : params[:period_mode] == "manual"))
      %label{:for=>"period_mode_manual"}=tc(:interval)
      =tc(:manual_period, :start=>calendar_field_tag(:start, session[:journal_record_start], :size=>8), :finish=>calendar_field_tag(:finish, session[:journal_record_finish], :size=>8))
    %td.submit{:rowspan=>2}=submit_tag tg(:search_go), :name=>nil
