-journals = @current_company.journals
.tabbox.journals
  .tabs
    -if @current_company.journal_entries.find_by_draft(true)
      -name=tc('draft_entries').gsub(/\s+/, '&nbsp;')
      -if action_name=="draft_entries"
        %strong.tab.current.special=name
      -else
        =link_to(name, {:action=>:draft_entries, :controller=>:accountancy, :start=>params[:start], :finish=>params[:finish]}, :class=>"tab special")
    -for journal in journals
      -name= journal.name.gsub(/\s+/, '&nbsp;')
      -if action_name=="journal" and journal.id==@journal.id
        %strong.tab.current=name
      -else
        =link_to(name, {:action=>:journal, :controller=>:accountancy, :id=>journal.id, :start=>params[:start], :finish=>params[:finish]}, :title=>journal.name, :class=>:tab)
