=toolbar do |t|
  -t.link :journal_entry_create, :remote=>true, :url=>{:controller=>:accountancy}, :update=>:entries, :position=>:bottom
=formalize do |f|
  -f.error :journal_record
  -f.field JournalRecord.human_attribute_name("journal"), link_to(@journal_record.journal.name, :action=>:journal, :id=>@journal.id)
  -f.field :journal_record, :number
  -f.field :journal_record, :printed_on
%table.dyta{:style=>"margin-bottom: 8px;"}
  %thead
    %tr
      %th=JournalEntry.human_attribute_name("name")
      %th=JournalEntry.human_attribute_name("account")
      %th=JournalEntry.human_attribute_name("debit")
      %th=JournalEntry.human_attribute_name("credit")
      %th.act
  %tfoot
    %tr#total.total
      %th{:colspan=>2}=tg(:total)
      %td#total-debit.decimal=@journal_record.debit
      %td#total-credit.decimal=@journal_record.credit
  %tbody#entries.lines
    -entries = @journal_entries || @journal_record.entries
    =render :partial=>"journal_entry_row_form", :collection=>entries
    =render :partial=>"journal_entry_row_form", :object=>@journal_record.entries.new if entries.empty?
:javascript
  var balanced = false;
  function t0() {
    var sd = sum_all('input.debit',  'total-debit');
    var sc = sum_all('input.credit', 'total-credit');
    var total = $('total');
    if (sd.innerHTML*1 == sc.innerHTML*1) {
      total.addClassName("valid");
      balanced = true;
    } else {
      total.removeClassName("valid");
      balanced = false;
    }
    return total;
  }
  t0();
