=toolbar do |t|
  -t.link :journal_entry_line_create, :remote=>true, :url=>{:controller=>:accountancy}, :update=>:entries, :position=>:bottom
=formalize do |f|
  -f.error :journal_entry
  -f.field JournalEntry.human_attribute_name("journal"), link_to(@journal_entry.journal.name, :action=>:journal, :id=>@journal.id)
  -f.field :journal_entry, :number
  -f.field :journal_entry, :printed_on
  -f.field :journal_entry, :draft_mode
  -# f.field :journal_entry, :created_on
=hidden_field_tag "journal_id", params[:journal_id]
%table.kame{:style=>"margin-bottom: 8px;"}
  %thead
    %tr
      %th=JournalEntryLine.human_attribute_name("name")
      %th=JournalEntryLine.human_attribute_name("account")
      %th=JournalEntryLine.human_attribute_name("debit")
      %th=JournalEntryLine.human_attribute_name("credit")
      %th.act
  %tfoot
    %tr#total.total
      %th{:colspan=>2}=tg(:total)
      %td#total-debit.decimal=@journal_entry.debit
      %td#total-credit.decimal=@journal_entry.credit
  %tbody#entries.lines
    -lines = @journal_entry_lines || @journal_entry.lines
    =render :partial=>"journal_entry_line_row_form", :collection=>lines
    =render :partial=>"journal_entry_line_row_form", :object=>@journal_entry.lines.new if lines.empty?
:javascript
  var balanced = false;
  window.t0 = function() {
    var sd = sum_all('input.debit',  'total-debit');
    var sc = sum_all('input.credit', 'total-credit');
    balanced = (sd.innerHTML*1 === sc.innerHTML*1);
    var total = set_state('total', balanced);
    return total;
  }
  t0();
  $('journal_entry_number').focus();
