=formalize do |f|
  -f.title tc("dates")
  -f.field tc("from"), text_field(:printed, :from,:value=>Date.today.to_s,:size=>10)
  -f.field tc("to"), text_field(:printed, :to,:value=>Date.today,:size=>10)

  

       
 
