=formalize do |f|
  -f.title tc("dates")
  -f.field tc("from"), text_field(:printed, :from,:value=>@begin.to_s,:size=>10)
  -f.field tc("to"), text_field(:printed, :to,:value=>@end,:size=>10)

  

       
 
