=formalize(:inner_form=>true) do |f|
    - f.error :statement
    - f.field :statement, :started_on
    - f.field :statement, :stopped_on
    - f.field :statement, :number
    - f.field :statement, :bank_account_id, :choices => @bank_accounts.collect{|b| [b.name, b.id]} 
