=formalize do |f|
  - f.error :tax_declaration
  - f.title :report
  - f.field :tax_declaration, :nature, :field=>:radio, :choices=>TaxDeclaration.natures
  - f.field :tax_declaration, :period, :field=>:radio, :choices=>TaxDeclaration.periods
  - f.field :tax_declaration, :started_on
  - f.field :tax_declaration, :stopped_on
  - f.field :tax_declaration, :address, :field=>:textarea

=observe_field "tax_declaration_period_monthly", :frequency => 0.25, :update=>"tax_declaration_stopped_on", :url=>{:action =>:tax_declaration_period_search}, :with=>"'period='+escape(value)+'&started_on='+$F('tax_declaration_started_on')"

=observe_field "tax_declaration_period_quarterly", :frequency => 0.25, :update=>"tax_declaration_stopped_on", :url=>{:action =>:tax_declaration_period_search}, :with=>"'period='+escape(value)+'&started_on='+$F('tax_declaration_started_on')"

=observe_field "tax_declaration_period_yearly", :frequency => 0.25, :update=>"tax_declaration_stopped_on", :url=>{:action =>:tax_declaration_period_search}, :with=>"'period='+escape(value)+'&started_on='+$F('tax_declaration_started_on')"

=observe_field "tax_declaration_period_other", :frequency => 0.25, :update=>"tax_declaration_stopped_on", :url=>{:action =>:tax_declaration_period_search}, :with=>"'period='+escape(value)+'&started_on='+$F('tax_declaration_started_on')"
