=formalize do |f|
  -f.error :tax
  -if @tax.new_record?
    -f.field :tax, :nature, :field=>:radio, :choices=>Tax.natures
    -f.field :tax, :amount
  -else
    -f.field t('activerecord.attributes.tax.nature'), @tax.nature_label
    -f.field t('activerecord.attributes.tax.amount'), @tax.amount.to_s
  -f.field :tax, :name
  -f.field :tax, :account_collected_id, :choices=>:account_collected, :resize=>true
  -f.field :tax, :account_paid_id, :choices=>:account_paid, :resize=>true
  -f.field :tax, :included
  -f.field :tax, :reductible
