
-if @step == 1
  - form_tag({}, :method=>:put) do
    =formalize do |f|
      -f.field tc(:select_date_generation), (calendar_field_tag :finish_accountization_on, params[:finish_accountization_on]) 
    .actions=submit_tag(tg(:validate))


-if @step == 2
  -form_tag({}, :method=>:post) do
    =formalize do |f|
      -f.field tc(:select_date_generation), ::I18n.localize(params[:finish_accountization_on])
      -for nature in @natures
        -f.field tc("#{nature.to_s.pluralize}_count"), @records[nature].size
      -f.field tc(:save_in_draft), check_box_tag("save_in_draft")
    .actions
      =submit_tag(tg(:save))
      =link_to tg(:back), :action=>:accountize, :finish_accountization_on=>params[:finish_accountization_on]
 
