=render :partial=>"accounts_search"

=toolbar do |t|
  -t.link :account_create
  -t.link :accounts_load

%table.accounts.invex
  %tr
    %td.tabs{:valign=>:top}=major_accounts_tabs_tag
    %td.list{:valign=>:top}=kame(:accounts)
