=toolbar do |t|
  -t.update @account
  -if @account.letterable?
    -t.letter @account
%table.full-width
  %tr
    %td
      =evalue @account, :number
      =evalue @account, :name
      =evalue @account, :comment
    %td
      %table.kame
        %tr.total
          %th
          %th=JournalEntry.human_attribute_name("debit")
          %th=JournalEntry.human_attribute_name("credit")
        %tr.total
          %th=tc(:totals)
          %td.value=number_to_accountancy(@totals[:debit])
          %td.value=number_to_accountancy(@totals[:credit])
        %tr.total
          %th=tc(:balance)
          %td.value=number_to_accountancy(@totals[:balance_debit])
          %td.value=number_to_accountancy(@totals[:balance_credit])



=tabbox(:account) do |tb|
  -tb.tab(:journal_entry_lines) do
    =kame(:account_journal_entry_lines)
  -tb.tab(:entities) do
    =kame(:account_entities)
