.search
  - form_tag({}, :method=>:get) do
    %table
      %tr
        %td.label=tg(:from)
        %td.field=calendar_field_tag :started_on, params[:started_on]
        %td.label=tg(:to)
        %td.field=calendar_field_tag :stopped_on, params[:stopped_on]
        %td.submit=submit_tag(tg(:filter), :name=>nil)
=toolbar do |t|
  -t.link :lettering, {:id=>session[:current_lettering_mode]}

=evalue @account, :name, :url=>{:action=>:account, :id=>@account.id}
=evalue @account, :number, :url=>{:action=>:account, :id=>@account.id}

%h2=tc(:current_letter, :letter=>@letter)

=error_messages "account"

-form_tag() do
  %table.dyta
    %tr
      %th=JournalEntry.human_attribute_name("letter")
      %th=JournalRecord.human_attribute_name("printed_on")
      %th=Journal.human_name
      %th=JournalRecord.human_name
      %th=JournalEntry.human_name
      %th=JournalEntry.human_attribute_name("debit")
      %th=JournalEntry.human_attribute_name("credit")
    -for @journal_entry in @journal_entries
      -checked = (@journal_entry.letter == @letter)
      -trid = "e#{@journal_entry.id}"
      %tr{:id=>trid, :class=>(checked ? "notice " :  (@journal_entry.letter.blank? ? "" : ""))+cycle("even", "odd")}
        %td.chk
          -if @journal_entry.letter.blank? or checked
            =check_box_tag("journal_entry[#{@journal_entry.id}][to_letter]", "1", checked, :onclick =>"if(this.checked) {$('#{trid}').addClassName('notice');} else {$('#{trid}').removeClassName('notice');}; t2();" )
          -else
            =@journal_entry.letter
            =link_to(image_tag(theme_button(:unletter), :border=>0), {:action=>:account_unletter, :id=>@account.id, :letter=>@journal_entry.letter}, :method=>:post, :confirm=>tg(:are_you_sure))
        %td.date=I18n.localize(@journal_entry.record.printed_on)
        %td=link_to(@journal_entry.journal.name, {:action=>:journal, :id=>@journal_entry.journal_id}, :keep=>true)
        %td.code=link_to(@journal_entry.record.number, {:action=>:journal_record, :id=>@journal_entry.record_id}, :keep=>true)
        %td=@journal_entry.name
        %td.decimal.debit=@journal_entry.debit
        %td.decimal.credit=@journal_entry.credit
    %tr#total.total
      %th{:colspan=>5}=tg(:total)
      %td#total-debit=0
      %td#total-credit=0
  .actions=submit_tag tg(:save)

:javascript
  window.t2 = function() {
    var sd = sum_all('tr.notice .debit',  'total-debit');
    var sc = sum_all('tr.notice .credit', 'total-credit');
    var total = set_state('total', (sd.innerHTML*1 === sc.innerHTML*1));
    return total;
  }
  t2();

