%table.dyta
  %tr
    %th=tc(:recorded_on)
    %th=tc(:journal_name)
    %th=tc(:entry_name)
    %th=tc(:record_number)
    %th=tc(:entry_debit)
    %th=tc(:entry_credit)
    %th=tc(:entry_letter)
  - if @entries
    - @entries.each do |entry|
      - attr = cycle("even", "odd")
      =hidden_field_tag 'prefix_class_'+entry.id.to_s, ' '
      %tr{:class => ((entry.balanced_letter?.is_a? FalseClass) ? "unbalanced" : "")+" "+attr, :id=> 'e'+entry.id.to_s}
        %td=I18n.localize(entry.record.created_on)
        %td=entry.record.journal.name
        %td=entry.name
        %td=entry.record.number
        %td.decimal=entry.debit
        %td.decimal=entry.credit
        %td{:id => 'entry_letter_'+entry.id.to_s, :onclick => remote_function(:url => { :action => 'entries_letter', :id => entry.id })}=entry.letter    
      
%br  
#lettering=render :partial => 'accounts_letter'

