%table.dyta
  %tr
    %th=tc :active_balance_sheet 
    %th=""
  %tr
    %th=tc :account_fixed_assets
    %th=""
  %tr
    %table.dyta
    - active_fixed_sum = 0
      %tr
        %th=tc :account_untangible_fixed_assets
        %th=tc :account_value
        %th=tc :account_value
      - @balance.select {|account| account[:number].to_s.match /^20/}.each do |account|
        - attr = cycle("even","odd")  
        %tr{:class=> attr}
          %td=account[:name]
          %td=account[:solde].abs
          %td=account[:previous_solde].abs if account[:previous_solde]
      %tr
        %th=tc :account_tangible_fixed_assets
        %th=tc :account_value
      - @balance.select {|account| account[:number].to_s.match /^(21|22|23)/}.each do |account|
        - attr = cycle("even","odd")  
        - active_sum += account[:solde].abs
        %tr{:class=> attr}
          %td=account[:name]
          %td=account[:solde].abs
          %td=account[:previous_solde].abs if account[:previous_solde]
          
      %tr
        %th=tc :account_financial_assets
        %th=tc :account_value
      - @balance.select {|account| account[:number].to_s.match /^(26|27)/}.each do |account|
        - attr = cycle("even","odd")  
        - active_sum += account[:solde].abs
        %tr{:class=> attr}
          %td=account[:name]
          %td=account[:solde].abs 
  
  %tr
    %th=tc :account_current_assets
    %th=""
  %tr
    %table.dyta
    -   %tr
        %th=tc :account_inventories_assets
        %th=tc :account_value
      - @balance.select {|account| account[:number].to_s.match /^3/ and account[:solde] <= 0}.each do |account|
        - attr = cycle("even","odd")  
        %tr{:class=> attr}
          %td=account[:name]
          %td=account[:solde].abs

      %tr
        %th=tc :account_claims_assets
        %th=tc :account_value
      - @balance.select {|account| account[:number].to_s.match /^4/ and account[:solde] <= 0}.each do |account|
        - attr = cycle("even","odd")  
        %tr{:class=> attr}
          %td=account[:name]
          %td=account[:solde].abs

      %tr
        %th=tc :account_others_assets
        %th=tc :account_value
      - @balance.select {|account| account[:number].to_s.match /^5/ and account[:solde] <= 0}.each do |account|
        - attr = cycle("even","odd")  
        %tr{:class=> attr}
          %td=account[:name]
          %td=account[:debit]

  %tr
    %th=tc :account_accruals
    %th=tc :account_value
  - @balance.select {|account| account[:number].to_s.match /^486/ and account[:solde] <= 0}.each do |account|
    - attr = cycle("even","odd")  
    %tr{:class=> attr}
      %td=account[:name]
      %td=account[:solde].abs


%table.dyta    
  %tr
    %th=tc :passive_balance_sheet 
    %th=""
  %tr
    %th=tc :account_equity
    %th=tc :account_value
  - @balance.select {|account| account[:number].to_s.match /^1[^5]/}.each do |account|
    - attr = cycle("even","odd")  
    %tr{:class=> attr}
      %td=account[:name]
      %td=( (account[:solde] > 0) ? "" : "-")+account[:solde].to_s
  %tr
    %th=tc :account_provision
    %th=tc :account_value
  - @balance.select {|account| account[:number].to_s.match /^15/}.each do |account|
    - attr = cycle("even","odd")  
    %tr{:class=> attr}
      %td=account[:name]
      %td=account[:solde]

  %tr
    %th=tc :account_debt
    %th=tc :account_value
  - @balance.select {|account| account[:number].to_s.match /^4/ and account[:solde] >= 0}.each do |account|
    - attr = cycle("even","odd")  
    %tr{:class=> attr}
      %td=account[:name]
      %td=account[:solde]
  
  %tr
    %th=tc :account_accruals
    %th=tc :account_value
  - @balance.select {|account| account[:number].to_s.match /^487/ and account[:solde] >= 0}.each do |account|
    - attr = cycle("even","odd")  
    %tr{:class=> attr}
      %td=account[:name]
      %td=account[:solde]

    
