=toolbar do |t|
  -t.update @bank_statement
  -t.point @bank_statement

=evalue(@bank_statement, :number)
=evalue(@bank_statement, :cash, :url=>{:action=>:cash})
=evalue(@bank_statement, :credit)
=evalue(@bank_statement, :debit)
=evalue(@bank_statement, :started_on)
=evalue(@bank_statement, :stopped_on)

%h2=tc(:journal_entries)
=dyta(:bank_statement_entries)

