=toolbar do |t|
  -t.update @cash

%table
  %tr
    %td
      =evalue @cash, :name
      =evalue @cash, :nature_label
      =evalue @cash, :journal, :url=>{:action=>:journal}
      =evalue @cash, :account, :url=>{:action=>:account}
    %td
      =evalue @cash, :bank_name
      =evalue @cash, :address
      -if @cash.bank_account?
        =evalue @cash, :iban_label
        =evalue @cash, :bic
    -if @cash.bank_account? and @cash.use_mode? :bban
      %td
        =evalue @cash, :bank_code
        =evalue @cash, :agency_code
        =evalue @cash, :number
        =evalue @cash, :key

=tabbox(:cash) do |tb|
  -tb.tab(:deposits,     :content=>dyta(:cash_deposits))
  -if @cash.bank_account?
    -tb.tab(:bank_statements) do |c|
      -c << toolbar do
        -link(:bank_statement_create, :cash_id=>@cash.id)
      -c << dyta(:cash_bank_statements)
