=toolbar do |t|
  -t.update @cash_transfer


=list_evalue do |l|
  -l.evalue @cash_transfer, :number
  -l.evalue @cash_transfer, :comment
  -l.evalue @cash_transfer, :accounted_at
  -l.evalue @cash_transfer, :currency
  -l.evalue @cash_transfer, :emitter_cash, :url=>{:action=>:cash}
  -l.evalue @cash_transfer, :emitter_amount
  -l.evalue @cash_transfer, :emitter_currency
  -l.evalue @cash_transfer, :emitter_journal_entry, :url=>{:action=>:journal_entry}
  -l.evalue @cash_transfer, :receiver_cash, :url=>{:action=>:cash}
  -l.evalue @cash_transfer, :receiver_amount
  -l.evalue @cash_transfer, :receiver_currency
  -l.evalue @cash_transfer, :receiver_journal_entry, :url=>{:action=>:journal_entry}
