=form_tag(nil, {:class=>"vbox flex", :style=>'overflow:none'}) do
  .fields.flex
    =journals_tag
    .search=render :partial=>"journals_search"
      %table
        %tr
          %td.crit
            %label{:for=>"search"}=tc(:search)
          =text_field_tag("search", params[:search])
          %td.submit{:rowspan=>4}=submit_tag tg(:search_go), :name=>nil
        %tr
          %td.crit=journal_entries_states_crit
        %tr
          %td.crit=journal_period_crit
        %tr
          %td.crit=journals_crit

    =kame(:draft)
    .end
  .actions
    =submit_tag(tc(:validate_selected_entries), :confirm=>tg(:are_you_sure), :name=>:validate)
