.count=tc('nb_entries', :count=>@current_company.entries.size)
.search  
  - form_tag do
    %table
      %tr
        %td.label=tc(:select_journal)
        %td.field=select_tag("journal_id", options_for_select([tc(:all_journals)]+@journals.collect{|j| [tc(:journal_x, :name=>j.name, :closed_on=>j.closed_on.to_s), j.id]}, session[:journal_record][:journal_id]))
        %td.label=tc(:select_financialyear)
        %td.field=select_tag("financialyear_id", options_for_select([tc(:all_financialyears)]+@financialyears.collect{|f| [f.code.to_s, f.id]}, session[:journal_record][:financialyear_id]))
        %td.submit=submit_tag tg("search_go")
=dyta(:entries)






