=@entries.inspect
-if @journals
  - form_tag(:action => :entries_consult) do
    =formalize do |f|
      - f.field tc(:select_journal), select_tag("journal_id", options_for_select(@journals.collect{|j| [tc(:journal_x, :name=>j.name, :closed_on=>j.closed_on.to_s), j.id]}, session[:entries][:journal].to_i))
      - f.field tc(:select_financialyear), select_tag("financialyear_id", options_for_select(@financialyears.collect{|j| [j.code.to_s, j.id.to_s]}, session[:entries][:financialyear].to_s))
    .actions
      =submit_tag tg('apply')
  %hr
  %h1=tc(:subtitle, :journal=>@journal.name, :financialyear=>@financialyear.code) if @journal
  -unless session[:entries][:journal].nil? or session[:entries][:financialyear].nil?
    =dyta(:entries)



