=toolbar do |t|
  -t.print :balance_sheet, :id=>@financialyear.id
  -t.print :income_statement, :id=>@financialyear.id

%h2= tc 'general_informations'
%table
  %tr
    %td
      =evalue @financialyear, :started_on
      =evalue @financialyear, :stopped_on
    %td
      =evalue @financialyear, :closed
