%h1=lc(:title)

.formalize
  - form_tag do
    .fields
      =formalize do |f|
        - f.error :financialyear
        - f.field :financialyear, :id, :choices => @financialyears.collect {|y| [y.code, y.id]}
        - f.field :financialyear, :stopped_on, :choices => @financialyear_periods
    .actions
      =submit_tag(l(:close))
      =link_to(l(:cancel),:back)
=observe_field "financialyear_id", :frequency => 0.25, :url=>{:action=>:financialyears_periods}, :update=>:financialyear_stopped_on, :with => "'financialyear_select=' + escape(value)"

