=toolbar do |t|
  -t.print :balance_sheet, :id=>@financial_year.id
  -t.print :income_statement, :id=>@financial_year.id

%h2= tc 'general_informations'
%table
  %tr
    %td
      =evalue @financial_year, :started_on
      =evalue @financial_year, :stopped_on
    %td
      =evalue @financial_year, :closed
