%table.kame
  %tr
    %th=tc :cost_income_statement 
    %th=""
  
  %tr
    %table.kame
      %tr
        %th=tc :running_cost
        %th=""
      - @balance.select {|account| account[:number].to_s.match /^(6)/}.each do |account|
        - attr = cycle("even","odd")  
        
        %tr{:class=> attr}
          %td=account[:name]
          %td=account[:solde].abs 
  
  %tr
    %th=tc :finished_income_statement
    %th=""
 
  %tr
    %table.kame
      %tr
        %th=tc :running_finished
        %th=""
      - @balance.select {|account| account[:number].to_s.match /^7/}.each do |account|
        - attr = cycle("even","odd")  
        %tr{:class=> attr}
          %td=account[:name]
          %td=account[:solde].abs

  %tr
    %th=tc :result
    %th=@sum
