=journals_tag
=toolbar do |t|
  -t.update @journal
  -t.link :journal_entry_create, :journal_id=>@journal.id


=attributes_list(@journal) do |l|
  -l.attribute :name
  -l.attribute :code
  -l.attribute :nature_label
  -l.attribute :currency
  -l.attribute :closed_on

.search
  =form_tag({}, :method=>:get) do
    %table
      %tr
        %td.crit
          %label{:for=>"journal_entry_key"}=tc(:search)
          =text_field_tag("journal_entry_key", params[:journal_entry_key])
        %td.submit{:rowspan=>4}=submit_tag tg(:search_go), :name=>nil
      %tr
        %td.crit=journal_entries_states_crit
      %tr
        %td.crit=journal_period_crit

=journal_view_tag
.tab-content=kame("journal_#{@journal_view}")

%table.kame
  %tr.total
    %th
    %th=JournalEntry.human_attribute_name("debit")
    %th=JournalEntry.human_attribute_name("credit")
  %tr.important.total
    %th=tc :totals
    %td=number_bookkeep @totals[:debit]
    %td=number_bookkeep @totals[:credit]
  %tr.important.total
    %th=tc :balance
    %td=number_bookkeep @totals[:balance_debit]
    %td=number_bookkeep @totals[:balance_credit]
