=journals_tag
=toolbar do |t|
  -t.link :journal_update, :id=>@journal.id
  -t.link :journal_record_create, :journal_id=>@journal.id

%table
  %tr
    %td
      =evalue @journal, :name
      =evalue @journal, :code
    %td
      =evalue @journal, :nature_label
      =evalue @journal, :currency
    %td
      =evalue @journal, :closed_on

.search
  -form_tag({}, :method=>:get) do
    =render :partial=>"journals_search"

=journal_view_tag
.tab-content=dyta("journal_#{@journal_view}")

%table.dyta
  %tr.total
    %th
    %th=JournalRecord.human_attribute_name("debit")
    %th=JournalRecord.human_attribute_name("credit")
  %tr.important.total
    %th=tc :totals
    %td=number_to_accountancy @totals[:debit]
    %td=number_to_accountancy @totals[:credit]
  %tr.important.total
    %th=tc :balance
    %td=number_to_accountancy @totals[:balance_debit]
    %td=number_to_accountancy @totals[:balance_credit]
