=render :partial=>"journals"
=toolbar do |t|
  -t.link(:journal_record_update, :id=>@journal_record.id) if @journal_record.draft?

%table
  %tr
    %td{:valign=>:top}
      =evalue @journal_record, :number
      =evalue @journal_record, :printed_on
      =evalue @journal_record, :created_on
      -if @journal_record.resource
        =evalue @journal_record, :resource, :url=>{:controller=>:management, :action=>@journal_record.resource_type.underscore}
    %td{:valign=>:top}
      =evalue @journal_record, :journal, :url=>{:action=>:journal}
      =evalue @journal_record, :debit
      =evalue @journal_record, :credit

%h2=tc(:entries)
=dyta(:journal_record_entries)
