=keishiki_tag do
  =formalize do |f|
    - f.error :journal
    - f.title :select_closure_date
    - f.field :journal, :closed_on, :choices => @journal.reopenings.collect{|d| [::I18n.l(d), d]}
  .actions
    =submit_tag(tc(:reopen_journal))
    =link_to_back(:label=>:cancel)
