=render :partial=>"journals"
=toolbar do |t|
  -t.update @journal_entry unless @journal_entry.closed?

=attributes_list(@journal_entry) do |l|
  -l.attribute :number
  -l.attribute :printed_on
  -l.attribute :created_on
  -if @journal_entry.resource
    -l.attribute :resource, :url=>{:controller=>(@journal_entry.resource_type.match(/(Cash|Payment)/) ? :finances : :management), :action=>@journal_entry.resource_type.underscore}
  -l.attribute :journal, :url=>{:action=>:journal}
  -l.attribute :debit
  -l.attribute :credit

%h2=JournalEntry.human_attribute_name("lines")
=kame(:journal_entry_lines)
