%h1=lc(:title) 
.action-list
- form_tag() do
  %table
    %tr
      %td
      %td.label=lc :entry_name
      %td.label=lc :entry_debit
      %td.label=lc :entry_credit
    - @entries.each do |entry|
      - id=entry.id
      %tr
        %td=check_box "entry", "checked"
        %td=entry.name
        %td=entry.debit
        %td=entry.credit
  =submit_tag 'ok', :html => {:tabindex => 2}   
