= "BILAN"
- untangible_accounts = @balance.select {|account| account[:number].to_s.match /^20/}
- tangible_accounts = @balance.select {|account| account[:number].to_s.match /^(21|22|23)/}
- financial_accounts = @balance.select {|account| account[:number].to_s.match /^(26|27)/}
- inventory_accounts = @balance.select {|account| account[:number].to_s.match /^3/ and account[:balance] <= 0}
- claim_accounts = @balance.select {|account| account[:number].to_s.match /^4/ and account[:balance] <= 0}
- other_accounts = @balance.select {|account| account[:number].to_s.match /^5/ and account[:balance] <= 0}
- accrual_accounts = @balance.select {|account| account[:number].to_s.match /^486/ and account[:balance] <= 0}
- capital_accounts = @balance.select {|account| account[:number].to_s.match /^1[^5]/}
- stock_accounts = @balance.select {|account| account[:number].to_s.match /^15/}
- debt_accounts = @balance.select {|account| account[:number].to_s.match /^4/ and account[:balance] >= 0}


%table.dyta
  %tr{:align=>'center'}
    %th{:colspan=>3}=tc :active_balance_sheet 
    %th=tc :account_value 
    %th=tc :account_value if @previous_balance													
  %tr 
    %th{:rowspan => untangible_accounts.size+tangible_accounts.size+financial_accounts.size+1}=tc :account_fixed_assets
    %th{:rowspan => untangible_accounts.size}=tc  :account_untangible_fixed_assets
    %td=untangible_accounts.first[:name]
    %td=untangible_accounts.first[:balance].abs
    %td=untangible_accounts.first[:previous_balance].abs if @previous_balance
  - untangible_accounts.shift
  - untangible_accounts.each do |account|
    - attr = cycle("even","odd")  
    %tr{:class=>attr}
      %td=account[:name]
      %td=account[:balance].abs
      %td=account[:previous_balance].abs if @previous_balance
  %tr
    %th{:rowspan=> tangible_accounts.size}=tc :account_tangible_fixed_assets
    %td=tangible_accounts.first[:name]
    %td=tangible_accounts.first[:balance].abs
    %td=tangible_accounts.first[:previous_balance].abs if @previous_balance
  - tangible_accounts.shift
  - tangible_accounts.each do |account|
    - attr = cycle("even","odd")  
    %tr{:class=>attr}
      %td=account[:name]
      %td=account[:balance].abs
      %td=account[:previous_balance].abs if @previous_balance
  %tr
    %th{:rowspan=> financial_accounts.size}=tc :account_financial_assets        
    %td=financial_accounts.first[:name]
    %td=financial_accounts.first[:balance].abs
    %td=financial_accounts.first[:previous_balance].abs if @previous_balance
  - financial_accounts.shift
  - financial_accounts.each do |account|
    - attr = cycle("even","odd")  
    %tr{:class=>attr}
      %td=account[:name]
      %td=account[:balance].abs
      %td=account[:previous_balance].abs if @previous_balance
  %tr
    %th
    %th=tc :active_fixed_sum 
    %th=@active_fixed_sum   


  %tr 
    %th{:rowspan => inventory_accounts.size+claim_accounts.size+other_accounts.size}=tc :account_current_assets
    %th{:rowspan => inventory_accounts.size}=tc  :account_inventories_assets
    %td=inventory_accounts.first[:name]
    %td=inventory_accounts.first[:balance].abs
    %td=inventory_accounts.first[:previous_balance].abs if @previous_balance
  - inventory_accounts.shift
  - inventory_accounts.each do |account|
    - attr = cycle("even","odd")  
    %tr{:class=>attr}
      %td=account[:name]
      %td=account[:balance].abs
      %td=account[:previous_balance].abs if @previous_balance
  %tr
    %th{:rowspan => claim_accounts.size}=tc :account_claims_assets 
    %td=claim_accounts.first[:name]
    %td=claim_accounts.first[:balance].abs
    %td=claim_accounts.first[:previous_balance].abs if @previous_balance
  - claim_accounts.shift
  - claim_accounts.each do |account| 
    - attr = cycle("even","odd") 
    %tr{:class=> attr} 
      %td=account[:name]
      %td=account[:balance].abs 
      %td=account[:previous_balance].abs if @previous_balance 
  %tr
    %th{:rowspan => other_accounts.size}=tc :account_others_assets 
    %td=other_accounts.first[:name]
    %td=other_accounts.first[:balance].abs
    %td=other_accounts.first[:previous_balance].abs if @previous_balance
  - other_accounts.shift
  - other_accounts.each do |account|
    - attr = cycle("even","odd")  
    %tr{:class=> attr} 
      %td=account[:name] 
      %td=account[:balance] 
      %td=account[:previous_balance].abs if @previous_balance 
  %tr
    %th{:rowspan => accrual_accounts.size+1, :colspan => 2}=tc :account_accruals
    %th=tc :active_current_sum
    %th=@active_current_sum  
    %tr
      %td=accrual_accounts.first[:name]
      %td=accrual_accounts.first[:balance].abs
      %td=accrual_accounts.first[:previous_balance].abs if @previous_balance
    - accrual_accounts.shift
    - accrual_accounts.each do |account|
      - attr = cycle("even","odd")   
      %tr{:class=> attr} 
        %td=account[:name]
        %td=account[:balance].abs 
        %td=account[:previous_balance].abs if @previous_balance 
  %tr
    %th
    %th
    %th=tc :active_sum 
    %th=@active_current_sum+@active_fixed_sum
   
  %tr
  %tr{:align=>'center'}
    %th{:colspan=>3}=tc :passive_balance_sheet
    %th=tc :account_value 
    %th=tc :account_value if @previous_balance

  %tr
    %th{:rowspan => capital_accounts.size+1, :colspan=>2}=tc :account_equity
    %td=capital_accounts.first[:name]
    %td=capital_accounts.first[:balance].abs
    %td=capital_accounts.first[:previous_balance].abs if @previous_balance
  - capital_accounts.shift
  - capital_accounts.each do |account|
    - attr = cycle("even","odd")
    %tr{:class=> attr} 
      %td=account[:name] 
      %td=account[:balance] 
      %td=account[:previous_balance].abs if @previous_balance 
  %tr
    %th=tc :passive_capital_sum 
    %th=@passive_capital_sum   

  %tr
    %th{:rowspan => stock_accounts.size+1, :colspan=>2}=tc :account_provision
    %td=stock_accounts.first[:name]
    %td=stock_accounts.first[:balance].abs
    %td=stock_accounts.first[:previous_balance].abs if @previous_balance
  - stock_accounts.shift
  - stock_accounts.each do |account|
    - attr = cycle("even","odd")
    %tr{:class=> attr} 
      %td=account[:name] 
      %td=account[:balance] 
      %td=account[:previous_balance].abs if @previous_balance 
  %tr
    %th=tc :passive_stock_sum
    %th=@passive_stock_sum
  
  %tr
    %th{:rowspan => debt_accounts.size+1, :colspan=>2}=tc :account_debt
    %td=debt_accounts.first[:name]
    %td=debt_accounts.first[:balance].abs
    %td=debt_accounts.first[:previous_balance].abs if @previous_balance
  - debt_accounts.shift
  - debt_accounts.each do |account|
    - attr = cycle("even","odd")
    %tr{:class=> attr} 
      %td=account[:name] 
      %td=account[:balance] 
      %td=account[:previous_balance].abs if @previous_balance 
  %tr
    %th=tc :passive_debt_sum
    %th=@passive_debt_sum
  
  %tr
    %th
    %th
    %th=tc :passive_sum 
    %th=@passive_debt_sum+@passive_stock_sum+@passive_capital_sum


<!-- %br -->
<!-- = "COMPTE DE RESULTAT" -->
<!-- %table.dyta -->
<!--   %tr -->
<!--     %th=tc :cost_income_statement  -->
<!--     %th="" -->
<!--   %tr -->
<!--     %table.dyta -->
<!--       %tr -->
<!--         %th=tc :running_cost -->
<!--         %th="" -->
<!--       - @balance.select {|account| account[:number].to_s.match /^(6)/}.each do |account| -->
<!--         - attr = cycle("even","odd")   -->
<!--         %tr{:class=> attr} -->
<!--           %td=account[:name] -->
<!--           %td=account[:balance].abs  -->
<!--       %tr -->
<!--         %th=tc :total -->
<!--         %th=@previous_cost_sum -->

<!--   %tr -->
<!--     %th=tc :finished_income_statement -->
<!--     %th="" -->
<!--   %tr -->
<!--     %table.dyta -->
<!--       %tr -->
<!--         %th=tc :running_finished -->
<!--         %th="" -->
<!--       - @balance.select {|account| account[:number].to_s.match /^7/}.each do |account| -->
<!--         - attr = cycle("even","odd")   -->
<!--         %tr{:class=> attr} -->
<!--           %td=account[:name] -->
<!--           %td=account[:balance].abs -->
<!--       %tr -->
<!--         %th=tc :total -->
<!--         %th=@previous_finished_sum	 -->

<!--   %tr -->
<!--     %th=tc :result -->
<!--     %th=@result -->

