=field_set do
  =f.referenced_association :entity
  =f.input :family, :autocomplete => true
  =f.input :organization, :autocomplete => true
  =f.input :title, :autocomplete => true
  =f.input :started_at
  =f.input :stopped_at
