=field_set do
  =f.association :entity
  =f.input :family, :autocomplete => true
  =f.input :organization, :autocomplete => true
  =f.input :title, :autocomplete => true
  =f.input :started_on
  =f.input :stopped_on
