-field_set do
  -input :nature
  -input :amount
  -input :name
  -association :collected_account, :source => :collected_taxes, :new => {:number => Account.chart_number(:collected_taxes)}
  -association :paid_account, :source => :paid_taxes, :new => {:number => Account.chart_number(:paid_taxes)}
  -input :included
  -input :reductible
