-field_set do
  -association :entity
  -association :responsible
  -association :nature
  -# TODO Manages refresh_depending_on
  -input :duration, :refresh_depending_on => :nature
  -input :location, :autocomplete => true
  -input :reason, :field => :text
  -input :started_at
