=formalize do |f|
  -f.error :event
  -f.field :event, :entity_id, :choices=>:entities, :new=>true

=field_set(@event, :general_informations) do |f| # partie info general de l entité animal
  =f.association :responsible
  =f.association :nature

=formalize do |f|
  -f.field :event, :duration, "data-refresh"=>url_for(:action=>:change_minutes, :field=>:duration), "data-refresh-mode"=>"update-value"
  -f.field :event, :location, "data-autocompletion"=>url_for(:controller=>:interfacers, :action=>:autocomplete_for_event_location)
  -f.field :event, :reason, :field=>:textarea
  -f.field :event, :started_at
