=formalize do |f|
  - f.error :outgoing_delivery_mode
  - f.field :outgoing_delivery_mode, :name
  - f.field :outgoing_delivery_mode, :code
  - f.field :outgoing_delivery_mode, :comment, :field=>:textarea
