-# TODO Manage subheading
-expense = @incoming_payment_use.expense
=subheading :attach_an_incoming_payment_to_expense, :type=>expense.class.model_name.human, :number=>expense.number, :label=>expense.label

=field_set do
  -input :expense_id, :field => :hidden
  -input :expense_type, :field => :hidden
  -input :downpayment
  -association :payment, :source => :unbalanceds, :new => {:payer_id => "expense.payer.id".to_sym, :amount => "expense.unpaid_amount".to_sym, :bank => "previous_payment.bank".to_sym, :account_number => "previous_payment.account_number".to_sym, :currency => "expense.currency".to_sym}
