-field_set do
  -input :nature, :show => {:transfer => :second_warehouse}
  -association :product, :source => :availables
  -association :tracking
  -input :quantity
  -association :warehouse
  -association :second_warehouse
  -input :planned_on
  -input :comment
