-if @stock_transfers.size > 0
  =form_tag do
    =list :confirm
    .actions
      =link_to tg(:previous), :action=>:index
      =submit_tag(tc('transfer'), :action=>:undelivered_sales)

-else
  %p{:style=>'text-align:center'}= tc('no_transfers')
    
