=kujaku do |k|
  -k.radio :all, :confirmed, :unconfirmed, :i18n_root=>"labels.criterion_modes."
=toolbar do |t|
  -t.link :new
  -t.link :confirm_all unless StockTransfer.unconfirmeds.count.zero?
=list
