-# Experimental purpose only for now
.proportional-grid{data: {grid: "16/9"}}
  .cell{data: {cell_x: 0, cell_y: 0, cell_width: 6, cell_height: 5}, style: "background: yellow"}
  .cell{data: {cell_x:  6, cell_y: 0, cell_width: 2, cell_height: 2}, style: "background: #15F"}
  .cell{data: {cell_x:  8, cell_y: 0, cell_width: 2, cell_height: 2}, style: "background: #15D"}
  .cell{data: {cell_x: 10, cell_y: 0, cell_width: 2, cell_height: 2}, style: "background: #15B"}
  .cell{data: {cell_x: 7, cell_y: 5, cell_width: 1, cell_height: 1}, style: "background: green"}
