-#= journals_tag

- current_financial_year = params[:current_financial_year] || current_user.current_financial_year&.id
- main_financial_year_selector(current_financial_year) if current_financial_year

= beehive do |b|
  - b.hbox do
    - b.cell :accountancy_balance
  - b.hbox do
    - b.cell :profit_and_loss
