=journals_tag

=beehive(:accountancy) do
  -hbox do
    -cell :collected_taxes
    -cell :bank_chart
  -#hbox do
    -cell :rss, :title => "Actualité Gestion et Droit", :params => {:url => "http://www.lafranceagricole.fr/Rss/gestion-et-droit/actu-gestion-14676.html"}
