-#= journals_tag

= beehive do |b|
  - b.hbox do
    - b.cell :cashes_balance, if: Cash.any?
    -# b.cell :accountancy_balance
  - b.hbox do
    - b.cell :cashes_balance_evolution
    -# b.cell :payable_taxes
