=journals_tag

=beehive(:accountancy) do
  -hbox do
    -#cell :expense_chart
  -hbox do
    -cell :bank_chart
    -cell :rss, :title => "Actualité Gestion et Droit", :params => {:url => "http://www.lafranceagricole.fr/Rss/gestion-et-droit/actu-gestion-14676.html"}
