= journals_tag

= beehive do
  - hbox do
    - cell :payable_taxes
    - cell :cash_balances
  -#hbox do
    -cell :rss, :title => "Actualité Gestion et Droit", params: {:url => "http://www.lafranceagricole.fr/Rss/gestion-et-droit/actu-gestion-14676.html"}
