#main-menu
  -for menu in menus
    -next if menu.name == :settings
    =link_to(menu.default_page.url_options, :class=>"big-button #{menu.name}", :title => tl("menus.#{menu.name}")) do
      %span.icon
      %span.text=tl("menus.#{menu.name}")
