= beehive do |b|
  - b.hbox do
    - b.cell :modules do
      - for mod in Ekylibre::Modules.hash.keys
        - next unless authorized?(controller: "/backend/dashboards", action: mod)
        = link_to({action: mod}, class: "btn btn-big btn-#{Ekylibre::Modules.icon(mod)}", title: Ekylibre::Modules.human_name(mod)) do
          %i
          = Ekylibre::Modules.human_name(mod)
    - b.cell :meteo
  - b.hbox do
    - b.cell :calendar
  - b.cell :map
