=beehive do |b|
  -b.hbox do
    -b.cell :modules do
      -for mod in Ekylibre::Modules.hash.keys
        =link_to({:action => mod}, :class=>"btn btn-big btn-#{Ekylibre::Modules.icon(mod)}", :title => Ekylibre::Modules.human_name(mod)) do
          %i
          =Ekylibre::Modules.human_name(mod)
  -b.hbox do
    -b.cell :today do
      -date = Date.today
      %span#cell-date.date
        %span.day-name=date.l(:format => '%A')
        %span.day=date.day
        %span.month=date.l(:format => '%B')
        %span.year=date.year
    -b.cell(:rss, :params => {:url => 'http://www.lafranceagricole.fr/Rss/elevage/actu-elevage-14652.html'}, :title => "Actualité élevage")
