- main_period_selector(:year)

= beehive(:production) do |b|
  - if current_campaign
    - b.cell :map, params: {visualization: :grain_yield}
  - if current_campaign
    - b.hbox do
      - b.cell :cropping_plan
      - b.cell :stewardship


- tour(:production) do |t|
  - t.step(:production, element: "#side #production", on: :right)
  - t.step(:quality, element: "#side #quality", on: :right)
  - t.step(:field_distribution, element: "#side #field_distribution", on: :right)
  - t.step(:supervision, element: "#side #supervision", on: :right)

