-unvalidateds = Operation.unvalidateds
-#.menu.indicator
  %h2= tc('indicator')
  %ul
    %li= link_to tc('x_performed_operations', :count=>unvalidateds.count), :action=>:unvalidateds, :controller=>:operations

=beehive(:production) do
  -tabbox do
    -cell :last_products
    -cell :elevage_rss
    -cell :video do
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "400", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/57127234?title=0&byline=0&portrait=0", :webkitallowfullscreen => "", :width => "100%"}
  -tabbox do
    -cell :last_events
    -cell :product_bar
    -cell :demo_bar