= beehive(:production) do |b|
  - b.cell :map, params: {visualization: :nitrogen_footprint}
  - b.hbox do
    - b.cell :last_interventions
    - if Animal.availables.count > 0
      - b.cell :last_products
    - b.cell :cropping_plan
  - b.hbox do
    -# b.cell :rss, :title => "Tendances Bovins de Boucherie", params: {:url => "http://www.lafranceagricole.fr/Rss/cours-et-marches/elevage/bovins-de-boucherie-157.html"}
    - b.cell :elapsed_interventions_times_by_activities
    - if Analysis.all.count > 0
      - b.cell :last_analyses
    