= beehive do |b|
  - b.cell :calendar

  - b.hbox do
    - b.cell :last_entities
    - if Event.any?
      - if current_user.participations.any?
        - b.cell :events, title: :future_events, params: {mode: :my_future}
      - b.cell :events, title: :recent_events, params: {mode: :last}
