= beehive do |b|
  - b.cell :calendar

  - b.hbox do
    - b.cell :last_entities
    - b.cell :future_events, type: :events, params: {mode: :my_future}
    - b.cell :recent_events, type: :events, params: {mode: :last}
