=beehive(:production) do
  -hbox do
    -cell :demo_pie
    -cell :rss, :title => "Tendances Céréales", :params => {:url => "http://www.lafranceagricole.fr/Rss/cours-et-marches/cultures/cereales-153.html"}
  -hbox do
    -cell :rss, :title => "Tendances Bovins de boucherie", :params => {:url => "http://www.lafranceagricole.fr/Rss/cours-et-marches/elevage/bovins-de-boucherie-157.html"}
    -cell :demo_map