:ruby
  #data = JSON.parse(File.read(Rails.root.join("db", "visualization.json")))["features"]
  lp = LandParcel.all
  arr=[]
  poly=[]
  lp.each do |lp|
    if lp.shape
      radius = rand(150) + 50
      centroid = Charta::Geometry.new(lp.shape).transform(:WGS84).centroid
      polyg = Charta::Geometry.new(lp.shape).transform(:WGS84).to_geojson
      arr << {name: lp.name, coord: centroid, radius: radius}
      poly << {name: lp.name, coord: polyg, color: 'null', fillColor: 'magenta', fillOpacity: 0.5, choroplethParam: lp.name}
    end
  end
  
= visualization :my_cultivable_zone_of_hell do |v|
  -# The followings layers are base layers. Only one base layer will appear.
  - v.background :default_base, "OpenStreetMap.HOT"
  - v.background :black_and_white_base, "OpenStreetMap.BlackAndWhite"
  - v.background :de_base, "OpenStreetMap.DE"
  - v.background :cycle_base, "OpenCycleMap"
  - v.background :forest_base, "Thunderforest"
  - v.background :water_base, "Thunderforest.Transport"
  - v.background :landscape_base, "Thunderforest.Landscape"
  - v.background :outdoors_base, "Thunderforest.Outdoors"
  -# The followings layers are overlays . They can be combined.
  - v.overlay :clouds, "OpenWeatherMap.Clouds"
  - v.overlay :precipitations, "OpenWeatherMap.Precipitation"
  - v.overlay :rains, "OpenWeatherMap.Rain"
  - v.overlay :pressures, "OpenWeatherMap.Pressure"
  - v.overlay :wind, "OpenWeatherMap.Wind"
  - v.overlay :temperature, "OpenWeatherMap.Temperature"
  - v.overlay :snow, "OpenWeatherMap.Snow"
  -# v.dataset :zones, data
  -# v.layer :zones, data, tooltip: true
  -# v.layer :potash, :chloropeth, tooltip: false, on: :potash_density
  -# v.layer :nitrogen, :chloropeth, tooltip: false, on: :nitrogen_density
  -# v.vis :example, 'http://documentation.cartodb.com/api/v2/viz/2b13c956-e7c1-11e2-806b-5404a6a683d5/viz.json'
  - v.bubble arr
  - v.simple poly
  -# v.bubble :Paris_population, [48.856578, 2.351828], 22499.75
  -# v.bubble :Marseille_population, [43.296346, 5.369889], 8506.36
  -# v.bubble :Lyon_population, [45.759723, 4.842223], 4912.68
  -# v.bubble :Toulouse_population, [43.604482, 1.44396], 4473.40
  -# v.bubble :Nice_population, [43.695949, 7.271413], 3440.64
  
  - v.control :zoom
  - v.control :tilelegend
  - v.control :scale
  - v.control :fullscreen
  - v.control :geocoder
  - v.control :layer_selector


