:ruby
  # data = JSON.parse(File.read(Rails.root.join("db", "visualization.json")))["features"]
  
= visualization :my_cultivable_zone_of_hell do |v|
  -# The followings layers are base layers. Only one base layer(the last one) will appear.
  - v.background :default_base, "OpenStreetMap.HOT"
  - v.background :black_and_white_base, "OpenStreetMap.BlackAndWhite"
  - v.background :de_base, "OpenStreetMap.DE"
  - v.background :cycle_base, "OpenCycleMap"
  - v.background :forest_base, "Thunderforest"
  - v.background :water_base, "Thunderforest.Transport"
  - v.background :landscape_base, "Thunderforest.Landscape"
  - v.background :outdoors_base, "Thunderforest.Outdoors"
  -# The followings layers are overlays . They can be combined.
  - v.overlay :clouds, "OpenWeatherMap.Clouds"
  - v.overlay :precipitations, "OpenWeatherMap.Precipitation"
  - v.overlay :rains, "OpenWeatherMap.Rain"
  - v.overlay :pressures, "OpenWeatherMap.Pressure"
  - v.overlay :wind, "OpenWeatherMap.Wind"
  - v.overlay :temperature, "OpenWeatherMap.Temperature"
  - v.overlay :snow, "OpenWeatherMap.Snow"
  -# v.dataset :zones, data
  -# v.layer :zones, data, tooltip: true
  -# v.layer :potash, :chloropeth, tooltip: false, on: :potash_density
  -# v.layer :nitrogen, :chloropeth, tooltip: false, on: :nitrogen_density
  -# v.control :background_selector
  - v.control :zoom
  - v.control :tilelegend
  - v.control :scale
  - v.control :fullscreen
  - v.control :layer_selector
  -# v.control :search
