:ruby
  data = JSON.parse(File.read(Rails.root.join("db", "visualization.json")))["features"]

= visualization :my_cultivable_zone_of_hell, fullscreen: true do |v|
  - v.background "OpenStreetMap.HOT"
  - v.background "OpenWeatherMap.Precipitation"
  -# v.dataset :zones, data
  -# v.layer :zones, data, tooltip: true
  -# v.layer :potash, :chloropeth, tooltip: false, on: :potash_density
  -# v.layer :nitrogen, :chloropeth, tooltip: false, on: :nitrogen_density
  -# v.control :background
  -# v.control :layer_selector
  -# v.control :search
