:ruby
  #data = JSON.parse(File.read(Rails.root.join("db", "visualization.json")))["features"]
  lp = LandParcel.all
  bub = []
  sim = []
  choro = []
  lp.each do |lp|
    if lp.shape
      radius1 = rand(50) + 50
      centroid = Charta::Geometry.new(lp.shape).transform(:WGS84).centroid
      area1 = Charta::Geometry.new(lp.shape).transform(:WGS84).area
      polyg = Charta::Geometry.new(lp.shape).transform(:WGS84).to_geojson
      bub << {style: 'bubble', name: lp.name, coord: centroid, radius: radius1, stroke: true , color: 'black', weight: 1, opacity: 1, fill: true, fillColor: 'yellow', fillOpacity: 0.9}
      choro << {style: 'choropleth', category: 'corn', choropleth_value: 'area', choropleth_type: 'decimal', choropleth_color: 'cian',name: lp.name, area: area1, coord: polyg, stroke: true , color: 'black', weight: 1, fillColor: 'null', opacity: 1, fill: true, fillOpacity: 1}
      sim << {style: 'simple', category: 'corn', name: lp.name, area: area1, coord: polyg, stroke: true , color: 'black', weight: 1, opacity: 1, fill: true, fillColor: 'red', fillOpacity: 0.5}
    end
  end
  
= visualization :my_cultivable_zone_of_hell do |v|
  -# The followings layers are base layers. Only one base layer will appear.
  - v.background :default_base, "OpenStreetMap.HOT"
  - v.background :black_and_white_base, "OpenStreetMap.BlackAndWhite"
  - v.background :de_base, "OpenStreetMap.DE"
  - v.background :cycle_base, "OpenCycleMap"
  - v.background :forest_base, "Thunderforest"
  - v.background :water_base, "Thunderforest.Transport"
  - v.background :landscape_base, "Thunderforest.Landscape"
  - v.background :outdoors_base, "Thunderforest.Outdoors"
  -# The followings layers are overlays . They can be combined.
  -# v.overlay :clouds, "OpenWeatherMap.Clouds"
  -# v.overlay :precipitations, "OpenWeatherMap.Precipitation"
  -# v.overlay :rains, "OpenWeatherMap.Rain"
  -# v.overlay :pressures, "OpenWeatherMap.Pressure"
  -# v.overlay :wind, "OpenWeatherMap.Wind"
  -# v.overlay :temperature, "OpenWeatherMap.Temperature"
  -# v.overlay :snow, "OpenWeatherMap.Snow"
  -# v.dataset :zones, data
  -# v.layer :zones, data, tooltip: true
  -# v.layer :potash, :chloropeth, tooltip: false, on: :potash_density
  -# v.layer :nitrogen, :chloropeth, tooltip: false, on: :nitrogen_density
  -# v.vis :example, 'http://documentation.cartodb.com/api/v2/viz/2b13c956-e7c1-11e2-806b-5404a6a683d5/viz.json'

  -# v.layer :Simple_example, sim
  - v.layer :Choropleth_example, choro
  - v.layer :Bubble_example, bub
  
  -# v.bubble :Paris_population, [48.856578, 2.351828], 22499.75
  -# v.bubble :Marseille_population, [43.296346, 5.369889], 8506.36
  -# v.bubble :Lyon_population, [45.759723, 4.842223], 4912.68
  -# v.bubble :Toulouse_population, [43.604482, 1.44396], 4473.40
  -# v.bubble :Nice_population, [43.695949, 7.271413], 3440.64
  - v.control :zoom
  - v.control :scale
  - v.control :fullscreen
  -# v.control :geocoder
  - v.control :layer_selector
  - v.control :legends
  - v.control :layer_legend


