:css
  h2
  {
    font-weight: bolder;
    color: red;
  }

  h3
  {
    font-weight: bold;
    color: green;
  }
  .bold{font-weight: bold;}

  .italic{font-style: italic}

  .key
  {
    font-style: italic;
    color: blue;
  }

  .result
  {
    font-style: italic;
    color: purple;
  }

  .variety
  {
    color: orange;
  }

:ruby

  require 'benchmark'

  activated = true

  if activated

  ############################
  # generating data for test
  ############################

  # array of crumbs ready to be managed by VisualizationHelper
  interventions_crumbs = []

  @slider_ary = []

  interventions = Crumb.interventions(current_user.id)
  interventions.each do |intervention|
    name = interventions.index(intervention)
    started_at = intervention.first.read_at
    stopped_at = intervention.last.read_at
    doer = User.find(intervention.first.user_id)
    intervention.each do |crumb|
      item =  {
                name:         name,
                read_at:      crumb.read_at,
                nature:       crumb.nature,
                shape:        crumb.geolocation,
                started_at:   started_at,
                stopped_at:   stopped_at,
                doer:         doer
              }
      interventions_crumbs << item
      @slider_ary << crumb.read_at
    end
  end

  end # 'activated' block

  rendering = activated

- if rendering
  %h2 Playing with sliders
  = visualization do |v|
    - v.serie :crumbs, interventions_crumbs
    - v.background 'Thunderforest.Transport'
    - v.paths :started_at, :crumbs
    - v.control :zoom
    - v.control :scale
    - v.control :fullscreen
    - v.control :layer_selector

  %p
    %label sliderval
    %input#sliderval
  %div#slider
:javascript
  /*jslint devel: true, bitwise: true, regexp: true, browser: true, confusion: true, unparam: true, eqeq: true, white: true, nomen: true, plusplus: true, maxerr: 50, indent: 4 */
  /*globals jQuery */
  
  /*!
   * LimitSlider
   *
   * Copyright (c) 2011-2013 Martijn W. van der Lee
   * Licensed under the MIT.
   */
  /* Slider extension with forced limits and gaps.
   * Optional ranges, titles and labels.
   */
  
  ;(function ($) {
    "use strict";
  
    $.widget('vanderlee.limitslider', $.ui.slider, {
      options: $.extend({
        'gap':      undefined,
        'left':     undefined,
        'right':    undefined,
        'limit':    undefined,
        'limits':   undefined,
        'ranges':   [],
        'title':    false,
        'label':    false
      }, $.ui.slider.prototype.options),
  
      _create: function() {
        if (!this.options.values) {
          this.options.values = [this.options.value];
        }
  
        $.ui.slider.prototype._create.call(this);
  
        $(this.element).addClass('ui-limitslider');
  
        this._renderRanges();
        this._renderLabels();
        this._renderTitles();
      },
  
      _renderTitle: function(index) {
        if (this.options.title) {
          var value = this.options.values[index];
          $(this.handles[index]).attr('title', $.isFunction(this.options.title) ? this.options.title(value) : value);
        }
      },
  
      _renderTitles: function(index) {
        if (this.options.title) {
          var that = this;
          $.each(this.options.values, function(v) {
            that._renderTitle(v);
          });
        }
      },
  
      _renderLabel: function(index) {
        if (this.options.label) {
          var value = this.options.values[index],
            html = $('<div>').css({
            'text-align':   'center'
          , 'font-size':    '75%'
          , 'display':      'table-cell'
          , 'vertical-align': 'middle'
          }).html($.isFunction(this.options.label) ? this.options.label(value) : value);
  
          $(this.handles[index]).html(html).css({
            'text-decoration':  'none'
          , 'display':      'table'
          });
        }
      },
  
      _renderLabels: function() {
        if (this.options.label) {
          var that = this;
          $.each(this.options.values, function(v) {
            that._renderLabel(v);
          });
        }
      },
  
      _renderRanges: function() {
        var options = this.options,
          values  = options.values,
          scale   = function(value) {
                return (value - options.min) * 100 / (options.max - options.min);
              },
          index,
          left,
          right,
          range;
  
        $('.ui-slider-range', this.element).remove();
  
        for (index = 0; index <= values.length; ++index) {
          if (options.ranges[index]) {
            left = scale(index == 0? options.min : values[index - 1]);
            right = scale(index < values.length? values[index] : options.max);
  
            range = $('<div/>').addClass('ui-slider-range ui-widget-header').css('width', (right - left) + '%');
  
            if (left == 0) {
              range.addClass('ui-slider-range-min');
            } else if (right == 100) {
              range.addClass('ui-slider-range-max');
            } else {
              range.css('left', left+'%');
            }
            range.prependTo(this.element);
          }
        }
      },
  
      _slide: function(event, index, newVal) {
        // Left limit
        if (this.options.left) {
          newVal = Math.max(newVal, this.options.left);
        }
  
        // Right limit
        if (this.options.right) {
          newVal = Math.min(newVal, this.options.right);
        }
  
        // Limit
        if (this.options.limit) {
          newVal = Math.max(newVal, this.options.limit[0]);
          newVal = Math.min(newVal, this.options.limit[1]);
        }
  
        // Per-slider limit
        if (this.options.limits && this.options.limits[index]) {
          newVal = Math.max(newVal, this.options.limits[index][0]);
          newVal = Math.min(newVal, this.options.limits[index][1]);
        }
  
        if (this.options.gap || this.options.gap === 0) {
          // Gap to previous
          if (index > 0) {
             newVal = Math.max(newVal, this.options.values[index - 1] + this.options.gap);
          }
  
          // Gap to next
          if (index < this.options.values.length - 1) {
             newVal = Math.min(newVal, this.options.values[index + 1] - this.options.gap);
          }
        }
  
        // Call parent
        $.ui.slider.prototype._slide.call(this, event, index, newVal);
  
        // Apply effects
        this._renderRanges();
        this._renderLabel(index);
        this._renderTitle(index);
      }
    });
  }(jQuery));

:coffee
  $ ->
    $("#slider").limitslider
      min: 0
      max: 100
      values: [25,75]
      gap: 2
      showRanges: true
      ranges: [true, true, true]
      slide: (event, ui) ->
        $("#sliderval").val(ui.value)

    $("#sliderval").val($("#slider").slider("value"))


