:ruby
  #data = JSON.parse(File.read(Rails.root.join("db", "visualization.json")))["features"]
  lp = LandParcel.all
  bub = []
  sim = []
  choro = []
  data = []
  lp.each do |lp|
    if lp.shape
      radius1 = rand(100)
      geom = Charta::Geometry.new(lp.shape).transform(:WGS84)
      centroid = geom.centroid
      area1 = geom.area
      polyg = geom.to_geojson
      # build category (soil_nature) for lp
      category = 'undefined'
      if soil_nature = lp.soil_nature
        category = soil_nature
        category_color = cycle(*Backend::VisualizationsHelper::COLORS)
        category_name = Nomen::SoilNatures.find(soil_nature).human_name
      end
      # build chloropleth value
      soil_depth = 'undefined'
      if soil_depth = lp.soil_depth
        soil_depth = soil_depth.to_f
      end
      
      bub << {style: 'bubble', name: lp.name, center: centroid, radius: radius1, stroke: true , color: 'black', weight: 1, opacity: 1, fill: true, fillColor: 'green', fillOpacity: 0.75}
      choro << {type: :choropleth, reference: :area, choropleth_level_number: 7, choropleth_start_color: '#77a1e5', choropleth_end_color: '#910000', category: category, center: centroid, choropleth_type: 'linear', name: lp.name, area: area1, coord: polyg, stroke: true , color: 'black', weight: 1, fillColor: 'white', opacity: 1, fill: true, fillOpacity: 0.8}
      sim << {style: 'simple', category: category, category_name: category_name, center: centroid,name: lp.name, area: area1, coord: polyg, stroke: true , color: 'black', weight: 1, opacity: 1, fill: true, fillColor: category_color, fillOpacity: 0.5}
      data << {name: lp.name, shape: lp.shape, area: geom.area.to_f(:square_meter), nitrogen: 10 + rand(100), potash: rand(90) + 20}
    end
  end
  
= visualization :my_cultivable_zone_of_hell do |v|
  -# The followings layers are base layers. Only one base layer will appear.
  - v.background "OpenStreetMap.HOT"
  -# v.background :black_and_white_base, "OpenStreetMap.BlackAndWhite"
  - v.background "OpenStreetMap.DE"
  - v.background "OpenCycleMap"
  - v.background "Thunderforest"
  - v.background "Thunderforest.Transport"
  -# v.background :landscape_base, "Thunderforest.Landscape"
  -# v.background :outdoors_base, "Thunderforest.Outdoors"
  -# The followings layers are overlays . They can be combined.
  -# v.overlay :clouds, "OpenWeatherMap.Clouds"
  -# v.overlay :precipitations, "OpenWeatherMap.Precipitation"
  -# v.overlay :rains, "OpenWeatherMap.Rain"
  -# v.overlay :pressures, "OpenWeatherMap.Pressure"
  -# v.overlay :wind, "OpenWeatherMap.Wind"
  -# v.overlay :temperature, "OpenWeatherMap.Temperature"
  -# v.overlay :snow, "OpenWeatherMap.Snow"
  -# v.dataset :zones, data
  -# v.layer :zones, data, tooltip: true
  -# v.layer :potash, :chloropeth, tooltip: false, on: :potash_density
  -# v.layer :nitrogen, :chloropeth, tooltip: false, on: :nitrogen_density
  -# v.vis :example, 'http://documentation.cartodb.com/api/v2/viz/2b13c956-e7c1-11e2-806b-5404a6a683d5/viz.json'

  -# v.layer :Simple_example, sim
  -# v.layer :Choropleth_example, choro
  - v.choropleth :area, data
  - v.choropleth :nitrogen, data
  -# v.layer :Bubble_example, bub
  
  -# v.bubble :Paris_population, [48.856578, 2.351828], 22499.75
  -# v.bubble :Marseille_population, [43.296346, 5.369889], 8506.36
  -# v.bubble :Lyon_population, [45.759723, 4.842223], 4912.68
  -# v.bubble :Toulouse_population, [43.604482, 1.44396], 4473.40
  -# v.bubble :Nice_population, [43.695949, 7.271413], 3440.64
  - v.control :zoom
  - v.control :scale
  - v.control :fullscreen
  -# v.control :geocoder
  - v.control :layer_selector
  -# v.control :legends
  -# v.control :layer_legend


