= render "menu"

- main_toolbar do |t|
  - t.edit(resource) if resource.editable?
  - t.destroy(resource, method: :delete, "data-confirm" => :are_you_sure_you_want_to_delete.tl, params: {redirect: nil}) if resource.destroyable?


= beehive("dashboard_#{resource.id}".to_sym)
