= beehive(:stock) do |b|
  - b.hbox do
    - b.cell :last_incoming_parcels
    - b.cell :last_outgoing_parcels
  - b.hbox do
    - b.cell :last_foreward_incoming_parcels
    - b.cell :last_foreward_outgoing_parcels
  - b.hbox do
    - b.cell :stock_container_map
