= beehive(:stock) do
  - hbox do
    - cell :last_outgoing_deliveries
    - cell :last_incoming_deliveries
  - hbox do
    - cell :current_stocks_by_product_nature, :params => {variety: 'chemical_fertiliser', mass_unit: 'ton'}
    - cell :current_stocks_by_product_nature, :params => {variety: 'manure', mass_unit: 'ton'}
    -# cell :current_stocks_by_product_nature, :params => {variety: 'grain', mass_unit: 'quintal'}
  - hbox do
    - cell :current_stocks_by_product_nature, :params => {variety: 'animal_medicine'}
    - cell :current_stocks_by_product_nature, :params => {variety: 'plant_medicine'}
