=render 'general'

=beehive(:general) do
  -tabbox do
    -cell :weather do
      %img{:alt => "météo Saint-Porchaire heure par heure", :border => "0", :src => "http://meteorologic.net/vignette-previ-1h/6026.png"}
    -cell :today do
      -date = Date.today
      %span#cell-date.date
        %span.day-name=date.l(format: '%A')
        %span.day=date.day
        %span.month=date.l(format: '%B')
        %span.year=date.year