-field_set do
  -association :payee
  -input :amount
  -input :to_bank_on
  -input :delivered
  -association :mode

-field_set(:depositable_options) do
  -association :responsible, :source => :employees
  -input :paid_on
  -input :check_number
