=field_set do
  =f.referenced_association :production_chain
  -# input :name
  =f.input :description, :field=>:textarea

=field_set :product do
  =f.referenced_association :product
  =f.input :check_state
  =f.input :flow

=field_set :source do
  =f.referenced_association :source # , :buttons => {:new => {:production_chain_id => @production_chain_conveyor.production_chain_id}}
  =f.input :source_quantity
  =f.input :unique_tracking

=field_set :target do
  =f.referenced_association :target # , :new=>{:production_chain_id=>@production_chain_conveyor.production_chain_id}
  =f.input :target_quantity
