-nature = (@document_template ? @document_template.nature.to_sym : :unknown)
-if [:balance_sheet, :income_statement].include?(nature)
  =formalize do |f|
    -f.title FinancialYear.model_name.human
    -f.field FinancialYear.model_name.human, select_tag("financial_year_id", options_for_select(FinancialYear.collect{|x| [x.code, x.id.to_s]}, params[:financial_year_id]))
-elsif nature == :journal
  =formalize do |f|
    -f.title Journal.model_name.human
    -f.field Journal.model_name.human, select_tag("journal_id", options_for_select(Journal.collect{|x| [x.name, x.id.to_s]}, params[:journal_id]))
-if [:journal, :general_journal, :general_ledger].include?(nature)
  =formalize do |f|
    -f.title :period
    -f.field tg("from"), date_field_tag(:started_on, params[:started_on]||(Date.today-1.month))
    -f.field tg("to"),   date_field_tag(:stopped_on, params[:stopped_on]||Date.today)
