= main_toolbar do |t|
  - t.edit @analytic_repartition

= beehive do |b|
  - b.cell do
    = attributes_list do |l|
      - l.attribute :affected_on
      - l.attribute :state
      - l.attribute :affectation_percentage
      - l.attribute :production, url: true