- main_toolbar do |t|
  - t.export do |e|
    - e.animal_list Time.now.to_s, @animals

= list

-#= beehive do |b|
  - b.cell do
    = list
  - b.tabbox do
    - b.cell :current_stocks_by_variety, params: {variety: 'animal', indicator: :population}
