-field_set do # partie info general de l entité animal
  -association :group, :as => :radio_buttons # affiche un menu deroulant construit par la relation group_id vers le champ name de l entité animal_group
  -association :race
  -input :name , :hint => "le nom de votre animal"# affiche le champ name de l entité animal avec une infos derriere
  -input :sex # affiche le champ sexe sous forme de radio avec une collection de proposition (M ou F) de l entité animal
  -input :is_reproductor
  -input :born_on
  -input :working_number
  -input :identification_number, :placeholder => 'FR + DEPT + 8 chiffres'
  -input :comment # affiche le champ comment formaté en zone de texte
  -input :picture
  =image_tag(@animal.picture.url(:thumb))

-field_set(:genealogy) do # partie entrée sortie de l entité animal
  -association :mother, :source => :mother
  -association :father, :source => :father

-field_set(:movement) do # partie entrée sortie de l entité animal
  -input :is_external
  -input :income_on
  -input :income_reasons
  -input :outgone_on, :include_blank => true, :default_value => :blank
  -input :outgone_reasons, :include_blank => true, :default_value => :blank