=field_set(@animal, :general_informations) do |f| # partie info general de l entité animal
  =f.error :animal # affiche les erreurs renvoyés par le model
  =f.hint 'Selectionner la catégorie' # affiche une infos
  =f.association :group, :as => :radio_buttons # affiche un menu deroulant construit par la relation group_id vers le champ name de l entité animal_group
  =f.association :race
  =f.input :name , :hint => "le nom de votre animal"# affiche le champ name de l entité animal avec une infos derriere
  =f.input :sex, :collection => Animal::SEXES, :as => :radio_buttons # affiche le champ sexe sous forme de radio avec une collection de proposition (M ou F) de l entité animal
  =f.input :born_on, :as => :date, :end_year => Date.today.year - 40
  =f.input :identification_number, :placeholder => 'FR + DEPT + 8 chiffres'
  =f.input :comment, :field=>:textarea # affiche le champ comment formaté en zone de texte

-# @todo waiting for paperclip
-#=field_set(@animal, :image, :html => { :multipart => true }) do |f|# partie entrée sortie de l entité animal
  -#=f.file_field :picture, :multiple => true

=field_set(@animal, :genealogy) do |f| # partie entrée sortie de l entité animal
  =f.association :father, :collection => Animal.where(:sex => "male").order("name ASC")
  =f.association :mother, :collection => Animal.where(:sex => "female").order("name ASC")

=field_set(@animal, :stocks_informations) do |f| # partie entrée sortie de l entité animal
  =f.input :income_on
  =f.input :outgone_on
  =f.input :purchased_on


