-# TODO Manage soft_copy_to
=field_set do
  =f.input :name, :soft_copy_to => :catalog_name
  =f.input :description
  =f.association :parent

=field_set(:catalog) do
  =f.input :catalog_name
  =f.input :catalog_description

