=toolbar do |t|
  -t.edit @product_nature_category

=beehive do |b|
  -b.cell do
    =attributes_list(@product_nature_category) do |l|
      -l.attribute :name
      -l.attribute :parent, :url=>true
      -l.attribute :description
      -l.attribute :catalog_name
      -l.attribute :catalog_description

  -b.cell tc(:product_natures) do
    =list :product_natures
