-field_set do
  -association :payer
  -input :amount
  -input :to_bank_on
  -input :received
  -association :mode

-field_set(:depositable_options) do
  -association :responsible, :source => "Entity#workers"
  -input :paid_on
  -input :check_number
  -input :account_number
  -input :bank
