= cobbles do |c|
  - c.cobble :general_informations do
    = attributes_list do |l|
      - l.attribute :guide, url: true
      - l.attribute :execution_number
      - l.attribute :started_at
      - l.attribute :stopped_at
      - l.attribute :acceptance_status
      - if resource.custom_fields.any?
        - l.custom_fields
  -# TODO Details results based on XML structure with points results
  - c.cobble :points do
    = cobble_list :points
