- support ||= f.object.production_support
%td.nested-fields{data:{support_destroy: 'empty'}}
  = f.input :quantity
  = f.referenced_association :production_support, selected: support
  = link_to_remove_nested_association(:item, f)
