.nested-fields
  =link_to_remove_nested_association(:marker_datum, f)
  =f.input(:indicator_name, :wrapper_html => {:id => 'indicator_name-field'})
  =f.input(:measure_value_value, :wrapper_html => {:id => 'measure_value_value-field'})
  =f.input(:aim, :wrapper_html => {:id => 'aim-field'})
  =f.input(:started_at, :wrapper_html => {:id => 'started_at-field'})
  =f.input(:stopped_at, :wrapper_html => {:id => 'stopped_at-field'})