=main_toolbar do |t|
  -t.edit @production

=beehive do |b|
  -b.cell do
    =attributes_list(@production) do |l|
      -l.attribute :name
      -l.attribute :state
      -l.attribute :campaign
      -l.attribute :activity

  -b.tabbox do
    -b.cell(:supports) do
      =list(:support)
    -b.cell(:procedures) do
      =list(:procedure)