#login
  .logoban
  - form_tag do
    %table
      %tr
        %td.label=tc :username
        %td.input=text_field :user, :name, {:value=>session[:user_name], :tabindex=>1}
      %tr
        %td.label=tc :password
        %td.input=password_field :user, :password, :tabindex=>2
      %tr
        %td.button{:colspan=>2}=submit_tag(tc(:connect), :tabindex=>3)
  .actions
    -unless defined?(Ekylibre::DONT_REGISTER)
      =link_to tc(:register), :action=>:register
    =link_to tc(:download_firefox), "http://www.mozilla-europe.org/fr/firefox/"
:javascript
  $('user_name').select();
  $('user_name').focus(); 
