.flash-error= flash[:error]
#login
  .line
  .logoban
  - form_tag({},:name=>@login) do
    %table
      %tr
        %td.label=lc :username
        %td.input=text_field :user, :name, {:value=>session[:user_name], :tabindex=>1}
      %tr
        %td.label=lc :password
        %td.input=password_field :user, :password, :tabindex=>2, :onchange=>"document."+@login+".submit()"
      %tr
        %td.button{:colspan=>2}=submit_tag(lc(:connect), :tabindex=>3)
      %tr
        %td.actions{:colspan=>2}=link_to lc(:register), {:action=>:register}, {:class=>:show}
  .line
