#login.login
  .logoban{:title=>Ekylibre.version}
  =form_remote_tag(:company=>params[:company], :url=>params[:url], :update=>:login) do
    %table
      %tr
        %td.label=Company.model_name.human
        %td.value=@current_company.name
      %tr
        %td.label=tc :username
        %td.input
          =params[:name]
          =hidden_field_tag :name, params[:name], :tabindex=>1
      %tr
        %td.label=tc :password
        %td.input=password_field_tag :password, nil, :tabindex=>2
      %tr
        %td.button{:colspan=>2}=submit_tag(tc(:connect), :tabindex=>3)

