* {margin:0; padding:0; font-size: 100%; font-family: "Liberation Sans", helvetica, arial, sans-serif;}

html { background: #F1F1F1;/*background: #688ED8 #C9D7F1;*/}
fieldset {padding: 4px 8px 8px; margin: 1px 1px 8px; border: 1px solid #DDD;/* border:1px solid #95b0e4; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; behavior: url(/pie.htc); background: url(../images/columns.png) repeat-x top; */}
/*html[dir="ltr"] ul { padding-left: 3ex; }
html[dir="rtl"] ul { padding-right: 3ex; }*/
fieldset legend { padding: 0 4px;  margin: 0 0px; color: #555; font-size: 15px; font-weight: bold;}
fieldset nobr { margin: 0 8px; vertical-align: middle; }
fieldset .actions { border-left: none; border-right: none; border-bottom: none; margin-top: 8px}
td, th, a, p, input, textarea, select, div { font-size:13px;}
small, sup, sub { font-size: 11px; }
a:link, a:visited, a:focus { color:#00C; }
a:hover { color: #000; }
a.current:link, a.current:visited, a.current:focus { color: #000; text-decoration: none; font-weight: bold}
a.current:hover { color: #000; }
input[type="submit"] { padding: 1px 4px; }

/*a img { padding: 0; margin: 0; display:block; border: none;}*/


.icon { background-image: url(../images/buttons/action.png); background-repeat: no-repeat; }
html[dir="ltr"] .icon { padding: 2px; padding-left: 20px !important;  background-position: center left; }
html[dir="rtl"] .icon { padding: 2px; padding-right: 20px !important; background-position: center right; }

.icon.im-abort       { background-image: url(../images/buttons/delete.png); }
.icon.im-action      { background-image: url(../images/buttons/action.png); }
.icon.im-backup      { background-image: url(../images/buttons/right.png); }
.icon.im-cancel      { background-image: url(../images/buttons/cancel.png); }
.icon.im-checked     { background-image: url(../images/buttons/checkbox_true.png); }
.icon.im-close       { background-image: url(../images/buttons/close.png); }
.icon.im-column      { background-image: url(../images/buttons/column.png); }
.icon.im-confirm     { background-image: url(../images/buttons/finished.png); }
.icon.im-configure   { background-image: url(../images/buttons/configure.png); }
.icon.im-correct     { background-image: url(../images/buttons/update.png); }
.icon.im-new, .icon.im-create { background-image: url(../images/buttons/create.png); }
.icon.im-destroy, .icon.im-delete { background-image: url(../images/buttons/delete.png); }
.icon.im-divide      { background-image: url(../images/buttons/divide.png); }
.icon.im-down        { background-image: url(../images/buttons/down.png); }
.icon.im-export      { background-image: url(../images/buttons/spreadsheet.png); }
.icon.im-extract     { background-image: url(../images/buttons/action.png); }
.icon.im-filter      { background-image: url(../images/buttons/filter.png); }
.icon.im-firefox     { background-image: url(../images/buttons/firefox.png); }
.icon.im-help        { background-image: url(../images/buttons/help.png); }
.icon.im-horizontal  { background-image: url(../images/buttons/horizontal.png); }
.icon.im-import      { background-image: url(../images/buttons/left.png); }
.icon.im-letter      { background-image: url(../images/buttons/letter.png); }
.icon.im-list-check  { background-image: url(../images/buttons/list-check.png); }
.icon.im-load        { background-image: url(../images/buttons/load.png); }
.icon.im-logout      { background-image: url(../images/buttons/logout.png); }
.icon.im-mail        { background-image: url(../images/buttons/mail.png); }
.icon.im-menu        { background-image: url(../images/round-black.png); }
html[dir="ltr"] .icon.im-menu:hover  { background-image: url(../images/buttons/right.png); }
html[dir="rtl"] .icon.im-menu:hover  { background-image: url(../images/buttons/left.png); }
.icon.im-merge       { background-image: url(../images/buttons/merge.png); }
.icon.im-more        { background-image: url(../images/buttons/down2.png); }
.icon.im-play        { background-image: url(../images/buttons/play.png); }
.icon.im-point       { background-image: url(../images/buttons/point.png); }
.icon.im-previous    { background-image: url(../images/buttons/previous.png); }
.icon.im-print       { background-image: url(../images/buttons/print.png); }
.icon.im-printable   { background-image: url(../images/buttons/printable.png); }
.icon.im-propose     { background-image: url(../images/buttons/page.png); }
.icon.im-reflect     { background-image: url(../images/buttons/action.png); }
.icon.im-refuse      { background-image: url(../images/buttons/delete.png); }
.icon.im-register    { background-image: url(../images/buttons/create.png); }
.icon.im-resize      { background-image: url(../images/buttons/resize.png); }
.icon.im-restore     { background-image: url(../images/buttons/left.png); }
.icon.im-sort        { background-image: url(../images/buttons/sort.png); }
.icon.im-table       { background-image: url(../images/buttons/table.png); }
.icon.im-unchecked   { background-image: url(../images/buttons/checkbox_false.png); }
.icon.im-unprintable { background-image: url(../images/buttons/unprintable.png); }
.icon.im-up          { background-image: url(../images/buttons/up.png); }
.icon.im-edit, .icon.im-update { background-image: url(../images/buttons/update.png); }
.icon.im-vertical    { background-image: url(../images/buttons/vertical.png); }



table#master  { margin-top:30px; }
table#master > tbody > tr > td { vertical-align: top;  }
table#master > tbody > tr > td > .column { height: 300px; overflow: auto; }
/*
.hbox, .vbox, .hbox > *, .vbox > * {padding: 0; border: 0; margin: 0; }
.hbox { display:table-row; }
.hbox > * { height: inherit; display:table-cell;  vertical-align: top; }
.vbox { padding: 0; border: 0; margin: 0; }
.vbox > * { width: inherit; }
*/
body { /*background: #C9D7F1;*/ }
#body > div > .hbox > * { overflow: auto; }

#loading { padding: 2px; text-align: center; }

#overlay { background: #000; zoom: 1; filter: alpha(opacity=50); opacity: 0.5; }
#overlay.loading { background: black url(../images/ajax-loader-4.gif) center center no-repeat; }

*[data-click], .clickable { cursor: pointer; }

#wrap { padding: 8px 0; margin-top: -1px; clear: both; background: #F1F1F1; position: relative; z-index: 750; }
#wrap-table {border-collapse: collapse; width: 100%;}
#wrap-table td#side, #wrap-table td#main {vertical-align: top}

#legals { text-align: center; padding: 2px 4px; /*background: transparent url(../images/shadow-bottom.png) top repeat-x;*/}
#legals, #legals * { color: #AAA; font-size: 11px; text-shadow: 1px 1px 1px #FFF }

.dialog {  background: #C9D7F1; box-shadow: 0px 0px 12px #555; -moz-box-shadow: 0px 0px 12px #555; -webkit-box-shadow: 0px 0px 12px #555; behavior: url(/pie.htc); }
.dialog .wrap { border: 4px solid #95b0e4; }
.fields { background: url(../images/shadow-top.png) repeat-x bottom; padding: 0 1px; overflow: auto; }

.end { height: 8px; }
.main { padding: 0; background: white; border-top: 4px solid #95b0e4; border-bottom: 4px solid #95b0e4;} /*  overflow: visible; */

#about-us div { padding: 64px; }
#about-us div a { text-align: center; display: block; }
#about-us div a img { border:none; }
#about-us div table { margin: 0 auto; width: 500px; }

.content { clear: both; }
.content * { color: #000 }
.content h1 { font-size: 12px; margin: 0px 0 8px; color: #23579A; font-weight:bold; text-transform: uppercase; letter-spacing: 1px;}
.content h2 { font-size: 13px; margin: 8px 0 4px; border-bottom: 1px dotted #AAA; color: #23579A; font-weight:bold; }
.content h3 { font-size: 13px; margin: 4px 0 2px 10px; font-weight: bold; color: #000; }
.content pre { font-family: "Liberation Mono", monospace; color: #777; background: #FFF; padding: 8px; margin: 8px 0; }
.content ul { padding: 4px 2em; }
.content ul li { list-style-type: square; }
.content ol { padding: 4px 2em; }
.content ol li { list-style-type: decimal; }
.content dl { padding: 0 0.1em; margin-bottom: 0.2em; }
.content dt { margin-top: .2em; font-weight: bold; color: #210 }
.content dd { margin-bottom: .2em; margin-left: 1em; }
.content a img { border: 1px solid #00C; padding: 1px; }
.content p { margin: 8px 0px; }
.content p.notice { border-left: 10px solid #7A4; background: #CE8; padding: 4px 8px; }
.content p.warning { border-left: 10px solid #FA0; background: #FD9; padding: 4px 8px; }
.content .text-end { height: 1px; }
.content .help-error { color: #977; text-align: center; padding: 8px;  margin: 16px 0; background:#F5EAD7; border: 1px solid #977; }
.content .md { }
.content .md.md-center { display:block; margin: 2px auto; }
.content .md.md-left   { display:block; margin: 2px; float: left; }
.content .md.md-right  { display:block; margin: 2px; float: right; }
dl { padding: 0 0.1em; margin-bottom: 0.2em; }
dt { margin-top: .2em; font-weight: bold; color: #210 }
dd { margin-bottom: .2em; margin-left: 1em; }


#side-splitter {width: 4px; background: #95b0e4; border-top: 4px solid #95b0e4; border-bottom: 4px solid #95b0e4;}
#side-splitter:hover { background: #23579A; }
html[dir="ltr"] #side-splitter:hover, html[dir="rtl"] #side-splitter.closed:hover { cursor: w-resize; }
html[dir="ltr"] #side-splitter.closed:hover, html[dir="rtl"] #side-splitter:hover { cursor: e-resize; }


#side { width: 200px; overflow: auto; vertical-align: top; } 
html[dir="ltr"] div#side { float: left; }
html[dir="rtl"] div#side { float: right; }


#side .sd-module { padding: 0 0 8px; margin: 0; border-top: 1px solid #95b0e4; }
#side .sd-module.collapsed { padding-bottom: 0px; opacity: 0.5;}
#side .sd-module:first-child { border-top: none; }
html[dir="ltr"] #side .sd-module .sd-title { padding: 4px 4px 4px 12px; }
html[dir="rtl"] #side .sd-module .sd-title { padding: 4px 12px 4px 4px; }
#side .sd-module .sd-title h2 {}
#side .sd-module .sd-title *[data-toggle-module] { display: block; cursor: pointer; height: 12px; width: 12px; position: relative; top: 2px; background: url(../images/toggle.png);}
html[dir="ltr"] #side .sd-module .sd-title *[data-toggle-module] {float: right}
html[dir="rtl"] #side .sd-module .sd-title *[data-toggle-module] {float: left}
#side .sd-module .sd-title .show[data-toggle-module] { background-position: 0 0; }
#side .sd-module .sd-title .show[data-toggle-module]:hover { background-position: 12px 0;}
#side .sd-module .sd-title .hide[data-toggle-module] { background-position: 0 12px; }
#side .sd-module .sd-title .hide[data-toggle-module]:hover { background-position: 12px 12px;}
#side .sd-module .sd-content .sd-item {padding: 0;}
#side .sd-module .sd-content .sd-item a {display: block; text-decoration: none; padding: 2px 12px; color: #126; white-space: nowrap; overflow: hidden; width: 176px; -moz-binding: url(../xml/ellipsis.xml#ellipsis); -o-text-overflow: ellipsis; text-overflow: ellipsis; }
#side .sd-module .sd-content .sd-item a:hover {background: #C9D7F1; }
#side .sd-module .sd-content .sd-item.current a {background: #95b0e4; color: white; text-shadow: 0 0 2px #3D5C8D; font-weight: bold;}

#side .sd-module.current { background: rgba(200,224,254,0.3); }
#side .sd-module.history { background: #E7E7E7; }
#side .sd-module.help { background: #E7E7E7; }
#side .sd-module.help #help .content { padding: 8px; }

/*#side .sd-module > h2 { padding: 4px 8px; font-size : 13px; color: #012; font-weight: bold; }*/



/*
#side .module { padding: 0 0 8px; margin: 0; border-top: 1px solid #95b0e4; }
#side .module:first-child { padding-top: 8px; border-top: none; }
#side .module > h2 { padding: 4px 8px; font-size : 13px; color: #012; font-weight: bold; }

#side .module.help { background: #FAFAFA url(../images/shadow-top.png) repeat-x bottom; }
#side .module.help #help { background: url(../images/shadow-bottom.png) repeat-x top; }

#side .module.menu ul { padding: 0 20px; margin: 0 5px; }
#side .module.menu ul li { list-style-type: square; }
#side .module.menu ul li a { display: block; padding: 2px 4px; text-decoration: underline; }
#side .module.menu ul li a .path { color: #AAA; font-size: 11px;}

#side .module.menu.master { background: #F1F1F1; }
#side .module.menu.master ul { padding: 0; margin: 0;}
#side .module.menu.master ul li { display: block; list-style-type: none; }
#side .module.menu.master ul li a { text-decoration: none; padding: 4px 12px; color: #222; }
#side .module.menu.master ul li a:hover {background: #C9D7F1; border-left: 4px solid #95b0e4; padding-left: 8px;}
#side .module.menu.master ul li a.current {background: #95b0e4; color: white; text-shadow: 0 0 2px #3D5C8D;}
*/

.main { padding: 8px; overflow: auto; overflow-y: scroll; /*#F7F7FF*/;  } /* border-left: 4px solid #95b0e4; border-right: none; border-top: none;*/
.main h1 { margin: 0px 0px 8px; font-size:20px; color: #047; font-weight: bold; }
.main .subheading { margin: -4px 0 8px; font-size:18px; color: #AAA; font-weight: normal; font-style: italic; }
/*.main h2 { margin: 8px 0px 4px; font-size:18px; color: #047; font-weight: bold; border-bottom: 2px solid #047; padding: 1px 0;}*/
.main h2 { margin: 8px 0px 4px; font-size:18px; color: #047; font-weight: bold;  padding: 1px 0;}
.main .mn-index { margin-bottom: 8px; width: 200px; }
html[dir="ltr"] .main .mn-index {float: left; margin-right: 8px; }
html[dir="rtl"] .main .mn-index {float: right; margin-left: 8px; }

.main .mn-index .mn-index-sub { margin: 8px 0 0; padding: 0 8px; }
.main .mn-index .mn-index-sub:first-child { margin: 0; }
.main .mn-index .mn-index-sub legend { font-size: 11px; text-transform: uppercase; }
.main .mn-index .mn-index-sub a { display: block; padding: 4px 8px; margin: 0 -8px; text-decoration:none; }
.main .mn-index .mn-index-sub a:hover { background: #C9D7F1; }

.main .menu { border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; behavior: url(/pie.htc); background: #DBE4F6; padding:4px 6px; margin: 0 0 8px; }
/*.main .menu h2 { font-size : 15px; color: black !important; padding: 2px !important; margin: 2px 0px !important; }*/
.main .menu h2 { margin: 2px 0px !important; }
.main .menu ul { padding: 4px 18px; }
.main .menu li { list-style-type: square; padding: 1px; }
.main .menu li { color:#047; }
.main .menu.special { background: #FE9; }
.main .menu.special a:link, .main .menu.special a:visited { color: #A60; }
.main .menu.indicator { background: #FD8; } /*#FA3;*/

/*#top { border-bottom: 1px solid #DDD; }*/

#top .logo-bar { font-size: 20px; font-weight: bold; height: 48px; line-height: 48px; vertical-align: middle; color: #95b0e4;}
html[dir="ltr"] #top .logo-bar { background: white url(../../../images/ekylibre-mini3.png) left 7px no-repeat; padding: 0 8px 0 170px; }
html[dir="rtl"] #top .logo-bar { background: white url(../../../images/ekylibre-mini3.png) right 7px no-repeat; padding: 0 170px 0 8px;}

#top .user-bar { background: rgba(255,255,255,0.3); border: 1px solid rgba(255,255,255,0.32); border-top: none; border-bottom: none; height: 32px; padding: 0; position :relative; vertical-align:bottom;}
#top .user-bar a.root { display:block; height: 32px; line-height: 32px; white-space: nowrap; vertical-align: middle; padding: 0 8px;}
#top .user-bar ul { display: none; border: 1px solid #AAA; margin: 0; padding: 2px; position:absolute; margin:0; top: 30px; z-index: 1000; width:auto; min-width: 10em; background: #F1F1F1; box-shadow: 0 0 5px rgba(0,0,0,0.3)}
#top .user-bar:hover { background: #F1F1F1; border-color: #AAA;}
#top .user-bar:hover a.root { z-index:5000; position: relative; top: 0; background: #F1F1F1 }
#top .user-bar:hover ul { display: block; }
html[dir="ltr"] #top .user-bar ul { right: -1px; }
html[dir="rtl"] #top .user-bar ul { left: -1px; }
#top .user-bar ul li { display: block; padding: 2px 4px;}
#top .user-bar ul li:hover { background: #C9D7F1 }
#top .user-bar ul li a { display: block; padding: 2px 6px; white-space: nowrap; text-decoration: none; color: black;}
#top .user-bar ul li.separator { height: 1px; padding: 0; background: #CCC; margin: 3px auto;}
#top .user-bar ul li.separator:hover, #top .user-bar ul li.no-link:hover { background: transparent;}

#top .user-bar .name { font-weight: bold; }

/*#top .user-bar > a { margin: 0 4px; position:relative; top: 7px;}*/
html[dir="ltr"] #top .user-bar { float:right;  }
html[dir="rtl"] #top .user-bar { float:left; }

/*# .2357AB .3D5C8D .47628c 407ad8  688ED8*/
#top .menu-bar { height: 29px; padding: 3px 3px 0; /*border-top: 1px solid #23579A;*/ background: #688ED8 url(../images/shadow-top.png) bottom repeat-x; display: block;}
#top .menu-bar ul { margin:0; padding: 0; }
#top .menu-bar li { position:relative; list-style-type:none; padding: 0; }
html[dir="ltr"] #top .menu-bar li { float:left; }
html[dir="rtl"] #top .menu-bar li { float:right; }
#top .menu-bar li.logo-item { background: url(../images/ekylibre.png) no-repeat center; width: 86px; height: 28px; border: none; margin:0; padding: 0;}
#top .menu-bar ul li ul { display:none; position:absolute; margin:0; top: 26px; padding: 2px; width:auto; min-width: 10em; z-index: 1000; background: #F1F1F1; } /* #3D5C8D F1F1F1 86a5e0 c8d3e9*/
html[dir="ltr"] #top .menu-bar ul li ul { left:-1px; }
html[dir="rtl"] #top .menu-bar ul li ul { right:-1px; }
#top .menu-bar ul li:hover ul, #top .menu-bar ul li ul:hover { display:block; border: 1px solid #AAA; box-shadow: 0 0 5px #555; -moz-box-shadow: 0 0 5px #555; -webkit-box-shadow: 0 0 5px #555; box-shadow: 0 0 5px rgba(0,0,0,0.5); -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5); -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5); behavior: url(/pie.htc);}
#top .menu-bar li.submenu { padding: 2px 4px; display:block; float: none !important;}
#top .menu-bar li.submenu a { display: block; padding: 3px 6px;}
#top .menu-bar li.submenu:hover { background: #C9D7F1; }
#top .menu-bar a { display: block; white-space: nowrap; color: black; text-decoration: none; } /*background: transparent;*/
#top .menu-bar li.menu { margin: 0 2px; border: 1px solid transparent; border-bottom: none; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px; behavior: url(/pie.htc); }
#top .menu-bar li.menu a.menu { height: 25px; line-height: 25px; vertical-align: middle; padding: 2px 8px; color: white; text-align: center; position: relative; z-index: 500; text-shadow: 1px 1px 1px #3D5C8D;  -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; border-top-left-radius: 4px; border-top-right-radius: 4px; }
#top .menu-bar li.menu.other:hover { background-color: #F1F1F1; border-color: #AAA; box-shadow: 0 0 5px #555; -moz-box-shadow: 0 0 5px #555; -webkit-box-shadow: 0 0 5px #555; box-shadow: 0 0 5px rgba(0,0,0,0.5); -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5); -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5); }

#top .menu-bar li:hover a.menu.other { background-color: #F1F1F1; z-index: 1500; color: #000; text-shadow: -1px -1px 1px white;}


#top .menu-bar li.menu.general a.menu.general { background-image: url(../images/home.png); background-repeat: no-repeat; background-position: center; width: 20px; color: transparent; text-shadow: none; }
#top .menu-bar li a.menu.current { background-color: #F1F1F1; color: black; text-shadow: 0 0 2px white; box-shadow: 0 0 5px #3D5C8D; -moz-box-shadow: 0 0 5px #3D5C8D; -webkit-box-shadow: 0 0 5px #3D5C8D; box-shadow: 0 0 5px rgba(0,0,0,0.5); -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5); -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5); behavior: url(/pie.htc); }
#top .menu-bar li.menu.general a.menu.general.current, #top .menu-bar li.menu.general:hover a.menu.general { background-image: url(../images/home-current.png);  color: transparent; text-shadow: none; }
html[dir="ltr"] #top .menu-bar ul li ul li a { text-align: left; }
html[dir="rtl"] #top .menu-bar ul li ul li a { text-align: right; }


#top #loading { background: url(../images/ajax-loader-3.gif) no-repeat; margin: 4px 0 0; width: 16px; height:16px; }
html[dir="ltr"] #top #modules { float:left; }
html[dir="ltr"] #top #loading { float:right; }
html[dir="rtl"] #top #modules { float:right; }
html[dir="rtl"] #top #loading { float:left; }

#helpage { padding-left: 8px; }

.clearfix:after { content: "."; display:block; height:0; clear: both; visibility: hidden; }
/* backslash hack hides from IE mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* end backslash hack*/

table.invex, table.invisible { border-collapse: collapse; }
table.invex { width: 100% }
table.invex > tbody > tr > td { vertical-align: top;  }
table.invex tr td.space{ width: 8px }
table.center { margin-left: auto; margin-right: auto; }

table.quick { margin: 0 8px 8px 8px; border-collapse: collapse; }
table.quick td { padding: 0px 4px; }


.attributes-list {  border-collapse: collapse; width: 100%; }
.attributes-list tr td { border-bottom: 1px dotted #CCC; }
.attributes-list .label, .attributes-list .value { padding:1px 4px;  vertical-align: middle; }
.attributes-list .code { font-family: "Liberation Mono", monospace; }
.attributes-list .label { color: #555; }
.attributes-list .value .string { max-height: 3em; overflow-y: auto;}
html[dir="ltr"] .attributes-list .label { text-align: right; }
html[dir="rtl"] .attributes-list .label { text-align: left; }


.evalue { border-collapse: collapse; border-bottom: 1px dotted #CCC; margin: 0px 4px; }
.evalue .label, .evalue .value { padding:1px 4px;  vertical-align: middle; }
.evalue .code { font-family: "Liberation Mono", monospace; }
.evalue .label { color: #777; }
.evalue.verti td { width: 250px }
.evalue.hori .label { width:176px;  }
/*.evalue.hori .value { width:164px; }*/
html[dir="ltr"] .evalue.hori .label { text-align: right; }
html[dir="rtl"] .evalue.hori .label { text-align: left; }


.desc { background: transparent; text-shadow: white 0 0 1.5px; color: black; behavior: url(/pie.htc); }

div.tr { display: table-row; }
div.td { display: table-cell; }

.logo { width: 160px; padding:4px; background: white; border:1px solid #EEE; text-align:center; vertical-align:center; }

#company { border-spacing:6px; }
#company div.side { border:1px solid #EEE; padding: 2px; background: #f9f9f9; }
#company div.side h2{ margin: 2px 0px 4px; }
#company div.side h3{ border-bottom :1px solid #BBB; margin: 10px 6px 2px; color:#555; }
#company div.side .label {color:#777; width: 160px; text-align:right; padding: 2px; }
#company div.side .value {color:#227;  padding: 2px; }

.flash { padding: 8px 8px 8px 48px; margin-bottom: 8px; vertical-align: middle; background-position: 8px center; background-repeat: no-repeat; background-color: #FFF; color: black; border: 1px solid black; border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px; behavior: url(/pie.htc);}
.flash h3 { font-size: 13px; font-weight: bold; padding: 0 0 2px; margin-bottom: 2px; border-bottom: 1px dotted #999; }
.flash ul { padding-left: 20px; }
.flash ul li { list-style-type: square; }
html>body .flash { height:auto; min-height:32px; } 
.flash.error       { border-color: #D10; color: #D10; background-color: #FFDFD0; background-image: url(../images/notification-error.png); }
.flash.warning     { border-color: #E60; color: #E60; background-color: #FFEECC; background-image: url(../images/notification-warning.png); }
.flash.success     { border-color: #5A1; color: #5A1; background-color: #EEFFCC; background-image: url(../images/notification-success.png); }
.flash.information { border-color: #777; color: #777; background-color: #F5F5F5; background-image: url(../images/notification-info.png); }

/*.errorExplanation { background: #ECA; color: #543; margin: 8px; }
.errorExplanation { padding: 0 0 0 40px; border: 1px solid #F00; vertical-align: middle; min-height:32px; background: #FDD url(../images/notification-error.png) left center no-repeat; }
.errorExplanation h2 { color: #F00;  font-size: 13px; }
*/

.checkbox-true { background: url(../images/buttons/true.png) no-repeat; height:12px; width:12px; }
.checkbox-false { background: url(../images/buttons/false.png) no-repeat; height:12px; width:12px; }

.count { margin: 0 0 4px; color:#777; }

.contact { padding: 5px 0 8px 4px; border:0.2px solid; border-color:#C9D7F1; background-color:#FEB; }


table.formalize { border-collapse: collapse; margin-left: auto; margin-right: auto; width: 100% }
table.formalize tr.field td { border-bottom:  1px dotted #CCC; }
table.formalize tr.field td label { color: #555; }
table.formalize td.label { text-align:right; padding:1px 4px; color: #555; width: 30%; border-right: 0px dotted #CCC;  }
html[dir="rtl"] table.formalize td.label { text-align:left !important; }
table.formalize td.input { padding:2px 6px 2px 2px; }
table.formalize td.help  { text-align:left; padding:2px 2px 2px 6px; font-size: 11px; border-left:1px dashed #CCC; }
table.formalize td .notnull { border: 1px solid #33F; background-color: #EEF }
table.formalize td .info         { color: #007;  background:#CDF; padding:2px; }
table.formalize td .info span    { color: #55C; }
table.formalize td .example      { color: #040;  background:#CFC; padding:2px; }
table.formalize td .example span { color: #4A5; }
table.formalize td .hint         { color: #600;  background:#FDE; padding:2px; }
table.formalize td .hint span    { color: #B54; }
table.formalize td .note         { color: #777; }
table.formalize tr.title th { padding: 16px 8px 2px; border-bottom: 0px dotted #012; color: #012; font-size:13px; border-bottom: 1px solid #CCC; font-weight:bold; }
table.formalize td.input .code { font-family: "Liberation Mono", monospace; }
a.act img { border: none !important; }
/*
table.formalize tr.odd  td { background: #E5ECF6; }
table.formalize tr.even td { background: #F0F8FF; }
*/
table.formalize a.fastadd { margin: 0px 8px; }





div.field { padding: 4px; }
div.field > * { vertical-align: middle; }
div.field label.attr { color: #555; width: 30%; display: inline-block; text-align: right; padding: 0 8px;}
html[dir="rtl"] div.field label.attr { text-align: left; }
div.field.mono-choice .toolbar { margin: 0 8px; }


.form-column{ overflow: auto; padding:4px; }

.rad { padding: 1px 4px; }
.rad * { vertical-align: middle; }

/*.actions { text-align:center; padding:4px !important; background: #e9e9a8; border-top: 1px solid #BEBEBB; margin: 8px 0 0; }*/
.actions { text-align:center; padding:4px !important; background: #F1F1F1; border-top: 1px solid #DDD;  margin: 0; } /* CEC  ACA*/
.actions * { margin: 0px 8px; }
.actions a { padding: 4px; margin: 4px; }
/*.actions a:link, .actions a:visited, .actions a:hover { color:#080; }*/


a.right { float:right; }

/* BEGIN BUTTON STYLES */
/*
input[type="submit"] { text-decoration:none; border:1px solid #BBB; color:#444; background: #CCC url(../images/button.png) repeat-x top; -moz-border-radius: 4px; padding:1px 5px 2px; }
input[type="submit"]:hover { border:2px solid #DA4; color: #555; text-decoration:none; background: #DDD url(../images/button_hover.png) repeat-x top; }
input[type="submit"]:active, input[type="submit"]:focus { border:2px solid #68C; color: #555; text-decoration:none; background: #CCC url(../images/button_hover.png) repeat-x top; }
input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus { padding:0px 4px 1px; }
*/
/* END */
input[type="text"], input[type="password"], textarea, select { border: 1px solid #aaa; background: #fff; } 
input[type="text"], input[type="password"], textarea, select { margin: 1px !important; border-width: 1px; }
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus { border: 2px solid #79e !important; margin: 0px !important; }
input[type="text"].invalid:focus, input[type="password"].invalid:focus, textarea.invalid:focus, select.invalid:focus { border-color: red !important; }
input.invalid, textarea.invalid, select.invalid { border: 1px solid red !important; background-color: #FDD !important; } 


.fore { border: 1px solid #C9D7F1; margin: 8px 0; background: #EFE; }
.fore .formalize { margin:8px auto; }
/*E4EBF8*/

/* background: #DBE4F6 */ /*E5D9DD*/
/*.toolbar { -moz-border-radius: 8px; background: #FEE; padding: 0 2px; margin: 0 0 8px; border:1px solid #95b0e4; }*/
/*
.toolbar { background: #F2E4DD; padding: 1px; margin: 0 0 8px; border: 1px solid #e3c4b5; } 
.toolbar:hover { background: #e3c4b5; } 
.toolbar h2 { font-size : 16px; color: black; padding: 2px; margin: 2px 0px; }
.toolbar ul {padding: 0;}
.toolbar ul li {padding: 2px 4px; list-style-type: none; }
html[dir="ltr"] .toolbar ul li { float: left; }
html[dir="rtl"] .toolbar ul li { float: right; }
.toolbar ul li:hover { background-color: #F8F0EC; padding:1px 3px; border: 1px solid white}
.toolbar ul li a { display: block; }
.toolbar div { clear: both; }
*/
/*.toolbar ul li a {padding: 13px; }*/
/*.toolbar ul > li > a {padding: 2px 2px 2px 20px; background: url(../images/round-blue.png) no-repeat center left; }
html[dir="rtl"] .toolbar ul > li > a {padding: 2px 20px 2px 2px; background-position: center right; }*/

/*#E7E7E7*/
.tool { margin: 0 -.5px 8px; padding: 4px 6px; background: #DDD url(../images/boss-effect.png) center repeat-x; border: 1px solid #CCC;}
.tool:hover { background: #688ED8; border-color: #688ED8; color: white; z-index: 1000; } /*#3D5C8D */
a.tool:hover, .tool:hover * { color: white; text-shadow: -1px -1px 1px #555 }
a.tool, .tool a { text-decoration: none; color : #555; text-shadow: 1px 1px 1px #FFF; font-weight: bold;}
html[dir="ltr"] .toolbar .tool:first-child, html[dir="rtl"] .toolbar .tool:last-child { -webkit-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px; border-top-left-radius: 5px; border-bottom-left-radius: 5px; behavior: url(/pie.htc); }
html[dir="ltr"] .toolbar .tool:last-child, html[dir="rtl"] .toolbar .tool:first-child { -webkit-border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; behavior: url(/pie.htc); }
div.toolbar .tool { display: block; z-index: 0}
html[dir="ltr"] div.toolbar .tool { float: left; }
html[dir="rtl"] div.toolbar .tool { float: right;  }

.toolbar.mini-toolbar .tool { padding: 2px 4px; }
.formalize .toolbar.mini-toolbar { margin: 0 8px; line-height: 25px }

.search { background: #CEA !important; color: #580; border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px; behavior: url(/pie.htc); padding:4px 6px; margin: 0 0 8px; }
.search table { margin: 0px auto; }
.search .label { padding: 1px 4px; }
.search .submit { padding: 0px 4px;}
.search table .crit { border-top: 1px dotted #580; padding: 1px 4px; vertical-align: middle; text-align:center; }
.search table .crit input[type="radio"], .search table .crit input[type="checkbox"] { position: relative; top: 2px }
.search table tr:first-child .crit { border-top: none; }

.kujaku { background: #CEA !important; color: #580; border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px; behavior: url(/pie.htc); padding:4px 6px; margin: 0 0 8px; }
.kujaku table { margin: 0px auto; }
.kujaku .label { padding: 1px 4px; }
.kujaku .submit { padding: 0px 4px; width: 130px; text-align:center; }
.kujaku table .crit { border-top: 1px dotted #580; padding: 1px 4px; vertical-align: middle; text-align:center; }
.kujaku table .crit input[type="radio"], .kujaku table .crit input[type="checkbox"] { position: relative; top: 2px }
.kujaku table tr:first-child .crit { border-top: none; }



.results { background: #EEF;  padding:4px 6px; margin: 0 0 8px; width:192px; }
.results h2 { font-size : 16px; color: black; padding: 2px; margin: 2px 0px; }
.results ul { padding: 4px 4px 4px 18px; }
.results li { list-style-type: square; }
.results li .pertinence{ color: #AAA; font-size: 11px; }



/*e7f2fd bbcfe6*/



h2.form { font-size: 15px; margin: 8px 0px 4px; border-bottom: 1px solid #C9D7F1; color: #656C79; }

.stepper { border-collapse: collapse; width: 100%; margin-bottom:8px; }
.stepper td { height: 36px; }
.stepper td.step { text-align:center; background: url(../images/stepper-default.png) no-repeat; padding: 6px 20px; line-height: 24px; height: 24px; vertical-align:middle;}
.stepper td.step.usable { background: url(../images/stepper-usable.png) no-repeat; }
.stepper td.step.active { background: url(../images/stepper-active.png) no-repeat; }
html[dir="ltr"] .stepper td.step { background-position: right center; }
html[dir="rtl"] .stepper td.step { background-position: left center; }
.stepper td.transition { width: 8px; }




.login { width:500px; margin:64px auto; /*border: 1px solid #95b0e4; background:#c9d7f1;*/ z-index: 1000; border: 1px solid #DDD; background: #f1f1f1; } /* #c9d7f1 */
.ui-dialog .login { margin: 0; padding: 0 8px;}
.login .logoban { height:80px; background: url(../../../images/ekylong.png) no-repeat center; margin: 16px 16px 8px; }
.login h2 { color:red !important; padding: 2px; text-align:center; font-size:18px; }
.login p { margin:8px; }
.login table { border-collapse: collapse;  margin:16px auto; margin-left:auto; margin-right:auto; }
.login table tr td { padding: 2px 4px; }
.login table tr td.label { text-align:right; }
html[dir="rtl"] .login table tr td.label { text-align:left !important; }
.login table tr td.input, .login table tr td.input input { width:128px; }
.login table tr td.button {text-align:center; padding:6px 6px 16px; }
.login table.browsers tr td { padding: 8px 16px; }
/*div.flash-error {text-align:center; color:red; font-style:italic;height:20px;padding: 16px; margin-top: 64px; }*/
#nojavascript p { font-weight: bold; text-align: center; padding: 24px; color: #c00; }
.login.register { padding:16px 0; text-align: center;}

.window { padding:4px; background: #EEE; border: 1px solid #AAA; margin: 8px; }
.window .list { background: white; }


/* Droits utilisateurs */
.right-category { text-align: center; padding: 15px 0 5px 0; font-weight: bold; }
.right {  margin-left:50px; }

/* entries */
#table.entries tr * { border: 1px solid #AAA; padding: 1px 2px; }
#table.entries tr.odd td{background: #E3F4FF; }
#table.entries tr.even td{background: #A3FCFF; }


/*all the styles used by the plugin Dyli.*/
div.dyli_complete {width: 350px; z-index: 1000; }
div.dyli_complete ul {border:1px solid ButtonShadow; margin:0; padding:0; list-style-type:none; }
div.dyli_complete ul li {background-color: Menu; margin:0; padding:3px; color: MenuText; cursor: pointer; } /*#C9D7F1*/
div.dyli_complete ul li.selected {background-color: Highlight; color: HighlightText; }
div.dyli_complete ul strong.highlight { margin:0; padding:0; }
input.dyli { background: #FFF url(../images/buttons/dyli.png) no-repeat; }
html[dir="ltr"] input.dyli { background-position: right center; padding-right: 18px; }
html[dir="rtl"] input.dyli { background-position: left center; padding-left: 18px; }

.tabbox { margin: 8px 0;}
.tabbox > .tabs  { padding: 4px 4px 0px; background: #688ED8 url(../images/shadow-bottom.png) top repeat-x;}
.tabbox > .tabs > .tab { text-decoration: none; line-height: 24px; /*background: #57D;*/ cursor: pointer; padding: 4px 8px 3px; margin: 0 6px 0 0; color: #FFF; text-shadow: 1px 1px 1px #3D5C8D; white-space: nowrap; -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; border-top-left-radius: 4px; border-top-right-radius: 4px; behavior: url(/pie.htc); } /*border: 1px solid #CCC; border-bottom: none;*/
.tabbox > .tabs > .tab:hover { background: #3D5C8D }
.tabbox > .tabs > .tab.current { color: #000; padding: 4px 6px; text-decoration: none; background: #F1F1F1; font-weight: bold; text-shadow: none; -moz-box-shadow: 0 -2px 2px #3D5C8D; -moz-box-shadow: -2px -2px 2px #3D5C8D, 2px -2px 2px #3D5C8D;}
.tabbox > .tabpanels {background: #F1F1F1; border: 1px solid #CCC; padding:8px; border-top: none; }
.tabbox > .tabpanels > .tabpanel { display: none; } /*min-height: 200px;*/
.tabbox > .tabpanels > .tabpanel.current { display: block; }

html[dir="ltr"] .branches { margin-left: 18px; border-left: 1px dotted #AAA; }
html[dir="rtl"] .branches { margin-right: 18px; border-right: 1px dotted #AAA; }
.branch .shift { height: 15px; width:10px; border-bottom: 1px dotted #AAA; }
html[dir="ltr"] .branch .shift { float:left; }
html[dir="rtl"] .branch .shift { float:right; }
.branch .tools { padding: 1px 4px; width: 20em; }
html[dir="ltr"] .branch .tools { float:right; }
html[dir="rtl"] .branch .tools { float:left; }
/*.branch .item  { padding: 0 0 0 16px; background: url(../images/buttons/increment.png) no-repeat center left; margin: 0 0 0 10px; }*/
/*.branch .item  { padding: 0 0 0 16px; background: url(../images/buttons/increment.png) no-repeat center left; margin: 0 0 0 10px; }*/
html[dir="ltr"] .branch .item  { padding: 0 0 0 16px; margin: 0 0 0 10px; }
html[dir="rtl"] .branch .item  { padding: 0 16px 0 0; margin: 0 10px 0 0; }
.branch .item .item-detail table { width: 100%; }
.branch .item .item-detail { border-bottom:1px dotted #79F; padding: 2px 4px; }
.branch .item .export { vertical-align: bottom; width: 1em; }
.branch .item .attribute { color: #888; font-style: italic; }
.branch .item td.delete {padding: 0 4px; width: 2em; }
.branch .item td.position {width: 6ex; }
html[dir="ltr"] .branch .item .item-tool { text-align: right; }
html[dir="rtl"] .branch .item .item-tool { text-align: left; }
.branch:hover { background-color: #DEF; }

/*
.journals.tabbox { margin-bottom: 8px; border-bottom: 1px solid #AAA; }
.journals.tabbox .tabs { padding: 0 8px; background: url(../images/shadow-top.png) repeat-x bottom; }
.journals.tabbox .tabs .tab { background-image: url(../images/shadow-top.png); background-repeat: repeat-x; background-position: center bottom; }
.journals.tabbox .tabs .tab.current{ background: #F7F7FF; }
.journals.tabbox .tabs .tab.special{ color: #C00; } /*border-top: 3px solid #95b0e4;*/

.journals.tabbox > .tabs > .tab.current{ background: #FFF; }
.journals.tabbox > .tabs > .tab.special{ color: #FCC; }
.journals.tabbox > .tabs > .tab.special.current { color: #C00; }

tbody.lines td input { width: 95%; }

table.list tr.total.invalid td { color: #D20; }  
table.list tr.total.valid   td { color: #090; }  
table.list tr.first-line    td { border-top: 2px solid #F77; }  
table.list tr.last-line     td { border-bottom: 2px solid #F77; }  
table.list tr.inline-errors td { background: transparent; padding:8px 4px 0; border-left:none; border-right:none; }

div.fastadd { background: #FC8; text-align:center; padding: 4px; margin: 4px 0; }

#conditions .condition { background: #FD8; padding: 4px; margin-bottom: 8px; }
#conditions .title { clear: both; background: #FEA; padding: 4px; }
#conditions .title .right-menu { float: right; padding-left:8px; }
#conditions .title h3 { font-size: 13px; }
#conditions .parameters { padding-top: 4px; }
#conditions .param { padding: 2px; border-bottom: 1px dotted #AAA; }
#conditions .param:last-child { border-bottom:none; }

table.accounts tr td.tabs { width: 16em; }
table.accounts tr td.list, .tab-content { /*border: 4px solid #BACFE6;*/ background:#BACFE6; padding:4px; }
.major-accounts a, .major-accounts strong { background: #DBE4F6; display: block; padding:4px 8px; margin-bottom:2px; }
html[dir="ltr"] .major-accounts a, html[dir="ltr"] .major-accounts strong { -webkit-border-top-left-radius: 8px; -webkit-border-bottom-left-radius: 8px; -moz-border-radius-topleft: 8px; -moz-border-radius-bottomleft: 8px; border-top-left-radius: 8px; border-bottom-left-radius: 8px; behavior: url(/pie.htc); }
html[dir="rtl"] .major-accounts a, html[dir="rtl"] .major-accounts strong { -webkit-border-top-right-radius: 8px; -webkit-border-bottom-right-radius: 8px; -moz-border-radius-topright: 8px; -moz-border-radius-bottomright: 8px; border-top-right-radius: 8px; border-bottom-right-radius: 8px; behavior: url(/pie.htc); }
.major-accounts strong { background: #BACFE6 }
.major-accounts > *:last-child { margin-bottom: 0 }

.view { padding:4px; }/* background: #DBE4F6; margin: 0 0 8px; }*/
.view span { padding:4px 8px; }
.view a, .view strong { padding:4px 8px; margin: 0 2px; background: #DBE4F6; -webkit-border-top-left-radius: 8px; -webkit-border-top-right-radius: 8px; -moz-border-radius-topleft: 8px; -moz-border-radius-topright: 8px; border-top-left-radius: 8px; border-top-right-radius: 8px; behavior: url(/pie.htc); }
.view strong { background: #BACFE6; margin: 0 2px; }


.map { border: 1px solid #999; background: white; }


html[dir="ltr"] .toggle { float:right }
html[dir="rtl"] .toggle { float:right }
.toggle a.icon { background-position: center center;  height: 18px; }
.toggle a.icon.current { opacity: 0.5; -ms-filter: "alpha(opacity=50)"; filter : alpha(opacity=50); }

#chains .chain { border-top: 1px dotted #CCC;  }
#chains .chain:first-child { border-top: none;  }
.chain { padding:8px 0; }
html[dir="ltr"] .chain .delete { float:right; }
html[dir="rtl"] .chain .delete { float:left; }
.work-center-graph { border-collapse: collapse; }
.work-center-graph .work-center { background: #C9D7F1; padding: 4px 8px; border: 2px dotted #95b0e4; text-align:center; width: 10em;}
.work-center-graph .work-center.master { border-style: solid; }
.work-center-graph .work-center .action { margin: 2px;}
table.conveyor { border-collapse: collapse; margin: 2px 0; }
.conveyor .information table { border-collapse: collapse; padding: 0}
.conveyor .cell { background: #DDD; font-size: 11px; border: 2px solid #555; padding: 0;}
.conveyor .cell * { font-size: 11px; }
.conveyor .cell .bmenu { padding: 0; width: 12em;}
.conveyor .cell .bmenu ul { width: 12em;}
.conveyor .cell .bmenu a { display: block; padding: 2px 4px;}
.conveyor a img { border: none; display: block;}
.conveyor .cell.action { padding: 1px; }
.conveyor .cell.quantity { background: #C9D7F1; padding: 2px 4px; border-color: #95b0e4;  }
html[dir="ltr"] .conveyor .cell.target, html[dir="rtl"] .conveyor .cell.source { margin-right: -2px; border-right: none; }
html[dir="rtl"] .conveyor .cell.target, html[dir="ltr"] .conveyor .cell.source { margin-left: -2px; border-left: none; }
.conveyor .cell.check-state { background: #EF9; }
.conveyor .cell.unique-tracking { background: #FE9; }
.conveyor .cell.new { padding: 2px 4px; background: #FFD; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; behavior: url(/pie.htc); }

.conveyor .conveyor-input {  width: 24px; background: url(../images/conveyor.png) no-repeat -8px center; }
.conveyor .conveyor-output { width: 32px; background: url(../images/conveyor.png) no-repeat -32px center; }
html[dir="rtl"] .conveyor .conveyor-input { background-position: -32px center; }
html[dir="rtl"] .conveyor .conveyor-output { background-position: 0px center; }


.conveyor .rail { width: 20px; background: url(../images/rail.png) repeat-x center; }
.conveyor .arrow { width: 16px; background-repeat: no-repeat; background-position:center; height: 24px;}
html[dir="ltr"] .conveyor .arrow { background-image: url(../images/arrow-right.png); }
html[dir="rtl"] .conveyor .arrow { background-image: url(../images/arrow-left.png); }
html[dir="ltr"] .work-center-graph .input-conveyors .conveyor { margin-left: auto; }
html[dir="rtl"] .work-center-graph .input-conveyors .conveyor { margin-right: auto; }

.bmenu { position: relative; }
.bmenu ul { display: none; position:absolute; background: Menu; border:1px solid ButtonShadow; z-index: 1000; box-shadow: 0px 0px 4px #555; -moz-box-shadow: 0px 0px 4px #555; -webkit-box-shadow: 0px 0px 4px #555; behavior: url(/pie.htc);}
.bmenu:hover ul { display: block;  }
html[dir="ltr"] .bmenu ul { left: -1px; }
html[dir="rtl"] .bmenu ul { right: -1px; }
.bmenu ul li { list-style-type: none; padding: 2px 4px; }
.bmenu ul li a { padding: 2px 2px 2px 20px; display: block;}
.bmenu ul li:hover { background: Highlight; }
.bmenu ul li:hover * { color: HighlightText; }



.treemap { border-collapse: collapse; width: 100%; }
.treemap .plot { padding: 4px; border: 2px solid #8a8; vertical-align: top; }
.treemap .plot .name { padding: 2px; display:block; border-bottom: 1px dotted #8A8; }
.treemap .plot.odd { background: #D7F1C9; }
.treemap .plot.even { background: #C9F1D7; }
.treemap .plot ul.operations { padding: 2px 2px 2px 20px; }
.treemap .plot.selected {background: Highlight; color: HighlightText; }
.treemap .plot.selected * { color: HighlightText; }


table.list tr.aborted td, table.list tr.refused td { text-decoration: line-through; }

table.profile { border-collapse: collapse; border-spacing: 0; width: 100%;}
table.profile td { padding: 1px 2px; }

div.profile { clear: both; border-left: 1px solid #000; border-top: 1px solid #000;}
div.profile .md { float: right; }

.profile * { font-size: 10px; font-family: monospace; }
.profile .dec { text-align: right; width: 15ex;}
.profile .mdc { text-align: right; width: 7ex;}
.profile .tit { border : 1px solid transparent; cursor: pointer;}
.profile .tit:hover { border : 1px solid red }
.profile span.fil { color: #0A7; }
.profile span.lno { color: #0A7; }
.profile span.cls { color: #05D; }
.profile span.mth { color: #D50; }


/*all the styles used by the plugin Unroll.*/
div.unroll-choices {width: 350px; z-index: 1000; background-color: #FFF;}
div.unroll-choices ul {border:1px solid #555; margin:0; padding:0; list-style-type:none; }
div.unroll-choices ul li { margin:0; padding:3px; color: #000; cursor: pointer; } /*#C9D7F1*/
div.unroll-choices ul li.selected {background-color: #C9D7F1; }
div.unroll-choices ul strong.highlight { margin:0; padding:0; }
/*input[data-unroll] { background: #FFF url(../images/buttons/unroll.png) no-repeat; }
html[dir="ltr"] input[data-unroll] { background-position: right center; padding-right: 18px; }
html[dir="rtl"] input[data-unroll] { background-position: left center; padding-left: 18px; }
*/



.ui-dialog .ui-dialog-content.ajax-dialog { padding: 8px; }