-field_set do
  -input :nature, :show => {:quantity => :number_options}
  -input :name
  -input :reduction_rate
  -association :entity_link_nature
  -input :comment, :field => :text

-field_set(:number_options) do
  -input :actual_number
