-field_set do
  -input :nature, :show => {:quantity => :number_options}
  -input :name
  -input :reduction_percentage
  -association :entity_link_nature
  -input :comment

-field_set(:number_options) do
  -input :actual_number
