-field_set do # partie info general de l entité animal
  -association :nature, :as => :radio_buttons # affiche un menu deroulant construit par la relation group_id vers le champ name de l entité animal_group
  -input :name , :hint => "le nom de votre médicament"# affiche le champ name de l entité animal avec une infos derriere
  -input :prescripted
  -input :comment, :field => :text # affiche le champ comment formaté en zone de texte

-field_set(:treatment) do |f|
  =nested_association(:posologies) do
    -association :animal_race
    -association :disease
    -input :preventive_quantity
    -input :currative_quantity
    -association :quantity_unit
    -input :quantity_interval
    -input :quantity_delay
    -input :product_category_waiting_delay
    -association :product_category