=toolbar do |t|
  -t.edit @animal_drug
  -t.destroy(@animal_drug, :method=>:delete, "data-confirm" => tg(:are_you_sure_you_want_to_delete)) if @animal_drug.destroyable?

=attributes_list(@animal_drug) do |l| # liste des champs à afficher
  -l.attribute :name
  -l.attribute :nature, :url => true
  -l.attribute :comment
-#  -l.image_tag :picture.url(:thumb)

