-if product = @sale_item.product
  =formalize do |f|
    -f.field :sale_item, :quantity
    -f.field SaleItem.human_attribute_name("unit_id"), @sale_item.product.unit.label
    -f.field :sale_item, :annotation, :field=>:textarea
  -if product.stockable?
    =formalize do |f|
      -f.field SaleItem.human_attribute_name("stock_id"), select(:sale_item, :stock_id, product_stocks_options(product))
  -if product.subscribing?
    -@subscription ||= @sale_item.new_subscription(params[:subscription])
    =render :partial=>"subscriptions/coordinates_form"

  -if current_user.can?(:change_prices_on_sales)
    =formalize do |f|
      -f.title :change_price
      -f.field :sale_item, :price_amount
      -f.field :sale_item, :tax_id, :choices=>{:reflection=>:taxes}, :new=>true

  -if current_user.can?(:give_discounts_on_sales) and product.reduction_submissive?
    =formalize do |f|
      -f.title :give_discount
      -f.field :sale_item, :reduction_percentage, :size=>5

