- if product = @sale_item.product
  %table
    %tr
      %td=SaleItem.human_attribute_name("quantity")
      - if current_user.can?(:give_discounts_on_sales) and product.reduction_submissive?
        %td=SaleItem.human_attribute_name("reduction_percentage")
      - if product.stockable
        %td=SaleItem.human_attribute_name("stock")
    %tr
      %td
        =text_field(:sale_item, :quantity, :size => 5)
        =product.unit.label
      - if current_user.can?(:give_discounts_on_sales) and product.reduction_submissive?
        %td=text_field(:sale_item, :reduction_percentage, :size => 5)
      - if product.stockable
        %td=select(:sale_item, :stock_id, product_stocks_options(product))
  - if product.nature == "subscrip"
    .count=product.default_subscription_label_for(@sale.client)
