=toolbar do |t|
  -if @product_indicator.choice?
    -t.link :new, :controller=>:product_indicator_choices, :nature_id=>@product_indicator.id
    -t.sort @product_indicator, {:method=>:post}
  -t.edit @product_indicator

=beehive do |b|
  -b.tabbox do
    -b.cell :general do
      =attributes_list(@product_indicator) do |l|
        -l.attribute :name
        -l.attribute :nature
        -l.attribute :active
        -l.attribute :description
    -b.cell(tl(:x_indicators, :count => @product_indicator.data.count)) do
      =list :indicator_values

  -b.tabbox do
    -if @product_indicator.choice?
      -b.cell :choice do
        %h2=tg(:choices)
        =list :choices