#tax-declaration-alert-container
  #tax-declaration-alert
    %i
    .tax-declaration-alert-message
      .tax-declaration-alert-title
        %b= I18n.translate "activerecord.attributes.tax_declaration.no_financial_year_title"
      .tax-declaration-alert-description
        = I18n.translate "activerecord.attributes.tax_declaration.no_financial_year_message"
      .tax-declaration-alert-button.btn.btn-default
        = link_to("#{I18n.translate "activerecord.attributes.tax_declaration.no_financial_year_button"}", backend_financial_years_path, class: "btn btn-default")
