.search
  -form_tag({}, :method=>:put) do 
    %table
      %tr
        %td
          =tc("nb_years")+"&nbsp;"
        %td
          =text_field_tag(:nb_years, session[:nb_year].to_s, :size=>2)
      %tr
        %td
          =tc("data_to_export")
        %td
          -for x in [:quantity, :amount, :amount_with_taxes]
            =radio_button_tag "mode", x
            %label{:for=>"mode_#{x}"}=tc(x)
      %tr
        %td
          =tc("source")
        %td
          -for x in [:invoice, :sale_order]
            =radio_button_tag "source", x
            %label{:for=>"source_#{x}"}=tc(x)
    
    .submit{:style=>'text-align:center;'}    
      =submit_tag tg(:export)
