=formalize do |f|
  -f.error :delivery
  -f.title :infos
  -f.field :delivery, :contact_id, :choices=>@contacts.collect{|x| [x.address, x.id]}, :new=>{:controller=>:relations, :action=>:entity_contact_create, :id=>@sale_order.client_id} 
  -f.field :delivery, :mode_id, :choices=>@current_company.delivery_modes.collect{|x| [x.name, x.id]}, :new=>{:action=>:delivery_mode_create}
  -f.field :delivery, :planned_on
%table.dyta 
  %tr
    %th Produit
    %th PU HT
    %th PU TTC
    %th Unité
    %th Quantité totale
    %th Quantité restante
    %th Quantité
  -for @line in @delivery_lines
    %tr{:class=>cycle('odd','even')}
      %td=@line.order_line.label
      %td=@line.order_line.price.amount
      %td=@line.order_line.price.amount_with_taxes
      %td=@line.order_line.unit.name
      %td{:style=>'text-align:center'}=@line.order_line.quantity
      %td{:style=>'text-align:center'}=@line.quantity
      %td{:style=>'text-align:center'}
        =text_field_tag "delivery_line[#{@line.order_line_id}][quantity]", @line.quantity, :id=>"delivery_line_#{@line.order_line_id}_quantity"
        =observe_field "delivery_line_#{@line.order_line.id}_quantity", :url=>{:action => :sum_calculate}, :frequency => 0.25, :with=>"Form.serialize('#{@delivery_form}')"
.total
  %table.dyta
    %tr
      %th=tc :amount
      %td#sum_total_ht=@delivery.amount
    %tr.important
      %th=tc :amount_with_taxes
      %td#sum_total=@delivery.amount_with_taxes


