=formalize do |f|
  - f.error :embankment
  - f.title :infos
  - f.field :embankment, :bank_account_id, :choices=>{:reflection=>:self_bank_accounts}, :new=>{:controller=>:accountancy, :action=>:bank_account_create}
  - f.field :embankment, :embanker_id, :choices=>{:reflection=>:users}
  - f.field :embankment, :created_on

=hidden_field_tag :mode_id, @embankment.mode_id

%h2=tc :payments
=dyta :embankable_payments
