=formalize do |f|
  - f.error :embankment
  - f.title :infos
  - f.field :embankment, :cash_id, :choices=>{:reflection=>:self_bank_accounts}, :new=>{:controller=>:accountancy, :action=>:cash_create, :nature=>:bank_account}
  - f.field :embankment, :embanker_id, :choices=>{:reflection=>:users}
  - f.field :embankment, :created_on
  - f.field :embankment, :comment

=hidden_field_tag :mode_id, @embankment.mode_id

%h2=tc :payments
=dyta :embankable_payments
