=formalize do |f|
  - f.error :incoming_delivery_mode
  - f.field :incoming_delivery_mode, :name
  - f.field :incoming_delivery_mode, :code
  - f.field :incoming_delivery_mode, :comment, :field=>:textarea
