=formalize do |f|
  -f.error 'payment'
  -f.title :title
  -f.field :payment, :amount
  -f.field :payment, :to_bank_on
  -f.field :payment, :mode_id, :choices=>{:reflection=>:payment_modes}, :new=>{:action=>:payment_mode_create}
  -f.title :check
  -f.field :payment, :embanker_id, :choices=>{:reflection=>:users}
  -f.field :payment, :paid_on
  -f.field :payment, :check_number
  -f.field :payment, :account_number
  -f.field :payment, :bank
