=formalize do |f|
  -f.error 'price'
  -f.error 'price_tax'
  -f.title :general
  -f.field :price, :product_id, :choices=>{:reflection=>:products}, :new=>{:action=>:product_create} 
  -if @mode != :sales
    -f.field :price, :entity_id, :choices=>:entities, :new=>{:controller=>:relations, :action=>:entity_create} 
  -f.field :price, :default
=render :partial=>'price_amount_form'

-#  -f.field :price, :use_range
-#=formalize(:id=>:interval) do |f|
-#  -f.field :price, :quantity_min
-#  -f.field :price, :quantity_max

:javascript
  window.displayInterval = function() { toggleElement('interval', $('price_use_range').checked); };
  displayInterval();
=observe_field("price_use_range", :frequency =>0.25, :function => "displayInterval();")
