-location_id = nil
=formalize do |f|
  -f.error :product
  -f.error :stock
  -f.title :identification
  -f.field :product, :name
  -f.field :product, :code
  -f.field :product, :code2
  -f.field :product, :ean13
  -f.field :product, :catalog_name
  -f.field :product, :comment, :field=>:textarea
  -f.title :nature
  -f.field :product, :shelf_id, :choices=>{:reflection=>:shelves}, :new=>{:action=>:shelf_create}
  -f.field :product, :unit_id, :choices=>{:reflection=>:units}, :new=>{:controller=>:company, :action=>:unit_create}
  -f.field :product, :weight
  -f.field :product, :price
  -f.field :product, :nature, :field=>:radio, :choices=>Product.natures
  -f.field :product, :service_coeff, :html_options=>{:id=>:service_coeff}
=formalize(:id=>:subscriptions) do |f|
  -f.field :product, :subscription_nature_id,  :choices=>{:reflection=>:subscription_natures}, :new=>{:action=>:subscription_nature_create} 
  -f.field :product, :duration

=formalize do |f|
  -f.field :product, :reduction_submissive
  -f.field :product, :active
  -f.field :product, :to_sale
  -f.field :product, :to_purchase
  -f.field :product, :to_produce
  -f.field :product, :manage_stocks
=formalize(:id=>:product_form_stocks) do |f|
  -f.title :stocks
  -f.field :stock, :quantity_min
  -f.field :stock, :critic_quantity_min
  -f.field :stock, :quantity_max
  -if @locations.size > 1
    -location_id = f.field :stock, :location_id, :choices=>{:reflection=>:locations}, :new=>{:action=>:location_create}
-#price=render :partial=>'price_amount_form'

=formalize do |f|
  -f.title :accountancy
  -f.field :product, :product_account_id, :choices=>{:reflection=>:products_accounts}, :new=>{:controller=>:accountancy, :action=>:account_create}, :html_options=>{:id=>'product_account'}
  -f.field :product, :charge_account_id, :choices=>{:reflection=>:charges_accounts}, :new=>{:controller=>:accountancy, :action=>:account_create}, :html_options=>{:id=>'charge_account'}

:javascript
  window.toggleService = function() { toggleElement('service_coeff', $('product_nature_service').checked); }
  toggleService();
  window.toggleSubscription = function() { toggleElement('subscriptions', $('product_nature_subscrip').checked); }
  toggleSubscription();
  window.toggleStocks = function() { toggleElement('product_form_stocks', $('product_manage_stocks').checked); }
  toggleStocks();
  window.toggleChargeAccount = function() { toggleElement('charge_account', $('product_to_purchase').checked); }
  toggleChargeAccount();
  window.toggleProductAccount = function() { 
    toggleElement('product_account', $('product_to_sale').checked); 
    /*toggleElement('price', $('product_to_sale').checked); */
  }
  toggleProductAccount();

=observe_field("product_nature_service", :frequency =>0.25, :function => "toggleService();")
-if request.url.to_s.include? "update"
  =observe_field(location_id, :url=>{:action=>:change_quantities}, :frequency=>0.25, :with=>"location_id")
=observe_field("product_manage_stocks", :frequency=>0.25, :function=> "toggleStocks();")
=observe_field("product_nature_subscrip", :frequency=>0.25, :function=>"toggleSubscription();")
=observe_field("product_to_purchase", :frequency=>0.25, :function=>"toggleChargeAccount();")
=observe_field("product_to_sale", :frequency=>0.25, :function=>"toggleProductAccount();")
