=formalize do |f|
  - f.field :product_component, :component_id, :choices=>{:reflection=>:products}, :new=>{:action=>:product_create}
  - f.field :product_component, :quantity
  - f.field :product_component, :location_id, :choices=>{:rflection=>:locations}, :new=>{:action=>:location_create}
