=formalize do |f|
  -f.error :purchase_payment_mode
  -f.title :general
  -f.field :purchase_payment_mode, :name
  -f.field :purchase_payment_mode, :with_accounting, :onchange=>"toggleAccountancy();"

#accountancy
  =formalize do |f|
    -f.title :accountancy
    -f.field :purchase_payment_mode, :cash_id, :choices=>{:reflection=>:cashes}, :new=>{:controller=>:accountancy, :action=>:cash_create}

:javascript
  window.toggleAccountancy = function() { toggleElement('accountancy', $('purchase_payment_mode_with_accounting').checked); }
  toggleAccountancy();
