=formalize do |f|
  -f.error :purchase_order_line
  -f.field :purchase_order_line, :product_id,:choices=>@current_company.available_products.collect{|x| [x.name, x.id]}, :new=>{:action=>:products_create}
  -f.field :purchase_order_line, :quantity
  -f.field :purchase_order_line, :account_id, :choices=>@current_company.accounts.collect{|x| [x.label, x.id]}, :new=>{:action=>:accounts_create}
