%h2=tl :purchase_order_lines 
=toolbar do
  -link :purchase_order_line_create, :order_id=>@purchase_order.id if @purchase_order.updatable?
=dyta :purchase_order_lines

%table.dyta
  %tr.total
    %th=tc :amount
    %td=number_to_accountancy(@purchase_order.amount)
  %tr.important.total
    %th=tc :amount_with_taxes
    %td=number_to_accountancy(@purchase_order.amount_with_taxes)

