%h2=tl :general_informations
=toolbar do |t|
  -t.update @purchase_order
  -if @purchase_order.lines.size > 0 
    -t.print :purchase_order, :p0=>@purchase_order.id 

=list_evalue(@current_user.preference("interface.toggle.orientation", "vertical").value == "vertical" ? 1 : 3) do |l|
  -l.evalue @purchase_order, :supplier, :label=>:full_name, :url=>{:controller=>:relations, :action=>:entity}
  -l.evalue @purchase_order, :planned_on
  -l.evalue @purchase_order, :reference_number
  -l.evalue @purchase_order, :comment
  -l.evalue @purchase_order, :dest_contact, :label=>:address
  -l.evalue @purchase_order, :currency
