=purchase_steps

=formalize do |f|
  -f.error :purchase_order
  -f.title :infos
  -if @purchase_order.updatable?
    -f.field :purchase_order, :supplier_id, :choices=>:suppliers, :new=>{:controller=>:relations, :action=>:entity_create}
    -f.field :purchase_order, :dest_contact_id, :choices=>{:reflection=>:self_contacts, :label=>:address}, :new=>{:controller=>:relations, :action=>:contact_create, :entity_id=>@current_company.entity_id}
    -f.field :purchase_order, :planned_on
  -f.field :purchase_order, :comment, :field=>:textarea


