-if @product and @location
  -if @current_company.stocks.find(:all, :conditions=>["location_id = ? AND product_id = ? AND tracking_id IS NOT NULL ",@location.id, @product.id]).size > 0
    =formalize do |f|
      -f.field :sales_order_line, :tracking_id, :choices=>@current_company.stocks.find(:all, :conditions=>{:location_id=>@location.id, :product_id=>@product.id}).collect{|p| [p.label, p.tracking_id]}, :options=>{:include_blank=>tc(:no_tracking) }
