%h2=tc :general
=toolbar do |t|
  -if @sale_order.estimate?
    -t.update @sale_order
  -if @sale_order.lines.size>0
    -if (@sale_order.estimate? and @sale_order.deliveries.size <= 0)
      -t.link :sale_order_confirm, {:id=>@sale_order.id}, :method=>:post, :confirm=>tc(:are_you_sure_to_confirm)
    -if (@sale_order.amount_with_taxes > @sale_order.invoiced_amount and @sale_order.deliveries.size <= 0)
      -t.link :sale_order_invoice, {:id=>@sale_order.id}, :method=>:post, :confirm=>tc(:are_you_sure_to_invoice)
  -t.print :sale_order, :id=>@sale_order.id

-columns ||= 1
-orient ||= :vertical
=list_evalue(columns) do |l|
  -l.evalue @sale_order, :client, :label=>:label, :url=>{:controller=>:relations, :action=>:entity}, :orient=>orient
  -l.evalue @sale_order, :responsible, :label=>:full_name, :orient=>orient
  -l.evalue @sale_order, :nature, :orient=>orient
  -l.evalue @sale_order, :currency, :orient=>orient unless @sale_order.currency == @current_company.default_currency
  -l.evalue @sale_order, :comment, :orient=>orient unless @sale_order.comment.blank?
  -l.evalue @sale_order, :contact, :label=>:address, :orient=>orient
  -l.evalue @sale_order, :delivery_contact, :label=>:address, :orient=>orient
  -l.evalue @sale_order, :invoice_contact, :label=>:address, :orient=>orient
  -if @sale_order.letter_format?
    -l.evalue @sale_order, :subject, :orient=>orient
    -l.evalue @sale_order, :function_title, :orient=>orient
    -l.evalue @sale_order, :introduction, :field=>:textarea, :orient=>orient
    -l.evalue @sale_order, :conclusion, :field=>:textarea, :orient=>orient
