.search
  =form_tag(:action=>:sales_invoices) do
    %table
      %tr
        %td.label=tc(:search)
        %td.field=text_field_tag :key, session[:sales_invoice_key]
        -for state in [:all, :credits, :cancelled]
          %td
            =radio_button(:sales_invoice, :state, state, :checked=>(state.to_s == session[:sales_invoice_state] ? true : false))
            %label{:for=>'sales_invoice_'+state.to_s}=tc("sales_invoices_states.#{state}")
        %td.submit=submit_tag tg(:search_go)
