%h2=tc :general
=toolbar do |t|
  -if @sales_order.estimate?
    -t.update @sales_order
  -if @sales_order.lines.size>0
    -if (@sales_order.estimate? and @sales_order.deliveries.size <= 0)
      -t.confirm @sales_order, :method=>:post, :confirm=>tc(:are_you_sure_you_want_to_confirm)
    -if (@sales_order.amount_with_taxes > @sales_order.invoiced_amount and @sales_order.deliveries.size <= 0)
      -t.invoice @sales_order, :method=>:post, :confirm=>tc(:are_you_sure_you_want_to_sales_invoice)
  -t.print :sales_order, :id=>@sales_order.id

-columns ||= 1
-orient ||= :vertical
=list_evalue(columns) do |l|
  -l.evalue @sales_order, :client, :label=>:label, :url=>{:controller=>:relations, :action=>:entity}, :orient=>orient
  -l.evalue @sales_order, :responsible, :label=>:full_name, :orient=>orient
  -l.evalue @sales_order, :nature, :orient=>orient
  -l.evalue @sales_order, :currency, :orient=>orient unless @sales_order.currency == @current_company.default_currency
  -l.evalue @sales_order, :comment, :orient=>orient unless @sales_order.comment.blank?
  -l.evalue @sales_order, :contact, :label=>:address, :orient=>orient
  -l.evalue @sales_order, :delivery_contact, :label=>:address, :orient=>orient
  -l.evalue @sales_order, :invoice_contact, :label=>:address, :orient=>orient
  -if @sales_order.letter_format?
    -l.evalue @sales_order, :subject, :orient=>orient
    -l.evalue @sales_order, :function_title, :orient=>orient
    -l.evalue @sales_order, :introduction, :field=>:textarea, :orient=>orient
    -l.evalue @sales_order, :conclusion, :field=>:textarea, :orient=>orient
