-if product = @sales_order_line.product
  %table
    %tr
      %td=SalesOrderLine.human_attribute_name("quantity")
      -if @current_user.can?(:give_discounts_on_sales_orders) and product.reduction_submissive?
        %td=SalesOrderLine.human_attribute_name("reduction_percent") 
      -if product.manage_stocks
        %td=SalesOrderLine.human_attribute_name("stock")
    %tr
      %td
        =text_field(:sales_order_line, :quantity, :size=>5)
        =product.unit.label
      -if @current_user.can?(:give_discounts_on_sales_orders) and product.reduction_submissive?
        %td=text_field(:sales_order_line, :reduction_percent, :size=>5)
      -if product.manage_stocks
        %td=select(:sales_order_line, :stock_id, product_stocks_options(product))
  -if product.nature == "subscrip"
    .count=product.default_subscription_label_for(@sales_order.client)
