=sale_steps unless request.xhr?

-price_id = nil
=formalize do |f|
  -f.error :sale_order_line
  -f.error :subscription
  -f.title :infos
  -price_id    = f.field :sale_order_line, :price_id, :choices=>:available_prices, :new=>{:action=>:price_create, :mode=>:sales}
#detail=render :partial=>"sale_order_line_detail_form"

=observe_field(price_id, :url=>{:action=>:sale_order_line_detail, :order_id=>@sale_order.id}, :frequency=>0.25, :with=>"id", :update=>:detail, :loading=>"onLoading()", :loaded=>"onLoaded()")
