-if @product and @location
  -if @current_company.stocks.find(:all, :conditions=>["location_id = ? AND product_id = ? AND tracking_id IS NOT NULL ",@location.id, @product.id]).size > 0
    =tc(:tracking)+select(:sale_order_line, :tracking_id, @current_company.stocks.find(:all, :conditions=>{:location_id=>@location.id, :product_id=>@product.id}).collect{|p| [p.label, p.tracking_id]}, :include_blank=>tc(:no_tracking) )

