-if product = @sales_order_line.product
  =formalize do |f|
    -f.field :sales_order_line, :quantity
    -f.field SalesOrderLine.human_attribute_name("unit_id"), @sales_order_line.product.unit.label
    -f.field :sales_order_line, :annotation, :field=>:textarea
  -if product.manage_stocks
    =formalize do |f|
      -#f.field :sales_order_line, :stock_id, :choices=>{:reflection=>:s}, :new=>{:action=>:warehouse_create} 
      -f.field SalesOrderLine.human_attribute_name("stock_id"), select(:sales_order_line, :stock_id, product_stocks_options(product))
  -if product.nature == "subscrip"
    -@subscription = @sales_order_line.new_subscription(params[:subscription])
    =render :partial=>"subscription_coordinates_form"

  -if @current_user.can?(:change_prices_on_sales_orders)
    =formalize do |f|
      -f.title :change_price
      -f.field :sales_order_line, :price_amount
      -f.field :sales_order_line, :tax_id, :choices=>{:reflection=>:taxes}, :new=>{:controller=>:accountancy, :action=>:tax_create}

  -if @current_user.can?(:give_discounts_on_sales_orders) and product.reduction_submissive?
    =formalize do |f|
      -f.title :give_discount
      -f.field :sales_order_line, :reduction_percent, :size=>5

