-price_id = nil
%fieldset.quick-add
  %legend=tc('title')
  -form_tag(:action=>:sale_order_line_create) do 
    =formalize do |f|
      -price_id = f.field :sale_order_line, :price_id, :choices=>:available_prices
    #detail-row=render :partial=>"sale_order_line_detail_row_form"
    .actions=submit_tag(tg(:add))

=observe_field(price_id, :update=>"detail-row", :url=>{:action=>:sale_order_line_detail, :order_id=>@sale_order.id, :mode=>:row}, :frequency => 0.25, :with=>"id", :loading=>"onLoading()", :loaded=>"onLoaded()")
