=formalize do |f|
  - f.title :general
  - f.field :shelf, :name
  - f.field :shelf, :comment, :field=>:textarea
  - shelves = @current_company.shelves.find(:all, :conditions=>["id!=COALESCE(?,0)",@shelf.id], :order=>:parent_id)
  - if shelves.size>0
    - f.field :shelf, :parent_id, :choices=>shelves.collect{|x| ["- "*x.depth+x.name, x.id]}, :options=>{:include_blank=>true}
  - f.title :catalog
  - f.field :shelf, :catalog_name
  - f.field :shelf, :catalog_description, :field=>:textarea
=observe_field("shelf_name", :frequency =>0.25, :function => "$('shelf_catalog_name').value = value;")

