=formalize do |f|
  - f.error :stock_location
  - f.title :description
  - f.field :stock_location, :name
  - stock_locations = @current_company.stock_locations.find(:all, :conditions=>["id!=COALESCE(?,0)", @stock_location.id], :order=>:name)
  - if stock_locations.size>0
    - f.field :stock_location, :parent_id, :choices=>stock_locations.collect{|x| [x.name, x.id]}, :options=>{:include_blank=>true}
  - f.field :stock_location, :comment, :field=>:textarea
  - f.title :localization
  - f.field :stock_location, :establishment_id, :choices=>@current_company.establishments.find(:all, :order=>:name).collect{|x| [x.name, x.id]}
  - f.field :stock_location, :x
  - f.field :stock_location, :y
  - f.field :stock_location, :z
  - f.title :accountancy
  - f.field :stock_location, :account_id, :choices=>@current_company.accounts.find(:all, :conditions=>['number LIKE ?','3%'], :order=>:number).collect{|x| [x.label, x.id]}, :options=>{:include_blank_____=>true}
