=formalize do |f|
  - f.error :stock_move
  - f.title :description
  - f.field :stock_move, :name
  - f.field :stock_move, :comment
  - f.title :nature
  - f.field :stock_move, :location_id, :choices=>@current_company.stock_locations.find(:all, :order=>:name).collect{|x| [x.name, x.id]}
  - f.field :stock_move, :planned_on
  - f.field :stock_move, :moved_on
  - f.field :stock_move, :product_id, :choices=>@current_company.products.find(:all, :order=>:name).collect{|x| [x.name, x.id]}
  - f.field :stock_move, :quantity
  - f.field :stock_move, :unit_id, :choices=>@current_company.units.find(:all, :order=>:name).collect{|x| [x.label, x.id]}

