=formalize do |f|
  - f.error :subscription_nature
  - f.field :subscription_nature, :nature, :field=>:radio, :choices=>SubscriptionNature.natures
  - f.field :subscription_nature, :name
  - f.field :subscription_nature, :actual_number
  - f.field :subscription_nature, :comment, :field=>:textarea
