-if @subscription_nature.nature == "quantity"
  %table
    %tr
      %td.label=tc("select_number")
      %td=text_field_tag(:start, session[:subscriptions][:instant], :size=>6)
      %td.label=tc(:stop)
      %td=text_field_tag(:stop, session[:subscriptions][:instant], :size=>6)
-elsif @subscription_nature.nature == "period"
  %table
    %tr
      %td.label=tc("select_date")
      %td.input=text_field_tag(:instant, session[:subscriptions][:instant], :size=>10)
-else
  %strong [NoNatureError]
