=formalize do |f|
  - f.error :subscription_nature
  -if @subscription_nature.new_record?
    - f.field :subscription_nature, :nature, :field=>:radio, :choices=>SubscriptionNature.natures
  -else
    - f.field t('activerecord.attributes.subscription_nature.nature'), @subscription_nature.read_nature
  - f.field :subscription_nature, :name
=formalize(:id=>:number) do |f|
  - f.field :subscription_nature, :actual_number
=formalize do |f|
  - f.field :subscription_nature, :comment, :field=>:textarea


:javascript
  function display_number(){
    if($('subscription_nature_nature_quantity').checked)
      $('number').show();
    else
      $('number').hide();
  }
  display_number();


=observe_field("subscription_nature_nature_quantity", :frequency=>0.25, :function=> "display_number();")
