=dyta :transport_deliveries
-form_tag(:action=>:transport_deliveries) do 
  %table.formalize
    %tr.title
      %th=tc(:add_delivery)
    %tr.field
      %td.label=tc(:delivery)
      %td.input=dyli_tag('delivery[id]', :deliveries, :resize=>true)
  .actions
    =link_to(tc(:back), :action=>:transports)
    =submit_tag(tc(:add), :action=>:transport_deliveries)
   


