=toolbar do |t|
  -t.update @deposit
  -t.print :deposit, :p0=>@deposit.id

=list_evalue(3) do |l|
  -l.evalue @deposit, :number
  -l.evalue @deposit, :cash, :url=>{:controller=>:accountancy, :action=>:cash}
  -l.evalue @deposit, :payments_count
  -l.evalue @deposit, :responsible
  -l.evalue @deposit, :comment
  -l.evalue @deposit, :journal_entry, :url=>{:controller=>:accountancy, :action=>:journal_entry}

%h2=Deposit.human_attribute_name("payments")
=dyta :deposit_payments

%table.dyta
  %tr.total
    %th=tc(:payments_count, :mode=>@deposit.mode.name)
    %td=@deposit.payments_count 
  %tr.total.important
    %th=tc(:total)
    %td=@deposit.amount.to_s+" "+@deposit.cash.currency.code


