=toolbar do |t|
  -t.print :embankment, :p0=>@embankment.id

=dyta :embankment_payments
%table.dyta
  %tr.total
    %th=tc(:check_number)
    %td=@embankment.payments_count 
  %tr.total.important
    %th=tc(:amount)
    %td=@embankment.amount.to_s+" "+@embankment.cash.currency.code


