=toolbar do |t|
  -t.link :embankment_update, :id=>@embankment.id
  -t.print :embankment, :p0=>@embankment.id

=evalue @embankment, :cash, :url=>{:controller=>:accountancy, :action=>:cash}
=evalue @embankment, :comment
=evalue @embankment, :journal_record, :url=>{:controller=>:accountancy, :action=>:journal_record}

%h2=Embankment.human_attribute_name("payments")
=dyta :embankment_payments

%table.dyta
  %tr.total
    %th=tc(:payments_count, :mode=>@embankment.mode.name)
    %td=@embankment.payments_count 
  %tr.total.important
    %th=tc(:amount)
    %td=@embankment.amount.to_s+" "+@embankment.cash.currency.code


