=toolbar do |t|
  -for mode in @current_company.sale_payment_modes.find(:all, :order=>:name, :conditions=>{:with_embankment=>true})
    -count=mode.embankable_payments.size
    -if count > 0
      -t.link(tc(:embankment_create, :count=>count, :mode=>mode.name), {:action=>:embankment_create, :mode_id=>mode.id})
=dyta :embankments



 
