=toolbar do |t|
  -t.update @incoming_payment


=list_evalue(3) do |l|
  -l.evalue @incoming_payment, :number
  -l.evalue @incoming_payment, :amount
  -l.evalue @incoming_payment, :used_amount
  -l.evalue @incoming_payment, :payer, :label=>:full_name, :url=>{:controller=>:relations, :action=>:entity}
  -l.evalue @incoming_payment, :responsible, :label=>:label
  -l.evalue @incoming_payment, :deposit, :url=>{:action=>:deposit}
  -l.evalue @incoming_payment, :mode
  -l.evalue @incoming_payment, :commission_amount
  -l.evalue @incoming_payment, :commission_account, :url=>{:controller=>:accountancy, :action=>:account}
  -l.evalue @incoming_payment, :paid_on
  -l.evalue @incoming_payment, :to_bank_on 
  -l.evalue @incoming_payment, :received
  -l.evalue @incoming_payment, :scheduled
  -l.evalue @incoming_payment, :bank
  -l.evalue @incoming_payment, :account_number
  -l.evalue @incoming_payment, :check_number
  -l.evalue @incoming_payment, :journal_entry, :url=>{:controller=>:accountancy, :action=>:journal_entry}

-if @incoming_payment.uses.size>0
  -if SalesOrder.find(:all, :conditions=>["sales_orders.company_id=? AND id IN (SELECT expense_id FROM incoming_payment_uses WHERE payment_id=? AND expense_type=?)", @current_company.id, session[:current_payment_id], SalesOrder.name]).size > 0
    %h2=tc(:sales_orders)
    =kame :incoming_payment_sales_orders
