.search
  =form_tag({}, :method=>:get) do
    %table
      %tr
        %td.crit
          =tc(:search)
          =text_field_tag :key, session[:incoming_payment_key]
        %td.submit{:rowspan=>2}=submit_tag tg(:search_go), :name=>nil
      %tr
        %td.crit
          -for state in [:all, :unparted, :unreceived, :waiting, :undeposited]
            =radio_button_tag("state", state, (state.to_s == session[:incoming_payment_state]))
            %label{:for=>"state_#{state}"}=tc("incoming_payments_states.#{state}")

=toolbar do |t|
  -t.link :incoming_payment_create
=kame :incoming_payments
