.aclist.indicator
  %h2= tc('indicator')
  %ul
    %li= link_to tc('nb_sales', :count=>@deliveries.size), :action=>:undelivered_sales
    %li= link_to tc('nb_purchases', :count=>@purchases.size), :action=>:unreceived_purchases
  - if @product_stocks.size > 0
    %h2= tc('low_stocks')
    .stocks 
      =render :partial=>"stock_indicator"
=menu_index
