-form_tag() do
  =#"Répercuter les changements en gestion des stocks "+check_box_tag("inventory[reflect_changes]", 1)
  =formalize do |f|
    - f.title :inventory
    - f.field :inventory, :changes_reflected
  =dyta :inventory_lines_create
  =formalize do |f|
    - f.field :inventory, :employee_id, :choices=>@current_company.employees.collect{|e| [e.label, e.id]}
    - f.field :inventory, :comment, :field=>:textarea
  .actions
    =link_to tg(:previous), :action=>:inventories
    =submit_tag(tc('validate'), :action=>:inventory_create)
