%h2=tc :received_payment_modes
=toolbar do
  -link :payment_mode_create, :direction=>:received
=dyta :received_payment_modes 


%h2=tc :given_payment_modes
=toolbar do
  -link :payment_mode_create, :direction=>:given
=dyta :given_payment_modes 

