=toolbar do |t|
  -t.link :payment_update, :id=>@payment.id


%table
  %tr
    %td
      =evalue @payment, :number
      =evalue @payment, :amount
      =evalue @payment, :parts_amount
      =evalue @payment, :entity, :label=>:full_name, :url=>{:controller=>:relations, :action=>:entity}
      =evalue @payment, :embanker, :label=>:label
      =evalue @payment, :embankment, :label=>:created_on, :url=>{:action=>:embankment}
    %td
      =evalue @payment, :mode
      =evalue @payment, :paid_on
      =evalue @payment, :to_bank_on
      =evalue @payment, :received
      =evalue @payment, :scheduled
    %td
      =evalue @payment, :bank
      =evalue @payment, :account_number
      =evalue @payment, :check_number

-if @payment.parts.size>0
  -if SaleOrder.find(:all, :conditions=>["sale_orders.company_id=? AND id IN (SELECT expense_id FROM payment_parts WHERE payment_id=? AND expense_type=?)", @current_company.id, session[:current_payment_id], SaleOrder.name]).size > 0
    %h2=tc(:sale_orders)
    =dyta :payment_sale_orders
  -if PurchaseOrder.find(:all, :conditions=>["purchase_orders.company_id=? AND id IN (SELECT expense_id FROM payment_parts WHERE payment_id=? AND expense_type=?)", @current_company.id, session[:current_payment_id], PurchaseOrder.name]).size > 0
    %h2=tc(:purchase_orders)
    =dyta :payment_purchase_orders
