%h2=tc :sale_payment_modes
=toolbar do
  -link :sale_payment_mode_create
=dyta :sale_payment_modes 


%h2=tc :purchase_payment_modes
=toolbar do
  -link :purchase_payment_mode_create
=dyta :purchase_payment_modes 

