= toolbar do
  - link :price_lists_update, :id=>@price_list.id
  - link :price_lists

=evalue @price_list, :name
=evalue @price_list, :currency
=evalue @price_list, :comment

%h2=tc(:prices)
=dyta :prices
