-if @suppliers.size>0
  .toolbar
    -form_tag do
      %label=tc "display"
      -for mode in @modes
        =radio_button(:price, :mode , mode, :checked=>( mode=="all" ? true : false))+"&nbsp;"+content_tag(:label, tc(mode), :for=>'price_mode_'+mode)+"/n"
      =select(:price, :supply, @suppliers.collect{|x| [x.full_name,x.id]})
      =submit_tag tg('filter')
=toolbar do
  -link :sales_prices_create, {:action=>:price_create, :mode=>:sales}
  -link :purchases_prices_create, {:action=>:price_create, :mode=>:purchases}
  -link :prices_export
  -link :prices_import

=dyta :prices
