-if @suppliers.size>0
  .search
    =form_tag do
      %label=tc "display"
      -for mode in @modes
        =radio_button(:price, :mode , mode, :checked=>( mode=="all" ? true : false))+" "+content_tag(:label, tc("prices_for_"+mode), :for=>'price_mode_'+mode)
      =select(:price, :supply, @suppliers.collect{|x| [x.full_name,x.id]})
      =submit_tag tg('filter')
=toolbar do
  -link :sale_order_price_create, {:action=>:price_create, :mode=>:sales}
  -link :purchase_order_price_create, {:action=>:price_create, :mode=>:purchases}
  -link :prices_export
  -link :prices_import

=dyta :prices
