.aclist{:align=>"center"}
  -form_tag do
    %label Afficher
    -for mode in @modes
      =radio_button(:price, :mode , mode[0], :checked=>( mode[0]==:all ? true : false))+' '+content_tag(:label, tc(mode[0]), :for=>'price_mode_'+mode[0].to_s)
    =select(:price, :supply,Entity.find(:all,:conditions=>{:company_id=>@current_company.id}).collect{|x| [x.full_name,x.id]},:options=>{:include_blank=>true}) 
    =submit_tag tg('filter')
=dyta :prices
