= toolbar do
  - link :product_category_update, :id=>@product_category.id

=evalue @product_category, :name
=evalue @product_category, :parent, :url=>{:action=>:product_category}
=evalue @product_category, :comment
=evalue @product_category, :catalog_name
=evalue @product_category, :catalog_description

%h2=tc(:products)
=kame :product_category_products
