=toolbar do
  -link :products_update, :id=>@product.id
  -link :products

%table
  %tr
    %td
      =evalue @product, :name
      =evalue @product, :price
      =evalue @product, :code
      =evalue @product, :code2
      =evalue @product, :ean13
    %td
      =evalue @product, :shelf, :url=>{:action=>:shelves_display}
      =evalue @product, :unit, :label=>:label
      =evalue @product, :weight
      =evalue @product, :active
    %td
      =evalue @product, :to if @product.to_sale or @product.to_purchase
      =#evalue @product, :catalog_name
      =#evalue @product, :catalog_description
      =evalue @product, :description
      =evalue @product, :comment
    %td
      =evalue @product, :manage_stocks

- if @product_stocks.size > 0
  %h2= tc('stocks')
  .stocks=render :partial=>"stock_indicator"

-if @product.to_sale or @product.to_purchase
  %h2=tc :prices
  =toolbar do |t|
    -t.link(:sale_price_create, {:action=>:prices_create, :mode=>:sales, :product_id=>session[:product_id]}) if @product.to_sale
    -t.link(:purchase_price_create, {:action=>:prices_create, :mode=>:purchases, :product_id=>session[:product_id]}) if @product.to_purchase

  =dyta :product_prices

%h2=tc :components
=toolbar do
  -link :product_components_create

=dyta :product_components
