%h1=lc(:title, [@product.name])
.action-list
  %ul
    %li=link_to lc(:update_product), :action=>:products_update, :id=>@product.id
    %li=link_to lc(:products_list), :action=>:products
%table
  %tr
    %td
      =evalue @product, :name
      =evalue @product, :code
      =evalue @product, :code2
      =evalue @product, :ean13
    %td
      =evalue @product, :shelf
      =evalue @product, :unit
      =evalue @product, :active
      =evalue @product, :to
    %td
      =evalue @product, :catalog_name
      =evalue @product, :catalog_description
      =evalue @product, :description
      =evalue @product, :comment


