=toolbar do |t|
  -t.update @product_category

=attributes_list(@product_category) do |l|
  -l.attribute :name
  -l.attribute :parent, :url=>{:action=>:product_category}
  -l.attribute :comment
  -l.attribute :catalog_name
  -l.attribute :catalog_description

%h2=tc(:products)
=kame :product_category_products
