=toolbar do
  -link :product_update, :id=>@product.id

=list_evalue do |l|
  -l.evalue @product, :name
  -l.evalue @product, :price
  -l.evalue @product, :code
  -l.evalue @product, :code2
  -l.evalue @product, :ean13
  -l.evalue @product, :category, :url=>{:action=>:product_category}
  -l.evalue @product, :unit, :label=>:label
  -l.evalue @product, :weight
  -l.evalue @product, :active
  -l.evalue @product, :to
  -l.evalue @product, :catalog_name
  -l.evalue @product, :catalog_description
  -l.evalue @product, :description
  -l.evalue @product, :comment
  -l.evalue @product, :manage_stocks

=tabbox(:product) do |tb|
  -tb.tab :prices
  -tb.tab :components 
  -tb.tab :stocks, :content=>kame(:product_stocks)
  -tb.tab :stock_moves, :content=>kame(:product_stock_moves)
