= aclist do |l|
  - l.action :products_update, :id=>@product.id
  - l.action :products

%table
  %tr
    %td
      =evalue @product, :name
      =evalue @product, :price
      =evalue @product, :code
      =evalue @product, :code2
      =evalue @product, :ean13
    %td
      =evalue @product, :shelf, :url=>{:action=>:shelves_display}
      =evalue @product, :unit, :label=>:label
      =evalue @product, :weight
      =evalue @product, :active
    %td
      =evalue @product, :to if @product.to_sale or @product.to_purchase
      =evalue @product, :catalog_name
      =evalue @product, :catalog_description
      =evalue @product, :description
      =evalue @product, :comment
    %td
      =evalue @product, :without_stocks

-if @product.to_sale or @product.to_purchase
  %h2=tc :prices
  .aclist
    - if @product.to_sale
      =link_to tc('sale_price_create'), :action=>:prices_create, :mode=>:sales,:product_id=>session[:product_id], :class=>'procedure create'
    - if @product.to_purchase
      =link_to tc('purchase_price_create'), :action=>:prices_create, :mode=>:purchases,:product_id=>session[:product_id], :class=>'procedure create'
  =dyta :product_prices

%h2=tc :components
.aclist
  =link_to tc('component_create'), :action=>:product_components_create, :class=>'procedure create'
=dyta :product_components
