=toolbar do
  -link :product_update, :id=>@product.id

=attributes_list(@product) do |l|
  -l.attribute :name
  -l.attribute :price
  -l.attribute :code
  -l.attribute :code2
  -l.attribute :ean13
  -l.attribute :category, :url=>{:action=>:product_category}
  -l.attribute :unit, :label=>:label
  -l.attribute :weight
  -l.attribute :active
  -l.attribute :to
  -l.attribute :catalog_name
  -l.attribute :catalog_description
  -l.attribute :description
  -l.attribute :comment
  -l.attribute :manage_stocks

=tabbox(:product) do |tb|
  -tb.tab :prices do
    =toolbar do |t|
      -t.link(:sales_price_create, {:action=>:price_create, :mode=>:sales, :product_id=>session[:product_id]}) if @product.for_sales
      -t.link(:purchase_price_create, {:action=>:price_create, :mode=>:purchases, :product_id=>session[:product_id]}) if @product.for_purchases
    =kame :product_prices
  -tb.tab :components do
    =toolbar do |t|
      -t.link :product_component_create
    =kame :product_components
  -tb.tab :stocks do
    =kame(:product_stocks)
  -tb.tab :stock_moves do
    =kame(:product_stock_moves)
