=toolbar do
  -link :product_update, :id=>@product.id

%table
  %tr
    %td
      =evalue @product, :name
      =evalue @product, :price
      =evalue @product, :code
      =evalue @product, :code2
      =evalue @product, :ean13
    %td
      =evalue @product, :category, :url=>{:action=>:product_category}
      =evalue @product, :unit, :label=>:label
      =evalue @product, :weight
      =evalue @product, :active
    %td
      =evalue @product, :to
      =#evalue @product, :catalog_name
      =#evalue @product, :catalog_description
      =evalue @product, :description
      =evalue @product, :comment
    %td
      =evalue @product, :manage_stocks

=tabbox(:product) do |tb|
  -tb.tab :prices
  -tb.tab :components 
  -tb.tab :stocks, :content=>dyta(:product_stocks)
  -tb.tab :stock_moves, :content=>dyta(:product_stock_moves)
