= aclist do |l|
  - l.action :products_update, :id=>@product.id
  - l.action :products

%table
  %tr
    %td
      =evalue @product, :name
      =evalue @product, :price
      =evalue @product, :code
      =evalue @product, :code2
      =evalue @product, :ean13
    %td
      =evalue @product, :shelf, :url=>{:action=>:shelves_display}
      =evalue @product, :unit, :label=>:label
      =evalue @product, :weight
      =evalue @product, :active
    %td
      =evalue @product, :to
      =evalue @product, :catalog_name
      =evalue @product, :catalog_description
      =evalue @product, :description
      =evalue @product, :comment
    %td
      =evalue @product, :without_stocks

%h2=tc :prices
=dyta :product_prices
