=toolbar do |t|
  -t.link :purchase_order_lines, :id=>@purchase_order.id
  -t.link :purchase_payment_part_create, :expense_id=>@purchase_order.id if @purchase_order.payments_sum != @purchase_order.amount_with_taxes
  -t.print :purchase_order, :id=>@purchase_order.id

%h2= tc 'general_informations'
%table
  %tr
    %td
      =evalue @purchase_order, :supplier, :label=>:full_name, :url=>{:controller=>:relations, :action=>:entity}
      =evalue @purchase_order, :planned_on
      =evalue @purchase_order, :comment
    %td
      =evalue @purchase_order, :dest_contact, :label=>:address
      =evalue @purchase_order, :shipped

%h2=tc :lines
=dyta :purchase_order_lines

-if @purchase_order.payment_parts.count > 0
  %h2=tc :payment_parts
  =dyta :purchase_order_payment_parts
