=toolbar do |t|
  -t.update @purchase_payment

%table
  %tr
    %td
      =evalue @purchase_payment, :number
      =evalue @purchase_payment, :amount
      =evalue @purchase_payment, :parts_amount
      =evalue @purchase_payment, :payee, :label=>:full_name, :url=>{:controller=>:relations, :action=>:entity}
      =evalue @purchase_payment, :responsible, :label=>:label
    %td
      =evalue @purchase_payment, :mode
      =evalue @purchase_payment, :paid_on
      =evalue @purchase_payment, :to_bank_on
      =evalue @purchase_payment, :check_number
      =evalue @purchase_payment, :journal_record, :url=>{:controller=>:accountancy, :action=>:journal_record}

-if false # @purchase_payment.unused_amount > 0
  =form_tag() do
    %fieldset
      %legend=tc(:add_purchase_order)
      =render :partial=>'purchase_payment_part_create'
      .actions=submit_tag

-if @purchase_payment.parts.size>0
  %h2=tc(:purchase_orders)
  =dyta :purchase_payment_purchase_orders
