=purchase_steps

=toggle_tag

-if @current_user.preference("interface.toggle.orientation", "vertical").value == "vertical"
  %table.invex
    %tr
      %td=render :partial=>"purchase_order"
      %td.space
      %td=render :partial=>"purchase_order_lines"
-else 
  =render :partial=>"purchase_order"
  =render :partial=>"purchase_order_lines"

-if !@purchase_order.shipped and @purchase_order.lines.size>0
  .end
  =form_tag do
    .actions
      =submit_tag(tc('validate'), :action=>:purchase_order_lines, :confirm=>tg(:are_you_sure))
