.search
  =keishiki_tag do
    %table
      %tr
        %td.label=tc('search')
        %td.field=text_field_tag :key, params[:key]
        %td=submit_tag tg('search_go', :action=>:purchases)

=kame :purchases
