=toolbar do |t|
  -t.link :purchase_order_lines, :id=>@purchase_order.id
  -t.link :purchase_payment_part_create, :expense_id=>@purchase_order.id if @purchase_order.unpaid_amount > 0
  -t.print :purchase_order, :id=>@purchase_order.id

%h2= tc 'general_informations'

=list_evalue(3) do |l|
  -l.evalue @purchase_order, :supplier, :label=>:full_name, :url=>{:controller=>:relations, :action=>:entity}
  -l.evalue @purchase_order, :planned_on
  -l.evalue @purchase_order, :number
  -l.evalue @purchase_order, :reference_number
  -l.evalue @purchase_order, :comment
  -l.evalue @purchase_order, :dest_contact, :label=>:address
  -l.evalue @purchase_order, :shipped

%h2=tc :purchase_order_lines
=toolbar do |t|
  -t.link(:purchase_order_line_create, :order_id=>@purchase_order.id)if @purchase_order.updatable?
  
=dyta :purchase_order_lines

-if @purchase_order.payment_parts.count > 0
  %h2=tc :payment_parts
  =dyta :purchase_order_payment_parts
