=purchase_steps

=toolbar do |t|
  -if @purchase_order.lines.size > 0 
    -t.link :purchase_order_print, :id=>@purchase_order.id 
%h2=tc :general
= toolbar do |t|
  - if @purchase_order.editable
    - t.link(:purchase_order_update, {:id=>@purchase_order.id})
%table.flex
  %tr
    %td
      =evalue @purchase_order, :supplier, :label=>:full_name, :url=>{:controller=>:relations, :action=>:entity}
      =evalue @purchase_order, :planned_on
      =evalue @purchase_order, :comment
    %td
      =evalue @purchase_order, :dest_contact, :label=>:address

%h2=tc :lines 
=toolbar do
  -link :purchase_order_line_create if @purchase_order.editable
=dyta :purchase_order_lines

.total
  %table.dyta
    %tr
      %th=tc :amount
      %td=@purchase_order.amount
    %tr.important
      %th=tc :amount_with_taxes
      %td=@purchase_order.amount_with_taxes

- form_tag do
  .actions
    =link_to tg(:previous), :action=>:purchase_orders
    - if @purchase_order.shipped == false
      =#submit_tag(tc('validate'), :action=>:purchase_order_lines) if @purchase_order.lines.size>0
