=purchase_steps if params[:step]

=toolbar do |t|
  -t.update @purchase_order if @purchase_order.draft?
  -if @purchase_order.can_confirm?
    -t.confirm @purchase_order, :method=>:post, :confirm=>tc(:are_you_sure_you_want_to_confirm)
  -if @purchase_order.can_invoice?
    -t.invoice @purchase_order, :method=>:post, :confirm=>tc(:are_you_sure_you_want_to_invoice)
  -for event in [:propose, :finish, :correct, :refuse]
    -t.send(event, @purchase_order, :method=>:post, :confirm=>tc(:are_you_sure)) if @purchase_order.send("can_#{event}?")
  -t.abort(@purchase_order, :method=>:post, :confirm=>tc(:are_you_sure)) if @purchase_order.can_abort?
  -t.print :purchase_order, :id=>@purchase_order.id

=attributes_list(@purchase_order) do |l|
  -l.attribute :supplier, :label=>:label, :url=>{:controller=>:relations, :action=>:entity}
  -l.attribute :number
  -l.attribute :reference_number
  -l.attribute :state_label
  -l.attribute :responsible, :label=>:full_name
  -l.attribute :created_on
  -l.attribute :confirmed_on
  -l.attribute :planned_on
  -l.attribute :currency unless @purchase_order.currency == @current_company.default_currency
  -l.attribute :comment
  -l.attribute :delivery_contact, :label=>:address

-if ["products", "summary", ""].include? params[:step].to_s
  %h2=PurchaseOrder.human_attribute_name("lines")
  -if @purchase_order.draft?
    =toolbar do |t|
      -t.link(:purchase_order_line_create, :order_id=>@purchase_order.id)
  =kame :purchase_order_lines
  %table.kame
    %tr.total
      %th=PurchaseOrder.human_attribute_name("amount")
      %td=number_to_management(@purchase_order.amount)
    %tr.important.total
      %th=PurchaseOrder.human_attribute_name("amount_with_taxes")
      %td=number_to_management(@purchase_order.amount_with_taxes)

-if ["products", "summary", ""].include? params[:step].to_s
  %h2=PurchaseOrder.human_attribute_name("payment_uses")
  =toolbar do |t|
    -t.link(:outgoing_payment_use_create, :expense_type=>:purchase_order, :expense_id=>@purchase_order.id) unless @purchase_order.finished?
  =kame :purchase_order_payment_uses


-if ["deliveries", ""].include? params[:step].to_s
  -if @purchase_order.deliverable?
    %h2=tc :undelivered
    =toolbar do |t|
      -t.link :incoming_delivery_create, :purchase_order=>@purchase_order.id
    =kame :purchase_order_undelivered_lines
  %h2=PurchaseOrder.human_attribute_name("deliveries")
  =kame :purchase_order_deliveries


-if ["products", "summary", ""].include? params[:step].to_s
  %h2=tc :financial_state
  %table.kame
    -for k, v in @purchase_order.stats(:with_balance=>true)
      %tr.total
        %th=tc(k)
        %td=number_to_management(v)

