=purchase_steps

-if @purchase_order.amount_with_taxes > 0
  %h2=tc :payment_parts
  =toolbar do |t|
    -t.link :outgoing_payment_use_create, :expense_id=>@purchase_order.id if @purchase_order.unpaid_amount > 0
  =kame :purchase_order_payment_parts

%h2=tc(:purchase_order_lines)
=kame :purchase_order_lines

%h2=tc :financial_state
%table.kame
  -for k, v in @purchase_order.stats(:with_balance=>true)
    %tr.total
      %th=tc(k)
      %td=number_to_accountancy(v)
