=purchase_steps

- if @purchase_order.amount_with_taxes > 0
  %h2=tc :payments
  =toolbar do |t|
    -t.link :payment_part_create 
  =#dyta :purchase_order_payment_parts

%h2=tc(:products)
=dyta :purchase_order_lines
