=sales_steps

= toolbar do
  - link :sales_print, :id=>@sale_order.id


%h2=tc :lines
=toolbar do
  -link(:sale_order_lines_create) if @sale_order.state == 'P'
=render :partial=>"quick_line" if @sale_order.state == 'P'
=dyta :sale_order_lines

.total
  %table.dyta
    %tr
      %th=tc :amount
      %td=@sale_order.amount
    %tr.important
      %th=tc :amount_with_taxes
      %td=@sale_order.amount_with_taxes

- form_tag do
  .actions
    =link_to tg(:previous), :action=>:sales_general
    - if @sale_order.state == 'P' and @sale_order.lines.size>0
      =submit_tag(tc('estimate_to_order'), :action=>:sales_deliveries)
    - elsif @sale_order.lines.size>0
      =link_to tc('deliveries'), :action=>:sales_deliveries, :id=>@sale_order.
