=toolbar do |t|
  -#t.link :sales_invoice_print, :id=>@sales_invoice.id
  -t.print :sales_invoice, :id=>@sales_invoice.id
  -t.link :sales_invoice_cancel, :id=>@sales_invoice.id if @sales_invoice.creditable?

=attributes_list(@sales_invoice) do |l|
  -l.attribute :number
  -l.attribute :client, :label=>:full_name
  -l.attribute :contact, :label=>:address
  -l.attribute :payment_on
  -l.attribute :amount
  -l.attribute :amount_with_taxes
  -l.attribute :credit
  -l.attribute :sales_order, :label=>:number, :url=>{:action=>:sales_order}
  -l.attribute :origin, :label=>:number, :url=>{:action=>:sales_invoice} if !@sales_invoice.origin.nil?
  -l.attribute :journal_entry, :url=>{:action=>:journal_entry, :controller=>:accountancy}

%h2= tc(:sales_invoice_lines) 
=kame :sales_invoice_lines


-if !@sales_invoice.credit and @sales_invoice.credits.size > 0
  %h2= tc(:credits)
  =kame :sales_invoice_credits
