=sales_steps
- form_tag do
  =formalize do |f| 
    - f.error 'sale_order'
    - f.title :client
    - if @sale_order.new_record?
      - f.field :sale_order, :client_id, :choices=>@current_company.available_entities(:conditions=>{:client=>true}, :order=>:name).collect{|x| [x.full_name, x.id]}, :new=>{:controller=>:relations, :action=>:entities_create}
      - f.title :conditions
      - f.field :sale_order, :nature_id, :choices=>@current_company.sale_order_natures.collect{|x| [x.name, x.id]}
      - f.field :sale_order, :responsible_id, :choices=>@current_company.employees.collect{|x| [x.full_name, x.id]}, :new=>{:controller=>:resources, :action=>:employees_create}
      - f.field :sale_order, :contact_id, :choices=>@contacts, :new=>{:controller=>:relations, :action=>:entities_contacts_create}
      - f.field :sale_order, :delivery_contact_id, :choices=>@contacts, :new=>{:controller=>:relations, :action=>:entities_contacts_create}
      - f.field :sale_order, :invoice_contact_id, :choices=>@contacts, :new=>{:controller=>:relations, :action=>:entities_contacts_create}
    - else
      - f.field t('activerecord.attributes.sale_order.client_id'), @sale_order.client.full_name
      - f.title :conditions
      - f.field t('activerecord.attributes.sale_order.nature_id'), @sale_order.nature.name
      - f.field t('activerecord.attributes.sale_order.contact_id'), @sale_order.contact.address
      - f.field t('activerecord.attributes.sale_order.delivery_contact_id'), @sale_order.delivery_contact.address
      - f.field t('activerecord.attributes.sale_order.invoice_contact_id'), @sale_order.invoice_contact.address
    - f.field :sale_order, :comment, :field=>:textarea
    - f.field :sale_order, :letter_format
  =formalize(:id=>:letter_format) do |f|
    - f.title :letter
    - f.field :sale_order, :subject
    - f.field :sale_order, :function_title
    - f.field :sale_order, :introduction, :field=>:textarea
    - f.field :sale_order, :conclusion, :field=>:textarea
  .actions
    =submit_tag tg :next
=javascript_tag("function update_contacts(value) {new Ajax.Request('#{url_for(:controller=>:management, :action => :sales_contacts)}', {asynchronous:true, evalScripts:true, parameters:'client_id=' + encodeURIComponent(value), onSuccess: function(resp) {$('sale_order_contact_id').update(resp.responseText); $('sale_order_delivery_contact_id').update(resp.responseText); $('sale_order_invoice_contact_id').update(resp.responseText);  }  }); }; /*update_contacts($('sale_order_client_id').value); */")

:javascript
  function letter_informations(){
    if($('sale_order_letter_format').checked)
      $('letter_format').show();
    else
      $('letter_format').hide();
  }
  letter_informations();


=observe_field "sale_order_client_id", :url=>{:action => :sales_contacts}, :frequency => 0.25, :function=>"update_contacts(value)"

=observe_field("sale_order_letter_format", :frequency=>0.25, :function=> "letter_informations();")
