=sales_steps

=toolbar do |t|
  -t.link :sale_order_print, :id=>@sale_order.id
  -t.link(:sale_orders_invoice, {:id=>@sale_order.id}, {:method=>:post, :confirm=>tc(:are_you_sure_to_invoice)}) if @sale_order.amount_with_taxes > @sale_order.invoiced_amount

-if @undelivered
  %h2=tc :undelivered
  =dyta :undelivered_quantities

%h2=tc :deliveries
=toolbar do |t|
  -t.link :delivery_create if !@sale_order.invoiced and @undelivered
=dyta :sales_deliveries

- form_tag() do
  .actions
    =link_to tg(:previous), :action=>:sales_products
    =#submit_tag(tc('invoice'), :action=>:sales_invoices)
    =#link_to(tc('invoice'), {:action=>:sales_invoices, :id=>@sale_order.id}, {:method=>:post, :confirm=>tc(:are_you_sure_to_invoice)})
