=sales_steps

-if @sale_order.invoices.size>0
  %h2=tc :invoices
  =dyta :invoices

-form_tag do
  -#if @rest_to_invoice
    %h2=#tc :rest_to_invoice
    =#dyta :deliveries_to_invoice

  .actions
    =link_to tg(:previous), :action=>:sale_order_deliveries , :id=>@sale_order.id
    -#if @rest_to_invoice
    -if @can_invoice
      =submit_tag(tc('to_invoice'), {:action=>:sales_invoices})
    =link_to(tc('payments'), :action=>:sale_order_summary,:id=>@sale_order.id)
