=sale_steps

=toolbar do |t|
  -t.print :sales_order, :id=>@sales_order.id
  -t.invoice @sales_order, :params=>{:has_deliveries=>true}, :method=>:post, :confirm=>tc(:are_you_sure_you_want_to_sales_invoice) unless @sales_order.invoiced

-if @sales_order.invoiced and @sales_order.deliveries.size == 0
  %h2=tc(:no_deliveries_for_this_sales_order)
-else
  -if @undelivered_amount > 0 and not @sales_order.invoiced
    %h2=tc :undelivered
    =kame :undelivered_quantities
  %h2=tc :deliveries
  =toolbar do |t|
    -t.link :outgoing_delivery_create, :sales_order=>@sales_order.id if !@sales_order.invoiced and @undelivered_amount > 0
  =kame :sales_order_deliveries
=form_tag() do
  .actions
    =link_to tg(:previous), :action=>:sales_order_lines
