=sales_steps

= toolbar do |t|
  - t.link :sale_orders_print, :id=>@sale_order.id
  - if @sale_order.lines.size>0
    - if @sale_order.estimate?
      - t.link :sale_orders_confirm, {:id=>@sale_order.id}, :method=>:post, :confirm=>tc(:are_you_sure_to_confirm)
    - if @sale_order.amount_with_taxes > @sale_order.invoiced_amount
      - t.link :sale_orders_invoice, {:id=>@sale_order.id}, :method=>:post, :confirm=>tc(:are_you_sure_to_invoice)
  - t.link(:sale_order_lines_create) if @sale_order.estimate?


%h2=tc :lines
=render :partial=>"quick_line" if @sale_order.estimate?
=dyta :sale_order_lines

.total
  %table.dyta
    %tr
      %th=tc :amount
      %td=@sale_order.amount
    %tr.important
      %th=tc :amount_with_taxes
      %td=@sale_order.amount_with_taxes

-if @sale_order.subscriptions.size>0
  %h2=tc :subscriptions
  =dyta :sale_order_subscriptions


- form_tag do
  .actions
    =link_to tg(:previous), :action=>:sales_general
    =link_to(tc('deliveries'), :action=>:sales_deliveries, :id=>@sale_order.id) unless @sale_order.estimate?
