=sales_steps
- form_tag do
  =formalize do |f|
    - f.title :client
    - f.field :sale, :client_id, :choices=>@current_company.available_entities(:order=>:name).collect{|x| [x.full_name, x.id]}, :new=>{:controller=>:relations, :action=>:entities_create}
  .actions
    =submit_tag tg :next
