=sales_steps

= toolbar do
  - link :sales_print, :id=>@sale_order.id

-if @undelivered
  %h2=tc :undelivered
  =dyta :undelivered_quantities

%h2=tc :deliveries
=toolbar do
  -link :deliveries_create if !@sale_order.invoiced && @undelivered
=dyta :sales_deliveries

- form_tag() do
  .actions
    =link_to tg(:previous), :action=>:sales_products
    =#submit_tag(tc('invoice'), :action=>:sales_invoices)
    =link_to(tc('invoice'), {:action=>:sales_invoices, :id=>@sale_order.id})
