=toolbar do 
  -link :unpaid_sale_orders_export
.search
  =form_tag do
    %table
      %tr
        %td.label=tc('search_sales')
        %td.field=text_field_tag :key, session[:sale_order_key]
        -for state in [:all, :current, :unpaid]
          %td
            =radio_button(:sale_order, :state , state, :checked=>( state.to_s == session[:sale_order_state] ? true : false))
            %label{:for=>'sale_order_'+state.to_s}=tc("sale_orders_states.#{state}")
        %td=submit_tag tg('search_go', :action=>:sale_orders)

=dyta :sale_orders

