=toolbar do |t|
  -t.update @sale_payment

%table
  %tr
    %td
      =evalue @sale_payment, :number
      =evalue @sale_payment, :amount
      =evalue @sale_payment, :parts_amount
      =evalue @sale_payment, :payer, :label=>:full_name, :url=>{:controller=>:relations, :action=>:entity}
      =evalue @sale_payment, :embanker, :label=>:label
      =evalue @sale_payment, :deposit, :url=>{:action=>:deposit}
    %td
      =evalue @sale_payment, :mode
      =evalue @sale_payment, :paid_on
      =evalue @sale_payment, :to_bank_on
      =evalue @sale_payment, :received
      =evalue @sale_payment, :scheduled
    %td
      =evalue @sale_payment, :bank
      =evalue @sale_payment, :account_number
      =evalue @sale_payment, :check_number
      =evalue @sale_payment, :journal_entry, :url=>{:controller=>:accountancy, :action=>:journal_entry}

-if @sale_payment.parts.size>0
  -if SaleOrder.find(:all, :conditions=>["sale_orders.company_id=? AND id IN (SELECT expense_id FROM sale_payment_parts WHERE payment_id=? AND expense_type=?)", @current_company.id, session[:current_payment_id], SaleOrder.name]).size > 0
    %h2=tc(:sale_orders)
    =dyta :sale_payment_sale_orders
