=sale_steps

%h2=tc :incoming_payments
-unless @sales_order.complete?
  =toolbar do |t|
    -t.link :incoming_payment_use_create, :expense_type=>:sales_order, :expense_id=>@sales_order.id
=kame :sales_order_payment_parts

-if @sales_order.sales_invoices.size>0
  %h2=tc :sales_invoice
  =kame :sales_order_invoices

%h2=tc :financial_state

%table.kame
  -for k, v in @sales_order.stats(:with_balance=>true)
    %tr.total
      %th=tc(k)
      %td=number_to_accountancy(v)
