=sale_steps

- if @sale_order.amount_with_taxes > 0
  %h2=tc :payments
  =toolbar do |t|
    -t.link :payment_part_create 
  =dyta :sale_order_payment_parts

-if @sale_order.invoices.size>0
  %h2=tc :invoice
  =dyta :sale_order_invoices

%h2=tc :financial_state
.total
  %table.dyta
    -for k, v in @sale_order.stats(:with_balance=>true)
      %tr
        %th=tc(k)
        %td=number_to_currency(v, :unit=>'', :separator=>',', :delimiter=>'&nbsp;')
