=sale_steps

=toggle_tag

-if @current_user.preference("interface.toggle.orientation", "vertical").value == "vertical"
  %table.invex
    %tr
      %td=render :partial=>"sale_order"
      %td.space
      %td=render :partial=>"sale_order_lines"
-else
  =render :partial=>"sale_order", :locals=>{:columns=>3, :orient=>:horizontal}
  =render :partial=>"sale_order_lines"
      
