= toolbar do
  - link :stock_location_update, :id=>@stock_location.id
  - link :stock_locations

%table
  %tr
    %td
      =evalue @stock_location, :name
      =evalue @stock_location, :comment
    %td
      =evalue @stock_location, :establishment
      =evalue @stock_location, :x
      =evalue @stock_location, :y
      =evalue @stock_location, :z
    -if @stock_location.reservoir
      %td
        =evalue @stock_location, :product, :label=>:name, :url=>{:action=>:product, :id=>@stock_location.product_id}
        =evalue @stock_location, :number
        =evalue @stock_location, :quantity_max

=tabbox(:location) do |tb|
  -tb.tab :stocks, :content=>dyta(:stock_location_stocks)
  -tb.tab :stock_moves, :content=>dyta(:stock_location_stock_moves)
