.search 
  -form_tag do
    %table
      %tr
        %td.label=tc("subscription_nature")
        %td.input=select_tag(:nature, options_for_select(@current_company.subscription_natures.collect{|x| [x.name, x.id]}, :selected=>session[:subscriptions][:nature]['id']) )
        %td#subscription_options=render :partial=>"subscription_options"
        %td=submit_tag tg("search_go")

=dyta :subscriptions

=observe_field("subscription_nature", :url=>{:action=>:subscription_options}, :update=>:subscription_options, :frequency => 0.25, :with=>"nature", :loading=>"onLoading()", :loaded=>"onLoaded()")


