=attributes_list(@tracking) do |l|
  -l.attribute :name
  -l.attribute :serial
  -l.attribute :producer, :url=>{:action=>:entity, :controller=>:relations}
  -l.attribute :product, :url=>{:action=>:product}

-if @tracking.stocks.size > 0
  %h2=tc(:stocks)
  =kame :tracking_stocks

-if @tracking.purchase_lines.size > 0
  %h2=tc(:purchases)
  =kame :tracking_purchase_lines

-if @tracking.operation_lines.size > 0
  %h2=tc(:operations)
  =kame :tracking_operation_lines

-if @tracking.sale_lines.size > 0
  %h2=tc(:sales)
  =kame :tracking_sale_lines
