-form_tag do
  =formalize do |f|
    -f.error :transport
    -f.title :info
    -f.field :transport, :transporter_id, :choices=>@current_company.entities.find_all_by_active_and_transporter(true,true).collect{|t| [t.full_name,t.id]}, :new=>{:controller=>:relations, :action=>:entity_create}
    -f.field :transport, :responsible_id, :choices=>@current_company.employees.find(:all, :order=>:last_name).collect{|x| [x.full_name, x.id]}, :options=>{:include_blank=>"-- Aucun --"}, :new=>{:controller=>:resources, :action=>:employee_create}
    -f.field :transport, :transport_on
    -f.field :transport, :comment, :field=>:textarea
  .actions
    =submit_tag(tg(:validate), :action=>:transport_create)
