-if @deliveries.size > 0
  =form_tag do
    =dyta :undelivered_sales
    .actions
      =link_to tg(:previous), :action=>:index
      =submit_tag(tc('deliver'), :action=>:undelivered_sales)

-else
  %p{:style=>'text-align:center'}= tc('no_deliveries')
 
