- if @embankments.size > 0
  - form_tag do
    =dyta :unvalidated_embankments
    .actions
      =link_to tg(:previous), :action=>:index
      =submit_tag(tc('validate'), :action=>:unvalidated_embankments)



- else
  %p{:style=>'text-align:center'}= tc('no_embankments')
  .actions
    =link_to tc(:management_index), :action=>:index

