=toolbar do |t|
  -t.update @warehouse

=attributes_list(@warehouse) do |l|
  -l.attribute :name
  -l.attribute :comment
  -l.attribute :establishment
  -l.attribute :x
  -l.attribute :y
  -l.attribute :z
  -if @warehouse.reservoir
    -l.attribute :product, :label=>:name, :url=>{:action=>:product, :id=>@warehouse.product_id}
    -l.attribute :number
    -l.attribute :quantity_max

=tabbox(:warehouse) do |tb|
  -tb.tab :stocks do
    =kame(:warehouse_stocks)
  -tb.tab :stock_moves do
    =kame(:warehouse_stock_moves)
