=toolbar do |t|
  -t.update @warehouse

=list_evalue do |l|
  -l.evalue @warehouse, :name
  -l.evalue @warehouse, :comment
  -l.evalue @warehouse, :establishment
  -l.evalue @warehouse, :x
  -l.evalue @warehouse, :y
  -l.evalue @warehouse, :z
  -if @warehouse.reservoir
    -l.evalue @warehouse, :product, :label=>:name, :url=>{:action=>:product, :id=>@warehouse.product_id}
    -l.evalue @warehouse, :number
    -l.evalue @warehouse, :quantity_max

=tabbox(:warehouse) do |tb|
  -tb.tab :stocks, :content=>kame(:warehouse_stocks)
  -tb.tab :stock_moves, :content=>kame(:warehouse_stock_moves)
