=field_set do
  =f.input :name
  =f.input :prescription_number
  =f.input :prescripted_at

=field_set(:document) do
  =f.input :picture
  =image_tag(@prescription.picture.url(:thumb))

=field_set(:entity) do
  =f.referenced_association :prescriptor