-#conveyor = production_chain_conveyor
-unless conveyor.source_quantity.zero?
  %td
    .cell.source.quantity{:class=>("unique-tracking" if conveyor.unique_tracking)}=tl(:x_unit, :quantity=>conveyor.source_quantity, :unit=>conveyor.unit.readable_name)
%td.conveyor-input
%td.information
  %table
    %tr
      %td.cell{:class=>("check-state" if conveyor.check_state)}
        .bmenu
          =link_to(conveyor.product.name, :controller=>:production_chain_conveyors, :action=>:edit, :id=>conveyor.id)
          %ul 
            %li=tl(:x_unit_per_second, :quantity=>conveyor.flow, :unit=>conveyor.unit.readable_name)
            =li_link_to(tl(:edit), {:controller=>:production_chain_conveyors, :action=>:edit, :id=>conveyor.id}, :class=>"icon im-edit")
            =li_link_to(tl(:destroy), {:controller=>:production_chain_conveyors, :action=>:destroy, :id=>conveyor.id}, :confirm=>tl(:are_you_sure_you_want_to_delete), :method=>:delete, :class=>"icon im-destroy")
%td.conveyor-output
-unless conveyor.target_quantity.zero?
  %td
    .cell.target.quantity=tl(:x_unit, :quantity=>conveyor.target_quantity, :unit=>conveyor.unit.readable_name)
