-#work_center = work_center
-ic = work_center.input_conveyors
-oc = work_center.output_conveyors
.chain{:id=>"work_center#{work_center.id}"}
  .delete
    =link_to(tl(:up), {:action=>:up, :controller=>:production_chain_work_centers, :id=>work_center.id}, :method=>:post, :class=>"icon im-up") unless work_center.first?
    =link_to(tl(:down), {:action=>:down, :controller=>:production_chain_work_centers, :id=>work_center.id}, :method=>:post, :class=>"icon im-down") unless work_center.last?
    =link_to tl(:delete), {:action=>:destroy, :controller=>:production_chain_work_centers, :id=>work_center.id}, "data-confirm" => tl(:are_you_sure_you_want_to_delete), :method=>:delete, :class=>"icon im-delete"        
  %h2=work_center.name
  %table.work-center-graph
    %tr
      %td.conveyors.input-conveyors
        -for conveyor in ic
          %table.conveyor
            %tr
              -if conveyor.source
                %td.work-center=link_to(conveyor.source.name, :controller=>:production_chains, :action=>:show, :id=>conveyor.production_chain_id, :anchor=>"work_center#{conveyor.source_id}")
              =render :partial=>"production_chains/conveyor", :object=>conveyor
        -if @current_user.can?(:build_production_chains) and (ic.size<=0 or (work_center.nature != "input"))
          %table.conveyor
            %tr
              %td.conveyor-input
              %td
                .cell.new=link_to tl(:new), :action=>:new, :controller=>:production_chain_conveyors, :production_chain_id=>work_center.production_chain_id, :target_id=>work_center.id
              %td.conveyor-output
      %td.work-center.master
        =link_to work_center.name, :action=>:edit, :controller=>:production_chain_work_centers, :id=>work_center.id
        -if @current_user.can? :use_production_chains
          .action=link_to tl(:play), {:action=>:play, :controller=>:production_chain_work_centers, :id=>work_center.id}, :class=>"icon im-play"
      %td.conveyors.output-conveyors
        -for conveyor in oc
          %table.conveyor
            %tr
              =render :partial=>"production_chains/conveyor", :object=>conveyor
              -if conveyor.target
                %td.work-center=link_to(conveyor.target.name, :action=>:show, :controller=>:production_chains, :id=>conveyor.production_chain_id, :anchor=>"work_center#{conveyor.target_id}")
        -if @current_user.can?(:build_production_chains) and (oc.size<=0 or (work_center.nature == "input"))
          %table.conveyor.new
            %tr
              %td.conveyor-input
              %td
                .cell.new=link_to tl(:new), :action=>:new, :controller=>:production_chain_conveyors, :production_chain_id=>work_center.production_chain_id, :source_id=>work_center.id
              %td.conveyor-output
  
