<?xml version="1.0" encoding="UTF-8"?>
<menu>
  <page to="dashboards#index"/>
  <menu name="relationship">
    <page to="dashboards#relationship"/>
    <menu name="entities">
      <page to="entities#index"/>
      <page to="entities#create"/>
      <page to="entities#destroy"/>
      <page to="entities#edit"/>
      <page to="entities#export"/>
      <page to="entities#import"/>
      <page to="entities#list"/>
      <page to="entities#list_cashes"/>
      <page to="entities#list_contacts"/>
      <page to="entities#list_events"/>
      <page to="entities#list_incoming_payments"/>
      <page to="entities#list_links"/>
      <page to="entities#list_mandates"/>
      <page to="entities#list_observations"/>
      <page to="entities#list_outgoing_payments"/>
      <page to="entities#list_purchases"/>
      <page to="entities#list_sales"/>
      <page to="entities#list_subscriptions"/>
      <page to="entities#merge"/>
      <page to="entities#new"/>
      <page to="entities#show"/>
      <page to="entities#update"/>
      <page to="entity_links#create"/>
      <page to="entity_links#destroy"/>
      <page to="entity_links#edit"/>
      <page to="entity_links#new"/>
      <page to="entity_links#update"/>
      <page to="entity_addresses#create"/>
      <page to="entity_addresses#destroy"/>
      <page to="entity_addresses#edit"/>
      <page to="entity_addresses#new"/>
      <page to="entity_addresses#update"/>
      <page to="observations#create"/>
      <page to="observations#destroy"/>
      <page to="observations#edit"/>
      <page to="observations#new"/>
      <page to="observations#update"/>
    </menu>
    <menu name="events">
      <page to="events#index"/>
      <page to="events#change_minutes"/>
      <page to="events#create"/>
      <page to="events#destroy"/>
      <page to="events#edit"/>
      <page to="events#list"/>
      <page to="events#new"/>
      <page to="events#update"/>
    </menu>
    <menu name="subscriptions">
      <page to="subscriptions#index"/>
      <page to="subscriptions#coordinates"/>
      <page to="subscriptions#create"/>
      <page to="subscriptions#destroy"/>
      <page to="subscriptions#edit"/>
      <page to="subscriptions#list"/>
      <page to="subscriptions#new"/>
      <page to="subscriptions#update"/>
    </menu>
    <menu name="mandates">
      <page to="mandates#index"/>
      <page to="mandates#configure"/>
      <page to="mandates#create"/>
      <page to="mandates#destroy"/>
      <page to="mandates#edit"/>
      <page to="mandates#list"/>
      <page to="mandates#new"/>
      <page to="mandates#update"/>
    </menu>
    <menu name="listings">
      <page to="listings#index"/>
      <page to="listing_nodes#create"/>
      <page to="listing_nodes#destroy"/>
      <page to="listing_nodes#edit"/>
      <page to="listing_nodes#new"/>
      <page to="listing_nodes#update"/>
      <page to="listings#create"/>
      <page to="listings#destroy"/>
      <page to="listings#duplicate"/>
      <page to="listings#edit"/>
      <page to="listings#extract"/>
      <page to="listings#list"/>
      <page to="listings#mail"/>
      <page to="listings#new"/>
      <page to="listings#update"/>
    </menu>
  </menu>
  <menu name="accountancy">
    <page to="dashboards#accountancy"/>
    <menu name="journals">
      <page to="journals#index"/>
      <page to="journals#balance"/>
      <page to="journals#bookkeep"/>
      <page to="journals#close"/>
      <page to="journals#create"/>
      <page to="journals#destroy"/>
      <page to="journals#draft"/>
      <page to="journals#edit"/>
      <page to="journals#general_ledger"/>
      <page to="journals#import"/>
      <page to="journals#list"/>
      <page to="journals#list_draft_lines"/>
      <page to="journals#list_entries"/>
      <page to="journals#list_general_ledger"/>
      <page to="journals#list_lines"/>
      <page to="journals#list_mixed"/>
      <page to="journals#new"/>
      <page to="journals#reopen"/>
      <page to="journals#reports"/>
      <page to="journals#show"/>
      <page to="journals#update"/>
      <page to="journal_entries#create"/>
      <page to="journal_entries#destroy"/>
      <page to="journal_entries#edit"/>
      <page to="journal_entries#list_lines"/>
      <page to="journal_entries#new"/>
      <page to="journal_entries#show"/>
      <page to="journal_entries#update"/>
      <page to="journal_entry_items#new"/>
    </menu>
    <menu name="cashes">
      <page to="cashes#index"/>
      <page to="cashes#create"/>
      <page to="cashes#destroy"/>
      <page to="cashes#edit"/>
      <page to="cashes#list"/>
      <page to="cashes#list_bank_statements"/>
      <page to="cashes#list_deposits"/>
      <page to="cashes#new"/>
      <page to="cashes#show"/>
      <page to="cashes#update"/>
    </menu>
    <menu name="cash_transfers">
      <page to="cash_transfers#index"/>
      <page to="cash_transfers#create"/>
      <page to="cash_transfers#destroy"/>
      <page to="cash_transfers#edit"/>
      <page to="cash_transfers#list"/>
      <page to="cash_transfers#new"/>
      <page to="cash_transfers#show"/>
      <page to="cash_transfers#update"/>
    </menu>
    <menu name="bank_statements">
      <page to="bank_statements#index"/>
      <page to="bank_statements#create"/>
      <page to="bank_statements#destroy"/>
      <page to="bank_statements#edit"/>
      <page to="bank_statements#list"/>
      <page to="bank_statements#list_lines"/>
      <page to="bank_statements#new"/>
      <page to="bank_statements#point"/>
      <page to="bank_statements#show"/>
      <page to="bank_statements#update"/>
    </menu>
    <menu name="assets">
      <page to="assets#index"/>
      <page to="assets#create"/>
      <page to="assets#destroy"/>
      <page to="assets#edit"/>
      <page to="assets#list"/>
      <page to="assets#list_depreciations"/>
      <page to="assets#new"/>
      <page to="assets#show"/>
      <page to="assets#update"/>
    </menu>
    <menu name="incoming_payments">
      <page to="incoming_payments#index"/>
      <page to="incoming_payments#create"/>
      <page to="incoming_payments#destroy"/>
      <page to="incoming_payments#edit"/>
      <page to="incoming_payments#list"/>
      <page to="incoming_payments#list_sales"/>
      <page to="incoming_payments#new"/>
      <page to="incoming_payments#show"/>
      <page to="incoming_payments#update"/>
    </menu>
    <menu name="outgoing_payments">
      <page to="outgoing_payments#index"/>
      <page to="outgoing_payments#create"/>
      <page to="outgoing_payments#destroy"/>
      <page to="outgoing_payments#edit"/>
      <page to="outgoing_payments#list"/>
      <page to="outgoing_payments#list_purchases"/>
      <page to="outgoing_payments#new"/>
      <page to="outgoing_payments#show"/>
      <page to="outgoing_payments#update"/>
    </menu>
    <menu name="deposits">
      <page to="deposits#index"/>
      <page to="deposits#create"/>
      <page to="deposits#destroy"/>
      <page to="deposits#edit"/>
      <page to="deposits#list"/>
      <page to="deposits#list_depositable_payments"/>
      <page to="deposits#list_payments"/>
      <page to="deposits#list_unvalidateds"/>
      <page to="deposits#new"/>
      <page to="deposits#show"/>
      <page to="deposits#unvalidateds"/>
      <page to="deposits#update"/>
    </menu>
  </menu>
  <menu name="sales">
    <page to="dashboards#sales"/>
    <menu name="sales">
      <page to="sales#index"/>
      <page to="sales#abort"/>
      <page to="sales#cancel"/>
      <page to="sales#confirm"/>
      <page to="sales#contacts"/>
      <page to="sales#correct"/>
      <page to="sales#create"/>
      <page to="sales#destroy"/>
      <page to="sales#duplicate"/>
      <page to="sales#edit"/>
      <page to="sales#invoice"/>
      <page to="sales#list"/>
      <page to="sales#list_creditable_lines"/>
      <page to="sales#list_credits"/>
      <page to="sales#list_deliveries"/>
      <page to="sales#list_lines"/>
      <page to="sales#list_payment_uses"/>
      <page to="sales#list_subscriptions"/>
      <page to="sales#list_undelivered_lines"/>
      <page to="sales#new"/>
      <page to="sales#propose"/>
      <page to="sales#propose_and_invoice"/>
      <page to="sales#refuse"/>
      <page to="sales#show"/>
      <page to="sales#statistics"/>
      <page to="sales#update"/>
      <page to="sale_items#create"/>
      <page to="sale_items#destroy"/>
      <page to="sale_items#detail"/>
      <page to="sale_items#edit"/>
      <page to="sale_items#new"/>
      <page to="sale_items#update"/>
    </menu>
  </menu>
  <menu name="purchases">
    <page to="dashboards#purchases"/>
    <menu name="purchases">
      <page to="purchases#index"/>
      <page to="purchases#abort"/>
      <page to="purchases#confirm"/>
      <page to="purchases#correct"/>
      <page to="purchases#create"/>
      <page to="purchases#destroy"/>
      <page to="purchases#edit"/>
      <page to="purchases#invoice"/>
      <page to="purchases#list"/>
      <page to="purchases#list_deliveries"/>
      <page to="purchases#list_lines"/>
      <page to="purchases#list_payment_uses"/>
      <page to="purchases#list_undelivered_lines"/>
      <page to="purchases#new"/>
      <page to="purchases#propose"/>
      <page to="purchases#refuse"/>
      <page to="purchases#show"/>
      <page to="purchases#update"/>
      <page to="purchase_items#create"/>
      <page to="purchase_items#destroy"/>
      <page to="purchase_items#edit"/>
      <page to="purchase_items#new"/>
      <page to="purchase_items#update"/>
    </menu>
  </menu>
  <menu name="stocks">
    <page to="dashboards#stocks"/>
    <menu name="stocks">
      <page to="products#index"/>
      <page to="products#create"/>
      <page to="products#destroy"/>
      <page to="products#edit"/>
      <page to="products#list"/>
      <page to="products#new"/>
      <page to="products#update"/>
    </menu>
    <menu name="stock_transfers">
      <page to="product_transfers#index"/>
      <page to="product_transfers#confirm"/>
      <page to="product_transfers#confirm_all"/>
      <page to="product_transfers#create"/>
      <page to="product_transfers#destroy"/>
      <page to="product_transfers#edit"/>
      <page to="product_transfers#list"/>
      <page to="product_transfers#list_confirm"/>
      <page to="product_transfers#new"/>
      <page to="product_transfers#update"/>
    </menu>
    <menu name="inventories">
      <page to="inventories#index"/>
      <page to="inventories#create"/>
      <page to="inventories#destroy"/>
      <page to="inventories#edit"/>
      <page to="inventories#list"/>
      <page to="inventories#list_lines"/>
      <page to="inventories#list_lines_create"/>
      <page to="inventories#list_lines_update"/>
      <page to="inventories#new"/>
      <page to="inventories#reflect"/>
      <page to="inventories#show"/>
      <page to="inventories#update"/>
    </menu>
    <menu name="incoming_deliveries">
      <page to="incoming_deliveries#index"/>
      <page to="incoming_deliveries#confirm"/>
      <page to="incoming_deliveries#create"/>
      <page to="incoming_deliveries#destroy"/>
      <page to="incoming_deliveries#edit"/>
      <page to="incoming_deliveries#list"/>
      <page to="incoming_deliveries#new"/>
      <page to="incoming_deliveries#update"/>
    </menu>
    <menu name="outgoing_deliveries">
      <page to="outgoing_deliveries#index"/>
      <page to="outgoing_deliveries#create"/>
      <page to="outgoing_deliveries#destroy"/>
      <page to="outgoing_deliveries#edit"/>
      <page to="outgoing_deliveries#list"/>
      <page to="outgoing_deliveries#list_lines"/>
      <page to="outgoing_deliveries#new"/>
      <page to="outgoing_deliveries#show"/>
      <page to="outgoing_deliveries#update"/>
    </menu>
    <menu name="transports">
      <page to="transports#index"/>
      <page to="transports#create"/>
      <page to="transports#destroy"/>
      <page to="transports#edit"/>
      <page to="transports#list"/>
      <page to="transports#list_deliveries"/>
      <page to="transports#list_transportable_deliveries"/>
      <page to="transports#new"/>
      <page to="transports#show"/>
      <page to="transports#update"/>
    </menu>
  </menu>
  <menu name="production">
    <page to="dashboards#production"/>
    <menu name="operations">
      <page to="operations#index"/>
      <page to="operations#create"/>
      <page to="operations#destroy"/>
      <page to="operations#edit"/>
      <page to="operations#list"/>
      <page to="operations#list_lines"/>
      <page to="operations#list_unvalidateds"/>
      <page to="operations#list_uses"/>
      <page to="operations#new"/>
      <page to="operations#show"/>
      <page to="operations#unvalidateds"/>
      <page to="operations#update"/>
    </menu>
    <menu name="products">
      <page to="products#index"/>
      <menu name="product_groups">
        <page to="product_groups#index"/>
        <page to="product_groups#create"/>
        <page to="product_groups#destroy"/>
        <page to="product_groups#edit"/>
        <page to="product_groups#list"/>
        <page to="product_groups#list_children"/>
        <page to="product_groups#new"/>
        <page to="product_groups#show"/>
        <page to="product_groups#update"/>
      </menu>
      <menu name="animals">
        <page to="animals#index"/>
        <page to="animals#create"/>
        <page to="animals#destroy"/>
        <page to="animals#edit"/>
        <page to="animals#list"/>
        <page to="animals#list_children"/>
        <page to="animals#new"/>
        <page to="animals#show"/>
        <page to="animals#update"/>
      </menu>
      <menu name="vegetals">
        <page to="vegetals#index"/>
        <page to="vegetals#create"/>
        <page to="vegetals#destroy"/>
        <page to="vegetals#edit"/>
        <page to="vegetals#list"/>
        <page to="vegetals#list_children"/>
        <page to="vegetals#new"/>
        <page to="vegetals#show"/>
        <page to="vegetals#update"/>
      </menu>
    </menu>
    <menu name="logs">
      <page to="logs#index"/>
      <page to="logs#create"/>
      <page to="logs#destroy"/>
      <page to="logs#edit"/>
      <page to="logs#list"/>
      <page to="logs#new"/>
      <page to="logs#show"/>
      <page to="logs#update"/>
    </menu>
    <menu name="product_groups">
      <page to="product_groups#index"/>
      <page to="product_groups#create"/>
      <page to="product_groups#destroy"/>
      <page to="product_groups#edit"/>
      <page to="product_groups#list"/>
      <page to="product_groups#list_animals"/>
      <page to="product_groups#list_events"/>
      <page to="product_groups#new"/>
      <page to="product_groups#show"/>
      <page to="product_groups#update"/>
    </menu>
    <menu name="land_parcels">
      <page to="land_parcels#index"/>
      <page to="land_parcels#create"/>
      <page to="land_parcels#destroy"/>
      <page to="land_parcels#divide"/>
      <page to="land_parcels#edit"/>
      <page to="land_parcels#list"/>
      <page to="land_parcels#list_operations"/>
      <page to="land_parcels#merge"/>
      <page to="land_parcels#new"/>
      <page to="land_parcels#show"/>
      <page to="land_parcels#update"/>
    </menu>
  </menu>
  <menu name="settings">
    <page to="dashboards#settings"/>
    <menu name="base">
      <page to="dashboards#settings_base"/>
      <menu name="settings">
        <page to="settings#edit"/>
        <page to="settings#update"/>
      </menu>
      <menu name="import">
        <page to="settings#import"/>
      </menu>
      <menu name="backups">
        <page to="settings#backups"/>
        <page to="settings#backup"/>
        <page to="settings#restore"/>
      </menu>
      <menu name="sequences">
        <page to="sequences#index"/>
        <page to="sequences#create"/>
        <page to="sequences#destroy"/>
        <page to="sequences#edit"/>
        <page to="sequences#list"/>
        <page to="sequences#load"/>
        <page to="sequences#new"/>
        <page to="sequences#update"/>
      </menu>
      <menu name="units">
        <page to="units#index"/>
        <page to="units#create"/>
        <page to="units#destroy"/>
        <page to="units#edit"/>
        <page to="units#list"/>
        <page to="units#load"/>
        <page to="units#new"/>
        <page to="units#update"/>
      </menu>
      <menu name="roles">
        <page to="roles#index"/>
        <page to="roles#create"/>
        <page to="roles#destroy"/>
        <page to="roles#edit"/>
        <page to="roles#list"/>
        <page to="roles#new"/>
        <page to="roles#update"/>
      </menu>
      <menu name="users">
        <page to="users#index"/>
        <page to="users#create"/>
        <page to="users#destroy"/>
        <page to="users#edit"/>
        <page to="users#list"/>
        <page to="users#lock"/>
        <page to="users#new"/>
        <page to="users#show"/>
        <page to="users#unlock"/>
        <page to="users#update"/>
      </menu>
      <menu name="custom_fields">
        <page to="custom_fields#index"/>
        <page to="custom_fields#create"/>
        <page to="custom_fields#destroy"/>
        <page to="custom_fields#down"/>
        <page to="custom_fields#edit"/>
        <page to="custom_fields#list"/>
        <page to="custom_fields#list_choices"/>
        <page to="custom_fields#new"/>
        <page to="custom_fields#show"/>
        <page to="custom_fields#sort"/>
        <page to="custom_fields#up"/>
        <page to="custom_fields#update"/>
        <page to="custom_field_choices#create"/>
        <page to="custom_field_choices#destroy"/>
        <page to="custom_field_choices#down"/>
        <page to="custom_field_choices#edit"/>
        <page to="custom_field_choices#new"/>
        <page to="custom_field_choices#up"/>
        <page to="custom_field_choices#update"/>
      </menu>
      <menu name="departments">
        <page to="departments#index"/>
        <page to="departments#create"/>
        <page to="departments#destroy"/>
        <page to="departments#edit"/>
        <page to="departments#list"/>
        <page to="departments#new"/>
        <page to="departments#update"/>
      </menu>
      <menu name="establishments">
        <page to="establishments#index"/>
        <page to="establishments#create"/>
        <page to="establishments#destroy"/>
        <page to="establishments#edit"/>
        <page to="establishments#list"/>
        <page to="establishments#new"/>
        <page to="establishments#update"/>
      </menu>
      <menu name="document_templates">
        <page to="document_templates#index"/>
        <page to="document_templates#create"/>
        <page to="document_templates#destroy"/>
        <page to="document_templates#duplicate"/>
        <page to="document_templates#edit"/>
        <page to="document_templates#list"/>
        <page to="document_templates#load"/>
        <page to="document_templates#new"/>
        <page to="document_templates#print"/>
        <page to="document_templates#update"/>
      </menu>
      <menu name="about">
        <page to="settings#about"/>
      </menu>
    </menu>
    <menu name="relationship">
      <page to="dashboards#settings_relationship"/>
      <menu name="entity_categories">
        <page to="entity_categories#index"/>
        <page to="entity_categories#create"/>
        <page to="entity_categories#destroy"/>
        <page to="entity_categories#edit"/>
        <page to="entity_categories#list"/>
        <page to="entity_categories#list_prices"/>
        <page to="entity_categories#new"/>
        <page to="entity_categories#show"/>
        <page to="entity_categories#update"/>
      </menu>
      <menu name="entity_link_natures">
        <page to="entity_link_natures#index"/>
        <page to="entity_link_natures#create"/>
        <page to="entity_link_natures#destroy"/>
        <page to="entity_link_natures#edit"/>
        <page to="entity_link_natures#list"/>
        <page to="entity_link_natures#new"/>
        <page to="entity_link_natures#update"/>
      </menu>
      <menu name="entity_natures">
        <page to="entity_natures#index"/>
        <page to="entity_natures#create"/>
        <page to="entity_natures#destroy"/>
        <page to="entity_natures#edit"/>
        <page to="entity_natures#list"/>
        <page to="entity_natures#new"/>
        <page to="entity_natures#update"/>
      </menu>
      <menu name="event_natures">
        <page to="event_natures#index"/>
        <page to="event_natures#create"/>
        <page to="event_natures#destroy"/>
        <page to="event_natures#edit"/>
        <page to="event_natures#list"/>
        <page to="event_natures#new"/>
        <page to="event_natures#update"/>
      </menu>
      <menu name="subscription_natures">
        <page to="subscription_natures#index"/>
        <page to="subscription_natures#create"/>
        <page to="subscription_natures#decrement"/>
        <page to="subscription_natures#destroy"/>
        <page to="subscription_natures#edit"/>
        <page to="subscription_natures#increment"/>
        <page to="subscription_natures#list"/>
        <page to="subscription_natures#new"/>
        <page to="subscription_natures#update"/>
      </menu>
      <menu name="areas">
        <page to="areas#index"/>
        <page to="areas#create"/>
        <page to="areas#destroy"/>
        <page to="areas#edit"/>
        <page to="areas#list"/>
        <page to="areas#new"/>
        <page to="areas#update"/>
      </menu>
      <menu name="districts">
        <page to="districts#index"/>
        <page to="districts#create"/>
        <page to="districts#destroy"/>
        <page to="districts#edit"/>
        <page to="districts#list"/>
        <page to="districts#new"/>
        <page to="districts#update"/>
      </menu>
    </menu>
    <menu name="accountancy">
      <page to="dashboards#settings_accountancy"/>
      <menu name="accounts">
        <page to="accounts#index"/>
        <page to="accounts#create"/>
        <page to="accounts#destroy"/>
        <page to="accounts#edit"/>
        <page to="accounts#list"/>
        <page to="accounts#list_entities"/>
        <page to="accounts#list_journal_entry_lines"/>
        <page to="accounts#list_reconciliation"/>
        <page to="accounts#load"/>
        <page to="accounts#mark"/>
        <page to="accounts#new"/>
        <page to="accounts#reconciliation"/>
        <page to="accounts#show"/>
        <page to="accounts#unmark"/>
        <page to="accounts#update"/>
      </menu>
      <menu name="financial_years">
        <page to="financial_years#index"/>
        <page to="financial_years#close"/>
        <page to="financial_years#compute_balances"/>
        <page to="financial_years#create"/>
        <page to="financial_years#destroy"/>
        <page to="financial_years#edit"/>
        <page to="financial_years#generate_last_journal_entry"/>
        <page to="financial_years#list"/>
        <page to="financial_years#list_account_balances"/>
        <page to="financial_years#list_asset_depreciations"/>
        <page to="financial_years#new"/>
        <page to="financial_years#show"/>
        <page to="financial_years#update"/>
      </menu>
      <menu name="taxes">
        <page to="taxes#index"/>
        <page to="taxes#create"/>
        <page to="taxes#destroy"/>
        <page to="taxes#edit"/>
        <page to="taxes#list"/>
        <page to="taxes#new"/>
        <page to="taxes#update"/>
      </menu>
      <menu name="incoming_payment_modes">
        <page to="incoming_payment_modes#index"/>
        <page to="incoming_payment_modes#create"/>
        <page to="incoming_payment_modes#destroy"/>
        <page to="incoming_payment_modes#down"/>
        <page to="incoming_payment_modes#edit"/>
        <page to="incoming_payment_modes#list"/>
        <page to="incoming_payment_modes#new"/>
        <page to="incoming_payment_modes#reflect"/>
        <page to="incoming_payment_modes#up"/>
        <page to="incoming_payment_modes#update"/>
      </menu>
      <menu name="outgoing_payment_modes">
        <page to="outgoing_payment_modes#index"/>
        <page to="outgoing_payment_modes#create"/>
        <page to="outgoing_payment_modes#destroy"/>
        <page to="outgoing_payment_modes#down"/>
        <page to="outgoing_payment_modes#edit"/>
        <page to="outgoing_payment_modes#list"/>
        <page to="outgoing_payment_modes#new"/>
        <page to="outgoing_payment_modes#up"/>
        <page to="outgoing_payment_modes#update"/>
      </menu>
    </menu>
    <menu name="sales">
      <page to="dashboards#settings_sales"/>
      <menu name="sale_natures">
        <page to="sale_natures#index"/>
        <page to="sale_natures#create"/>
        <page to="sale_natures#destroy"/>
        <page to="sale_natures#edit"/>
        <page to="sale_natures#list"/>
        <page to="sale_natures#new"/>
        <page to="sale_natures#show"/>
        <page to="sale_natures#update"/>
      </menu>
    </menu>
    <menu name="purchases">
      <page to="dashboards#settings_purchases"/>
      <menu name="purchase_natures">
        <page to="purchase_natures#index"/>
        <page to="purchase_natures#create"/>
        <page to="purchase_natures#destroy"/>
        <page to="purchase_natures#edit"/>
        <page to="purchase_natures#list"/>
        <page to="purchase_natures#new"/>
        <page to="purchase_natures#show"/>
        <page to="purchase_natures#update"/>
      </menu>
    </menu>
    <menu name="products">
      <page to="dashboards#settings_products"/>
      <menu name="products">
        <page to="product_natures#index"/>
        <page to="product_natures#change_quantities"/>
        <page to="product_natures#create"/>
        <page to="product_natures#destroy"/>
        <page to="product_natures#edit"/>
        <page to="product_natures#list"/>
        <page to="product_natures#list_components"/>
        <page to="product_natures#list_prices"/>
        <page to="product_natures#list_stock_moves"/>
        <page to="product_natures#list_stocks"/>
        <page to="product_natures#new"/>
        <page to="product_natures#show"/>
        <page to="product_natures#update"/>
        <page to="product_nature_components#create"/>
        <page to="product_nature_components#destroy"/>
        <page to="product_nature_components#edit"/>
        <page to="product_nature_components#new"/>
        <page to="product_nature_components#update"/>
      </menu>
      <menu name="product_categories">
        <page to="product_nature_categories#index"/>
        <page to="product_nature_categories#create"/>
        <page to="product_nature_categories#destroy"/>
        <page to="product_nature_categories#edit"/>
        <page to="product_nature_categories#list"/>
        <page to="product_nature_categories#list_products"/>
        <page to="product_nature_categories#new"/>
        <page to="product_nature_categories#show"/>
        <page to="product_nature_categories#update"/>
      </menu>
      <menu name="prices">
        <page to="prices#index"/>
        <page to="prices#create"/>
        <page to="prices#destroy"/>
        <page to="prices#edit"/>
        <page to="prices#export"/>
        <page to="prices#find"/>
        <page to="prices#import"/>
        <page to="prices#list"/>
        <page to="prices#new"/>
        <page to="prices#update"/>
      </menu>
    </menu>
    <menu name="stocks">
      <page to="dashboards#settings_stocks"/>
      <menu name="incoming_delivery_modes">
        <page to="incoming_delivery_modes#index"/>
        <page to="incoming_delivery_modes#create"/>
        <page to="incoming_delivery_modes#destroy"/>
        <page to="incoming_delivery_modes#edit"/>
        <page to="incoming_delivery_modes#list"/>
        <page to="incoming_delivery_modes#new"/>
        <page to="incoming_delivery_modes#update"/>
      </menu>
      <menu name="outgoing_delivery_modes">
        <page to="outgoing_delivery_modes#index"/>
        <page to="outgoing_delivery_modes#create"/>
        <page to="outgoing_delivery_modes#destroy"/>
        <page to="outgoing_delivery_modes#edit"/>
        <page to="outgoing_delivery_modes#list"/>
        <page to="outgoing_delivery_modes#new"/>
        <page to="outgoing_delivery_modes#update"/>
      </menu>
      <menu name="warehouses">
        <page to="warehouses#index"/>
        <page to="warehouses#create"/>
        <page to="warehouses#destroy"/>
        <page to="warehouses#edit"/>
        <page to="warehouses#list"/>
        <page to="warehouses#list_stock_moves"/>
        <page to="warehouses#list_stocks"/>
        <page to="warehouses#new"/>
        <page to="warehouses#show"/>
        <page to="warehouses#update"/>
      </menu>
    </menu>
    <menu name="production">
      <page to="dashboards#settings_production"/>
      <menu name="product_varieties">
        <page to="product_varieties#index"/>
        <page to="product_varieties#create"/>
        <page to="product_varieties#destroy"/>
        <page to="product_varieties#edit"/>
        <page to="product_varieties#list"/>
        <page to="product_varieties#new"/>
        <page to="product_varieties#show"/>
        <page to="product_varieties#update"/>
      </menu>
      <menu name="production_chains">
        <page to="production_chains#index"/>
        <page to="production_chains#create"/>
        <page to="production_chains#destroy"/>
        <page to="production_chains#edit"/>
        <page to="production_chains#list"/>
        <page to="production_chains#list_conveyors"/>
        <page to="production_chains#list_work_centers"/>
        <page to="production_chains#new"/>
        <page to="production_chains#show"/>
        <page to="production_chains#update"/>
        <page to="production_chain_work_centers#create"/>
        <page to="production_chain_work_centers#destroy"/>
        <page to="production_chain_work_centers#down"/>
        <page to="production_chain_work_centers#edit"/>
        <page to="production_chain_work_centers#new"/>
        <page to="production_chain_work_centers#play"/>
        <page to="production_chain_work_centers#show"/>
        <page to="production_chain_work_centers#up"/>
        <page to="production_chain_work_centers#update"/>
        <page to="production_chain_conveyors#create"/>
        <page to="production_chain_conveyors#destroy"/>
        <page to="production_chain_conveyors#edit"/>
        <page to="production_chain_conveyors#new"/>
        <page to="production_chain_conveyors#update"/>
      </menu>
      <menu name="tools">
        <page to="tools#index"/>
        <page to="tools#create"/>
        <page to="tools#destroy"/>
        <page to="tools#edit"/>
        <page to="tools#list"/>
        <page to="tools#list_operations"/>
        <page to="tools#new"/>
        <page to="tools#show"/>
        <page to="tools#update"/>
      </menu>
    </menu>
  </menu>
  <undefined>
    <menu name="accounts">
      <page to="accounts#list_journal_entry_items"/>
    </menu>
    <menu name="dashboards">
      <page to="dashboards#list_my_future_entity_events"/>
      <page to="dashboards#list_recent_entity_events"/>
      <page to="dashboards#production_products"/>
      <page to="dashboards#welcome"/>
    </menu>
    <menu name="entities">
      <page to="entities#list_addresses"/>
    </menu>
    <menu name="entity_addresses">
      <page to="entity_addresses#unroll"/>
    </menu>
    <menu name="entity_natures">
      <page to="entity_natures#unroll"/>
    </menu>
    <menu name="help">
      <page to="help#index"/>
      <page to="help#show"/>
    </menu>
    <menu name="interfacers">
      <page to="interfacers#autocomplete"/>
      <page to="interfacers#autocomplete_for_area_name"/>
      <page to="interfacers#autocomplete_for_entity_origin"/>
      <page to="interfacers#autocomplete_for_event_location"/>
      <page to="interfacers#autocomplete_for_mandate_family"/>
      <page to="interfacers#autocomplete_for_mandate_organization"/>
      <page to="interfacers#autocomplete_for_mandate_title"/>
      <page to="interfacers#product_trackings"/>
      <page to="interfacers#product_units"/>
      <page to="interfacers#search_for"/>
      <page to="interfacers#select_options"/>
      <page to="interfacers#toggle_module"/>
      <page to="interfacers#toggle_side"/>
      <page to="interfacers#toggle_tab"/>
      <page to="interfacers#toggle_view_mode"/>
      <page to="interfacers#unroll"/>
      <page to="interfacers#unroll_options"/>
    </menu>
    <menu name="journals">
      <page to="journals#list_draft_items"/>
      <page to="journals#list_items"/>
    </menu>
    <menu name="myselves">
      <page to="myselves#change_password"/>
      <page to="myselves#statistics"/>
    </menu>
    <menu name="preferences">
      <page to="preferences#index"/>
      <page to="preferences#create"/>
      <page to="preferences#destroy"/>
      <page to="preferences#edit"/>
      <page to="preferences#list"/>
      <page to="preferences#new"/>
      <page to="preferences#show"/>
      <page to="preferences#update"/>
    </menu>
    <menu name="product_groups">
      <page to="product_groups#list_products"/>
    </menu>
    <menu name="product_indicator_nature_choices">
      <page to="product_indicator_nature_choices#create"/>
      <page to="product_indicator_nature_choices#destroy"/>
      <page to="product_indicator_nature_choices#down"/>
      <page to="product_indicator_nature_choices#edit"/>
      <page to="product_indicator_nature_choices#new"/>
      <page to="product_indicator_nature_choices#up"/>
      <page to="product_indicator_nature_choices#update"/>
    </menu>
    <menu name="product_indicator_natures">
      <page to="product_indicator_natures#index"/>
      <page to="product_indicator_natures#create"/>
      <page to="product_indicator_natures#destroy"/>
      <page to="product_indicator_natures#down"/>
      <page to="product_indicator_natures#edit"/>
      <page to="product_indicator_natures#list"/>
      <page to="product_indicator_natures#list_choices"/>
      <page to="product_indicator_natures#new"/>
      <page to="product_indicator_natures#show"/>
      <page to="product_indicator_natures#up"/>
      <page to="product_indicator_natures#update"/>
    </menu>
    <menu name="product_indicators">
      <page to="product_indicators#index"/>
      <page to="product_indicators#create"/>
      <page to="product_indicators#destroy"/>
      <page to="product_indicators#edit"/>
      <page to="product_indicators#new"/>
      <page to="product_indicators#show"/>
      <page to="product_indicators#update"/>
    </menu>
    <menu name="product_memberships">
      <page to="product_memberships#index"/>
      <page to="product_memberships#create"/>
      <page to="product_memberships#destroy"/>
      <page to="product_memberships#edit"/>
      <page to="product_memberships#new"/>
      <page to="product_memberships#show"/>
      <page to="product_memberships#update"/>
    </menu>
    <menu name="product_nature_categories">
      <page to="product_nature_categories#list_product_natures"/>
    </menu>
    <menu name="product_natures">
      <page to="product_natures#list_product_moves"/>
    </menu>
    <menu name="product_process_phases">
      <page to="product_process_phases#index"/>
      <page to="product_process_phases#create"/>
      <page to="product_process_phases#destroy"/>
      <page to="product_process_phases#edit"/>
      <page to="product_process_phases#list"/>
      <page to="product_process_phases#new"/>
      <page to="product_process_phases#show"/>
      <page to="product_process_phases#update"/>
    </menu>
    <menu name="product_processes">
      <page to="product_processes#index"/>
      <page to="product_processes#create"/>
      <page to="product_processes#destroy"/>
      <page to="product_processes#edit"/>
      <page to="product_processes#list"/>
      <page to="product_processes#new"/>
      <page to="product_processes#show"/>
      <page to="product_processes#update"/>
    </menu>
    <menu name="professions">
      <page to="professions#index"/>
      <page to="professions#create"/>
      <page to="professions#destroy"/>
      <page to="professions#edit"/>
      <page to="professions#list"/>
      <page to="professions#new"/>
      <page to="professions#update"/>
    </menu>
    <menu name="sessions">
      <page to="sessions#create"/>
      <page to="sessions#destroy"/>
      <page to="sessions#new"/>
      <page to="sessions#renew"/>
    </menu>
    <menu name="warehouses">
      <page to="warehouses#list_product_moves"/>
    </menu>
  </undefined>
</menu>
