$activity-avatar-size: 100px;
$activity-container-height: 80px;
$activity-name-height: $lh-large;
$indicators_height: $activity-container-height - $activity-name-height;
$indicator_item_height: $indicators_height / 2;
$activity_border_size: 5px;

.activities-index {
  .activity-container {
    @include float(left);
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-md-column(4);
    @include make-lg-column(3);
    padding: 0;
  }
}

.activity {
  @include incrust-shadow();
  @include box-sizing(border-box);
  margin: 2 * $default-gap;
  background: #FFF;
  @include transition(background-color 0.2s);
  @include border-right($default-gap solid $neutral-background);

  //@include box-sizing(border-box);
  // height: $activity-container-height;
  @include clearfix;

  .activity-avatar {
    background-color: $neutral-background;
    @include background-size(cover);
    width: $activity-avatar-size;
    height: $activity-avatar-size;
    @include float(left);
  }

  .activity-content {
    @include calc(width, "100% - #{$activity-avatar-size}");
    @include float(left);
    padding: $default-gap $default-gap * 2;
    box-sizing: border-box;

    .activity-name {
      @include ellipsis;
      &, * {
        height: $activity-name-height;
        line-height: $lh-large;
        font-size: $fs-large;
      }
      margin-bottom: $default-gap;
    }

    .activity-indicators {
      @include make-row($gutter: 0);
      // height: $indicators_height;

      .activity-indicator {
        @include ellipsis;
        @include make-md-column(6, $gutter: 0);
        // height: 100%;
        text-align: center;
        font-size: $fs-normal;
        // line-height: $indicators_height;
      }
    }
  }
  &.inactive {
    opacity: 0.5;
    background: $desktop-background;
    &:hover {
      opacity: 1;
      background: white;
    }
  }
}
