$activity_container_height: 80px;
$img_container_size: $activity_container_height;
$activity_name_height: $lh-large;
$indicators_height: $activity_container_height - $activity_name_height;
$indicator_item_height: $indicators_height / 2;
$activity_border_size: 5px;

.activity-box {
  @include make-md-column(12);
  @include make-lg-column(6);
  @include box-sizing(border-box);
  padding-top: 15px;

  .activity-container {
    @include incrust-shadow();
    //@include box-sizing(border-box);
    border: 1px solid #eee;
    background-color: #FFF;
    height: $activity_container_height;

    .img-container {
      background-size: cover;
      width: $img_container_size;
      height: 100%;
      float: left;
    }

    .activity-content {
      @include calc(width, "100% - #{$img_container_size}");
      height: 100%;
      float: left;
      border-right: $activity_border_size solid rgba(0, 0, 0, 0);
      box-sizing: border-box;

      .name {
        height: $activity_name_height;
        text-align: center;
        line-height: $activity_name_height;
        font-size: $fs-large;
      }

      .indicators {
        @include make-row($gutter: 0);
        height: $indicators_height;

        .item {
          @include make-md-column(3, $gutter: 0);
          height: 100%;
          text-align: center;
          font-size: $fs-normal;
          line-height: $indicators_height;
        }
      }
    }
  }

}