/*
 * This is a manifest file that'll be compiled into screen.css, which will include all the files
 * listed below.
 *= require flatpickr
 *= require flatpickr/plugins/confirmDate/confirmDate
 *= require flatpickr/themes/material_blue
 *= require_self
 */



// Core variables and mixins
@import "variables";
@import "mixins";

// Reset
@import "reset";
@import "fonts";
@import "print";
@import 'bootstrap-sprockets';

// Plugins
@import "flatpickr";
@import "bootstrap-slider";

// Specific
@import "abilities";
@import "accesses";
@import "activities";
@import "accounts";
@import "attachments";
@import "bank_statements";
@import "budget";
@import "buttons";
@import "beehives";
@import "calendars";
@import "charts";
@import "documents";
@import "equipments";
@import "financial_years";
@import "forms";
@import "golumns";
@import "grid";
@import "integrations";
@import "interventions";
@import "intervention_participations";
@import "leaflet";
@import "main";
@import "map_layers";
@import "modals";
@import "quick_trades";
@import "tables";
@import "taskboard";
@import "tax_declarations";
@import "timelines";
@import "tour";
@import "plants";
@import "warning";
@import "general_ledgers";
@import "trial_balances";

// Optimization
@import "symbolic_icons";
