@import "bootstrap/modals";
@import "bootstrap/panels";
@import "bootstrap/alerts";
//@import "bootstrap/forms";
//@import "bootstrap/button-groups";
//@import "bootstrap/buttons";
//@import "bootstrap/navbar";
//@import "bootstrap/dropdowns";
@import "bootstrap/grid";

.no-padding {
  padding: 0 !important;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding-right-left {
  padding-right: 0;
  padding-left: 0;
}

.xs-v-padding {
  padding-top: 3px;
  padding-bottom: 3px;
}

.xs-h-padding {
  padding-right: 3px;
  padding-left: 3px;
}

.xs-padding {
  padding: 3px;
}

.no-right-left-margin {
  margin-left: 0;
  margin-right: 0;
}

.add-group-btn {
  button {
    padding-left: 0;
    padding-right: 0;
  }
}

.sorting-group-placeholder, .sorting-container-placeholder {
  border: 2px dashed #DDD;
  margin: 7px;
  background: #dff0d8;
  padding-top: 10%;
  color: rgb(239, 250, 235);
  text-align: center;
  font-size: 4em;
}

.sorting-animal-placeholder {
  border: 2px dashed #DDD;
  margin: 7px;
  background: #dff0d8;
  color: rgb(239, 250, 235);
  text-align: center;
  font-size: 2em;
}

.dragging-on-empty-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.animal-count {
  float: right;
  font-size: 10px;
}

.animal-element.selected {
  border-color: #428bca;
  -webkit-box-shadow: 0 0 2px #428bca;
  -moz-box-shadow: 0 0 2px #428bca;
  box-shadow: 0 0 2px #428bca;
}

.animate-dragging {
  border: 1px solid #777;
  background-color: #428bca;
  border-radius: 50%;
}

.animate-dragging-number {
  background-color: #428bca;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -5px;
  left: -5px;
  text-align: center;
  vertical-align: middle;
  z-index: 1;
}

.animate-dragging-img {
  position: absolute;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 1px 1px 8px #000000;
  }
}

.animal-group {
  width: 230px;
  display: inline-block;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}

.animal-group-dragger:hover, .animal-container-dragger:hover, .animal-element-dragger:hover {
  cursor: pointer;
}

.add-group-panel-container {
  display: inline-block;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  .panel {
    width: 100px;
    height: 100px;
    text-align: center;
    .panel-heading {
      padding: 7px;
    }
  }
}

.animal-group-title {
  font-weight: bold;
  font-size: 12px;
}

.animal-container-badge {
  font-size: x-small;
}

.animal-container-title {
  font-weight: bold;
  font-size: x-small;
}

.no-right-left-margin {
  margin-left: 0;
  margin-right: 0;
}

.animal-summary {
  font-size: 16px;
  text-align: center;
}

.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
  input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display: block;
    &::-webkit-input-placeholder {
      display: none;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      display: none;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      display: none;
    }
    &:-ms-input-placeholder {
      display: none;
    }
  }
  &:hover, &.hover {
    width: 100%;
    border-radius: 4px 25px 25px 4px;
  }
  span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #3596e0;
    left: initial;
    font-size: 14px;
  }
}

.status-ok {
  border-left: 5px solid #5cb85c;
}

.flag-ok {
  background-color: #5cb85c;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.status-warning {
  border-left: 5px solid #f0ad4e;
}

.flag-warning {
  background-color: #f0ad4e;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.status-danger {
  border-left: 5px solid #d9534f;
}

.flag-danger {
  background-color: #d9534f;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.list-group-item-title {
  border-bottom: 1px solid #ddd;
}

.animal-element {
  border-bottom: 1px solid #ddd;
}

.animal-element-img {
  height: 30px;
  width: 35px;
  display: inline-block;
  //border-radius: 50%;
  margin-left: -6px;
  img {
    height: 30px;
    width: 30px;
  }
  .icon-cow {
    font-size: 30px;
  }
}

.grow-empty-zone {
  transition: all 1s ease;
  padding: 10px 0;
}

.animal-element-infos {
  padding: 0 5px;
  min-height: 30px;
  vertical-align: middle;
  display: inline-block;
  line-height: 30px;
  width: 130px;
}

.animal-element-dragger {
  width: 5px;
  float: right;
  display: inline-block;
  min-height: 30px;
  vertical-align: middle;
  text-align: center;
  padding: 0;
  line-height: 30px;
}

.animal-element-actions {
  width: 24px;
  display: inline-block;
  min-height: 30px;
  vertical-align: middle;
  padding: 0 10px;
  div.animal-selector {
    padding: 4px 0;
  }
}

.animal-element-name {
  font-weight: bold;
}

.btn-hover {
  font-weight: normal;
  color: #333333;
  cursor: pointer;
  background-color: inherit;
  border-color: transparent;
}

.animal-element-actions .btn-hover {
  font-weight: normal;
  color: #333333;
  cursor: pointer;
  background-color: inherit;
  border-color: transparent;
  opacity: 0;
  &:hover {
    opacity: 0.5;
    transition: all 0.5s;
  }
  &.active {
    opacity: 1;
  }
}

.animal-container {
  border: 0;
  padding-left: 0;
  padding-right: 0;
}

.hide {
  display: none;
}

.animal-list-group {
  margin-bottom: 0;
}

.add-container {
  text-align: center;
  border-top: 1px solid #ddd;
  button {
    padding: 0;
    i.text-muted {
      color: #ddd;
    }
  }
}

.animal-summary .alert {
  margin: 0;
  padding: 5px 5px;
  width: 30px;
  height: 30px;
  box-shadow: inset 1px 1px 1px 0 #aaa;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}

.animal-navbar {
  height: 35px;
  min-height: 35px;
}

.animal-summary {
  button {
    margin-top: 1px !important;
    margin-bottom: 0 !important;
  }
  .navbar-text {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.animal-navbar-interventions {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

.animal-summary .alert:hover {
  transform: rotateZ(405deg) scale(1);
  transition: all 0.2s;
}

#loading {

  display: none;

}

.bubblingG {
   text-align: center;
   width:80px;
   height:50px;
 }

.bubblingG span {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  margin: 25px auto;
  background: #000000;
  -moz-border-radius: 50px;
  -moz-animation: bubblingG 1.3s infinite alternate;
  -webkit-border-radius: 50px;
  -webkit-animation: bubblingG 1.3s infinite alternate;
  -ms-border-radius: 50px;
  -ms-animation: bubblingG 1.3s infinite alternate;
  -o-border-radius: 50px;
  -o-animation: bubblingG 1.3s infinite alternate;
  border-radius: 50px;
  animation: bubblingG 1.3s infinite alternate;
}

#bubblingG_1 {
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}

#bubblingG_2 {
  -moz-animation-delay: 0.39s;
  -webkit-animation-delay: 0.39s;
  -ms-animation-delay: 0.39s;
  -o-animation-delay: 0.39s;
  animation-delay: 0.39s;
}

#bubblingG_3 {
  -moz-animation-delay: 0.78s;
  -webkit-animation-delay: 0.78s;
  -ms-animation-delay: 0.78s;
  -o-animation-delay: 0.78s;
  animation-delay: 0.78s;
}

@-moz-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color:#000000;
    -moz-transform: translateY(0);
  }

  100% {
    width: 24px;
    height: 24px;
    background-color:#FFFFFF;
    -moz-transform: translateY(-21px);
  }

}

@-webkit-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color:#000000;
    -webkit-transform: translateY(0);
  }

  100% {
    width: 24px;
    height: 24px;
    background-color:#FFFFFF;
    -webkit-transform: translateY(-21px);
  }

}

@-ms-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color:#000000;
    -ms-transform: translateY(0);
  }

  100% {
    width: 24px;
    height: 24px;
    background-color:#FFFFFF;
    -ms-transform: translateY(-21px);
  }

}

@-o-keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color:#000000;
    -o-transform: translateY(0);
  }

  100% {
    width: 24px;
    height: 24px;
    background-color:#FFFFFF;
    -o-transform: translateY(-21px);
  }

}

@keyframes bubblingG {
  0% {
    width: 10px;
    height: 10px;
    background-color:#000000;
    transform: translateY(0);
  }

  100% {
    width: 24px;
    height: 24px;
    background-color:#FFFFFF;
    transform: translateY(-21px);
  }

}

i.icon {
  font-family: Agric;
}