.active-list .list.bank-reconciliation-items {
  tbody tr {
    cursor: pointer;
  }

  tfoot tr, tfoot tr td {
    font-weight: bold;
  }

  .center {
    text-align: center;
  }

  input.error {
    border-color: $invalid-color;
    border-width: 2px;
  }

  .tmpl-date {
    display: none;
  }

  .date-separator {
    border-top: 1px solid red;

    .add-line-inline {
      font-weight: normal;
      i {
        @include is-icon;
        @include use-icon(add);
      }
    }
  }

  .del {
    font-weight: bold;
    i {
      @include is-icon;
      @include use-icon(clear);
    }
  }

  .bank-statement-item-type, .journal-entry-item-type {
    &.selected {
      background-color: $active-color;
    }
  }

  .bank-statement-item-type {
    font-style: italic;
    .name {
      width: 90%;
    }
    .clear {
      font-style: normal;
    }
    .type-icon i {
      @include is-icon;
      @include use-icon(university);
    }
  }

  .journal-entry-item-type {
    .type-icon i {
      @include is-icon;
      @include use-icon(book);
    }
  }

  .add-bank-statement-item-cont .ui-datepicker-trigger {
    float: left;
  }

  .bank-statement-letter {
    font-style: normal;
    font-weight: bold;
  }

  .clear {
    a {
      display: none;
    }
    i {
      @include is-icon;
      @include use-icon(eraser);
    }
  }

  .complete a {
    display: none;
  }

}
