.beehive {
  .box {
    $min-width: round($mini-screen / 3);
    $min-height: 200px;
    $cell-border-width: 1px;
    $cell-border: $cell-border-width solid #DDD;
    $cell-title-vertical-padding: round($default-gap*1);
    $cell-title-horizontal-padding: round($default-gap*2);
    // padding: 0 $cell-border-width;
    margin-top: $default-gap;
    &:first-child { margin-top: 0; }
    @include clearfix;

    .cell-titles {
      display: none;
    }

      .cell-title {
        color: $active-color;
        font-weight: bold;
        padding: $cell-title-vertical-padding $cell-title-horizontal-padding;
        // border: $cell-border;
        // border-bottom: none;
        background: #FFF;
        @include background(linear-gradient(top, mix($active-color, white, 10%), white));
        text-align: center;
        border-top: 2px solid $active-color;
        @include ellipsis;
      }

    .cell {
      // margin-top: $default-gap;
      &:first-child { margin-top: 0; }


      .cell-content {
	padding: $cell-title-vertical-padding $cell-title-vertical-padding; /*$cell-title-horizontal-padding;*/
        // margin: $cell-title-vertical-padding $cell-title-vertical-padding;
        // border: $cell-border;
        // border-top: none;
        background: #FFFFFF;
        overflow: auto;
        @include clearfix;
        height: auto;
      }
    }

    @for $i from 1 through 30 {
      &.box-#{ $i }-cells {
        @media screen and (min-width: round($i*$min-width) + 1px) {
          &.box-h {
            .cells {
              @include clearfix;
              .cell {
                $space: 1%;
                width: (100% - (($i - 1) * $space)) / $i;
                @include float(left);
                margin-top: 0;
                @include margin-left($space);
                &:first-child {
                  @include margin-left(0);
                }
                @if $i > 1 {
                  .cell-title {
                    border-left: $cell-border;
                    border-right: $cell-border;
                  }
                  &:first-child .cell-title { border-left: none }
                  &:last-child  .cell-title { border-right: none }

                  .cell-content {
                    border: $cell-border;
                    border-top: none;
                    height: 20em;
                  }
                  &:first-child .cell-content { border-left: none }
                  &:last-child  .cell-content { border-right: none }
                }
              }
            }
          }
          &.box-tab {
            ul.cell-titles {
	      display: block;
              li {
                @include inline-block;
                padding: 0;
                width: 100% / $i;
                opacity: 0.4;
                &:hover { opacity: 0.8 }
                .cell-title {
                  text-decoration: none;
                  display: block;
                  border-color: mix($active-color, white, 10%);
                  &:focus {
                    outline: none;
                  }
                }
                &.active {
                  opacity: 1;
                  a {
                    border: $cell-border;
                    border-top:  2px solid $active-color;
                    border-bottom: none;
                    padding-bottom: $cell-title-vertical-padding + $cell-border-width;
                  }
                  &:first-child a { border-left: none }
                  &:last-child  a { border-right: none }
                  margin-bottom: (-1 * $cell-border-width);
                }
              }


            }
            .cells {
              border-top: $cell-border;
              .cell {
                display: none;
                width: 100%;
                margin-top : 0;
                &.active {
                  display: block;
                }
                .cell-inner {
                  margin-left : 0;
                  .cell-title { display: none; }
                  .cell-content {
                    border-bottom: $cell-border;
                    border-top: none;
                    max-height: 20em;

                  }
		}
              }
            }

          }
        }
      }
    }

  }
}
