
@include keyframes(cell-rotate) {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

$min-width: round($mini-screen * 0.3);

$spacing: round($default-gap * 0.6);
$configuring-min-height: 400px;
.beehive {
  padding: $spacing;
  background: $desktop-background;

  .beehive-tools {
    display: none;
    padding: $default-gap;
    margin: $spacing;
    background: #EEE;
  }

  .box {
    $min-height: 200px;
    $cell-border-width: 1px;
    $cell-border: $cell-border-width solid #DDD;
    $cell-title-vertical-padding: round($default-gap*1);
    $cell-title-horizontal-padding: round($default-gap*1.3);
    clear: both;

    .cell {
      padding: 0;
      margin: 0;
      width: 100%;
      // @include inline-block;
      @include float(left);
      display: block;
      vertical-align: top;

      .cell-inner {
        background: white;
        border: 1px solid #DDD;
        margin: $spacing;
        @include border-radius($default-border-radius);

        .cell-title {
          color: $text-color;
          font-weight: bold;
          padding: $cell-title-vertical-padding $cell-title-horizontal-padding;
          background: #EEE;
          @include text-align(left);
          // border-top: 2px solid $active-color;
          @include ellipsis;
          i {
            color: $text-color;
            @include is-icon($fs-normal);
            @include use-icon(bookmark);
          }
          a[data-beehive-remove="cell"] {
            @include float(right);
            display: none;
            width: $fs-normal;
            @include text-align(center);
            i {
              @include is-icon($fs-normal);
              @include use-icon(remove);
            }
          }
        }

        .cell-content {
          padding: $cell-title-vertical-padding $cell-title-horizontal-padding;
          background: #FFFFFF;
          height: auto;
          overflow: auto;

          > .cell-indicator {
            color: $neutral-color;
            @include is-icon(6 * $fs-normal);
            @include inline-block;
          }

          > .toolbar {
            @include margin-left($default-gap);
          }
        }

        .cell-bottom {
          clear: both;
        }
      }

      &.dragging {
        width: auto;
        .cell-inner {
          @include box-shadow(0 0 (3*$default-gap) rgba(black, 0.4))
        }
      }


      &.loading, &.errored, &.blank {
        > .cell-inner > .cell-content {
          text-align: center;
          padding: 3 * $fs-normal;
          cursor: default;
        }
      }

      &.loading {
        > .cell-inner > .cell-content > .cell-indicator {
          opacity: 0.8;
          @include use-icon(circle-o-notch);
          @include animation(cell-rotate 2s infinite linear);
        }
      }

      &.errored {
        > .cell-inner > .cell-content > .cell-indicator {
          color: $invalid-color;
          @include use-icon(meh-o);
        }
      }

      &.blank {
        > .cell-inner > .cell-content > .cell-indicator {
          color: $caution-color;
          @include use-icon(empty-o);
        }
      }

    }


    .box-bottom {
      clear: both;
    }



  }

  [data-beehive-task="new-box"] {
    display: none;
    clear: both;
    margin: 2*$spacing $spacing $spacing;
    padding: 2*$spacing;
    @include text-align(center);
  }

  .beehive-bottom {
    clear: both;
  }

  &.configuring {
    [data-beehive-task="new-box"] {
      display: block;
    }
    .beehive-tools {
      display: block;
      *[data-beehive-task="new-cell"] {
        i {
          @include is-icon;
          @include use-icon(plus);
        }
      }
      *[data-beehive-task="reset"] {
        i {
          @include is-icon;
          html[dir="ltr"] & { @include use-icon(rotate-left); }
          html[dir="rtl"] & { @include use-icon(rotate-right); }
        }
      }
    }
    .box {
      border: 2px dashed #DDD;
      margin: $default-gap;
      min-height: $configuring-min-height;
      .cell {
        .cell-title {
          cursor: move;
          a[data-beehive-remove="cell"] {
            display: block;
          }
        }
        &.cell-placeholder {
          background: rgba($success-color, 0.2);
          height: $configuring-min-height;
        }
      }
    }
  }

}


@for $i from 2 through 16 {
  @media screen and (min-width: round($i*$min-width) + 1px) {
    .cell:first-child:nth-last-child(#{$i}),
    .cell:first-child:nth-last-child(#{$i}) ~ .cell {
      width: floor(100000% / $i) / 1000;
    }
  }
}
