
input[type="submit"], a.btn {
  cursor: pointer;
}

@include button($passive-bg, $active-bg);
@include button(#D88E68, #D88E68, "&.important");

/*
.toolbar {
  margin: 0 0 8px 0;
  @include text-align(left);
  @include button-group;
}
*/

.btn {
  padding: round($fs-normal*0.35) round($fs-normal*0.5);
  .icon {
    @include is-icon(18px);
    @include use-icon(cog);
    @include inline-block;
    @include text-shadow(1px 1px 0 white);
  }
}

@each $symbiol in $symbiols {
  $symbol-name: nth($symbiol, 1);
  $symbol-code: nth($symbiol, 2);
  .btn.#{$symbol-name}, .btn.btn-#{$symbol-name} {
    .icon {
      @include icon($symbol-code);
    }
  }
}

.btn.btn-abort .icon { @include use-icon(trash) }
.btn.btn-cancel .icon { @include use-icon(undo) }
.btn.btn-destroy .icon { @include use-icon(remove) }
.btn.btn-down .icon    { @include use-icon(chevron-down) }
.btn.btn-new .icon     { @include use-icon(plus) }
.btn.btn-merge .icon   { @include use-icon(resize-small) }
.btn.btn-divide .icon  { @include use-icon(resize-full) }
.btn.btn-duplicate .icon  { @include use-icon(copy) }
.btn.btn-load .icon       { @include use-icon(refresh) }
.btn.btn-statistics .icon { @include use-icon(bar-chart) }
.btn.btn-index .icon      { @include use-icon(print) }
.btn.btn-unvalidateds .icon { @include use-icon(ok)}
.btn.btn-close .icon { @include use-icon(lock)}
