/*
 * This is a manifest file that'll be compiled into screen.css, which will include all the files
 * listed below.
 *
 *= require 'c3'
 */

.c3 {
  svg {
    path {
    fill: transparent;
    }
  }
}
.c3-line {
  fill: transparent;
  stroke-width: 2;
}
.c3-axis {
  .tick {
    line {
      stroke: #CCC;
    }
  }
  .domain {
    stroke: #CCC;
  }
}

.chart-table {
  .chart-line {
    .chart-cell {
      width: 33.33%;
      @include float(left);
      @for $weight from 1 to 12 {
        .chart-cell-#{$weight} {
          width: floor(10000% / $weight) / 100;
        }
      }
    }
  }
}