/*
 *  Main config file for the theme
 */
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";

@mixin define-right-property($base-name, $value) { 
  html[dir="ltr"] & { #{$base-name}-right: $value; }
  html[dir="rtl"] & { #{$base-name}-left: $value; }
}

@mixin define-left-property($base-name, $value) { 
  html[dir="ltr"] & { #{$base-name}-left: $value; }
  html[dir="rtl"] & { #{$base-name}-right: $value; }
}

@mixin margin-right($value) { @include define-right-property(margin, $value); }
@mixin margin-left($value)  { @include define-left-property(margin, $value); }
@mixin border-right($value) { @include define-right-property(border, $value); }
@mixin border-left($value)  { @include define-left-property(border, $value); }


@mixin left($base-name, $value) { 
  html[dir="ltr"] & { #{$base-name}-left: $value; }
  html[dir="rtl"] & { #{$base-name}-right: $value; }
}

@mixin right($base-name, $value) { 
  html[dir="ltr"] & { #{$base-name}-right: $value; }
  html[dir="rtl"] & { #{$base-name}-left: $value; }
}

@mixin text-align($dir) { 
  @if $dir == right {
    html[dir="ltr"] & { text-align: right; }
    html[dir="rtl"] & { text-align: left; }    
  } @else if $dir == left {
    html[dir="ltr"] & { text-align: left; }
    html[dir="rtl"] & { text-align: right; }    
  } @else {
    html[dir="ltr"] &, html[dir="rtl"] & { text-align: $dir; }
  }
}

@mixin float($dir) { 
  @if $dir == right {
    html[dir="ltr"] & { float: right; }
    html[dir="rtl"] & { float: left; }    
  } @else if $dir == left {
    html[dir="ltr"] & { float: left; }
    html[dir="rtl"] & { float: right; }    
  } @else {
    html[dir="ltr"] &, html[dir="rtl"] & { float: $dir; }
  }
}

@mixin display($mode) { 
  @if $mode == box { 
    display: -o-box;
    display: -ms-box;
    display: -moz-box;
    display: -webkit-box;
    display: box;
  } @else { 
    display: $mode;
  }
}

/* 37E */
/*##############|                   |                   |                   |                   |                   |                   |*/
$modules-names:  relationship        accountancy         sales               purchases           stocks              production         ;
$modules-colors: #16D                #193                rgb(90%, 85%, 0%)   rgb(100%, 50%, 0%)  #D10                #7F4D15            ;
$modules: ();
@for $i from 1 through length($modules-names) { 
  $modules: append($modules, (nth($modules-names, $i) nth($modules-colors, $i)));
}

$fs-normal: 14px;
$fs-small:      ceil(0.73*$fs-normal);
$fs-large:     round(1.10*$fs-normal);
$fs-huge:      round(1.20*$fs-normal);
$fs-very-huge: round(1.40*$fs-normal);

$neutral-color: #777;
$base-color: #16D;
$link-color:  darken($base-color, 27%);
$link-color:  darken($base-color, 10%);
$text-color:  #111;
$title-color: darken($base-color, 40%);
$invalid-color: red;
$hover-transparency: 0.85;
$hover-mask: transparentize($base-color, $hover-transparency);

@function background-hover($background-color) { 
/*  @return mix($background-color, $base-color, 78%);*/
  @return mix($background-color, opacify($hover-mask, 1), percentage($hover-transparency));
}

//$base-color: #95b0e4;
//$link-color: $base-color; /* #3162C0; /* 02C */
$desktop-background: #FFFFFF;
$input-background: $desktop-background;
$light-color: mix($base-color, $desktop-background, 50%); /* #C9D7F1 */
$menu-background: #F0F0F0; /* #3D5C8D F1F1F1 86a5e0 c8d3e9*/
$menu-background-hover: background-hover($menu-background);
$menu-border-color: mix($menu-background, #000000, 87%);
$menu-border-width: floor($fs-normal / 10);
$menu-border: $menu-border-width solid $menu-border-color;
$menu-width: $fs-normal * 13;
$menu-padding: 2*$menu-border-width;
$menu-height:      2 * ceil($fs-normal * 0.875);
$menu-text-height: 2 * ceil($fs-normal * 0.655);
$input-border: $menu-border-width solid mix($desktop-background, $neutral-color, 60%);
$label-width: 25%;

$default-border-radius: round($fs-normal/5);
/* Variation from center to  */
$default-lightness-variation: 5%;
$default-gap: round($fs-normal * 0.55);
$cell-background: mix($desktop-background, $base-color, 82%);
$cell-background-current: mix($desktop-background, $base-color, 62%);

@mixin title($font-size) { 
  font-size: $font-size;
  line-height: round($font-size * 1.4);
  font-weight: bold;
  color: $title-color;
}

$l: 40%;
$s: 70%;

/*@include box-shadow(0 0 5px #555); @include box-shadow(0 0 5px rgba(0,0,0,0.5));*/
@mixin menu-shadow { 
  @include box-shadow(0 0 ($fs-normal/4) rgba(0, 0, 0, 0.3));
}

@mixin menu { 
  @include background($menu-background);
  @include menu-shadow;
  border: $menu-border;
  width: $menu-width;
  padding: $menu-padding;
}

@mixin menu-item { 
  display: block;
  padding: 0;
  height: $menu-height;
  width: $menu-width;
  list-style-type:none; 
  &:hover { 
    background: $menu-background-hover; 
    @include border-radius($default-border-radius);
  }
  &.no-link { 
    background: transparent;
    cursor: default;
    pointer-events: none;
  }
  a {
    $padding: ($menu-height - $menu-text-height)/2; 
    display: block;
    padding: $padding;
    &, & span { 
      height: $menu-text-height;
      line-height: $menu-text-height;
      vertical-align: middle;
    }
    span.icon {
      /*@include inline-block;*/
      display: block;
      float: left;
      padding: 0;
      height:16px;
      width: 16px;
      margin: (($menu-text-height - 16px)/2) 0;
      @include right(margin, $padding);
    }
    span.text { 
      /*@include inline-block;*/
      display: block;
      float: left;
      padding: 0;
      margin: 0;
      width: $menu-width - 16px - 3 * $padding;
      font-weight: normal;
      white-space: nowrap;
      overflow: hidden; 
      @include ellipsis;
    }
  }
}

@mixin menu-separator { 
  height: $menu-border-width; 
  background: $menu-border-color; 
  padding: 0; 
  margin: $menu-padding auto;
}

@mixin incrust-shadow { 
  @include box-shadow(0 0 round($fs-normal/2) rgba(0,0,0,0.15));
}


$common-layout: smart;
@import "themes/tekyla/common/*.png";
@include all-common-sprites;

$icons-layout: smart;
@import "themes/tekyla/icons/*.png";
@include all-icons-sprites;

/*@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic);*/
$sans-font-family: 'Liberation Sans', sans-serif;
$base-font-family: $sans-font-family;

/*
$sansFontFamily: $sans-font-family;
@import "bootstrap";
@import "bootstrap-responsive";
*/