.crop-group-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    .info-labels {
        padding: 0px;
        .label {
            color: #ffffff;
            margin: 3px;
        }
    }
}
