.financial-year-container {
  border: 1px solid #BC2121;
  border-radius: 3px;
  height: 164px;
  position: relative;
  margin: 9px;
  i {
    position: absolute;
    left: 43px;
    top: 68px;
    @include is-icon(120px);
    @include use-icon(lock);
  }
  .financial-year-message {
    position: absolute;
    left: 183px;
    top: 21px;
    .financial-year-title b {
      font-size: 20px;
      line-height: 24px;
    }
    .financial-year-description {
      margin-top: 4px;
      width: 1000px;
      p {
        line-height: 16px;
      }
    }
    .financial-year-button {
      margin-top: 12px;
    }
  }
}

.lock-table {
  margin: 11px;
  table, th, td{
    border: 1px solid #BC2121;
    border-collapse: collapse;
  }
  th {
    color: #BC2121;
  }

  i {
    color: #BC2121;
    @include is-icon(19px);
    @include use-icon(warning);
  }

  input[type="checkbox"] {
    margin-right: 12px;
    margin-left: 7px;
  }
}

#confirmLockModal {
  .modal-title {
    font-size: 15px;
  }
}
