@import "bootstrap/modals";
@import "bootstrap/alerts";
@import "bootstrap/grid";

$column-padding: $default-border-radius;
$column-background-color: white;
$column-width: 28ex;
.golumn {
  background: mix($active-color, $desktop-background, 30%);
  overflow: auto;
  height: 100%;
  .golumn-loading{
    display: none;
  }
  .golumn-columns {
    display: inline-flex;
    padding: $column-padding;
    overflow: auto;
    @include calc(height, "100% - #{2 * $column-padding}");
    .golumn-columns-container {
      @include display(inline-flex);
      align-items: flex-start;
      flex-direction: row;
      height: 100%;
      overflow: auto;
    }

    .golumn-column-handle, .golumn-group-handle, .golumn-item-handle {
      cursor: move;
    }
  }

  .golumn-column-add {
    height: $column-width;
    line-height: $column-width;
    width: $column-width;
    display: block;
    text-align: center;
    opacity: 0.5;
    i {
      @include is-icon(6 * $fs-normal);
      @include use-icon(plus);
      line-height: 6 * $lh-normal;
    }
    &:hover {
      background: $column-background-color;
      opacity: 0.7;
    }
  }


  &.loading {
    .golumn-loading{
      display: block;
    }
    .golumn-columns{
      display: none;
    }
  }



  // Golumn column
  .golumn-column {
    width: $column-width;
    //@include inline-block;

    margin: $column-padding;
    padding: 0;
    @include calc(max-height, "100% - #{2 * $column-padding}");

    background: white;
    border: 1px solid #AAA;
    @include transition(box-shadow 0.2s);
    @include box-shadow(1px 1px 2px rgba(black, 0.1));
    @include border-radius($default-border-radius);
    display: flex;
    flex-direction: column;
    // max-height: 100%;

    .checker {
      @include is-icon(14px);
      @include use-icon(square-o);
      cursor: pointer;
      opacity: 0;
      width: 14px;
      @include text-align(center);
      @include transition(opacity 0.2s);
      &:hover, &.active {
        opacity: 1;
      }
      &.active {
        @include use-icon(check-square-o);
      }
    }


    & > * {
      display: block;
      padding: round(0.5* $default-gap) $default-gap;
    }
    .golumn-column-header {
      @include clearfix;
      flex: none;
      .golumn-column-actions {
        @include float(right);
      }
      .golumn-column-handle {
        @include ellipsis;
        i {
          @include inline-block;
          width: $fs-normal;
          @include text-align(center);
        }
        .golumn-column-title {
          @include display(inline);
          font-weight: bold;
        }
        &, * {
          line-height: $lh-normal;
        }
      }
      &:hover {
        .checker {
          opacity: 0.5;
          &:hover, &.active {
            opacity: 1;
          }
        }
      }
    }
    .golumn-column-body {
      flex: auto;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 0;
      .golumn-groups {
      }
    }
    .golumn-column-footer {
      flex: none;
      display: block;
      &, * {
        color: $link-color;
      }
      &:hover {
        background: rgba(black, 0.07);
      }
    }

    // When dragging
    &.ui-sortable-helper {
      .golumn-column-content {
        @include box-shadow(2px 2px 3px rgba(black, 0.1));
      }
    }
    &.new-column {
      opacity: 0.4;
      &:hover {
        opacity: 1;
      }
      .golumn-column-body {
        @include is-icon(64px);
        line-height: 64px;
        padding: $fs-normal;
        @include use-icon(plus);
        @include text-align(center);
        &:hover {
          background: rgba(black, 0.07);
        }
      }
    }
  }



  // Golumn group
  .golumn-group {
    border-top: 1px solid #AAA;
    padding: $default-border-radius;
    &:first-child {
      border-top: none;
    }
    .golumn-group-header {
      padding: round(0.5* $default-gap) $default-gap;
      .golumn-group-actions {
        @include float(right);
        .collapser {
          width: 14px;
          @include text-align(center);
          cursor: pointer;
          @include inline-block;
          @include is-icon(14px);
          @include use-icon(caret-left);
          @include transition(transform 0.2s);
          &.active {
            @include transform(rotate(-90deg));
          }
        }
      }
    }
    .golumn-group-body {
    }
  }


  // Golumn item
  .golumn-item {
    &, * {
      line-height: $lh-normal;
      font-size: $fs-normal;
    }
    background: #FFF;
    margin: $default-border-radius;
    padding: $default-border-radius $default-gap;
    clear: both;
    @include border-radius($default-border-radius);

    $mix-prop: 90%;
    $item-background: #FFF;
    border-left: $default-border-radius solid #DDD;
    background: mix($item-background, #DDD, $mix-prop);
    &.status-go {
      background: mix($item-background, $success-color, $mix-prop);
      border-left-color: $success-color;
    }
    &.status-caution {
      background: mix($item-background, $caution-color, $mix-prop);
      border-left-color: $caution-color;
    }
    &.status-stop {
      background: mix($item-background, $invalid-color, $mix-prop);
      border-left-color: $invalid-color;
    }
    &.selected {
      border-color: $active-color;
      @include box-shadow(0 0 2px $active-color);
    }
    .golumn-item-actions {
      @include float(right);
    }
    .golumn-item-title {
      cursor: pointer;
    }
    &:hover {
      .checker {
        opacity: 0.5;
        &:hover, &.active {
          opacity: 1;
        }
      }
    }
  }



}


.no-padding {
  padding: 0 !important;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding-right-left {
  padding-right: 0;
  padding-left: 0;
}

.xs-v-padding {
  padding-top: 3px;
  padding-bottom: 3px;
}

.xs-h-padding {
  padding-right: 3px;
  padding-left: 3px;
}

.xs-padding {
  padding: 3px;
}

.no-right-left-margin {
  margin-left: 0;
  margin-right: 0;
}

.add-group-btn {
  button {
    padding-left: 0;
    padding-right: 0;
  }
}

.sorting-group-placeholder, .sorting-container-placeholder {
  border: 2px dashed #DDD;
  margin: 7px;
  background: #dff0d8;
  padding-top: 10%;
  color: rgb(239, 250, 235);
  text-align: center;
  font-size: 4em;
  max-width: 250px;
}

.sorting-animal-placeholder {
  border: 2px dashed #DDD;
  margin: 7px;
  background: #dff0d8;
  color: rgb(239, 250, 235);
  text-align: center;
  font-size: 2em;
  width: 130px;
}

.dragging-on-empty-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.animal-count {
  float: right;
  font-size: 10px;
}


.group-dragging{
  transform: rotateZ(-10deg) scale(0.7);
  transition: all 0.2s;
}

.animate-dragging {
  border: 1px solid #777;
  background-color: $active-color;
  border-radius: 5%;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;

}

.animate-dragging-number {
  background-color: $active-color;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -5px;
  left: -5px;
  text-align: center;
  vertical-align: middle;
  z-index: 1;
  box-shadow: 1px 1px 8px #000000;

}

.animate-dragging-img {
  position: absolute;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 1px 1px 8px #000000;
  }
}

.animate-dragging-text {
  color: white;
  text-align: center;
  vertical-align: middle;
  width:130px;
  height:30px;
  font-size: 14px;
  font-weight: bold;
  line-height:20px;
}

.add-group-panel-container {
  display: inline-block;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  .panel {
    width: 100px;
    height: 100px;
    text-align: center;
    .panel-heading {
      padding: 7px;
    }
  }
}


.golumn-group-badge {
  font-size: x-small;
}

.animal-summary {
  font-size: 16px;
  text-align: center;
}

.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
  input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display: block;
    &::-webkit-input-placeholder {
      display: none;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      display: none;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      display: none;
    }
    &:-ms-input-placeholder {
      display: none;
    }
  }
  &:hover, &.hover {
    width: 100%;
    border-radius: 4px 25px 25px 4px;
  }
  span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #3596e0;
    left: initial;
    font-size: 14px;
  }
}

/*
.status-go {
  border-left: 5px solid $success-color;
}

.flag-go {
  background-color: $success-color;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.status-caution {
  border-left: 5px solid $caution-color;
}

.flag-caution {
  background-color: $caution-color;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.status-stop {
  border-left: 5px solid $invalid-color;
}

.flag-stop {
  background-color: $invalid-color;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
*/

.list-group-item-title {
  border-bottom: 1px solid #ddd;

  div:nth-child(1) {
    display: inline-block;
    padding: 0 1px;
  }

  div:nth-child(2) {
    display: inline-block;
  }

  div:nth-child(3) {
    width: 7ex;
    display: inline-block;
    float: right;
  }
}


.golumn-item-img {
  height: 30px;
  width: 35px;
  display: inline-block;
  //border-radius: 50%;
  margin-left: -6px;
  img {
    height: 30px;
    width: 30px;
  }
  .icon-cow {
    font-size: 30px;
  }
}

.grow-empty-zone {
  transition: all 1s ease;
  padding: 10px 0;
}

.golumn-item-infos {
  padding: 0 5px;
  min-height: 30px;
  vertical-align: middle;
  display: inline-block;
  line-height: 30px;
  //width: 150px;

  .golumn-item-name {
    height: 30px;
  }

}

/*
.golumn-item-actions {
  width: 18px;
  float:right;
  display: inline-block;
  min-height: 30px;
  vertical-align: middle;
  padding: 0 10px;
  div.animal-selector {
    padding: 1px 0;

    .btn {
      padding-left: 1px;
      padding-right: 1px;
    }
  }
}

.golumn-item-name {
  font-weight: bold;
}

.btn-hover {
  font-weight: normal;
  color: #333333;
  cursor: pointer;
  background-color: inherit !important;
  border-color: transparent !important;
}
*/

.golumn-column .animal-heading .btn-hover {
  font-weight: normal;
  color: #333333;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  opacity: 1;
}


.animal-all-selector.btn-hover {
  background: transparent;
}

.hide {
  display: none;
}

.text-muted {

  color: #999;
}

.golumn-item-infos .btn-link {
  color: $active-color;
  //font-weight: 400;
  cursor: pointer;
  border-radius: 0;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
  line-height: 30px;

  span {
    color: $active-color;
    font-weight: bold;

  }
}
.golumn-item-infos .btn-link:hover, .btn-link:focus, .btn-link:active {
                                                       border-color: transparent;
                                                     }


.golumn-column .panel-footer .btn-link {
  color: $active-color;
  //font-weight: 400;
  cursor: pointer;
  border-radius: 0;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
  //line-height: 30px;

  span, i {
    color: $active-color !important;
  }
}
.golumn-column .panel-footer .btn-link:hover, .btn-link:focus, .btn-link:active {
                                                                 border-color: transparent;
                                                               }


.add-group-panel-container .panel-heading
{
  width: 86px;
  height: 86px;
}

.add-group-btn
{
  text-align: center !important;

  .btn {
    height: 70px;
    border-color: transparent;
    background: transparent;
    box-shadow: none;
    text-align: center;


    i {
      color: #999999;
      font-size: 5em;
      line-height: 70px;
    }
  }
}




.add-container {
  text-align: center !important;
  border-top: 1px solid #ddd;
  button {
    padding: 0;
    background: transparent;
    border: transparent;

    i.text-muted {
      color: #ddd !important;
    }
  }
}

.animal-summary .alert {
  margin: 0;
  padding: 5px 5px;
  width: 30px;
  height: 30px;
  box-shadow: inset 1px 1px 1px 0 #aaa;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}

.animal-navbar {
  height: 35px;
  min-height: 35px;
}

.animal-summary {
  button {
    margin-top: 1px !important;
    margin-bottom: 0 !important;
  }
  .navbar-text {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.animal-navbar-interventions {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

.animal-summary .alert:hover {
  transform: rotateZ(405deg) scale(1);
  transition: all 0.2s;
}

.btn-xs, .btn-group-xs>.btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.container-drop-hover {
  padding: 7px;
  background-color: cornflowerblue;
}

.v-spacer {
  margin-top: 1em;
}

.golumn-loading {
  display: none;
  margin: $fs-large auto;
  @include loading-indicator;
}

@include keyframes(bubbling) {
  0% {
    width: 10px;
    height: 10px;
    background-color: rgba(black, 1);
    @include translateY(0);
  }

  100% {
    width: 24px;
    height: 24px;
    background-color: rgba(black, 0);
    @include translateY(-21px);
  }
}

.bubbling {
  text-align: center !important;
  width: 100%;
  height: 50px;
  span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 25px auto;
    background: rgba(black, 1);
    @include border-radius(50px);
    @include animation(bubbling 1.3s infinite alternate);
    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        @include animation-delay(0.39s * ($i - 1))
      }
    }
  }
}

i.icon {
  font-family: Agric;
}