.integrations-container {
  padding: $fs-normal;
  width: $narrow-page-width;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &:after {
    content: "";
    flex: auto;
  }

  .integration {
    $integration-width: $narrow-page-width / 3;
    width: $integration-width;
    @include box-sizing(border-box);
    padding: $fs-normal;
    position: relative;

    > a {
      display: block;
    }

   .integration-destroy {
      position: absolute;
      right: 1em;
      top: 1em;
    }

    .integration-card {
      align-items: center;
      border-radius: $default-border-radius;
      border: $menu-border;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      filter: grayscale(90%);
      transition: filter 0.2s ease-in-out 0s;

      &:hover, &.integration-active {
        filter: grayscale(0%);
      }

      .integration-logo {
        background: mix($white, $desktop-background);
        align-items: center;
        display: flex;
        flex: 2 1 100%;
        justify-content: center;
        padding: $fs-normal;
        width: 100%;
        @include box-sizing(border-box);

        img {
          width: 0.6 * $integration-width;
          height: 0.4 * $integration-width;
          object-fit: contain;
        }
      }
      .integration-description {
        align-items: center;
        display: flex;
        flex: 1 2 100%;
        flex-direction: column;
        padding: $fs-large;
        width: 100%;
        @include box-sizing(border-box);
        border-top: $menu-border;
        background: $white;

        h3 {
          color: $text-color;
          font-weight: bold;
          font-size: $fs-large;
          line-height: $lh-large;
        }

        p {
          color: $text-color;
          text-align: center;
          font-size: $fs-normal;
          line-height: $lh-normal;
          overflow: ellipsis;
        }
      }
    }
  }
}

#new_integration, #edit_integration {
  width: $narrow-page-width;
  margin: 0 auto;
}

.integration-form {
  display: flex;
  height: 100%;
  flex-direction: column;

  .integration-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $lh-huge;

    .integration-picture {
      img {
        object-fit: contain;
        width: 0.6 * $narrow-page-width;
      }
      margin-bottom: 10px;
    }
    .integration-description {
      h2 {
        font-size: $fs-huge;
        line-height: $lh-huge;
        font-weight: bold;
        text-align: center;
      }

      p {
        text-align: center;
        &, * {
          vertical-align: baseline;
        }
      }
    }
  }
  .integration-connect {
    display: flex;
    justify-content: center;
  }
}