@import "bootstrap/labels";

$preview-modal-height: 80vh;

.interventions-modal .modal-header {
  @include flex-row(space-between);

 .modal-title {
   margin-right: 10px;
   font-size: $fs-large;
 }

 .label {
   font-size: $fs-normal;
 }

 .close {
   flex: 1;
   text-align: right;
 }
}

.interventions-modal .modal-body {
  padding: 25px 15px 15px;
  max-height: $preview-modal-height;
  overflow-y: auto;

  .controls {
    @include flex-row(space-between);
  }

  .control-group {
    margin-bottom: 2em;
    padding-right: 2em;
  }

  .change-state-text {
    margin-left: 1em;
    margin-bottom: 1em;
  }

  .interventions-list {
    list-style: inherit;
    margin-bottom: 3em;
    padding-left: 4em;

    .intervention {
      padding-left: 1em;
    }
  }
}

.interventions-modal .indicators {
  @include flex-row(space-around);

  .med-info {
    padding: 0;

    .value {
      line-height: 60px;
    }
  }
}

.interventions-modal .blocks {
  @include flex-row(flex-start, flex-start);
  flex-wrap: wrap;
  padding: 10px;

  .block {
    flex: 1 50%;
    margin: 30px 0;

    .block-title {
      margin-right: 80px;
      border-bottom: 1px solid $default-border-color;
      padding-bottom: 5px;
      font-size: $fs-large;
      font-weight: bold;
    }

    .data {
      padding-top: 10px;
      @include flex-row(flex-start, center);
    }

    .data-title {
      font-weight: bold;
    }

    .picture .picto {
      font-size: $fs-huge;
      line-height: initial;
    }
  }
}

.taskboard.interventions-board {

  .taskboard-column {

    &.requests {
      @include border(border, 1px, dashed, $lightened-black);
    }

    .taskboard-header {

      &--gray {
        @include border(border-bottom);
      }
    }
  }

  .task {

    &-data.doers {
      background-color: $darkened-blue-grey;
    }
  }
}
