@import "bootstrap/labels";

$preview-modal-height: 80vh;

.interventions-modal .modal-header {
  @include flex-row(space-between);

 .modal-title {
   margin-right: round($default-gap * 1.4);
 }

 .label {
   font-size: $fs-normal;
 }

 .close {
   flex: 1;
   text-align: right;
 }
}

.interventions-modal .modal-body {
  padding: round($default-gap * 2.2);
  max-height: $preview-modal-height;
  overflow-y: auto;

  .controls {
    @include flex-row(space-between);
  }

  .control-group {
    margin-bottom: round($default-gap * 2.9);
    padding-right: round($default-gap * 2.9);
  }

  .change-state-text {
    margin-left: round($default-gap * 1.4);
    margin-bottom: round($default-gap * 1.4);
  }

  .interventions-list {
    list-style: inherit;
    margin-bottom: round($default-gap * 4.3);
    padding-left: round($default-gap * 5.7);

    .intervention {
      padding-left: round($default-gap * 1.4);
    }
  }
}

.interventions-modal .indicators {
  @include flex-row(space-around);
  flex-wrap: wrap;

  .med-info {
    @include flex-column();
    flex: 1 50%;
    padding: 0;
    margin-top: round($default-gap * 1.4);

    .value {
      line-height: $fs-awesome;
    }
  }

  .med-info.total-cost {
    font-weight: bold;
  }
}

.interventions-modal .blocks {
  @include flex-row(flex-start, flex-start);
  flex-wrap: wrap;
  padding: round($default-gap * 1.4);

  .block {
    flex: 1 50%;
    margin: 30px 0;

    .block-title {
      margin-right: round($default-gap * 12);
      border-bottom: $menu-border;
      padding-bottom: round($default-gap * 0.7);
      font-size: $fs-normal;
      font-weight: bold;
    }

    .data {
      padding-top: round($default-gap * 1.4);
      @include flex-row(flex-start, center);
    }

    .data-title {
      font-weight: bold;
    }

    .picture .picto {
      font-size: $fs-huge;
      line-height: initial;
    }
  }
}

.taskboard.interventions-board {

  .taskboard-column {

    &.requests {
      border: $menu-border-width dashed $text-color;
      & .tasks {
        border-top: $menu-border-width dashed $text-color;
      }
    }
  }

  .task {

    .completely_filled {
      margin-left: round($default-gap * 1.4);
      color: $success-color;
      font-size: $fs-large;
      min-width: initial;
      line-height: initial;
    }

    &-data.doers {
      background-color: $darkened-blue-grey;
    }
  }
}
