.spinner-loading {
  visibility: hidden;

  i {
    @include is-icon(2 * $fs-normal);
    @include use-icon(spinner);
    line-height: 2 * $lh-normal;
  }

  &.active {
    visibility: visible;
    //display: inline;
  }
}

i.leaflet-importer-ctrl {
  @include is-icon(2 * $fs-normal);
  @include use-icon(download);
  line-height: 2 * $lh-normal;
}

span.leaflet-importer-geojson, span.leaflet-importer-gml {
  font-size: 8px;
}

.leaflet-multilevel-legend {
  i {
    display: inline-block;
    width: 18px;
    height: 18px;
  }
  span {
    display: inline-block;
    margin-left: 10px;
  }
}

.referenceLabel {
  //background-color: #fff;
}

.ghostLabel {
  color: white;
  text-shadow: 0 0 2px black;
  font-size: 13px;
  background-color: transparent;
  box-shadow: none;
  border: none;
  &:before, &:after {
    box-shadow: none;
    border: none;
    background: transparent;
  }
}