@import "compass/css3/columns";

input::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="date"]::-webkit-input-placeholder { 
    visibility: hidden !important;
}

#top {
  margin-bottom: 0;
  @include background-active-gradient;
  @include box-shadow(0 0 $fs-normal rgba(#000, 0.2));
  height: $topbar-height;

  a {
    display: block;
    height: $topbar-height;
    line-height: $topbar-height;
    vertical-align: middle;
    padding: 0 round($fs-normal * 1);
    @include user-select(none);
    &, i {
      color: white;
    }
    font-weight: bold;
    &:hover {
      @include background(rgba(black, 0.07));
      // @include box-shadow(0 0 round($fs-normal *0.7) rgba(black, 0.5) inset);
      @include transition(background 0.4s, box-shadow 0.4s);
    }
  }
  /*
    li.dropdown {
    position: relative;
    }

ul.dropdown-menu {
@include dropdown-menu;
}
*/
  .collapse {
    > ul {
      @include float(left);
      height: $topbar-height;
    }
  }

  ul {
    li {
      @include float(left);
      display: block;
      height: $topbar-height;
      &.separator {
        width: 0;
        @include border-right(1px solid lighten($active-color, $default-lightness-variation));
        @include border-left(1px solid darken($active-color, $default-lightness-variation));
      }
    }
  }

  li.active > a, a.active{
    @include background(rgba(black, 0.2));
    @include box-shadow(0 0 round($fs-normal *0.7) rgba(black, 0.2) inset);
  }

  #home {
    @include float(left);
    font-size: 0;
    i {
      @include is-icon(21px);
      @include use-icon(home);
      line-height: $topbar-height;
    }
  }

  #brand {
    @include float(left);
    i {
      @include is-icon(24px);
      @include use-icon(ekylibre);
      line-height: $topbar-height;
      color: white;
      vertical-align: middle;
    }
    h1 { display: none; }
  }

  #module {
    @include ellipsis;
    display: none;
    text-align: center;
    font-size: round($fs-normal * 1.1);
  }

  #menu {
    @include float(right);
    display: none;
    i {
      @include is-icon(21px);
      @include use-icon(reorder);
      line-height: $topbar-height;
    }
  }


  #user {
    @include float(right);
    & > li.dropdown > a > i {
      @include is-icon;
      @include use-icon(caret-down);
      line-height: $topbar-height;
    }
    #user-menu {
      @include dropdown-menu(bottom, end);
      z-index: 7;
      margin-top: 0;
      .user    i { @include use-icon(user) };
      .signout i { @include use-icon(sign-out) };
    }
  }

  #modules {
    overflow: hidden;
    li#settings-module {
      a {
        font-size: 0;
        i {
          @include is-icon(21px);
          @include use-icon(wrench);
          line-height: $topbar-height;
        }
      }
    }
  }

  @media only screen and (max-width: $mini-screen){
    overflow: hidden;
    .collapse {
      display: none;
    }
    #home, #menu, #module {
      display: block;
    }

    #brand > i {
      @include is-icon(21px);
      @include use-icon(ekylibre-alt);
    }
  }

}



li.dropdown {
  position: relative;
}

ul.dropdown-menu {
  @include dropdown-menu;
}

.btn-export {
  position: relative;
  i {
    @include use-icon(print);
  }
}

a.btn[data-toggle='help'] {
  position: relative;
  i {
    @include use-icon(question);
  }
}



$header-height: 40px;
$side-width: 204px;
$help-width: round(1.4 * $side-width);


#side, #help {
  .inner {
    height: 100%;
    overflow-y: auto;
  }
}

#side .inner {
  @include border-right(1px solid #AAA);
}

#help .inner {
  @include border-left(1px solid #AAA);
}


html.backend {
  background: $desktop-background;
  height: 100%;
  body {
    background: transparent;
    height: inherit;
    @media only screen and (min-width: $mini-screen + 1px){
      overflow: hidden;
    }
    #wrap {
      max-width: 100%;
      & > #side {
        height: 100%;
        //@include background(rgba(black, 0.05));
        @include background(#EEE);
        #user {
          display: none;
        }
      }
      & > #main, & > #help {
        overflow: auto;
        .header {
          padding: 0;
          margin: 0;
          height: $header-height;
          // background: #EEE;
          h1 {
            padding: $default-gap;
            $h1-height: $header-height - 2* $default-gap;
            @include ellipsis;
            font-weight: bold;
            line-height: $h1-height;
            height: $h1-height;
            font-size: round($h1-height / 1.2);
            vertical-align: middle;
            * {
              font-size: inherit;
              line-height: inherit;
              vertical-align: inherit;
            }
            @media only screen and (max-width: $mini-screen){
              text-align: center;
            }
          }
        }
      }
      & > #help {
        height: 100%;
        display: none;
        .content {
          padding: $default-gap;
        }
      }

      @media only screen and (max-width: $mini-screen){
        & > #side {
          display: none;
        }
        & > #main {
          width: 100%;
        }
        &.mini-screen-show-side, &.mini-screen-show-side.show-help {
          & > #side {
            display: block;
            & > .inner { @include border-right(none); }
            width: 100%;
            #user {
              display: block;
            }
          }
          & > #main {
            display: none;
          }
        }
        &.show-help {
          & > #side {
            display: none;
          }
          & > #main {
            display: none;
          }
          & > #help {
            display: block;
            width: 100%;
            & > .inner { @include border-left(none); }
          }
        }
      }

      @media screen and (min-width: $mini-screen + 1px){
        @include calc(height, "100% - #{$topbar-height}");
        max-width: 100%;
        & > #side {
          @include float(left);
          width: $side-width;
        }
        & > #main {
          @include float(left);
          @include calc(width, "100% - #{$side-width}");
          height: 100%;
          #content {
            @include calc(height, "100% - #{$header-height}");
            overflow: auto;
          }
        }
        & > #help {
          @include float(left);
          width: $side-width;
        }
        &.show-help {
          & > #help {
            display: block;
            width: $help-width;
          }
          & > #main {
            @include calc(width, "100% - #{$help-width + $side-width}");
            .header .btn-group-help {
              display: none;
            }
          }
        }

      }
    }

  }
  @media screen and (min-width: $mini-screen){
    &[dir="ltr"] {
      & > body > #wrap > * { float: left }
    }
    &[dir="rtl"] {
      & > body > #wrap > * { float: right }
    }
  }

}


html.authentication {
  background: #F7F7F7;
  @include background(radial-gradient(top, #FFF, #F7F7F7, #C2C2C2));
  height: 100%;
  body {
    background: transparent;
    // height: 100%;
    #wrap {
      width: 100% !important;
      background: transparent;
      // border-top: 2px solid $active-color;
      #main {
        background: transparent;
        margin: 60px auto;
        width: 360px;
        @include respond-to(small) {
          margin: auto;
          width: 100%;
        }
        #content {
          background: #FFF;
          @include incrust-shadow;
          padding: 2em;
          .logo {
            text-align: center;
            margin-bottom: 1em;
            img {
              max-width: 100%;
            }
          }
          form {
            max-width: 100%;
            margin: $fs-large auto;
          }
          h2 {
            font-size: $fs-large;
            line-height: round(1.6*$fs-large);
            margin-bottom: round(0.4*$fs-large);
          }
          label {
            display: block;
            line-height: round(1.6*$fs-normal);
          }
          input[type="email"], input[type="password"], select {
            display: inline;
            width: 100%;
            @include box-sizing(border-box);
            height: 2 * $fs-normal;
          }
          input[type="submit"] {
            @include inline-block;
            @include box-sizing(border-box);
            width: 100%;
            text-align: center;
            margin: 10px auto;
            display: block;
            height: 3 * $fs-normal;

          }
          .field {
            margin-bottom: $default-gap;
            &.field-remember-me {
              label {
                display: inline;
              }
            }
          }

        }
      }
    }
  }
}

.help-toolbar {
  @include toolbar();
  @include float(right);
  margin-top: round(($header-height - $button-height) / 2);
  margin-bottom: round(($header-height - $button-height) / 2);
  @include margin-right($default-gap);
}

.main-toolbar {
  @include toolbar();
  margin-top: round(($header-height - $button-height) / 2);
  margin-bottom: round(($header-height - $button-height) / 2);
  @include margin-left($default-gap);
  .btn-group {
    > .btn {
      // font-size: 0;
      i {
        // margin: 0;
        // min-width: 18px;
        // text-align: center;
      }
    }
  }
}

div[data-deck] > div {
  display: none;
}

div[data-deck] > div#default {
  display: block;
}


#about-us {
  .logo {
    margin: 20px auto;
  }
  dl {
    display: block;
    margin: 0 auto;
    dt {
      font-weight: bold;
      margin-top: round(0.5*$fs-normal);
    }
    dd {
      @include margin-left(2*$fs-normal);
    }
  }
  width: 40%;
  margin: 0 auto;
  @include respond-to(small) {
    width: 100%;
  }
}

#major-accounts {
  @include tab-pills;
  margin: $default-gap $default-gap 0;
}

#journals-nav {
  @include tab-pills;
  margin: $default-gap $default-gap 0;
  dd {
    a i {
      @include is-icon;
      @include use-icon(book);
    }
  }
}

#journal-views {
  @include tab-pills;
  margin: $default-gap $default-gap 0;
  dd i {
    @include is-icon;
    @include use-icon(eye);
  }
}

#subtitle {
  padding: $default-gap;
  font-weight: bold;
  line-height: 1.4 * $fs-large;
  font-size: $fs-large;
  color: #777;
}


.snippet {
  .snippet-title {
    display: block;
    outline: none;
    &, * {
      color: $text-color;
    }
    i.collapser {
      @include is-icon;
      @include use-icon(minus-square-o);
      @include float(right);
      margin-top: round(0.36 * $fs-normal);
      @include margin-right(round(0.3 * $fs-normal));
      display: none;
    }
    h3 {
      $fs: $fs-normal;
      font-weight: bold;
      font-size: $fs;
      padding: round($fs * 0.3) round($fs * 0.4);
      line-height: 1.4*$fs;
      @include ellipsis;
      i {
        @include is-icon;
        @include use-icon(cog);
        @include margin-right($default-gap * 0.5);
      }
    }
  }
  &.collapsed {
    > .snippet-title {
      > i.collapser {
        display: block;
        @include use-icon(caret-down);
      }
    }
  }
  &.active {
    .snippet-title {
      h3, i {
        color: mix($text-color, $active-color);
      }
    }
  }


  margin-top: $default-gap;
  &:first-child {
    margin-top: round($default-gap * 0.5);
  }

  .snippet-content {
    ul {
      $transp: 40%;
      li {
        display:block;
        margin-top: -1 * $menu-border-width;
        $padding: round($fs-normal*0.7);
        a {
          background: white;
          display:block;
          padding: $padding;
          border: $menu-border;
          border-left: none;
          border-right: none;
          @include ellipsis;
        }
        &:first-child {
          margin-top: 0;
          a {
            // @include border-top-radius($default-border-radius);
          }
        }
        &:last-child a {
          // @include border-bottom-radius($default-border-radius);
        }
        &:hover a {
          background: mix(white, $menu-border-color, 80%);
          text-decoration: none;
          @include transition(background 0.2s linear);
        }
        &.current, &.active {
          position: relative;
          z-index: 2;
          a {
            //background: $base-color;
            @include background-active-gradient;
            padding: $padding + 1;
            border: none;
            color: white;
          }
        }
      }
    }
  }
}

form.search {
  display: block;
  padding: round($fs-normal * 0.20) round($fs-normal * 0.50);
  input {
    $padding: 0.8em;
    padding-left: $padding;
    padding-right: $padding;
    @include border-radius(1000px);
    width: 100%;
    @include calc(width, "100% - #{2 * $padding} - #{2 * $menu-border-width}");
    display: block;
  }
}

.add {
  padding: $default-gap;
  @include background(transparentize($base-color, 0.25));
  text-align: center !important;
  margin-bottom: $default-gap;
}

.subforms {
  .subform {
    .subform-title {
      @include background(transparentize($base-color, 0.4));
      padding: $default-gap;
      .remove {
        i {
          @include is-icon;
          @include use-icon(times);
        }
      }
    }
    .subform-fields {
      padding-top: $default-gap;
      @include background(transparentize($base-color, 0.95));
    }
  }
}

.picture {
  background: white;
  border: 1px solid #DDDDDD;
  box-shadow: 0 0 $default-gap rgba(0, 0, 0, 0.15);
  @include float(left);
  margin: 0 $default-gap;
  padding: $default-gap;
}

.mini-map {
  width: 300px;
  height: 300px;
}

.big-info {
  padding: 3 * $default-gap $default-gap;
  @include box-sizing(border-box);

  .title {
    // margin-bottom: -2 * $default-gap;
        display: block;
        color: #777;
        font-size: $fs-large;
        line-height: $lh-large;
        @include text-align(center);
  }
  .value {
    white-space: nowrap;
    @include ellipsis;
    display: block;
    &, * {
      font-family: $awesome-font-family;
      font-size: $fs-awesome;
      line-height: $lh-awesome;
      @include text-align(center);
    }
    .picto {
      @include is-icon(64px);
      color: #AAA;
    }
  }
  &.important, &.negative, &.positive, &.caution {
    .title {
      &, * {
        font-weight: bold;
      }
    }
    .value {
      &, * {
        font-weight: bold;
      }
      .picto {
        color: #AAA;
      }
    }
  }
  &.positive .value {
    color: $success-color;
  }
  &.negative .value {
    color: $invalid-color;
  }
  &.caution .value {
    color: $caution-color;
  }

}


.big-infos {
  @include respond-to-bigger-than(medium) {
    @include clearfix;
    .big-info {
      width: 50%;
      @include float(left);
    }
  }
}


.info {
  @include ellipsis;
  &, & * {
    font-size: $fs-large;
    line-height: round($fs-large * 1.4);
    vertical-align: baseline;
  }
  span.title {
    width: 20%;
    @include text-align(right);
    color: #777;
    // @include padding-right($default-gap);
  }
  span.value {
    &, & * {
      font-weight: bold;
    }
  }
}

.attributes-list {
  @include column-count(1);
  .box-1-cells & {
    @include columns(2em 3);
    @include respond-to(medium) {
      @include columns(1.5em 2);
    }
  }
  .box-2-cells & {
    @include columns(1.5em 2);
    @include respond-to(medium) {
      @include column-count(1);
    }
  }
  &, .box-1-cells &, .box-2-cells & {
    @include respond-to(small) {
      @include column-count(1);
    }
  }
  //  @include respond-to(large) {
    //    @include column-count(4);
//  }
  $attribute-label-width: 40%;
  margin: 0 $default-gap 1em;
  &:last-child {
    margin-bottom: 0;
  }
  dl {
    @include inline-block;
    @include clearfix;
    margin: 0;
    padding: 2px 0;
    width: 100%;
    dt, dd {
      font-size: $fs-normal;
      line-height: round(1.4*$fs-normal);
    }
    dt {
      @include item-label;
      width: 0.95*$attribute-label-width;
      @include float(left);
      @include ellipsis;
    }
    dd {
      @include margin-left($attribute-label-width);
      .checkbox-true, .checkbox-false {
        display: inline;
        vertical-align: middle;
      }
    }
  }
}


#legals, footer {
  @include text-align(center);
  padding: round(0.7*$fs-small);
  .brand {
    font-size: 0;
    i {
      @include is-icon(14px);
      @include use-icon(ekylibre);
    }
  }
  &, * {
    font-size: $fs-small;
    vertical-align: middle;
    line-height: round(1.4*$fs-small);
    color: rgba(#000, 0.6);
    @include text-shadow(1px 1px 1px #FFF);
  }
}



@media screen and (min-width: $mini-screen + 1px){
  body #main .header {
    @include transition(box-shadow 0.6s);
  }
  body.content-scrolling #main .header {
    @include box-shadow(0 0 $default-gap rgba(0, 0, 0, 0.25));
    position: relative;
    z-index: 6;
  }
}




#help {
  background: #EEE;
  padding: 0;
  .header {
    height: $header-height;
  }
  .content {
    padding: $default-gap round($default-gap * 1.4);
  }
}



.content {
  $content-font-size: round($fs-normal);
  clear: both;
  &, p, * {
    vertical-align: baseline;
    color: $text-color;
    line-height: 1.25em;
    font-size: $content-font-size;
    text-align: justify;
  }
  text-align: justify;
  h1 {
    @include title($fs-large);
    margin: 0 0 $default-gap;
    font-variant: small-caps;
    display: none;
  }
  h2 {
    @include title($fs-normal);
    margin: round(1.25 * $default-gap) 0;
    // border-bottom: $menu-border;
  }
  h3 { @include title($content-font-size); margin: 4px 0 2px 10px; color: $text-color; }
  pre { font-family: "Liberation Mono", monospace; color: #777; background: #FFF; padding: $default-gap; margin: $default-gap 0; }
  strong { font-weight: bold; }
  em { font-style: italic; }
  ul, ol {
    padding: 0;
    @include padding-left(1.3*$content-font-size);
    margin: 0 0 $default-gap 0;
  }
  ul li { list-style-type: square; }
  ol li { list-style-type: decimal; }
  dl {
    padding: 0 0.1em; margin-bottom: 0.2em;
    dt { margin-top: .2em; font-weight: bold; color: #210 }
    dd { margin-bottom: .2em; margin-left: 1em; }
  }
  a img { border: $menu-border-width solid $link-color; padding: $menu-border-width; }
  p {
    /*@include text-align(justify);*/
    margin: 0 0 $default-gap 0;
    &.notice { border-left: $default-gap solid #7A4; background: #CE8; padding: round($default-gap/2) $default-gap; }
    &.warning { border-left: $default-gap solid #FA0; background: #FD9; padding: round($default-gap/2) $default-gap; }
  }
  .text-end { height: 1px; }
  .help-error {  @include text-align(center); margin: $default-gap 0; color: mix($text-color, $menu-background, 50%); @include text-shadow($menu-border-width $menu-border-width 0 $desktop-background) }
  .md {
    display:block;
    &.md-center { margin: round($default-gap/2) auto; }
    &.md-left   { margin: round($default-gap/2); @include float(left); }
    &.md-right  { margin: round($default-gap/2); @include float(right); }
  }
  .icon {
    @include is-icon;
    @include use-icon(cog);
  }

}


.flash {
  padding: round(0.6*$default-gap) $default-gap;
  margin: 0 $default-gap $default-gap;
  vertical-align: middle;
  color: $text-color;
  @include border-radius($default-border-radius);
  @include incrust-shadow;
  &, & * {
    text-shadow: 1px 1px 0 rgba(#000, 0.3);
  }
  .icon {
    font-size: $fs-normal;
    line-height: round(1.4*$fs-normal);
    @include is-icon($fs-normal + 2px);
    display: inline;
    vertical-align: middle;
    @include margin-right($default-gap);
    @include float(left);
  }
  .message {
    display: inline;
    h3 {
      display: none;
      font-size: $fs-normal;
      line-height: round(1.4*$fs-normal);
      font-weight: bold;
      $gap: floor(($default-gap - $menu-border-width)/2);
      padding: 0 0 $gap;
      margin-right: $default-gap - $menu-border-width - $gap;
    }
    p {
      display: inline;
      font-size: $fs-normal;
      line-height: round(1.4*$fs-normal);
      font-weight: bold;
    }
    ul {
      padding: round($fs-normal/4);
      @include padding-left(round(1.2*$fs-normal));
      li { list-style-type: square; }
    }
  }
  @each $level in (error $invalid-color times-circle), (warning $caution-color exclamation-circle), (success $success-color check-circle), (information $active-color info-circle) {
    $level-name: nth($level, 1);
    $level-color: nth($level, 2); // change-color(nth($level, 2), $lightness: 65%);
    &.#{$level-name} {
      @include background(linear-gradient(top, lighten($level-color, $default-lightness-variation), $level-color, darken($level-color, $default-lightness-variation)));
      &, & * { color: visible-color($level-color); }
      .icon { @include use-icon(nth($level, 3)); }
    }
  }
  .close {
    opacity: 0.6;
    display: block;
    @include float(right);
    font-size: 18px;
    font-weight: bold;
    margin-right: -4px;
    padding: 0 4px;
    vertical-align: middle;
  }
}

.checkbox-true, .checkbox-false {
  @include is-icon(14px);
  width: 14px;
  &:hover {
    cursor: default;
    pointer-events: none;
  }
}
.checkbox-true { @include use-icon(check-square-o); }
.checkbox-false { @include use-icon(square-o); }



.fieldset {
  @include border-radius($default-border-radius);
  $vertical-gap: round($default-gap*0.7);
  padding: 0;
  margin: 0 $default-gap $default-gap;
  $fieldset-border: $menu-border;
  border: $fieldset-border;
  @include incrust-shadow;
  $size: $fs-normal;
  background: white;
  .fieldset-legend {
    padding: $vertical-gap $default-gap;
    *, label, span {
      color: $neutral-color;
      font-size: $size;
      line-height: round(1.2*$size);
    }
    font-weight: bold;
    vertical-align: middle;
    .title {
      i {
        @include is-icon;
        @include inline-block;
        @include use-icon(file);
        color: $neutral-color;
        @include margin-right(round($size/4));
      }
    }
    .buttons {
      @include inline-block;
      @include float(right);
      > * {
        @include margin-left(round(0.6 * $default-gap));
      }
      .toggle {
        $tool-size: round(0.95 * $fs-normal);
        width: $tool-size;
        height: $tool-size;
        @include is-icon();
        margin: round(($size - $tool-size)/2) 0 0;
      }
      .remove {
        $tool-size: round(0.95 * $fs-normal);
        width: $tool-size;
        height: $tool-size;
        @include is-icon();
        @include use-icon(times);
        margin: round(($size - $tool-size)/2) 0 0;
      }
    }
    &:hover span {
      color: $base-color;
      @include transition(color 0.2s linear);
    }
  }
  .fieldset-fields {
    // border-top: $fieldset-border;
    border-top: 2px solid $active-color;
    margin: 0 $default-gap $vertical-gap;
    padding: 0;

    h3 {
      font-weight: bold;
      margin-top: $default-gap;
    }

    .input {
      padding: round($fs-normal*0.2) 0;
      margin: round($fs-normal*0.1) 0;

      .control-label {
        width: 25%;
        @include float(left);
        line-height: 1.4*$fs-normal;
        @include inline-block;
        @include margin-right(round($fs-normal/2));
        &.required {
          abbr {
            color: $invalid-color;
            float: right;
          }
        }
      }
    }
    textarea {
      width: 70%;
      resize: vertical;
    }
    input{
      max-width: 65%;
    }

    & > .fieldset {
      @include margin-left(0);
      @include margin-right(0);
    }


  }

  &.collapsed {
    .buttons .toggle {
      @include use-icon(plus-square-o);
    }
    .fieldset-fields {
      display: none;
    }
  }
  &.not-collapsed .buttons .toggle { @include use-icon(minus-square-o); }
  &.error.collapsed .fieldset-legend {
    &, *, label, span {
      color: $invalid-color;
    }
  }

}

.help-inline {
  display: inline-block;
  *display: inline;
  @include padding-left(5px);
  vertical-align: middle;
  *zoom: 1;
  color: $invalid-color;
}

input[data-selector] {
  display: inline;
  margin-bottom: 0;
}


a.selector-dropdown {
  @include button();
  i {
    @include use-icon(caret-down);
  }
}

.input-append, .btn-group-dropdown, .selector {
  @include button-group;
}

.count {
  margin: $default-gap 0;
  &, * {
    font-style: italic;
  }
}


$controls-margin-left: round($label-width * 1.1);

.control-group {
  margin: round($fs-normal/4) 0;
  padding: round($fs-normal/4) 0;

  // @include clearfix;
  clear: both;
  .control-label {
    max-width: $label-width;
    @include float(left);
    line-height: round(1.4*$fs-normal);
    margin: round($fs-normal/4) $default-gap;
    @include display(block);
    @include ellipsis;
    &.required {
      abbr {
        color: $invalid-color;
        float: right;
      }
    }
  }
  width: auto;
  .controls {
    @include margin-left($controls-margin-left);
    max-width: 100% - $controls-margin-left;
    input, select, textarea {
      max-width: 100% - $controls-margin-left;
    }
    .input-append {
      width: 100%;
    }
    .help-block {
      margin-top: round(0.3 * $default-gap);
      font-size: $fs-small;
      font-style: italic;
      line-height: 1.3em;
      em {
        font-style: normal;
      }
    }
  }
  //  &.selector .controls .input {
    //    @include toolbar;
//   }
  &.hidden {
    display: none;
  }
  &.special {
    background: #CE8;
    @include border-radius($default-border-radius);
  }
}

.input-append {
  @include button-group;
  .btn {
    font-size: 0;
    i {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.handlers {
  .handler {
    @include inline-block;
    padding: round($default-gap / 2);
    min-width: 20ex;
    .title {
      padding: round($default-gap / 2);
      @include text-align(center);
    }
    .value {
      @include button-group;
      display: block;
      @include text-align(center);
      input {
        @include box-sizing(border-box);
        width: 10ex;
        height: auto;
      }
    }
    &.long {
      .value {
        input {
          width: 50ex;
        }
      }
    }
  }
}


span.rad, label.radio {
  padding: round($fs-normal/8) 0;
  @include margin-left(round($fs-normal/2));
  * { vertical-align: middle; }
  &:first-child {
    @include margin-left(0);
  }
  input {
    @include margin-right($fs-normal/4);
  }
}


.inline-form {
   @include inline-block;
}

$form-actions-height: 48px;
.form-actions {
  @include button-group;
  display: block;
  margin: 0;
  padding: $fs-normal;
  // height: $form-actions-height;
  // line-height: $form-actions-height;
  vertical-align: middle;
  @include text-align(center);
  @include background(linear-gradient(rgba(black, 0.05), rgba(black, 0.03), rgba(black, 0.06)));
  border-top: 1px solid rgba(black, 0.10);
  &:first-child {
    border-top: none;
  }
}



.ui-dialog {
  z-index: 5;
  .ui-dialog-content {
    & > form {
      margin: 0;
      padding: 0;
      height: inherit;
      overflow: hidden;
      & > .form-fields {
        @include calc(height, "100% - #{$form-actions-height + 2 * $default-gap}");
        overflow: auto;
        margin: 0;
        padding: $default-gap 0;
      }
    }
  }
}


.kujaku {
  $color: #580;
  $background-color: #CE8;
  color: $color;
  margin: 0;
  padding: $default-gap;
  background: $background-color; // mix(white, #CE0, 80%);
  @include clearfix;
  $line-height: round(1.4*$fs-normal);
  .crits {
    padding: 0;
    .crit {
      border-top: $menu-border-width solid darken($background-color, 20%);
      // padding: round($fs-normal/6) round($fs-normal/4);
      padding: round($default-gap * 0.6) 0 0;
      margin-top: round($default-gap * 0.6);
      vertical-align: middle;
      text-align: center;
      line-height: $line-height;
      min-height: $line-height;
      label { color: $color; }
      &:first-child {
        border-top: none;
        margin-top: 0;
        padding-top: 0;
      }
    }
  }
  $icon-size: 21px;
  button.filter {
    // padding: round($default-gap * 0.4);
    font-size: 0;
    @include margin-left($default-gap);
    i {
      @include is-icon;
      @include use-icon(filter);
      // line-height: $icon-size;
    }
  }
  a[data-toggle="kujaku"] {
    @include float(right);
    i {
      @include is-icon;
      @include use-icon(minus-square-o);
      color: $color;
      line-height: $line-height;
      vertical-align: middle;
    }
  }
  &.collapsed {
    a[data-toggle="kujaku"] i {
      @include use-icon(plus-square-o);
    }
    .crit.crit-other {
      display: none;
    }
  }
  input, label, select {
    display: inline;
    margin-bottom: 0;
    width: auto;
  }
}




.ui-dialog {
  position: absolute;
  background: transparent;
  border: $default-gap solid rgba(black, 0.5);
  $radius: $default-gap + $default-border-radius;
  @include border-radius($radius);
  @include box-shadow(0 0 $radius rgba(0, 0, 0, 0.3));
  overflow: hidden;
  .ui-dialog-titlebar {
    padding: 4px;
    //height: 16px;
    //background: $base-color;
    @include background-active-gradient;
    .ui-dialog-title {
      margin: 4px;
      font-weight: bold;
      font-size: $fs-large;
      $line-height: round($fs-large * 1.4);
      line-height: $line-height;
      height: $line-height;
      color: white;
      @include text-shadow(0 0 3px rgba(0,0,0,0.5));
    }
    .ui-dialog-titlebar-close {
      float: right;
      @include is-icon;
      @include use-icon(times);
      color: $text-color;
      @include opacity(0.3);
      margin-top: 3px;
      height: 16px;
      width: 16px;
      span.ui-icon {
        display: none;
      }
      &:focus, &:active, &:hover {
        @include opacity(0.5);
      }
    }
  }
  .ui-dialog-content {
    background: #F7F7F7;
    clear: both;
    position: relative;
    border: 0;
    overflow: auto;
    zoom: 1;
    padding: 0; // $default-gap;
  }
}

.ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(black, 0.15);
}


.ui-slider {
  $handle-size: 2 * round(1.2 * $fs-normal / 2);
  $bar-size: 2 * round($default-gap * 0.6 / 2);
  $bar-margin: round(1.7*($handle-size - $bar-size - 1px)/2);
  margin: $bar-margin;
  position: relative;
  text-align: left;
  background: white;
  border: $menu-border;
  @include box-shadow(0 0 round($bar-size * 0.4) rgba(black, 0.1) inset);
  @include border-radius($default-border-radius);
  .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width:  $handle-size;
    height: $handle-size;
    cursor: default;
    border: $menu-border;
    @include border-radius(1000px);
    @include background(linear-gradient(top, #FFF, #CCC));
    @include box-shadow(1px 1px 1px rgba(black, 0.5), 1px 1px 2px rgba(black, 0.07) inset);
  }
  .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
  }
  /* For IE8 - See #6727 */
  &.ui-state-disabled  {
    .ui-slider-handle, .ui-slider-range {
      filter: inherit;
    }
  }

  &.ui-slider-horizontal {
    height: $bar-size;
    .ui-slider-handle {
      top: -($handle-size - $bar-size)/2;
      margin-left: -$handle-size/2;
    }
    .ui-slider-range {
      top: 0;
      height: 100%;
    }
    .ui-slider-range-min {
      left: 0;
    }
    .ui-slider-range-max {
      right: 0;
    }
  }
  &.ui-slider-vertical {
    width: $bar-size;
    height: 100px;
    .ui-slider-handle {
      left: -.3em;
      margin-left: 0;
      margin-bottom: -.6em;
    }
    .ui-slider-range {
      left: 0;
      width: 100%;
    }
    .ui-slider-range-min {
      bottom: 0;
    }
    .ui-slider-range-max {
      top: 0;
    }
  }
}

.ui-datepicker {
  display:none;
  background: $menu-background;
  padding: 4px;
  border: 1px solid #AAA;
  @include border-radius(3px);
  @include box-shadow(0 0 5px rgba(0,0,0,0.3));
  $title-line-height: 16px;
  .ui-datepicker-prev {
    float: left;
    line-height: $title-line-height;
    display: block;
    width: 16px;
    height: 16px;
    @include is-icon;
    @include use-icon(chevron-left);
    cursor: default;
    margin: 4px 3px 0;
    .ui-icon { display: none }
  }
  .ui-datepicker-next {
    float: right;
    line-height: $title-line-height;
    display: block;
    width: 16px;
    height: 16px;
    @include is-icon;
    @include use-icon(chevron-right);
    cursor: default;
    margin: 4px 3px 0;
    .ui-icon { display: none }
  }
  .ui-datepicker-title {
    padding: 4px;
    @include text-align(center);
    line-height: $title-line-height;
    * { font-weight: bold; }
  }
  table {
    border-collapse: separate;
    border-spacing: 2px;
    th {
      @include text-align(center);
      font-weight: bold;
      padding: 4px;
    }
    td {
      border: 1px solid mix($base-color, #FFF, 15%);
      padding: 0;
      @include text-align(center);
      &.ui-datepicker-current-day {
        font-weight: bold;
        background: rgba($base-color, 0.2);
      }
      &:hover {
        border: 1px solid #FFF;
        background: $base-color;
        a {
          color: white;
        }
      }
      &.ui-datepicker-unselectable {
        border: none;
        background: transparent;
      }
      a {
        display: block;
        padding: 4px;
        width: 4ex;
        @include text-align(center);
      }
    }
  }
}








.items-menu {
  position: absolute;
  @include float(left);
  background: white;
  border: 1px solid #AAA;
  z-index: 10;
  @include incrust-shadow;
  .items-list {
    $item-padding: round($default-gap / 2);
    $height: $fs-normal * 1.2;
    max-height: ($height + 2 * $item-padding) * 12;
    min-width: 350px;
    overflow-y: auto;
    li {
      height: $height;
      line-height: $height;
      padding: $item-padding;
      @include ellipsis;
      *, & * { vertical-align: baseline; }
      strong { font-weight: bold }
      &.selected {
        background: rgba($base-color, 0.2);
        cursor: pointer;
      }
      &.special {
        font-style: italic;
      }
    }
  }
  .items-status {
    display: block;
    padding: $default-gap;
    background: #EFE;
    font-style: italic;
  }
}

.stepper {
  display: block;
  border: none;
  background: $desktop-background;
  $step-padding:round($default-gap);
  padding: round($fs-normal * 0.15) 0;
  margin: 0 0 $default-gap;
  $height: round(1.4 * $fs-normal) + 2 * $step-padding;
  .transition {
    width: 0px;
    height: 0px;
    @include inline-block;
    border: $height/2 solid $desktop-background;
    border-left-color: $base-color;
  }
  .step {
    text-align: center;
    @include inline-block;
    margin-right: 0;
    a {
      display: block;
      text-align: center;
      line-height: round(1.4 * $fs-normal);
      height: round(1.4 * $fs-normal);
      padding: round($step-padding * 0.3);
      background: $base-color;
      vertical-align: middle;
      color: white;
    }
    &.active {
      font-weight: bold;
    }
    &.disabled {
      a {
        background: $neutral-color;
        color: $desktop-background;
        cursor: default;
        pointer-events: none;
      }
      & + .transition {
        border-left-color: $neutral-color;
      }
    }
  }
  @for $i from 1 through 30 {
    &.stepper-#{$i}-steps {
      .step {
        @include calc(width, "(100% - #{($i - 1)*$height}) / #{$i}");
      }
    }
  }
}

.nested-fields {
  position: relative;
  .nested-remove {
    @include float(right);
    position: absolute;
    @include right(0);
    @include display(block);
    font-size: 0;
    i {
      @include is-icon;
      @include use-icon(times);
    }
  }
}
.remove-item {
  font-size: 0;
  i {
    @include is-icon;
    @include use-icon(times);
  }
}

.links {
  margin-bottom: $fs-normal;
  .nested-add {
    @include margin-left($controls-margin-left);
  }
}


.affair {
  .deals {
    // @include padding-left(4em);
    width: 100%;
    border-collapse: collapse;
    border: none;
    padding: 0;
    margin: 0;
    tr {
      list-style-type: decimal;
      &, & * {
        font-size: $fs-normal;
        line-height: round($fs-normal*1.4);
        vertical-align: middle;
      }
      .dealt-on { width: 16ex; }
      .amount {
        @include text-align(right);
        &.credit {
          &, & * { color: $invalid-color }
        }
        &.debit {
          &, & * { color: green }
        }
        &, & * {
          font-weight: bold;
        }
      }
      .act {
        text-align: center;
        width: 3ex;
        .remove {
          font-size: 0;
          i {
            @include is-icon;
            @include use-icon(times);
          }
        }
      }
      td, th {
        &.total {
          @include text-align(right);
        }
        &.sum {
          border-top: 1px solid #777;
        }
      }

    }
  }

}

#cell-date {
  display: block;
  padding: 0;
  margin: $default-gap;
  > span {
    display: block;
    padding: 0;
    margin: 0;
    text-transform: lowercase;
    text-align: center;
    &.day-name {
      font-size: 3 * $fs-normal;
    }
    &.day {
      font-size: 8 * $fs-normal;
    }
    &.month {
      font-size: 3 * $fs-normal;
    }
    &.year {
      font-size: 4 * $fs-normal;
    }
  }
}

/* dl.big { */
/*   dt { */
/*     margin-top: $fs-normal; */
/*     font-size: 1.5 * $fs-normal; */
/*     line-height: $lh-ratio * 1.2 * $fs-normal; */
/*     color: $neutral-color; */
/*     &:first-child { */
/*       margin-top: 0; */
/*     } */
/*   } */
/*   dd { */
/*     font-size: 3 * $fs-normal; */
/*     line-height: $lh-ratio * 2.5 * $fs-normal; */
/*   } */
/* } */

.rss-feed {
  .rss-title {
    font-size: $fs-large;
    margin-bottom: $default-gap;
  }
  .rss-entries {
    // max-height: 400px;
    // overflow-y: scroll;
    a.rss-entry {
      display: block;
      padding: $default-gap;
      border-top: 2px solid $active-color;
      &:first-child {
        border-top: none;
      }
      @include background(linear-gradient(top, rgba(#FFF, 0), rgba(#000, 0.1)));
      .rss-entry-title {
        color: $base-color;
        i {
          color: $base-color;
          @include is-icon(14px);
          @include use-icon(external-link);
        }
      }
      .rss-entry-summary { color: #777; margin-bottom: 0}
      .rss-entry-published { font-size: $fs-small; color: #777;}
    }
  }
}

ul.tree {
  $height: round(2.7 * $fs-normal);
  $width: 2 * $fs-normal;
  $border-width: 2px;
  $space: round(($height - $border-width) / 2);
  $wspace: round(($width - $border-width) / 2);
  $border: $border-width solid black;
  ul {
    margin-left: $width;
    & > li {
      .item {
        display: block;
        @include clearfix;
        & > .drift {
          @include inline-block;
          width: $wspace;
          margin-left: $wspace;
          border-left: $border;
          & > .drift {
            @include inline-block;
            border-top: $border;
            width: 100%;
            height: $space;
            margin-top: $space;
          }
        }
        i {
          @include is-icon;
          color: darken($base-color, 40%);
          margin: 0 round($fs-normal * 0.2);
        }
        .tool-adder {
          @include inline-block;
          * { vertical-align: bottom }
        }
        .tool-label {
          @include inline-block;
          @include ellipsis;
        }
        .attribute {
          font-style: italic;
          color: #AAA;
        }
        .tool-comparator, .tool-position, .tool-delete {
          @include float(right);
          @include margin-left(round($fs-normal * 0.2));
        }
      }
      &.reflection > .item > i {
        @include use-icon(share-alt);
      }
      &.column > .item > i {
        @include use-icon(columns);
      }
      &:last-child {
        > .item {
          & > .drift {
            border-left: none;
            & > .drift {
              border-top: none;
              border-left: $border;
              border-bottom: $border;
              height: $space;
              margin: 0 0 $space 0;
            }
          }
        }
      }
    }
  }
  & > li > ul {
    margin-left: 0;
  }
}

.action-intro {
  font-weight: bold;
  margin-left: $fs-normal;
  margin-right: $fs-normal;
}

.select-product {
  @include box-emphasis;
}

.proposal-list {
  padding: $default-gap;
  text-align: center;
  .btn {
    // min-width: 38ex;
    $margin: round($default-gap * 0.6);
    @include ellipsis;
    margin: $margin;
    width: 100%;
    @include calc(width, "#{100%} - #{3 * $margin}");
    @include box-sizing(border-box);
    height: 2 * $fs-normal;
    @include text-align(center);
    @include respond-to-bigger-than(medium) {
      width: 33.33%;
      @include calc(width, "#{33.33%} - #{3 * $margin}");
    }
    @include respond-to-bigger-than(normal) {
      width: 20%;
      @include calc(width, "#{20%} - #{3 * $margin}");
    }
    text-align: center;
    &.btn-important {
      &, * {
        font-weight: bold;
      }
    }
  }
}


.historic {
  p {
    &, * {
      // color: $neutral-color;
      vertical-align: baseline;
      line-height: 1.3 * $fs-normal;
    }
    // padding: round($default-gap * 0.2);
    em {
      font-weight: bold;
      color: $text-color;
    }
  }

  ul {
    padding: round(0.5 * $default-gap) $default-gap;
    @include padding-left(2 * $fs-normal);
    > li {
      list-style-type: disc;
    }
  }

  ul li ul li {
    list-style-type: square;
  }

}

.desc {
  &, * {
    font-style: italic;
    opacity: 0.8;
  }
}

ul.desc-list {
  @include description-list;
}

ul.casts {
  @include description-list;
  li.cast {
    .details {
      h3 {
        &, * {
          font-size: $fs-large;
          line-height: $lh-large;
          font-weight: bold;
        }
      }
    }
    .cost {
      @include float(right);
      padding: 2 * $default-gap;
      font-size: $fs-very-huge;
      line-height: $lh-very-huge;
      font-weight: bold;
    }
  }
}

.picto {
  @include is-icon(64px);
  @include text-align(center);
  min-width: 64px;

}


.search {
  .results {
    @include description-list;
    padding: $default-gap;
  }

  .pagination {
    padding: 0 $default-gap $default-gap;
    display: block;
    span, a {
      @include inline-block;
      padding: $default-gap * 0.75;
      margin: $default-gap * 0.2;
      @include border-radius(1000px);
      &.active {
        font-weight: bold;
        @include box-shadow(0 0 $default-gap rgba(black, 0.1) inset);
      }
    }
    a {
      background: #DDD;
      &.beginning {
        i {
          @include is-icon;
          @include use-icon(bullseye);
        }
      }
    }
  }
}

svg.map {
  fill: #EEE;
  background: #EEE;
  path {
    fill: #AAA;
  }
  a:hover path {
    fill: $active-color;
    @include transition(fill 0.2s linear);
  }
}



#demo-pie, #demo-map, #product-bar-chart, #bank-chart, #expense-chart {
  text-align: center;
  > *, embed {
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
  }
}

/* Pop overs */

#help {
  display: none;
}

#help-center {
  @include text-align(center);
}

/* Calendar */
/* @FIXME : need to be update ! */

[data-simple-calendar] {
  h2 {
    @include text-align(center);
    padding-bottom: $default-gap;
    &, * {
      font-size: $fs-large;
      vertical-align: middle;
    }
    .next-month, .previous-month {
      padding: 0;
      width: $fs-huge;
      text-align: center;
      display: block;
    }
    .next-month {
      @include float(right);
    }
    .previous-month {
      @include float(left);
    }
  }
  table {
    th {
      text-align: center;
    }
    td.day {
      border: 1px solid #AAA;
      background: white;
      padding: 0;
      width: 14.2857%;
      vertical-align: top;
      > div {
        min-height: 4 * $fs-normal;
        height: 100%;
        .intervention, .event {
          padding: 0 round($default-gap * 0.4);
          display: block;
          background: #EEE;
          &, * {
            font-size: $fs-small;
          }
          h3 {
            font-size: $fs-normal;
          }
          &.squeezed {
            text-decoration: line-through;
          }
          &.done {
            background: mix(white, $success-color, 60%);
          }
        }
      }
      &.today {
        background: #FE9;
      }
      &.not-current-month {
        > div {
          @include opacity(0.6);
          &:hover {
            @include opacity(1);
          }
        }
      }
      .day_number {
        padding: round($default-gap * 0.4);
        display: block;
        width: 2.5ex;
        @include text-align(right);
        clear: both;
      }
    }
  }
}


.old-calendar {
  margin: auto;

  .monthName th {
    font-weight: normal;
    text-align: right;
    padding-top: 1em;
    padding-bottom: 0.7em;
  }

  .dayName th {
    font-size: 0.7em;
    padding-top: 0.6em;
    padding-bottom: 0.3em;
    background-color: #303030;
    color: white;
  }

  .otherMonth, .day, .specialDay {
    padding: 0.7em 1em;
    border-right: 1px solid white;
  }

  .otherMonth {
    color: #eeeeee;
    background-color: white;
  }

  .day {
    text-align: center;
    border-bottom: 1px dotted #bbbbbb;
    background-color: #bbccff;
  }

  .specialDay {
    text-align: center;
    border-bottom: 1px dotted #bbbbbb;
    background-color: #bbccff;
    background-color: #003355;
    color: white;
    a {
      color: white;
      text-decoration: none;
      padding: 1em;
      &:visited {
        color: white;
        text-decoration: none;
        padding: 1em;
      }
      &:hover {
        color: white;
        text-decoration: none;
        padding: 1em;
        color: white;
        background-color: black;
      }
    }
  }

  .weekendDay {
    background-color: #ffffdd;
  }

  .today {
    background-color: #4682b4;
  }

  .weekNumber {
    background-color: #dedede;
  }
}



*[data-collapse="accordion"] {
  h3 {
    font-weight: bold;
    padding: $default-gap;
    border-top: $menu-border;
    @include background(white);
    @include transition(background 0.2s, color 0.2s);
    &:hover {
      background: mix(white, $menu-border-color, 80%);
      text-decoration: none;
      @include transition(background 0.2s linear);
    }
    &.active, &.ui-state-active {
      @include background-active-gradient;
      &, * {
        color: white;
      }
      border-top: none;
    }
    & > i {
      @include is-icon;
      @include use-icon(cog);
    }
    &.others > i {
      @include use-icon(cogs);
    }
  }
  div {
    padding: $default-gap;
  }
}

.lights {
  $light-size: 2 * round($fs-normal * 0.35);
  $light-darken: 6%;
  $default-color: rgba($neutral-color, 0.2);
  @include inline-block;
  white-space: nowrap;
  & > * {
    @include inline-block;
    width:  $light-size;
    height: $light-size;
    margin: 0 ($fs-normal - $light-size) ($fs-normal - $light-size);
    @include border-radius(1000px);
    @include background(linear-gradient(top, lighten($default-color, $light-darken), $default-color, darken($default-color, $light-darken)));
  }
  @each $light in (go $success-color) (caution $caution-color) (stop $invalid-color) {
    $name: nth($light, 1);
    $color: rgba(nth($light, 2), 0.8);
    &.lights-#{$name} {
      & > .#{$name} {
        @include background(linear-gradient(top, lighten($color, $light-darken), $color, darken($color, $light-darken)));
        @include box-shadow(0 0 round($fs-normal*0.3) rgba(lighten($color, $light-darken), 0.7));
      }
    }
  }

  .big-info .value & {
    & > * {
      $light-size: 2 * round($fs-awesome * 0.35);
      width:  $light-size;
      height: $light-size;
      margin: 0 (0.25*$light-size) ($fs-awesome - $light-size);
    }
  }
}



.badge {
  background: $neutral-color;
  @include border-radius(1000px);
  @include inline-block;
  @include text-shadow(0 -1px round($fs-small*0.2) rgba(black,0.25));
  font-size: $fs-small;
  font-weight: bold;
  padding: 0 round(0.45*$fs-small) ($fs-normal - $fs-small);
  vertical-align: baseline;
  line-height: $fs-normal;
  height: $fs-small;
  color: white;
  white-space: nowrap;
  a > & {
    background-color: $link-color;
  }
}

.aggregator {
  background: white;
  padding: $default-gap;
  section {
    margin-top: $default-gap;
    border: 1px solid #DDD;
    @include border-radius($default-border-radius);
    h1 {
      padding: $default-gap;
      background: $desktop-background;
      &, * {
        font-weight: normal;
        font-size: $fs-large;
        line-height: $fs-large;
        vertical-align: baseline;
        em {
          &, * {
            font-weight: bold;
          }
        }
      }
    }
    .section-content {
      padding: $default-gap;
    }
  }
  dl {
    @include clearfix;
    * {
      line-height: 1.4em;
      @include margin-right($default-gap);
      @include float(left);
    }
    dt {

      font-weight: bold;
    }
  }
  table.matrix {
    border-collapse: collapse;
    margin-top: $default-gap;
    td, th {
      padding: round(0.5 * $default-gap);
      border: 1px solid #AAA;
      text-align: center;
      &.matrix {
        padding: 0;
      }
    }
    th {
      @include background-image(linear-gradient(lighten($menu-background, $default-lightness-variation), $menu-background, darken($menu-background, $default-lightness-variation)));
    }
    table.matrix {
      width: 100%;
      height: 100%;
      margin: 0;
      tr {
        &:first-child {
          td, th {
            border-top: none;
          }
        }
        &:last-child {
          td, th {
            border-bottom: none;
          }
        }
        td, th {
          &:first-child {
            border-left: none;
          }
          &:last-child {
            border-right: none;
          }
        }
      }
    }
  }


}

.secondary {
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}