#top { 
  margin: 0;
}

html { 
  body { 
    background: transparent;
    height: 100%;
    #wrap { 
      @include outerRow();
      width: 100% !important;
      height: 100%;
      #side { 
        @include column(2);
        height: 100%;
      }
      #main { 
        @include column(10);
        height: 100%;
        h1 { 
          &, & * { font-size: $fs-very-huge; }
        }
      }
    }
  }
}

#legals, footer { 
  font-size: $fs-small;
  line-height: round(1.4*$fs-small);
  @include text-align(center);
  padding: round(0.7*$fs-small);
}

/* Pop overs */

.kujaku.popover { 
  display: none;
}

#help { 
  display: none;
}

