// Place all the styles related to the Backend::MapBackgrounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$map-height: 250px;

.map-backgrounds-viewport {
  .map-background-container {
    @include make-xs-column(12, $gutter: 0);
    @include make-sm-column(6, $gutter: 0);
    @include make-md-column(4, $gutter: 0);
    .map-background {

      @include normal-shadow();
      @include box-sizing(border-box);
      margin: 2 * $default-gap;
      background: #FFF;
      height: $map-height;

      .map-background-header {
        padding: $default-gap;

        position: absolute;
        left: 2 * $default-gap;
        right: 2 * $default-gap;
        top: 2 * $default-gap;

        z-index: 1;
        background-color: transparentize($menu-background,0.3);

        @include box-sizing(border-box);

        &, * {
          line-height: $lh-normal;
          font-size: $fs-normal;
          float: left;
        }

        .map-background-name {
          @include ellipsis;

          width: 80%;
          margin-right: 2%;
        }

        .map-background-icon {
          width: 8%;
          margin-right: 2%;
          &:nth-last-child(1) {
            margin-right: 0;
          }
        }
        .map-background-display {
          @include icon-before(eye-slash, $font-size: $fs-normal);

          &.enable {
            @include icon-before(eye, $font-size: $fs-normal);
          }
        }
        .map-background-edit {
          @include icon-before(pencil, $font-size: $fs-normal);
        }
      }
      .map-view {
        clear: both;
      }
    }
  }
}
