.modal {
  text-align: center;
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    .modal-content {
      .modal-header {
        .close[data-dismiss='modal'] {
          @include float(right);
          background: none;
          border: none;
          span {
            font-size: $fs-large;
            i {
              font-size: 22px;
              color: black;
              opacity: 0.5;
            }
          }
        }
        h4 {
          font-weight: bold;
          display: inline-block;
          font-size: 15px;
        }
        &.colored-background {
          background: $primary-color;
          & > span {
            color: white;
          }
        }
      }
      .modal-header--document {
        background: #688ED8;
        .modal-title {
          margin: 4px;
          font-weight: bold;
          font-size: 18px;
          line-height: 29px;
          height: 29px;
          color: white;
          text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
        }
      }
      .modal-body {
        select#activity_id {
          max-width: 60%;
        }
        .modal-introduction {
          padding: $default-gap * 2;
        }
        ul:not(.items-list) {
          padding-top: round($default-gap / 2);
          padding-botton: round($default-gap / 2);
          @include padding-left(2em);

          li {
            list-style-type: disc;
          }
        }
        .registered-phytosanitary-usage-block {
          padding: 0 14px;
        }
      }
      .modal-footer {
        @include text-align(right);
        &.centered {
          @include text-align(center);
        }
      }
    }
  }
}
