.purchase-totals {
  margin: $default-gap * 3 0 $default-gap * 3 0.6%;

  .purchase-total-row {
    @include flex-row(flex-start, flex-start);
    margin-bottom: $default-gap;
  }

  .total-label {
    flex-basis: 29%;
  }

  .total-value {
    flex-basis: 3%;
    text-align: right;
  }

  .total-label,
  .total-value,
  .total-currency {
    color: #999;
    font-weight: bold;
  }

  .total-currency {
    margin-left: $default-gap;
  }
}


.fieldset .fieldset-fields .nested-fields .input-append {
  .invoice-unit-amount, .pre-tax-invoice-total, .invoice-total, .middle-input {
    width: 10em;
  }
}

.control-label {
  max-width: none !important;
  overflow: visible !important;
}

.nested-fields .controls {
  margin-left: 0 !important;
}

.decimal-row {
  .vat-total {
    display: block;
  }
}

.item-form-information {
    max-width: 93%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    .control-label {
      max-width: 100% !important;
      margin: 0 !important;
    }
    .controls  {
      margin-left: 0 !important;
      max-width: 100% !important;
    }
  }

  .item-form-button {
    display: flex;
    justify-content: flex-end;
  }

   .storing-calculation {
    display: flex;
    align-items: flex-end;
  }

.role-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}


 .storing-calculation {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 30%;
  }

.item-block-role {
  display: flex;
  width: 40%;
  .control-group {
    width: 100%;
    flex-direction: column;
    .selector {
      width: 100%;
    }
  }
}
.decimal-row {
  display: flex;
  width: 70%;
  justify-content: space-between;
  .vat-total {
    max-width: unset !important;
  }
}

.current-stock {
  align-self: center;
  span {
    color: #999;
  }
}

 .row-footer {
    display: flex;
  }

.storing__fields {
  display: flex;
  justify-content: space-between;
}

.storing-quantifier--fee  {
  .controls {
    max-width: unset;
    input {
      width: 100% !important;
    }
  }
}
