.warn-message {
  background-color: $caution-color;
	display: inline-block;
	margin-left: $default-gap;
	margin-right: $default-gap;
	padding-left: $default-gap;
	padding-right: $default-gap;
  text-transform: uppercase;
  font-weight: bold;
  font-size: $fs-small;
  color: white;
}