@import "compass/reset";
@import "bootstrap/normalize";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, textarea, select, options, button {
  margin:  0;
  padding: 0;
  font-family: $base-font-family;
  vertical-align: middle;
  font-size: $fs-normal;
  line-height: $lh-normal;
  color: $text-color;
}

html {
  &, * {
    @include text-align(left);
  }
}

mark {
  background-color: $highlight-color;
}

td, th, a, p, input, textarea, select, div {
  font-size: $fs-normal;
}
small, sup, sub {
  font-size: $fs-small;
}
a:link,
a:visited,
a:focus {
  &, * {
    color: $active-link-color;
    text-decoration: none;
  }
  .label {
    color: $base-font-reversed-color;
  }
}

/*
  Other input types are: color, date, datetime, datetime-local, email, month,
  number, range, search, tel, time, url, week, button, checkbox, color, date,
  datetime, datetime-local, email, file, hidden, image, month, number, password,
  radio, range, reset, search, submit, tel, text, time, url, week and file
*/

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="image"], input[type="month"], input[type="number"], input[type="password"], input[type="range"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input[type="search"], textarea, select {
  border: $menu-border;
  padding: round($fs-normal * 0.2);
  @include box-sizing(content-box);
  @include border-radius($default-border-radius);
  background: #FFF; //$desktop-background;
  font-size: $fs-normal;
  line-height: $lh-normal;
  height: $lh-normal;
  vertical-align: middle;
  // @include box-shadow(0 2px round($fs-normal/2) rgba(black, 0.1) inset, 0 0 round($fs-normal*0.6) rgba(white, 0.6));
  // @include box-shadow(0 2px round($fs-normal/2) rgba(black, 0.1) inset);
  @include box-shadow(0 0 0 rgba(black, 0.1));
  @include transition(box-shadow 0.2s, border-color 0.2s);
  &:focus {
    // background: #FFF;
    border-color: $base-color;
    @include box-shadow(0 0 round($fs-normal*0.6) rgba($base-color, 0.6));
  }
  &:disabled, &[disabled] {
    background: #EEE;
    color: #777;
    cursor: not-allowed;
  }
}
input[type="number"] {
  @include text-align(right);
}
input[type="date"], input[type="datetime"] {
  @include text-align(center);
}
input[type="date"] {
  width: 12ex;
}
input[type="datetime"] {
  width: 20ex;
}


textarea {
  min-height: 3em;
}

em {
  font-style: italic;
}