@import "active_list/minimal";
@import "active_list/background";
@import "active_list/theme";

$sort-mask: rgba(0, 18, 132, 0.05);

$list-line-backgrounds:      ("&" rgba(#FFF, 1)) ("&.error, &.undone" rgba($invalid-color, 0.12)) ("&.warning, &.waiting" rgba($caution-color, 0.12)) ("&.in_progress, &.success" rgba($success-color, 0.12));
$list-column-backgrounds:    ("&" rgba(#FFF, 0)) ("&.act" rgba($link-color, 0.04)) ("&.sor" $sort-mask);
$list-selection-backgrounds: ("&" rgba(#FFF, 0)) ("&.selected" rgba($selection-color, 0.22));
$list-hover-backgrounds:     ("&" rgba(#FFF, 0)) ("&:hover" $hover-mask);

// $default-border-color: $menu-border-color;
// $zz-menu-width: 250px;

.active-list[data-list-source], .active-list {
  table.list {
    border-collapse: collapse;
    width: 100%;
   //   border: $menu-border;
    //@include box-shadow(0 0 7px rgba(0, 0, 0, 0.15));
    //@include incrust-shadow;
    thead {
      th {
        //border: $menu-border;
        padding: round($fs-normal*0.2) round($fs-normal*0.4);
        @include ellipsis;
        @include text-align(left);
        // @include background($menu-background);
        // @include background-image(linear-gradient(lighten($menu-background, $default-lightness-variation), darken($menu-background, $default-lightness-variation)));
        &[data-list-column-sort] {
          .icon {
            @include is-icon(round(0.85 * $fs-normal));
            @include use-icon(sort);
            @include inline-block;
            @include margin-left(round($fs-normal*0.2));
          }
	  &.sor {
            background: $sort-mask;
            &[data-list-column-sort="desc"] .icon {
              @include use-icon(sort-down);
            }
            &[data-list-column-sort="asc"] .icon {
              @include use-icon(sort-up);
            }
          }
        }
        &.spe {
          overflow: visible;
          width: 16px;
          height: 16px;
          @include text-align(center);
          .list-menu {
            position: relative;
            background: none;
            .list-menu-start {
              padding: 2px;
              width: 20px;
              height: 20px;
	      text-align: center;
              i, .icon {
                @include is-icon;
                @include use-icon(wrench);
                @include inline-block;
              }
              .text { display: none; }
            }
            &:hover {
              @include menu-shadow;
              .list-menu-start {
                background-color: $menu-background;
                // z-index:5000;
              }
            }
            ul {
              .icon {
                @include margin-right($default-gap);
              }
              @include menu;
	      z-index: 1000;
              li {
                @include menu-item;
		
                ul {
                  & { right: $menu-width; }
                  html[dir="rtl"] & { left: $menu-width; }
                }

                & > a {
                  .icon { @include is-icon }
                  &.pages     .icon { @include use-icon(reorder); }
                  &.columns   .icon { @include use-icon(columns); }
                }
                .icon { @include is-icon }
                &.export    .icon { @include use-icon(download-alt); }
                &.check     .icon { @include use-icon(ok); }
                &.checked   .icon { @include use-icon(check); }
                &.unchecked .icon { @include use-icon(check-empty); }
                &:hover {
                  text-decoration: none;
                  // background: background-hover($menu-background);
                }
                &.separator {
                  @include menu-separator;
                }

              }
            }
            & > ul {
              top: 23px;
            }

          }
        }
      }
    }
    tbody {
      tr {
        td {
          @include transition(background 0.2s);
          padding: round($fs-normal*0.2) round($fs-normal*0.4);
          border-top: $menu-border-width solid mix($base-color, #FFF, 10%);
          border-bottom: none;
          border-left: none;
          border-right: none;
          line-height: 16px;
          @include ellipsis;
          &.chk,&.act, &.dld, &.bln, &.dat, &.web  {
            @include text-align(center);
            .checkbox-true, .checkbox-false { margin: 3px auto 0; }
          }
          &.dec, &.flt, &.int { @include text-align(right) }
          &.country { white-space: nowrap; }
          &.color { color: white; text-shadow: 0 0 2px #000; width: 6ex; @include text-align(center) }
          &.status {
            text-align: center;
          }
        }
        &.squeezed, &.aborted, &.refused {
	  td {
            &, * {
	      text-decoration: line-through;
            }
          }
        }
        &.child {
          td {
            &:first-child {
              @include padding-left(2*$fs-normal);
            }
            @include opacity(0.6);
          }
        }
        &:first-child td {
          border-top: none;
        }
      }
      @include list-colors($desktop-background);
    }

  }
  .extras {
    // z-index: 0;
    @include background(transparentize($desktop-background, 0.7));
    .pagination {
       @include text-align(left);
      .paginator {
        input[type="number"] {
          width: 5ex;
          margin: 0;
          display: inline;
        }
      }
       & > * {
         margin: 0 2px;
       }
       .first-page, .previous-page, .next-page, .last-page {
         @include inline-block;
         @include squish-text;
         i { @include is-icon }
       }
        html[dir="rtl"] & .last-page i,  & .first-page i {
          @include use-icon(fast-backward);
        }
        html[dir="rtl"] & .first-page i,  & .last-page i {
          @include use-icon(fast-forward);
        }
        html[dir="rtl"] & .next-page i,  & .previous-page i {
          @include use-icon(backward);
        }
        html[dir="rtl"] & .previous-page i, & .next-page i {
          @include use-icon(forward);
        }
       .separator {
         @include inline-block;
         width: $menu-border-width;
         $margin:$menu-border-width * 3 ;
         margin: 0 $margin;
         height: 1.2em;
         background: $menu-border-color;
       }
    }
  }
}









.active-list[data-list-source] table.list, .active-list table.list, table.list {
  width: 100%;
  tr.total {
    td, th {
      border: $menu-border;
      font-size: $fs-large;
      font-weight: bold;
      padding: 2px;
      html[dir="ltr"] & { text-align:right; }
      html[dir="rtl"] & { text-align:left; }
    }
    th {
      padding: 4px 6px;
      @include background-image(linear-gradient(lighten($menu-background, 4%), darken($menu-background, 4%)));
    }
    td {
      padding: 4px;
      color: $text-color;
      @include background-image(linear-gradient(lighten($desktop-background, 4%), darken($desktop-background, 4%)));
    }
    &.invalid td { color: #D20; }
  }
  tbody {
    tr.empty {
      td {
        text-align: center;
        color: rgba(0, 0, 0, 0.3);
        font-weight: bold;
        /*padding: 1ex !important;*/
      }
    }
    tr.odd, tr.even, tr.empty {
      td {
        padding-top: $fs-normal*0.25;
        padding-bottom: $fs-normal*0.25;
      }
    }
    td.act {
      width: 16px;
//      padding-top: 0 !important;
      padding-bottom: 0 !important;
      a {
        //color: transparent;
        //display: block;

        font-size: 0;
        i {
          @include is-icon(18px);
          @include use-icon(cog);
          color: $base-color;
        }
        &:focus {
          outline: none;
          i {
            color: darken($base-color, 10%);
          }
        }
        //height: 16px;
        //width: 16px;
        margin: 0 auto;
        border: none;

        &.show       i { @include use-icon(print); }
        &.destroy    i { @include use-icon(remove); }

        &.abort       i { @include use-icon(remove); }
        &.action      i { @include use-icon(cog); }
        &.backup      i { @include use-icon(backward); }
        &.cancel      i { @include use-icon(undo); }
        &.checked     i { @include use-icon(check); }
        &.close       i { @include use-icon(lock); }
        &.column      i { @include use-icon(columns); }
        &.confirm     i { @include use-icon(ok); }
        &.configure   i { @include use-icon(wrench); }
        &.correct     i { @include use-icon(edit); }
        &.edit i,    &.update i { @include use-icon(edit); }
        &.new i,     &.create i { @include use-icon(plus); }
        &.destroy i, &.delete i { @include use-icon(remove); }
        &.divide      i { @include use-icon(resize-full); }
        &.down        i { @include use-icon(arrow-down); }
        &.duplicate   i { @include use-icon(copy); }
        &.extract     i { @include use-icon(download-alt); }
        &.filter      i { @include use-icon(filter); }
        &.firefox     i { @include use-icon(chevron-down); }
        &.help        i { @include use-icon(question-sign); }
        &.import      i { @include use-icon(upload-alt); }
        &.letter      i { @include use-icon(pencil); }
        &.load        i { @include use-icon(refresh); }
        &.logout      i { @include use-icon(off); }
        &.mail        i { @include use-icon(envelope); }
        &.merge       i { @include use-icon(resize-small); }
        &.play        i { @include use-icon(play); }
        &.point       i { @include use-icon(ok); }
        &.print       i { @include use-icon(print); }
        &.reflect     i { @include use-icon(cog); }
        &.refuse      i { @include use-icon(remove); }
        &.register    i { @include use-icon(plus); }
        &.reset       i { @include use-icon(refresh); }
        &.restore     i { @include use-icon(chevron-left); }
        &.sort        i { @include use-icon(sort); }
        &.table       i { @include use-icon(table); }
        &.unchecked   i { @include use-icon(check-empty); }
        &.unmark      i { @include use-icon(remove-sign); }
        &.up          i { @include use-icon(arrow-up); }
      }

    }
  }

}


table.active-list tr.total.valid   td { color: #090; }
table.active-list tr.subtotal.invalid td { color: #D20; }
table.active-list tr.subtotal.valid   td { color: #090; }
table.active-list tr.first-line    td { border-top: 2px solid #F77; }
table.active-list tr.last-line     td { border-bottom: 2px solid #F77; }
table.active-list tr.inline-errors td { background: transparent; padding:8px 4px 0; border-left:none; border-right:none; }

.active-list {
  // margin: 0 -15px;
  table {
    padding: 0;
    width: 100%;
    border: none;
    border-collapse: collapse;
    tbody {
      border-top: 1px solid #CCC;
      border-bottom: 1px solid #CCC;
      tr.empty {
	td {
	  @include text-align(center);
	}
      }
    }
  }
}