.taskboard {
  @include flex-row(space-between, flex-start);
  padding: 20px;
  overflow: auto;
}

.taskboard .taskboard-column {
  @include border();
  flex: 1;
  background: $darkened-white;
  margin-right: 30px;

  .taskboard-header {
    @include flex-row(space-between);
    padding-left: 20px;
    padding-right: 10px;
    height: 60px;

    &--fixed {
      position: fixed;
      background-color: $darkened-white;
      z-index: 6;
    }

    .title {
      font-size: $fs-large;
    }

    .actions {

      .picto {
        color: $lightened-grey;
        font-size: $fs-large;
        min-width: initial;
        line-height: initial;
      }

      .picto--invisible {
        display: none;
      }

      .picto:hover {
        color: $text-color;
        cursor: pointer;
      }
    }
  }

  .tasks {
    @include flex-column(stretch, flex-start);
    flex: 1;
    padding: 20px 0;

    .task {
      @include flex-column(flex-start, flex-start);
      @include border();
      @include normal-shadow();
      margin: 10px 20px;
      padding: 10px 15px;
      border-radius: 5px;
      position: relative;
      cursor: pointer;

      &-select-field {
        position: absolute;
        right: 10px;
        top: 10px;
      }

      &-texts {
        font-weight: bold;
      }

      &-text {
        font-size: $fs-normal;
      }

      &-datas {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;

        .picto {
          font-size: $fs-large;
          min-width: initial;
          line-height: initial;
        }
      }

      &-data {
        margin-right: 12px;
      }

      &-datas * {
        color: $white;
        padding: 2px 5px;
        border-radius: 3px;
        font-weight: bold;
        margin-bottom: 5px;
      }

      &-datas .data-text {
        font-size: $fs-normal;
        font-style: italic;
        line-height: initial;
      }

      &-colors {
        @include flex-row(flex-start);
        flex-wrap: wrap;
        margin-bottom: 5px;
      }

      &-color {
        width: 40px;
        height: 10px;
        border-radius: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
      }
    }
  }
}
