.timeline-chart-block {
  padding: 20px;

  .group-label {
    fill: $white;
    font-weight: bold;
    font-size: $font-size-large;
  }

  .icon .picto {
    @include flex-column();
    font-size: 40px;
    min-width: 0;
    line-height: 0;
    width: 40px;
    height: 40px;
  }

  .timeline-chart {
    width: 100%;
    height: 300px;
    background: #ffffff;
    opacity: 0.9;
    border-radius: 5px;
    border: 1px solid #4e5665;

    line {
      stroke: #4e5665;
    }

    .tick {
      stroke: #4e5665;
      text-transform: capitalize;
    }

    rect {

        &.chart-bounds {
          fill: transparent;
        }

        &.line-title-block {
          fill: $base-color;
        }

        &.interval.blue-interval {
            fill: #009688;
            stroke: #009688;
            height: 30px
        }
    }

    .axis path {
        fill: none;
        stroke: none;
    }

    circle.blue-dot {
        fill: blue;
    }

    .interval {

      &-text {
        font-weight: bold;
      }
    }

    .interval,
    .dot {
      cursor: pointer;
    }
  }

  .timeline-chart-menu {
    @include menu();
    position: absolute;

    li {
      @include menu-item;
    }

    .menu-link {
      height: 100%;
    }
  }
}
