@import "bootstrap/variables";
@import "agric/list";
$symbolic-icons: $agric-icons;

// Font sizes
$fs-ratio:   1.3 !default;
$fs-normal: 13px !default;
$fs-small:      ceil($fs-normal / $fs-ratio);
$fs-large:     round($fs-normal * $fs-ratio);
$fs-huge:      round($fs-large  * $fs-ratio);
$fs-very-huge: round($fs-huge   * $fs-ratio);
$fs-awesome:   round($fs-very-huge * $fs-ratio * 2);

// Line heights
$lh-ratio: 1.4 !default;
$lh-small:     round($lh-ratio * $fs-small);
$lh-normal:    round($lh-ratio * $fs-normal);
$lh-large:     round($lh-ratio * $fs-large);
$lh-huge:      round($lh-ratio * $fs-huge);
$lh-very-huge: round($lh-ratio * $fs-very-huge);
$lh-awesome:   round($lh-ratio * $fs-awesome);

// Fingertip
$fingertip-height: 32px !default;
$fingertip-height: 2 * round($fingertip-height / 2) !default;

// Colors
$base-color:         #688ED8 !default;
$neutral-color:      #777777 !default;
$desktop-background: #F7F7F7 !default;
$text-color:         #333333 !default;
$invalid-color:      #D81E08 !default;
$caution-color:      #FF8811 !default;
$success-color:      #65A907 !default;
$highlight-color:    #FFEE80 !default;
$mapbar-background-color: #FFFFFF !default;
$active-color: $base-color !default;
$link-color:         darken($base-color, 10%) !default;
$title-color:        darken($base-color, 40%) !default;
$selection-color:  $active-color;
$base-font-color:  $text-color !default;
$base-font-reversed-color: #FFF !default;

$hover-transparency: 0.75 !default;
$hover-mask: transparentize($base-color, $hover-transparency);

$neutral-background: change-color($neutral-color, $lightness: 90%) !default;
$input-background:   $desktop-background;
$light-color: mix($base-color, $desktop-background, 50%);

// Menu colors
$menu-background: #F0F0F0 !default;
$menu-border-color: mix($menu-background, #000000, 77%);
$menu-border-width: floor($fs-normal / 10);
$menu-border: $menu-border-width solid $menu-border-color;
$menu-width: $fs-normal * 15;
$menu-padding: 3 * $menu-border-width;
$menu-height:  $fingertip-height;
$menu-text-height: 2 * round(1.4 * $fs-normal / 2);

// Forms
$input-border: $menu-border-width solid mix($desktop-background, $neutral-color, 60%);
$label-width: 25% !default;

$default-border-radius: round($fs-normal/5);
/* Variation from center to  */
$default-lightness-variation: 5%;
$default-gap: round($fs-normal * 0.55);
$cell-background: mix($desktop-background, $base-color, 82%);
$cell-background-current: mix($desktop-background, $base-color, 62%);

$buttons-aliases: (abort times) (action cog) (backup backward) (bar-chart bar-chart-o) (beaker flask) (cancel undo) (checked check) (close lock) (column columns) (confirm check) (configure wrench) (correct edit) (destroy times) (create plus) (delete times) (divide expand) (down arrow-down) (drop tint) (duplicate copy) (edit edit) (exclude minus-circle) (extract download) (filter filter) (firefox chevron-down) (help question-circle) (import upload) (include plus-circle) (index bars) (invoice file-text-o) (letter pencil) (load refresh) (logout power-off) (mail envelope) (merge compress) (new plus) (pick plus) (play play) (point check) (print print) (reflect cog) (refuse times) (register plus) (reopen unlock) (reset refresh) (restore chevron-left) (ship truck) (show print) (sort sort) (table table) (unchecked square-o) (unmark eraser) (up arrow-up) (update edit)

 (delay times) (document briefcase) (general-informations book) (stock exchange) (group group) (movement exchange) (accountancy money) (coordinates map-marker) (amount money) (vegetable wheat) (genealogy sitemap) (animal cow) (entity user) (indicators dashboard) (analytics cogs) (measure_options dashboard) (string_options comment) (decimal_options circle-o) (choice_options list) (products wheat) (identification barcode) (animal_identification barcode) (productions cog) (nature wrench) (variant sitemap) (subscriptions stack-exchange) (casting bullhorn) (people group) (veterinary_booklet medkit) (animal_husbandry_registry cow) (doer male) (exchange_accountancy_file_fr file) (input matter) (intervention_registry cogs) (manure_management_plan book) (provisional_manure_management_plan book) (land_parcel_registry tractor) (phytosanitary_registry flask) (vine_phytosanitary_registry flask) (general_ledger money) (profit_and_loss_statement money) (activity_cost money) (tool tractor) (wine_bottling_registry bottles) (wine_detention_registry flask) (wine_manipulation_registry bottle);

$buttons-states: hover whited active disabled normal;
$buttons-radius: $default-border-radius;

$all-aliases: $buttons-aliases;

$passive-bg: $menu-background;
$active-bg: $base-color;

// Font families
$sans-font-family:   'Open Sans', 'Droid Sans', 'Liberation Sans', Helvetica, sans-serif !default;
$awesome-font-family: 'Open Sans Condensed', 'Open Sans', 'Droid Sans', 'Liberation Sans', Helvetica, sans-serif !default;
$base-font-family:   $sans-font-family !default;
$header-font-family: $base-font-family;
$body-font-family:   $base-font-family;

// Other framework compatibilities
$body-font-size: $fs-normal;
$em-base: $fs-normal;
$primary-color: $base-color;
$topbar-height: $fingertip-height !default;
$global-radius: $default-border-radius;
$include-html-classes: false;

// Screen widths
$small-screen:   768px;
$mini-screen:   1024px;
$medium-screen: 1280px;
$large-screen:  1440px;

