.warning-container {
  border: 1px solid #BC2121;
  border-radius: 3px;
  height: 164px;
  position: relative;
  margin: 9px;
  i {
    position: absolute;
    left: 32px;
    top: 80px;
    @include is-icon(108px);
    @include use-icon(exclamation-triangle);
  }
  .warning-message {
    position: absolute;
    left: 183px;
    top: 30px;
    .warning-title b {
      font-size: 20px;
      line-height: 24px;
    }
    .warning-description {
      margin-top: 4px;
      p {
        line-height: 16px;
      }
    }
    .warning-button {
      margin-top: 12px;
    }
  }
}