.register
  =form_tag do
    =hidden_field_tag(:locale, params[:locale])
    .fields
      =formalize do |f|
        -f.error 'my_company'
        -f.error 'user'
        -f.title :my_company
        -#f.field :my_company, :name
        -f.field :my_company, :code
        -#f.field :my_company, :currency, :choices=>currencies
        -f.title :my_self
        -f.field :user, :last_name
        -f.field :user, :first_name
        -f.field :user, :name
        -f.field :user, :password, :required => true
        -f.field :user, :password_confirmation, :required => true
      %table.formalize
        %tr.field
          %td.label=tc(:load_demo_data)
          %td.input=check_box_tag(:demo, params[:locale]||::I18n.default_locale, :checked=>true)
    .actions
      -if defined?(Ekylibre::DONT_REGISTER)
        =text_field_tag :register_password
      =submit_tag(tg(:create))
      =link_to(tg(:cancel), :controller=>:sessions, :action=>:new)
