=field_set do
  =f.input :name
  =f.referenced_association :nature, :as => :radio_buttons
  =f.referenced_association :parent

=field_set(:animal) do |f|
  =f.referenced_association :animal, :source => :here

=field_set(:delay) do |f|
  =f.input :planned_at
  =f.input :moved_at

=field_set(:care) do |f|
  =f.nested_association(:diagnostics) do
    =f.input :symptoms
    =f.input :corpse_location
    =f.referenced_association :disease

=field_set(:treatment) do |f|
  =f.nested_association(:treatments) do
    =f.input :started_at
    =f.referenced_association :drug
    =f.input :quantity
    =f.input :quantity_interval
    =f.input :quantity_delay
    =f.referenced_association :prescription

=field_set(:entity) do |f|
  =f.referenced_association :watcher, :include_blank => true, :default_value => :blank
