-height = 400
-width = height
-total = values.values.sum

%svg{:xmlns => "http://www.w3.org/2000/svg", :version => "1.1", :width => "100%", :height => 200, :viewBox => "0 0 #{width} #{height}"}
  -count = 0
  -for label, value in values
    -angle = 360.0*value/total
    %path{:fill => "#"+3.times.collect{rand(256).to_s(16).rjust(2,'0')}.join, :d => pie_piece_path(width/2, height/2, width/2, count, count+angle)}
    -count += angle
