- Ekylibre::Navigation.parts.each do |part|
  - next unless part_authorized?(part)
  = link_to({controller: "/backend/dashboards", action: part.name}, class: "btn btn-big btn-#{part.icon}", title: part.human_name) do
    %i
    = part.human_name
