- main_toolbar do |t|
  - t.edit resource

= cobbles do |c|
  - c.cobble :general_informations do
    = attributes_list do |l|
      - l.attribute :name
      - l.attribute :serial
      - l.attribute :description
      - l.attribute :used_by_type
      - l.attribute :used_by_on
      - l.custom_fields

  - c.cobble(:products) do
    = cobble_list(:products)
