- main_toolbar do |t|
  = t.edit resource

= cobbles do |c|
  - c.cobble :general_informations do
    = attributes_list do |l|
      - l.attribute :name
      - l.attribute :serial
      - l.attribute :description
      - l.attribute :usage_limit_nature
      - l.attribute :usage_limit_on
      - l.custom_fields

  - c.cobble(:products) do
    = cobble_list(:products)
