- main_toolbar do |t|
  - t.edit resource

= beehive do |b|
  - b.hbox do
    - b.cell do
      = attributes_list do |l|
        - l.attribute :name
        - l.attribute :serial
        - l.attribute :description
        - if resource.custom_fields.any?
          - l.custom_fields

= beehive do |b|
  - b.hbox do
    - b.cell(:products) do
      = list(:products)
