=field_set do
  =f.input :amount
  =f.input :currency
  =f.referenced_association :supplier
  =f.input :all_taxes_included
  =f.referenced_association :reference_tax
  =f.referenced_association :variant