=field_set do
  =f.association :mode, :field => :hidden
  =f.association :responsible, :source => :employees
  =f.input :created_on
  =f.input :description

=field_set :incoming_payments do
  -partial :depositable_payments
