=field_set do
  =f.referenced_association :mode, :field => :hidden
  =f.referenced_association :responsible, :source => :employees
  =f.input :created_on
  =f.input :description

=field_set :incoming_payments do
  =render 'depositable_payments_form'
