- main_toolbar do |t|
  :ruby
    variants = IncomingPaymentMode.depositers.map do |mode|
      count = mode.depositable_payments.count
      [:new_deposit.tl(count: count, mode: mode.name), {action: :new, mode_id: mode.id}]
    end
  = t.new variants: variants, params: { redirect: nil }

= main_list
