- main_toolbar do |t|
  :ruby
    variants = IncomingPaymentMode.depositers.inject({}) do |hash, mode|
      count = mode.depositable_payments.count
      hash[:new_deposit.tl(count: count, mode: mode.name)] = {action: :new, :mode_id => mode.id}
      hash
    end
  - t.new variants: variants

= list
