= beehive do |b|
  - b.hbox do
    - b.cell do
      = attributes_list do |l|
        - l.attribute :client, :label => :label, url: true
        - l.attribute :number
        - l.attribute :state_label
        - l.attribute :responsible, :label => :full_name
        - l.attribute :created_at
        - l.attribute :dead_line_at if resource.dead_line_at?
        - l.attribute :currency unless resource.currency == Entity.of_company.currency
        - l.attribute :description if resource.description?
        - if resource.custom_fields.any?
          - l.custom_fields