-field_set do
  -association :entity
  -input :family, :autocomplete => true
  -input :organization, :autocomplete => true
  -input :title, :autocomplete => true
  -input :started_on
  -input :stopped_on
