=field_set do
  =f.referenced_association :product_nature
  -# TODO: Cannot keep "if" in forms
  -if @mode != :sales
    =f.referenced_association :supplier, :source => :suppliers
  =f.input :by_default

=field_set :amount do
  =f.referenced_association :listing
  =f.input :assignment_pretax_amount
  =f.referenced_association :tax
  =f.input :currency, :collection => currencies
