-if @suppliers.size>0
  .search
    =form_tag do
      %label=tc "display"
      -for mode in @modes
        =radio_button(:price, :mode , mode, :checked=>( mode=="all" ? true : false))+" "+content_tag(:label, tc("prices_for_"+mode), :for=>'price_mode_'+mode)
      =select(:price, :supply, @suppliers.collect{|x| [x.full_name,x.id]})
      =submit_tag tg('filter')
=main_toolbar do |t|
  -t.new :variants => {:new_sales_price.tl => {:mode => :sales}, :new_purchase_price => {:mode => :purchases}}
  -# t.new_sales_price {:action=>:new, :mode=>:sales}
  -# t.new_purchase_price {:action=>:new, :mode=>:purchases}
  -t.export
  -t.import
=list
