-# Generated automatically. Don't edit this file.
-product_membership ||= f.object
.nested-fields
  =link_to_remove_association('labels.remove_membership'.t, f, :class => 'nested-remove remove-membership')
  =f.input(:started_at, :wrapper_html => {:id => 'started-at-field'})
  =f.input(:stopped_at, :wrapper_html => {:id => 'stopped-at-field'})
  #product-field.control-group.selector.required
    %label.control-label.required{:for => 'product_membership-product-input'}
      %abbr{:title => 'required'} *
      =ProductMembership.human_attribute_name('product')
    .controls
      =selector(:product_membership, :product, {:controller=>"products", :action=>:unroll}, {:object => product_membership}, :id => 'product_membership-product-input', :class => 'selector required') + link_to(('<span class="icon"></span><span class="text">' + h('labels.new'.t) + '</span>').html_safe, {:controller => :products, :action => :new}, 'data-new-item' => 'product_membership-product-input', :class => 'btn btn-new')
      -for error in product_membership.errors['product']
        %span.help-inline=error
