=main_toolbar do |t|
  -t.edit @animal_medicine

=beehive do |b|
  -b.cell do
    = attributes_list do |l|
      - l.attribute :name

  - b.tabbox do
    - b.cell(:interventions) do
      = toolbar do |t|
        - t.new(:params =>{:controller => :interventions})
      = list(:intervention_casts)
    - b.cell(tl(:x_indicators, :count => @animal_medicine.indicator_data.count)) do
      = list(:indicators)