-# Eclated automatically (2011-06-08)
=toolbar do |t|
  -t.update @delay

=attributes_list(@delay) do |l|
  -l.attribute :name
  -l.attribute :active
  -l.attribute :expression
  -l.attribute :comment
