=toolbar do |t|
  -t.edit @product_category

=attributes_list(@product_category) do |l|
  -l.attribute :name
  -l.attribute :parent, :url=>true
  -l.attribute :comment
  -l.attribute :catalog_name
  -l.attribute :catalog_description

%h2=tc(:products)
=list :products
