/*h3.dyta {padding:4px;color: #139; font-size: 16px; }*/
div.dyta { margin: 0; padding: 0; width:100%-30px; }
/*table.dyta { border-collapse: collapse; width:100%;  padding:0; margin: 0; border-bottom: 1px solid #BACFE6;}*/
table.dyta { border-collapse: collapse; width:100%;  padding:0; margin: 0; }
table.dyta tbody { border-bottom: 1px solid #BACFE6;}
/*table.dyta th { background: #e9f3fe url(../images/table_head.png) repeat-x bottom; padding:1px 3px; color: #336; font-weight: bold; font-size:13px; text-align:left; }*/
table.dyta th { background: #e9f3fe url(../images/table_head.png) repeat-x bottom; padding:1px 3px; color: #000; font-weight: normal; text-align:left; }
table.dyta th:hover { background: #e9f3fe url(../images/table_head_hover.png) repeat-x bottom; }
table.dyta th.sorted { background: #C9D3E2 url(../images/table_head_sorted.png) repeat-x bottom; padding:2px 3px; color: #000; font-weight: normal; text-align:left; }
/*
table.dyta th a.sort { display:block; margin-right:18px; text-decoration:none; padding: 1px; color: #336; }
table.dyta th a.sort { display:block; width: 100%;}
*/
table.dyta th a.sort { display:block; text-decoration:none; padding: 1px 14px 1px 1px; color: #336; }
/*table.dyta th a.sort:active { padding:2px 0 0 2px;}*/
table.dyta th a.sort:active { padding:2px 13px 0px 2px;}
table.dyta th a.sort.unsorted { background: url(../images/buttons/center.png) right center no-repeat; }
table.dyta th a.sort.desc { background: url(../images/buttons/down3.png) right center no-repeat; }
table.dyta th a.sort.asc { background: url(../images/buttons/up3.png) right center no-repeat; }
/*
table.dyta tr.odd  td {background: #E1E6FF;}
table.dyta tr.even td {background: #F0F2FF;}
*/
table.dyta tr.root td {font-weight: bold; }
table.dyta tr      td {padding: 0px 2px;color: #007; height:22px;}
table.dyta tr      td.chk { text-align:center}
table.dyta tr      td.act { padding: 0 1px; width:18px; }
table.dyta tr      td.act a {padding: 1px; margin: 0; display:block; text-align: center;}
table.dyta tr      td.act a img {padding: 0; margin: 0; display:block; border: none;}
/*
table.dyta tr.odd  td.act { background: #E5D9DD; }
table.dyta tr.even td.act { background: #F2E4DD; }
table.dyta tr.odd  td.sorted { background: #d6dbf9; }
table.dyta tr.even td.sorted { background: #e4e7f9; } 
*/
table.dyta tr.child td { color: #77A; }
table.dyta tr.child td:first-child { padding-left:20px; }
table.dyta td.empty { text-align:center; color: #777; padding:4px; background: #EEF; }
table.dyta th, table.dyta td.empty, table.dyta td.procedures { border-top: 1px solid #BACFE6; }
table.dyta th, table.dyta td { border-left: 1px solid #BACFE6; border-right: 1px solid #BACFE6; }
/*table.dyta tr      th.footer { clear:both; border-top:1px solid #BACFE6; padding: 0px 3px; background: #e9f3fe url(../images/table_head.png) repeat-x bottom; }*/
table.dyta tr      th.footer { clear:both; border:none; background: #EEEFFA; }


table.dyta tr      th.footer div.export { padding: 2px; float:left;}
table.dyta tr      th.footer div.export a { padding: 0 2px 0 14px; margin: 0 2px; background: url(../images/buttons/spreadsheet.png) left center no-repeat;}
table.dyta tr      th.footer div.pagination { padding: 2px; float:right;}
table.dyta tr      th.footer div.pagination * { padding:2px 4px; }
table.dyta tr      th.footer div.pagination span.current { font-weight:bold; color: black; }
table.dyta tr      th.footer div.pagination span.disabled { color: #88A; }
table.dyta tr      th.footer div.pagination .prev_page { padding:2px 4px 2px 10px; background: url(../images/buttons/previous2.png) no-repeat left;}
table.dyta tr      th.footer div.pagination .prev_page.disabled { padding:2px 4px 2px 10px; background: url(../images/buttons/previous2-dis.png) no-repeat left;}
table.dyta tr      th.footer div.pagination .next_page { padding:2px 10px 2px 4px; background: url(../images/buttons/next2.png) no-repeat right;}
table.dyta tr      th.footer div.pagination .next_page.disabled { padding:2px 10px 2px 4px; background: url(../images/buttons/next2-dis.png) no-repeat right;}
table.dyta tr      td.decimal { text-align: right; }
table.dyta tr      td.float   { text-align: right; }
table.dyta tr      td.integer { text-align: right; }
table.dyta tr      td.download { text-align: center; }
table.dyta tr      td.boolean { text-align: center; }
table.dyta tr      td.boolean div { margin: 0 auto; }
table.dyta tr      td.date { text-align: center; }
table.dyta tr      td.web { text-align: center; }
table.dyta tr      td.code { font-family: monospace; }
table.dyta tr      td.code a { font-family: monospace; }
table.dyta tr      td.rights * { font-size: 11px; }
table.dyta tr      td.rights.more * { color: #080; }
table.dyta tr      td.rights.less * { color: #F00; }

table.dyta tr.details td { padding: 8px; text-align:center;}
table.dyta tr.details td.comment { padding: 10px; font-size:15px; }

.balance { text-align:center;margin-left:600px; margin-right:700px; margin-top:20px; padding:20px;border: 1px solid #BACFE6;}
/*
.total { text-align: right; }
.total table { border-collapse: collapse; width: 100%; }
.total table.dyta td { font-weight: bold; border: 1px solid #BACFE6; padding: 4px 8px; font-size: 16px; background:#FFF0E0;}
.total table.dyta tr.important td { font-weight: bold; padding: 4px 8px; font-size: 20px !important; }
.total table.dyta tr.separated * { border-top: 1px solid red !important;}
.total table.dyta  th  { text-align:right; }
*/
table.dyta tr.total th {text-align: right;}
table.dyta tr.total td {font-size: 18px; font-weight:bold; background:#FFD !important; padding: 2px 4px; text-align: right; border:1px solid #BACFE6; max-width: 12em;}  
table.dyta tr.total td.important {font-size: 20px; } 
table.dyta tr.subtotal td { font-weight:bold; background:#FFE !important; text-align: right; border:1px solid #BACFE6; max-width: 12em;}  
table.dyta tr.subtotal th {  background:#FFE !important; border:1px solid #BACFE6;}  

table.dyta tr.empty td { text-align:center; background: #EEF; color: #779; padding: 20px; font-style: italic;}
table.dyta tr.empty:hover td { background: #EEF; }