/*div.kame { margin: 0; padding: 0; width:100%-30px; }*/
table.kame { border-collapse: collapse; width:100%;  padding:0; margin: 0; }
table.kame tbody, table.kame thead th { border: 1px solid #95b0e4;} /* BACFE6 */

/*table.kame th { background: #e9f3fe url(../images/table_head.png) repeat-x bottom; padding:3px; color: #000; font-weight: normal; }*/
/*table.kame thead th { border: 1px solid #BACFE6; }*/
table.kame th { background: #e0e7f9 url(../images/shadow-top.png) repeat-x bottom; padding: 2px; color: #000; font-weight: normal; }
table.kame th.act { background-color: #F1D7C9; width:16px; text-align: center; }
html[dir="ltr"] table.kame th { text-align: left; }
html[dir="rtl"] table.kame th { text-align: right; }
table.kame thead th a { display: block; text-decoration:none; color: #000; padding: 1px; background-position: right center; background-repeat: no-repeat; }
/*table.kame th:hover { background: #e9f3fe url(../images/table_head_hover.png) repeat-x bottom; }*/
table.kame thead th:hover { background-color: #E6EBFB; }
table.kame thead th.sor { background-color: #C9D7F1; color: #000; font-weight: normal; }
table.kame thead th a.sortable { background-position: right center; background-repeat: no-repeat; padding-right: 12px; }
html[dir="rtl"] table.kame thead th a.sortable {  background-position: left center; padding-left: 12px; }
table.kame thead th a.sortable.nsr  { background-image: url(../images/buttons/center.png); }
table.kame thead th a.sortable.desc { background-image: url(../images/buttons/down3.png); }
table.kame thead th a.sortable.asc  { background-image: url(../images/buttons/up3.png); }

table.kame tr td {border-top: 1px solid #E2E2EE;}
table.kame tr:first-child td {border-top: none;}
table.kame tr      td {padding: 0px 4px;color: #000; height:22px;}
table.kame tr      td.chk { text-align:center }
table.kame tr      td.act { padding: 0 2px; width:16px; }
table.kame tr      td.act a {padding: 1px; margin: 0; display:block; text-align: center;}
table.kame tr      td.act a img {padding: 0; margin: 0; display:block; border: none;}
table.kame tr.child td { color: #77A; }
table.kame tr.child td:first-child { padding:0 20px; }
table.kame tr.empty td { text-align:center;  color: #77A; padding: 20px; }

table.kame tfoot tr th { clear:both; border:none; background: #EEEFFA url(../images/shadow-bottom.png) repeat-x top center !important; font-weight: normal;  }
table.kame tfoot .widget { display: block; padding: 2px; }
html[dir="ltr"] table.kame tfoot .widget { float: left; margin: 0 8px 0 0; }
html[dir="rtl"] table.kame tfoot .widget { float: right; margin: 0 0 0 8px; }

table.kame tfoot .menu { position: relative; background: none; border: none; padding: 4px;}
table.kame tfoot .menu a { cursor: pointer; }
table.kame tfoot .menu a.start { padding: 4px; }
table.kame tfoot .menu ul { display: none; bottom: 22px; padding: 1px; position:absolute; background: Menu; border:1px solid ButtonShadow; z-index: 1000; box-shadow: 0px 0px 4px #999; -moz-box-shadow: 0px 0px 4px #999; -webkit-box-shadow: 0px 0px 4px #999;}
html[dir="ltr"] table.kame tfoot .menu ul { left: -1px;}
html[dir="rtl"] table.kame tfoot .menu ul { right: -1px;}
table.kame tfoot .menu:hover > ul { display: block; }
table.kame tfoot .menu ul li { list-style-type: none; color: MenuText; padding: 2px 4px; width: 15em; position: relative;}
table.kame tfoot .menu ul li * { color: MenuText;}
table.kame tfoot .menu ul li.separator { height: 0; padding:0; margin:0; border-top: 1px solid ButtonHighlight; border-top: 1px solid ButtonShadow; margin: 3px 0 3px;}
table.kame tfoot .menu ul li.separator:hover { background: transparent;}
table.kame tfoot .menu ul li a { padding: 2px 2px 2px 20px; display: block; }
table.kame tfoot .menu ul li ul { display: none; position: absolute; bottom: -1px; }
html[dir="ltr"] table.kame tfoot .menu ul li ul { left: 15em; }
html[dir="rtl"] table.kame tfoot .menu ul li ul { right: 15em; }
table.kame tfoot .menu ul li:hover { background: Highlight; color: HighlightText; }
table.kame tfoot .menu ul li:hover > * { color: HighlightText; }
table.kame tfoot .menu ul li:hover ul { display:block; }
table.kame tfoot .menu ul li ul:hover { display:block; }

table.kame tfoot tr th div.pagination { padding: 4px; display:block; }
table.kame tfoot tr th div.pagination * { padding: 2px 4px; }
table.kame tfoot tr th div.pagination span.current { font-weight:bold; color: black; }
table.kame tfoot tr th div.pagination em { font-weight:bold; color: black; font-style: normal; }
table.kame tfoot tr th div.pagination span.disabled { color: #88A; }
table.kame tfoot tr th div.pagination .previous_page { padding:2px 4px 2px 10px; background: url(../images/buttons/previous2.png) no-repeat left;}
table.kame tfoot tr th div.pagination .previous_page.disabled { padding:2px 4px 2px 10px; background: url(../images/buttons/previous2-dis.png) no-repeat left;}
table.kame tfoot tr th div.pagination .next_page { padding:2px 10px 2px 4px; background: url(../images/buttons/next2.png) no-repeat right;}
table.kame tfoot tr th div.pagination .next_page.disabled { padding:2px 10px 2px 4px; background: url(../images/buttons/next2-dis.png) no-repeat right;}
html[dir="rtl"] table.kame tfoot tr th div.pagination .previous_page { padding:2px 10px 2px 4px; background: url(../images/buttons/next2.png) no-repeat right;}
html[dir="rtl"] table.kame tfoot tr th div.pagination .previous_page.disabled { padding:2px 10px 2px 4px; background: url(../images/buttons/next2-dis.png) no-repeat right;}
html[dir="rtl"] table.kame tfoot tr th div.pagination .next_page { padding:2px 4px 2px 10px; background: url(../images/buttons/previous2.png) no-repeat left;}
html[dir="rtl"] table.kame tfoot tr th div.pagination .next_page.disabled { padding:2px 4px 2px 10px; background: url(../images/buttons/previous2-dis.png) no-repeat left;}


table.kame th.hidden, table.kame td.hidden { display: none; }

table.kame tr      td.dec { text-align: right; }
table.kame tr      td.flt { text-align: right; }
table.kame tr      td.int { text-align: right; }
table.kame tr      td.dld { text-align: center; }
table.kame tr      td.bln { text-align: center; }
table.kame tr      td.bln div { margin: 0 auto; }
table.kame tr      td.dat { text-align: center; }
table.kame tr      td.web { text-align: center; }
table.kame tr      td.country { white-space: nowrap; }
table.kame tr      td.code { font-family: LiberationMono, monospace; }
table.kame tr      td.code * { font-family: LiberationMono, monospace; }
table.kame tr      td.color { color:white; text-shadow: black 0 0 2px; width: 6em; text-align: center; }
table.kame tr      td.rights * { font-size: 11px; }
table.kame tr      td.rights.more * { color: #080; }
table.kame tr      td.rights.less * { color: #F00; }

table.kame tr.details td { padding: 8px; text-align:center;}
table.kame tr.details td.comment { padding: 10px; font-size:15px; }

table.kame tr.total th { text-align: right;}
html[dir="rtl"] table.kame tr.total th {text-align: left;}
table.kame tr.total td {font-size: 18px; font-weight:bold; width: 10em; white-space: nowrap; background:#FFD !important; padding: 2px 4px; text-align: right; border:1px solid #BACFE6; }  
table.kame tr.total td.important {font-size: 20px; } 
table.kame tr.subtotal td { font-weight:bold; background:#FFE !important; text-align: right; border:1px solid #BACFE6; max-width: 12em;}  
table.kame tr.subtotal th {  background:#FFE !important; border:1px solid #BACFE6;}  
table.kame tr.centralize td { font-weight:bold; }  

