- main_toolbar do |t|
  - t.edit @bank_statement
  - t.point @bank_statement

= attributes_list do |l|
  - l.attribute(:number)
  - l.attribute(:cash, url: true)
  - l.attribute(:credit)
  - l.attribute(:debit)
  - l.attribute(:started_at)
  - l.attribute(:stopped_at)
  - if resource.custom_fields.any?
    - l.custom_fields

%h2=BankStatement.human_attribute_name("items")
=list(:items)
