- main_toolbar do |t|
  - t.edit resource
  - t.point resource

= beehive do |b|
  - b.cell do
    = attributes_list do |l|
      - l.attribute(:number)
      - l.attribute(:cash, url: true)
      - l.attribute(:credit)
      - l.attribute(:debit)
      - l.attribute(:started_at)
      - l.attribute(:stopped_at)
      - l.custom_fields

  - b.cell :items, label: BankStatement.human_attribute_name("items") do
    = list(:items)
