=field_set(@drug_nature, :general_informations) do |f| # partie info general de l entité animal
  =f.error :drug_nature# affiche les erreurs renvoyés par le model
  =f.input :name , :hint => "le nom du nature de médicament"# affiche le champ name de l entité animal avec une infos derriere
