-# TODO Manage 2+ levels of hide/show

-field_set do
  -input :name
  -association :cash
  -input :with_accounting, :show => :accountancy

-field_set(:accountancy) do
  -input :with_deposit, :show => :deposit
  -input :with_commission, :show => :commission

-field_set(:deposit) do
  -association :depositables_account, :source => "accounts#deposit_pending_payments", :new => {:number => Account.chart_number(:deposit_pending_payments)}
  -association :depositables_journal

-field_set(:commission) do
  -input :commission_base_amount
  -input :commission_percent
  -association :commission_account, :source => "accounts#charges", :new => {:number => Account.chart_number(:charges)}
