=formalize do |f|
  -f.error :incoming_payment_mode
  -f.title :general
  -f.field :incoming_payment_mode, :name
  -f.field :incoming_payment_mode, :with_accounting, "data-show"=>"#accountancy"

#accountancy
  =formalize do |f|
    -f.title :accountancy
    -f.field :incoming_payment_mode, :cash_id, :choices=>{:reflection=>:cashes}, :new=>true
    -f.field :incoming_payment_mode, :with_deposit, "data-show"=>"#deposit"
    -f.field :incoming_payment_mode, :with_commission, "data-show"=>"#commission"
  
  #deposit
    =formalize do |f|
      -f.title :deposit
      -f.field :incoming_payment_mode, :depositables_account_id, :choices=>{:reflection=>:payments_to_deposit_accounts}, :new=>{:number=>@current_company.preferred_financial_payments_to_deposit_accounts}, :resize=>true

  #commission
    =formalize do |f|
      -f.title :commission
      -f.field :incoming_payment_mode, :commission_base_amount
      -f.field :incoming_payment_mode, :commission_percent
      -f.field :incoming_payment_mode, :commission_account_id, :choices=>{:reflection=>:charges_accounts}, :new=>{:number=>@current_company.preferred_charges_accounts}, :resize=>true
