-# TODO Manage 2+ levels of hide/show

-field_set do
  -input :name
  -association :cash, :source => "entity#cashes"
  -input :with_accounting, :show => :accountancy

-field_set(:accountancy) do
  -input :with_deposit, :show => :deposit
  -input :with_commission, :show => :commission

-field_set(:deposit) do
  -input :depositables_account, :source => "Account#payments_to_deposit_accounts", :new => {:number => Account.chart_number(:deposit_pending_payments)}
  -input :depositables_journal

-field_set(:commission) do
  -input :commission_base_amount
  -input :commission_percent
  -input :commission_account, :source => "Account#charges_account", :new => {:number => Account.chart_number(:charges)}
