- cashes = Cash.all
- if cashes.any?
  :ruby
    stopped_at = Time.now
    started_at = (stopped_at - 1.year).beginning_of_month

    series = []
    date = started_at
    periods = {}
    while date < stopped_at
      periods[date.l(format: "%b %Y")] = date..(date.end_of_month)
      date = date + 1.month
    end

    for cash in cashes
      items = cash.account.journal_entry_items.between(started_at, stopped_at).reorder(:printed_at)

      data = []
      for name, period in periods
        item = items.where(printed_at: period).last
        data << (item ? item.cumulated_absolute_balance.to_f : 0.0)
      end  
      series << {name: cash.name, data: data }
    end

  = spline_chart(series,legend: { align: 'center', vertical_align: 'bottom', border_width: 0 }, x_axis: { title: {text: :months.tl}, categories: periods.keys}, y_axis: {title: {text: :amounts_in_currency.tl(currency: Preference[:currency])}})
- else
  = no_data
