-# TODO: Manage extra contents in forms
=purchase_steps

=field_set do
  -# TODO: Manage variables in :new parameters
  =f.association :address, :source => :own_mails # , :new => {:entity_id => @purchase.supplier_id}
  =f.association :mode
  =f.input :planned_on

=field_set :incoming_delivery_lines do
  -partial :items

