- main_toolbar do |t|
  -# t.export do |e|
    - e.incoming_delivery_sheet @incoming_delivery.number, @incoming_delivery
  -# t.new(params: {controller: :issues, :target_id => @animal.id, :target_type => @animal.class.name})
  - t.edit @incoming_delivery
  - t.destroy(@incoming_delivery, method: :delete, "data-confirm" => tg(:are_you_sure_you_want_to_delete)) if @incoming_delivery.destroyable?

= beehive do |b|
  - b.hbox do
    - b.cell :general do
      = attributes_list(without_stamps: true) do |l| # liste des champs à afficher
        - l.attribute :number
        - l.attribute :reference_number
        - l.attribute :received_at
        - l.attribute :sender, url: true
        - l.attribute :address, url: true

    - b.cell :details do
      = attributes_list(without_custom_fields: true) do |l| # liste des champs à afficher
        - l.attribute :mode, url: true
        - l.attribute :purchase, url: true

  - b.hbox do

    - b.cell(:items) do
      = list(:items)

