-if @subscription
  =formalize do |f|
    -f.title :coordinates
    -f.field :subscription, :contact_id, :choices=>:subscription_contacts
    -f.field :subscription, :comment, :field=>:textarea
  #subscription-duration{"data-refresh"=>url_for(:action=>:coordinates, :mode=>:duration), "data-refresh-mode"=>"update"}=render :partial=>"duration_form"
