-# TODO Check
=hidden_field :subscription, :sale_line_id
-field_set do
  -association :nature
  -input :quantity
  -#input :entity_id, :choices=>:entities
  -#input :sale_id
  -#input :suspended

=render :partial=>"coordinates_form"

