-# TODO Check
-field_set do
  -association :sale_line, :field => :hidden
  -association :nature
  -input :quantity
  -# input :suspended
  -association :address
  -input :comment

-field_set :interval, :depend_on => :nature do
  -input :started_on, :if => :period?
  -input :stopped_on, :if => :period?
  -input :first_number, :if => :quantity?
  -input :last_number,  :if => :quantity?
