-if @subscription_nature.nature == "quantity"
  %table
    %tr
      %td.label=tc("select_number")
      %td=text_field_tag(:instant, session[:subscriptions][:instant], :size=>6)
-elsif @subscription_nature.nature == "period"
  %table
    %tr
      %td.label=tc("select_date")
      %td.input=calendar_field_tag(:instant, session[:subscriptions][:instant])
-else
  %strong [NoNatureError]
