-if @subscription_nature.nature == "quantity"
  %label=tc("select_number")
  =text_field_tag(:instant, session[:subscriptions_instant], :size=>6)
-elsif @subscription_nature.nature == "period"
  %label=tc("select_date")
  =date_field_tag(:instant, session[:subscriptions_instant])
-else
  %strong [NoNatureError]
