- if Integration.find_by(nature: 'samsys').present?
  - job_running = Preference.get(:samsys_fetch_job_running, false, :boolean)&.value
  - main_toolbar do |t|
    = link_to :samsys_synchronisation.tl, backend_samsys_synchro_path, class: 'btn btn-default icn btn-load update-job', disabled: job_running
    - if job_running
      = content_tag(:i, nil, class: 'bqspinner')
    = link_to :samsys_delete_selected_ride_sets.tl, backend_samsys_delete_selected_ride_sets_path, class: 'disabled btn btn-default', id: 'selected-ride-sets'
