- main_toolbar do |t|
  - t.edit(@financial_asset)

= beehive do |b|
  - b.cell do
    = attributes_list do |l|
      - l.attribute :name
      - l.attribute :depreciation_method
      - l.attribute :depreciable_amount, currency: true
      -# l.attribute :depreciated_amount, currency: true
      - l.attribute :depreciation_percentage
      - l.attribute :started_at
      - l.attribute :stopped_at
      - l.attribute :description

  - b.hbox do
    - b.cell(:depreciations) do
      = list :depreciations

  - b.hbox do
    - b.cell(:products) do
      = list :products
