=field_set do
  =f.input :name
  =f.input :active
  =f.input :currency, :source => :currencies
  =f.input :with_accounting, :show => :accountancy
  =f.input :comment, :field => :text

=field_set :accountancy do
  =f.association :journal, :source => :purchases




