- main_toolbar do |t|
  = t.edit resource
= main_informations do
  = attributes_list do |l|
    - l.attribute :name
    - l.attribute :active
    - l.attribute :currency
    - l.attribute :with_accounting
    - if resource.with_accounting?
      - l.attribute :journal, url: true
    - l.attribute :description
