= kujaku do |k|
  - k.text
  - k.multi_choice :repayment_period, resource_model.repayment_period.values.map{ |s| [s.tl, s] }, label: :repayment_period.tl

- main_toolbar do |t|
  = t.new params: { redirect: nil }

= main_list
