=field_set do
  =f.input :name
  =f.input :code
  =f.input :family
  =f.input :nature
  =f.input :to_archive
  =f.input :by_default
  =f.input :active
  =f.input :language, :source => :languages
  =f.input :country,  :source => :countries
  =f.input :filename
  =f.input :source, :field => :text
