=field_set do
  =f.input :name
  =f.input :nature
  =f.input :archiving
  =f.input :by_default
  =f.input :active
  =f.input :managed
  =f.input :language, :collection => languages
  =f.input :formats, :placeholder => 'pdf,odt,...'