-field_set do
  -input :name
  -input :code
  -input :family
  -input :nature
  -input :to_archive
  -input :by_default
  -input :active
  -input :language, :source => :languages
  -input :country,  :source => :countries
  -input :filename
  -input :source, :field => :text
