=formalize do |f|
  - unless defined? create_user 
    - f.error :user
  - f.title User.human_attribute_name("employed")
  - f.field :user, :employment
  - unless defined? create_user 
    - f.field :user, :first_name
    - f.field :user, :last_name
  - f.field :user, :commercial
  -# f.field :user, :profession_id,  :choices=>{:reflection=>:professions}, :new=>{:action => :profession_create} 
  - f.field :user, :department_id, :choices=>{:reflection=>:departments}, :new=>{:controller => :company, :action => :department_create} 
  - f.field :user, :establishment_id, :choices=>{:reflection=>:establishments}, :new => {:controller => :company, :action => :establishment_create}
 
 
