=field_set do
  =f.input :nature, :show => {:transfer => :second_warehouse}
  =f.association :product, :source => :availables
  =f.association :tracking
  =f.input :quantity
  =f.association :warehouse
  =f.association :second_warehouse
  =f.input :planned_on
  =f.input :comment
