=kujaku do |k|
  -k.radio :all, :confirmed, :unconfirmed, :i18n_root=>"labels.criterion_modes."
=main_toolbar do |t|
  -t.new
  -#t.link :confirm_all unless ProductTransfer.unconfirmeds.count.zero?
=list
