-# TODO Form
=field_set do
  =f.association :purchase, :field => :hidden
  =f.association :product, :source => :purchaseables # , :new=>true, "data-parameter-name"=>"product_id", "data-dependents"=>"#price-amount"
  =f.input :quantity
  =f.input :annotation
  -nested_association :price do
    =f.association :category
    =f.input :pretax_amount
    =f.association :tax
    =f.input :currency, :source => :currencies

=field_set :stocks, :depend_on => :product, :if => :stockable? do
  =f.association :warehouse
  =f.input :tracking_serial, :if => :trackable?
