=formalize do |f|
  -f.error :asset
  -f.field :asset, :name
  -f.field :asset, :description, :field=>:textarea
  -f.field :asset, :comment, :field=>:textarea

=formalize do |f|
  -f.title :depreciation
  -f.field :asset, :depreciable_amount
  -f.field :asset, :currency, :choices=>currencies
  -f.field :asset, :depreciation_method, :choices=>Asset.deprecation_methods.collect{|p| [p[0], p[1], {"data-show"=>"##{p[1]}_options"}]}, :field=>:radio
  -f.field :asset, :started_on


=formalize(:id => :simplified_linear_options) do |f|
  -f.field :asset, :depreciation_percentage

=formalize(:id => :linear_options) do |f|
  -f.field :asset, :stopped_on
 
=formalize do |f|
  -f.title :accountancy
  -f.field :asset, :journal_id, :choices=>{:reflection=>:journals}, :new=>true
  -f.field :asset, :account_id, :choices=>:account, :new=>true
