
=toolbar do |t|
  -t.edit(@asset)
  -t.cede(@asset)
  -t.sell(@asset)
  -t.depreciate(@asset)

=attributes_list(@asset) do |l|
  -l.attribute :name
  -l.attribute :description
  -l.attribute :comment

=tabbox(:asset) do |tb|
  -tb.tab(:depreciations) do
    =list :depreciations
