- main_toolbar do |t|
  = t.edit resource
= attributes_list do |l|
  - l.attribute :name
  - l.attribute :active
  - l.attribute :currency
  - l.attribute :expiration_delay
  - l.attribute :payment_delay
  - l.attribute :downpayment
  - if resource.downpayment?
    - l.attribute :downpayment_minimum
    - l.attribute :downpayment_percentage
  - l.attribute :with_accounting
  - if resource.with_accounting?
    - l.attribute :journal
