=list(:depositable_payments)

-# Manage subheadings directly into forms
-if @deposit.new_record?
  =subheading :new_deposit, :mode => @deposit.mode.name, :count => @deposit.mode.depositable_payments.size
