=field_set do
  -association :mode, :field => :hidden
  -association :responsible, :source => :employees
  -input :created_on
  -input :comment

=field_set :incoming_payments do
  -partial :depositable_payments
