-if @deposit.new_record?
  =subheading :new_deposit, :mode=>@deposit.mode.name, :count=>@deposit.mode.depositable_payments.size

=formalize do |f|
  - f.error :deposit
  - f.title :infos
  - f.field :deposit, :cash_id, :choices=>{:reflection=>:self_bank_accounts}, :new=>{:nature=>:bank_account}
  - f.field :deposit, :responsible_id, :choices=>{:reflection=>:users}
  - f.field :deposit, :created_on
  - f.field :deposit, :comment

=hidden_field_tag :mode_id, @deposit.mode_id

%h2=tc :incoming_payments
=list :depositable_payments
.checker.pull-end
  = link_to(tc(:check_all), "#", 'data-check' => '.list .chk input[type="checkbox"]')
  %span= " &ndash; ".html_safe
  = link_to(tc(:uncheck_all), "#", 'data-uncheck' => '.list .chk input[type="checkbox"]')