=field_set do
  -input :name
  -association :nature, :as => :radio_buttons
  -association :parent

-field_set(:animal) do |f|
  -association :animal
  -association :animal_group

-field_set(:delay) do |f|
  -input :planned_at
  -input :moved_at

-field_set(:care) do |f|
  =nested_association(:diagnostics) do
    =input :symptoms
    =input :corpse_location
    =input :disease
  
-field_set(:treatment) do |f|
  =nested_association(:treatments) do
    =input :started_at
    =input :quantity
    =input :quantity_unit
    =input :drug
    =input :prescription
    -input :duration_wait_for_milk
    -input :duration_unit_wait_for_milk
    -input :duration_wait_for_meat
    -input :duration_unit_wait_for_meat

-field_set(:entity) do |f|
  -association :watcher, :include_blank => true, :default_value => :blank
