=field_set do
  -input :name
  -association :nature, :as => :radio_buttons

-field_set(:animal) do |f|
  -association :animal
  -association :animal_group

-field_set(:delay) do |f|
  -input :started_on
  -input :stopped_on, :include_blank => true, :default_value => :blank

-field_set(:care) do |f|
  -association :diseases, :as => :check_boxes

-field_set(:treatment) do |f|
  -association :treatment, :include_blank => true, :default_value => :blank

-field_set(:entity) do |f|
  -association :watcher, :include_blank => true, :default_value => :blank
