=field_set do
  -input :name
  -association :nature, :as => :radio_buttons
  -association :animal, :label_method => :list_animal_full_name , :value_method => :id, :include_blank => true, :default_value => :blank
  -association :animal_group, :include_blank => true, :default_value => :blank

-field_set(:delays) do |f|
  -input :started_on
  -input :stopped_on, :include_blank => true, :default_value => :blank

-field_set(:care) do |f|
  -association :diseases, :as => :check_boxes

-field_set(:treatment) do |f|
  -association :treatment, :include_blank => true, :default_value => :blank

-field_set(:entity) do |f|
  -association :watcher, :include_blank => true, :default_value => :blank
