- main_toolbar do |t|
  = t.edit resource
  = t.destroy

= cobbles do |c|
  - c.cobble :details do
    = attributes_list do |l|
      - l.attribute :product_grading
      - l.attribute :activity_grading_check
      - l.attribute :items_count
      - l.attribute :minimal_size_value
      - l.attribute :maximal_size_value
      - l.attribute :net_mass_value


