-field_set do
  -input :name

-field_set(:animal) do |f|
  -association :animal_race_nature

-field_set(:drug) do
  -association :drug
  -input :quantity
  -association :quantity_unit
  -input :per_animal_unit
  -input :drug_admission_path

-field_set(:disease) do
  -association :disease
