-field_set(:drug) do
  -association :drug
  -input :currative_quantity
  -input :preventive_quantity
  -association :quantity_unit
  -input :quantity_delay
  -input :quantity_interval
  -input :drug_admission_way

-field_set(:animal) do |f|
  -association :animal_race

-field_set(:care) do
  -association :disease

-field_set(:product) do
  -association :product_category
  -input :product_category_waiting_delay
