=field_set do
  =f.input :name
  =f.input :number
  =f.input :active
  =f.input :variety

=field_set :nature do
  =f.referenced_association :category
  -#input :nature, :show => {:subscription => :subscription}

=field_set :nature do
  =f.input :reductible
  =f.input :depreciable, :show => :asset_account
  =f.input :saleable, :show => :product_account
  =f.input :purchasable, :show => :charge_account
  -#=f.input :producible
  =f.input :individual
  -#=f.input :alive
  -#=f.input :deliverable # , :show => :stock_options
  =f.input :storable, :show => :stock_account #, :show => :stocks, :in => :stock_options
  -#=f.input :traceable
  -#=f.input :storage
  =f.input :subscribing, :show => :subscription
  -#=f.input :towable
  -#=f.input :tractive

=field_set :subscription do
  =f.referenced_association :subscription_nature
  =f.input :subscription_duration
  -#input :duration


-#field_set :stocks, :in => :stock_options do
  -#f.nested_association(:stocks) do
    -#input :critic_quantity_min
    -#input :quantity_min
    -#input :quantity_max
    -#association :building

-#price=render :partial=>'price_amount_form'

=field_set :accountancy do
  =f.referenced_association :asset_account
  =f.referenced_association :product_account #,     :source => :products
  =f.referenced_association :charge_account #, :source => :charges
  =f.referenced_association :stock_account

=field_set :variant do
  =f.nested_association(:variants)
