-# Generated automatically. Don't edit this file.
-stock ||= f.object
.nested-fields
  =link_to_remove_association('labels.remove_stock'.t, f, class: 'nested-remove remove-stock')
  =f.input(:critic_quantity_min, wrapper_html: {id: 'critic-quantity-min-field'})
  =f.input(:quantity_min, wrapper_html: {id: 'quantity-min-field'})
  =f.input(:quantity_max, wrapper_html: {id: 'quantity-max-field'})
  #building-field.control-group.selector.required
    %label.control-label.required{:for => 'stock-building-input'}
      %abbr{:title => 'required'} *
      =Stock.human_attribute_name('building')
    .controls
      =selector(:stock, :building, {controller: "buildings", action: :unroll}, {:object => stock}, id: 'stock-building-input', class: 'selector required') + link_to(('<span class="icon"></span><span class="text">' + h('labels.new'.t) + '</span>').html_safe, {controller: :buildings, action: :new}, 'data-new-item' => 'stock-building-input', class: 'btn btn-new')
      -for error in stock.errors['building']
        %span.help-inline=error
