.nested-fields
  =link_to_remove_nested_association(:variant, f)
  =f.input(:purchase_indicator, :wrapper_html => {:id => 'purchase_indicator-field'})
  =f.input(:purchase_indicator_unit, :wrapper_html => {:id => 'purchase_indicator_unit-field'})
  =f.input(:sale_indicator, :wrapper_html => {:id => 'sale_indicator-field'})
  =f.input(:sale_indicator_unit, :wrapper_html => {:id => 'sale_indicator_unit-field'})
  =f.input(:usage_indicator, :wrapper_html => {:id => 'usage_indicator-field'})
  =f.input(:usage_indicator_unit, :wrapper_html => {:id => 'usage_indicator_unit-field'})

  