- main_toolbar do |t|
  - t.edit resource

= cobbles do |c|
  - c.cobble :details do
    = attributes_list do |l|
      - l.attribute :name
      - l.attribute :variety
      - l.attribute :derivative_of
      - l.attribute :number
      - l.attribute :active
      - l.attribute :category, url: true
      - l.attribute :description
      - if resource.custom_fields.any?
        - l.custom_fields

  - c.cobble :variants, title: ProductNature.human_attribute_name(:variants) do
    = cobble_list :variants
