=main_toolbar do |t|
  -t.edit @product_nature

=beehive do |b|
  -b.cell :details do
    =attributes_list(@product_nature) do |l|
      -l.attribute :name
      -l.attribute :number
      -l.attribute :active
      -# l.attribute :catalog_name
      -# l.attribute :catalog_description
      -l.attribute :description
      -# l.attribute :description
      -# l.attribute :stockable

  -b.tabbox do
    -b.cell ProductNature.human_attribute_name(:prices) do
      =toolbar do |t|
        -t.new_sales_price(:params => {:controller => :product_price_templates, :action => :new, :mode => :sales, :product_id => session[:product_id]}) if @product_nature.saleable?
        -t.new_purchase_price(:params => {:controller => :product_price_templates, :action => :new, :mode => :purchases, :product_id => session[:product_id]}) if @product_nature.purchasable?
      =list :price_templates

    -#b.cell :components do
      =toolbar do |t|
        -t.new :controller => :product_components, :product_nature_id => @product_nature.id
      =list :components

    -#b.cell :stocks do
      =toolbar do |t|
        -t.new :controller => :stocks, :product_nature_id => @product_nature.id
      =list(:stocks)

    -#b.cell :stock_moves do
      =list(:stock_moves)
