- main_toolbar do |t|
  - t.edit resource

= beehive do |b|
  - b.cell :details do
    = attributes_list do |l|
      - l.attribute :name
      - l.attribute :variety
      - l.attribute :derivative_of
      - l.attribute :number
      - l.attribute :active
      - l.attribute :category, url: true
      - l.attribute :description
  - b.cell :variants, title: ProductNature.human_attribute_name(:variants) do
    = list :variants
