=field_set do
  =f.association :process
  =f.input :usage
  =f.input :name
  =f.input :nature, :show => {:measure => :measure_options, :decimal => :decimal_options, :string => :string_options, :choice => :choice_options}
  =f.input :active

=field_set(:measure_options) do
  =f.association :unit

=field_set(:string_options) do
  =f.input :minimal_length
  =f.input :maximal_length

=field_set(:decimal_options) do
  =f.input :minimal_value
  =f.input :maximal_value

=field_set(:choice_options) do
  =f.nested_association :choices do
    =f.input :name
    =f.input :value
