=field_set do
  -association :product
  -# TODO: Cannot keep "if" in forms
  -if @mode != :sales
    -association :entity, :source => :suppliers
  -input :by_default

=field_set :amount do
  -association :category
  -input :pretax_amount
  -association :tax
  -input :currency, :source => :currencies
