-field_set do
  -association :product
  -if @mode != :sales
    -association :entity, :source => "Entity#suppliers"
  -input :by_default

=render :partial=>"amount_form"

-#  -input :use_range, "data-show"=>"interval"
-#  #interval
-#    =formalize do |f|
-#      -input :quantity_min
-#      -input :quantity_max

