=formalize do |f|
  -f.error 'price'
  -#f.error 'price_tax'
  -f.title :general
  -f.field :price, :product_id, :choices=>{:reflection=>:products}, :new=>true
  -if @mode != :sales
    -f.field :price, :entity_id, :choices=>:entities, :new=>true
  -f.field :price, :by_default
=render :partial=>"amount_form"

-#  -f.field :price, :use_range, "data-show"=>"interval"
-#  #interval
-#    =formalize do |f|
-#      -f.field :price, :quantity_min
-#      -f.field :price, :quantity_max

