=field_set do
  =f.association :product_nature
  -# TODO: Cannot keep "if" in forms
  -if @mode != :sales
    =f.association :entity, :source => :suppliers
  =f.input :by_default

=field_set :amount do
  =f.association :category
  =f.input :pretax_amount
  =f.association :tax
  =f.input :currency, :collection => currencies
