- main_toolbar do |t|
  - t.new

= janus do |j|
  - if CultivableZone.any?
    - j.face :map do
      = map(CultivableZone.all)
    - j.face :chart do
      = cell :cropping_plan_on_cultivable_zones, params: {campaign: Campaign.currents.first}
  - j.face :list do
    = main_list