- main_toolbar do |t|
  - t.new

= beehive do |b|
  - b.hbox do
    - b.cell :map do
      = map(CultivableZone.all)
    - b.cell :cropping_plan_on_cultivable_zones, params: {campaign: Campaign.currents.first}
  - b.hbox do
    - b.cell :list do
      = list