= main_toolbar do |t|
  - t.edit @catalog

= beehive do |b|
  - b.cell do
    = attributes_list do |l|
      - l.attribute :name
      - l.attribute :by_default
      - l.attribute :description

  - b.cell :prices do
    = list :prices