- main_toolbar do |t|
  - t.edit resource

= beehive do |b|
  - b.cell do
    = attributes_list do |l|
      - l.attribute :code
      - l.attribute :currency
      - l.attribute :usage
      - l.attribute :by_default
      - l.attribute :all_taxes_included
      - l.attribute :description
      - if resource.custom_fields.any?
        - l.custom_fields

  - b.cell :items do
    = toolbar do |t|
      - t.new(params: {controller: :catalog_items, catalog_id: resource.id})
    = list :items
