- main_toolbar do |t|
  - t.edit resource

= cobbles do |c|
  - c.cobble :general_informations do
    = attributes_list do |l|
      - l.attribute :code
      - l.attribute :currency
      - l.attribute :usage
      - l.attribute :by_default
      - l.attribute :all_taxes_included
      - l.attribute :description
      - if resource.custom_fields.any?
        - l.custom_fields

  - c.cobble :items do
    = cobble_toolbar do |t|
      - t.new(params: {controller: :catalog_items, catalog_id: resource.id})
    = cobble_list :items
