- if @started_at and @stopped_at
  :ruby
    series = []
    categories = {}
    date = @started_at
    while date < @stopped_at
      categories[date.year.to_s + date.month.to_s.rjust(3, '0')] = date.l(:format => "%b %Y")
      date = date >> 1
    end

    #
    #  data for bar chart indicator and by month
    #
    bar_indicators = [:total_bacteria_concentration, :somatic_cell_concentration, :clostridial_spores_concentration].collect{|i| Nomen::Indicators[i] }
    for indicator in bar_indicators
      items = ProductReading.where(indicator_name: indicator.name).between(@started_at, @stopped_at)
      if items.any?
        item_h = items.averages_of_periods.sort.inject({}) do |hash, pair|
          hash[pair.expr.to_i.to_s] = pair.average.to_s.to_d
          hash
        end
        series << {type: 'column', name: indicator.human_name, data: normalize_serie(item_h, categories.keys) }
      end
    end

    #
    #  data for bar chart indicator and by month
    #
    spline_indicators = [:fat_matters_concentration, :protein_matters_concentration, :urea_concentration].collect{|i| Nomen::Indicators[i] }
    for indicator in spline_indicators
      items = ProductReading.where(indicator_name: indicator.name).between(@started_at, @stopped_at)
      if items.any?
        item_h = items.averages_of_periods.sort.inject({}) do |hash, pair|
          hash[pair.expr.to_i.to_s] = pair.average.to_d
          hash
        end
        series << {type: 'spline', name: indicator.human_name, data: normalize_serie(item_h, categories.keys), marker: {line_width: 2}}
      end
    end

    #@TODO waiting for a array method for jsonize key in helper in order to make multiple Y AXIS
    # ex : y_axis: [{{title: {text: "matter_concentration"}}, {{title: {text: "cell_concentration"}, opposite: true}]
    #

  = column_chart(series, y_axis: {title: {text: :indicator_value.tl} , opposite: true}, x_axis: { categories: categories.values}, legend: {})
- else
  = no_data
