=link_to_remote(wikize(result[:title], :without_paragraph=>true), :url=>{:action=>:help, :article=>result[:name]}, :update=>:helpage)
%span.pertinence=tc(:pertinence, :value=>result[:pertinence].to_s)
