-listing_node = listing_node_column_label
-form_remote_tag(:url=>{:action=>:listing_node_update, :id=>listing_node.id, :type=>"column_label"}, :update=>"#{listing_node.key}_label") do
  %span{:onclick=>"this.hide(); $('#{listing_node.key}_label_tf').show();  $('#{listing_node.key}_validate_label').show(); "}=listing_node.label
  =text_field_tag("label", listing_node.label, :size=>listing_node.label.size, :id=>listing_node.key+"_label_tf", :style=>'display: none;')
  %span{:style=>'display: none;', :id=>listing_node.key+"_validate_label"}=submit_tag(tg(:validate))
