.branch{:class=>(listing_node.reflection? ? " reflection" : " column")}
  .shift
  .tools
    -unless listing_node.root?
      =link_to_remote("Supprimer", :url=>{:action=>:listing_node_delete, :id=>listing_node.id}, :update=>listing_node.parent.key)
  .item
    .content
      %span{:onclick=>"toggleElement('#{listing_node.key}')"}=listing_node.label
      %span.attribute=listing_node.name

-if listing_node.reflection?
  .branches{:id=>listing_node.key}=render(:partial=>"listing_reflection", :object=>listing_node)
