=formalize do |f|
  -f.error :user
  -f.title :subtitle
  -f.field :user, :last_name
  -f.field :user, :first_name
  -f.field :user, :email
  -f.field :user, :name
  -f.field :user, :password
  -f.field :user, :password_confirmation
  -f.field :user, :admin
  -f.title :rights
  -f.field :user, :role_id, :choices=>@current_company.roles.find(:all, :order=>:name).collect{|x| [x.name, x.id]}
  -#f.field :user, :reduction_percent
  -#f.field :user, :free_price
  -#f.field :user, :credits
=render :partial=>"roles_form"
