=formalize do |f|
  -f.error :user
  -f.title :subtitle
  -f.field :user, :last_name
  -f.field :user, :first_name
  -f.field :user, :email
  -f.field :user, :language, :choices=>languages
  -f.field :user, :name
  -f.field :user, :password
  -f.field :user, :password_confirmation
  -f.field :user, :admin, :onchange=>"displayRights()"
  -f.field :user, :employed, :onchange=>"displayEmployee()"

#employee{:style=>"display: #{@user.employed ? 'block' : 'none'}"}
  =formalize do |f| 
    -f.title User.human_attribute_name("employed")
    -f.field :user, :employment
    -f.field :user, :commercial
    -# f.field :user, :profession_id,  :choices=>{:reflection=>:professions}, :new=>{:action => :profession_create} 
    -f.field :user, :department_id, :choices=>{:reflection=>:departments}, :new=>{:controller => :company, :action => :department_create} 
    -f.field :user, :establishment_id, :choices=>{:reflection=>:establishments}, :new => {:controller => :company, :action => :establishment_create}

-user_role_id = nil 
#rights-conf
  =formalize(:id=>:show_rights) do |f|
    -f.title :rights
    -user_role_id = f.field :user, :role_id, :choices=>{:reflection=>:roles}, :new=>{:action=>:role_create}
    -#f.field :user, :reduction_percent
    -#f.field :user, :free_price
    -#f.field :user, :credits

  #rights=render :partial=>"rights_form"

:javascript
  window.displayRights = function(){ 
    toggleElement('rights-conf', !$('user_admin').checked); 
  }
  window.displayEmployee = function() { 
    toggleElement('employee', $('user_employed').checked); 
  }
  displayRights();
  displayEmployee();

=observe_field(user_role_id, :url=>{:action=>:user_create, :mode=>:rights}, :update=>:rights, :frequency => 0.25 , :with=>"user_role_id")
