=keishiki_tag(nil, {:class=>"flex vbox", :style=>'overflow:none'}) do
  .fields.flex
    =formalize do |f|
      -f.error 'user'
      -f.title tc("insert_actual_password")
      -f.field :user, :old_password, :null=>false
      -f.title tc("insert_password")
      -f.field :user, :password, :null=>false
      -f.field :user, :password_confirmation, :null=>false
    .end
  .actions=submit_tag tg(:apply)
