-form_tag do
  =formalize do |f|
    -f.error 'user'
    -f.title tc("insert_actual_password")
    -f.field :user, :old_password, :null=>false
    -f.title tc("insert_password")
    -f.field :user, :password, :null=>false
    -f.field :user, :password_confirmation, :null=>false
  .actions
    =submit_tag tg(:apply)
