-form_tag do
  =formalize do |f|
    -f.title tc(:general)
    -f.field :company, :name
    -f.field :company, :code
    -f.field :company, :entity_id
    -f.title :accountancy
    -journals = @current_company.journals.find(:all, :order=>:name).collect{|x| [x.name, x.id]}
    -f.field :company, :sales_journal_id, :choices=>journals
    -f.field :company, :purchases_journal_id, :choices=>journals
    -f.field :company, :bank_journal_id, :choices=>journals
  .actions
    =submit_tag tg(:update)
    =link_to tg(:cancel), :back
