=toolbar do
  -link :backup

-if @new_code
  %h2=tc(:your_new_code_is, :value=>@new_code)

%h2=tc :import_backup
-form_tag({}, :multipart=>true) do
  =formalize do |f|
    -f.field tc(:download), file_field(:backup, :path)
  .actions
    =submit_tag 'Restaurer'
