.search 
  =form_tag do
    %table
      %tr
        %td.label=tc(:start)
        %td=calendar_field_tag(:start, session[:statistics_start], :size=>8)
        %td.label=tc(:end)
        %td=calendar_field_tag(:end, session[:statistics_end], :size=>8)
        %td=submit_tag tg(:search_go)
.menu
  %ul
    %li=tc(:x_sales_orders, :count=>@sales_orders_count)
    -if @sales_orders_count > 0
      %li=tc(:total_amount)+@sales_orders_amount.to_s
      %li=tc(:total_invoiced_amount)+@invoiced_amount.to_s
    -for event_nature in @event_natures
      %li=h tc(:x_events_of_nature_y, :count=>event_nature['ecount'].to_i, :nature=>event_nature.name, :duration=>event_nature['esum'].to_i)
