=toolbar do |t|
  -t.update @user

%table
  %tr
    %td
      =evalue @user, :last_name
      =evalue @user, :first_name
      =evalue @user, :name
      =evalue @user, :commercial
    %td
      =evalue @user, :employment
      =#evalue @user, :profession, :label=>:name
      =evalue @user, :establishment, :label=>:name
      =evalue @user, :department, :label=>:name
