=toolbar do |t|
  -t.update @user

=attributes_list(@user) do |l|
  -l.attribute :last_name
  -l.attribute :first_name
  -l.attribute :name
  -l.attribute :commercial
  -l.attribute :employment
  -l.attribute :establishment, :label=>:name
  -l.attribute :department, :label=>:name
