=field_set(:major => true) do
  =f.association :nature
  =f.input :language, :collection => languages, :field => :select
  =f.input :last_name
  =f.input :first_name
  =f.input :active, :hide => :dead_on
  =f.input :code
  =f.input :prospect
  =f.input :client, :show => :client_informations
  =f.input :supplier, :show => :supplier_informations
  =f.input :attorney, :show => :attorney_informations
  =f.input :transporter

=field_set(:details) do # , :collapsed => true
  =f.input :country, :collection => countries
  =f.input :siren
  =f.input :activity_code
  =f.input :vat_number
  =f.input :born_on
  =f.input :dead_on
  =f.input :picture
  -# =f.input :ean13
  =f.custom_fields
  -#for datum in @custom_field_data
    =custom_field datum.custom_field.name, {:datatype => datum.custom_field.nature.to_sym, :id => "custom_field_datum_#{datum.custom_field_id}_value", :name => "custom_field_datum[#{datum.custom_field_id}][value]", :value => datum.value, :size => datum.custom_field.length_max, :options => {:include_blank => (datum.custom_field.required ? nil : '')}, :choices => datum.custom_field.choices.collect{|x| [x.name , x.id]}  }

=field_set(:client_informations) do
  =f.association :category
  =f.input :origin, :autocomplete => true
  =f.input :first_met_on
  =f.association :proposer
  =f.association :responsible, :source => :employees
  =f.input :vat_submissive
  =f.input :reminder_submissive, :show => :reduction_percentage
  =f.input :reduction_percentage
  =f.input :authorized_payments_count
  =f.input :deliveries_conditions, :field => :text
  =f.association :client_account, :source => :client_thirds, :buttons => {:new => {:number => Account.find_in_chart(:client_thirds).number}}

=field_set(:supplier_informations) do
  =f.association :supplier_account, :source => :supplier_thirds, :buttons => {:new => {:number => Account.find_in_chart(:supplier_thirds).number}}

=field_set(:attorney_informations, :after => :client_informations) do
  =f.association :attorney_account, :source => :attorney_thirds, :buttons => {:new => {:number => Account.find_in_chart(:attorney_thirds).number}}

=field_set(:coordinates, :major => true) do
  =f.nested_association(:emails) do
    =f.input :canal, :value => "email", :field => :hidden
    =f.input :coordinate, :field => :email, :label => "enumerize.entity_address.canal.email"

  =f.nested_association(:mails) do
    =f.input :canal, :value => "mail", :field => :hidden
    =f.input :mail_line_1
    =f.input :mail_line_2
    =f.input :mail_line_3
    =f.input :mail_line_4
    =f.input :mail_line_5
    =f.input :mail_line_6
    =f.input :mail_country, :collection => countries

  =f.nested_association(:phones, :before => :emails) do
    =f.input :canal, :value => "phone", :field => :hidden
    =f.input :coordinate, :field => :tel, :label => "enumerize.entity_address.canal.phone"

  =f.nested_association(:mobiles) do
    =f.input :canal, :value => "mobile", :field => :hidden
    =f.input :coordinate, :field => :tel, :label => "enumerize.entity_address.canal.mobile"

  =f.nested_association(:faxes) do
    =f.input :canal, :value => "fax", :field => :hidden
    =f.input :coordinate, :field => :tel, :label => "enumerize.entity_address.canal.fax"

  =f.nested_association(:websites) do
    =f.input :canal, :value => "website", :field => :hidden
    =f.input :coordinate, :field => :url, :label => "enumerize.entity_address.canal.website"
