-#= kujaku
- content_for :heading_toolbar do
  = form_tag(backend_search_path, :method => :get, :class => "search snippet-content") do
    = search_field_tag(:q, params[:q], :placeholder => tl(:search_placeholder))

- main_toolbar do |t|
  - t.new
  - t.merge

= main_list
