= kujaku do |k|
  - k.text
  - k.multi_choice :state, [:client, :supplier, :active].map{ |s| [s.tl, s] }
  - k.choice [:all.tl, :all], *resource_model.nature.values.map{ |s| [s.l, s] }, name: :nature, label: Entity.human_attribute_name(:nature)
-# content_for :heading_toolbar do
  = form_tag(backend_search_path, :method => :get, :class => "search snippet-content") do
    = search_field_tag(:q, params[:q], :placeholder => tl(:search_placeholder))

- main_toolbar do |t|
  - t.new params: {nature: :organization}, label: :new_organization.tl
  - t.new params: {nature: :contact}, label: :new_contact.tl
  - t.merge

= main_list
