-# TODO Manage soft_copy_to
-field_set do
  -input :name, :soft_copy_to => :catalog_name
  -input :comment
  -association :parent

-field_set(:catalog) do
  -input :catalog_name
  -input :catalog_description

