=render :partial=>"entities/search"

=unagi(:class=>:menu) do |u|
  -u.cell :indicator do
    %ul
      =li_link_to tc('x_entities',:count=>@current_company.entities.size), :controller=>:entities
  
-for menu, submenus in menus
  %fieldset.mn-index
    %legend=tl("menus.#{menu}")
    -for submenu, menuitems in submenus
      %fieldset.mn-index-sub
        %legend=tl("menus.submenus.#{submenu}")
        -for menuitem in menuitems
          =link_to(t("actions.#{menuitem[:controller]}.#{menuitem[:action]}"), menuitem)
-# Test bug HAML
  -Use haml (>= 3.0.25) if it don't work  
  
