-unvalidateds = Operation.unvalidateds
-#.menu.indicator
  %h2= tc('indicator')
  %ul
    %li= link_to tc('x_performed_operations', :count=>unvalidateds.count), :action=>:unvalidateds, :controller=>:operations

=dashboard(:production) do
  -cell :demo_bar
  -#hbox do
    -cell :ill_animals
    -cell :milk_temperature
  -hbox do
    -cell :last_cares
    -cell :demo_pie
  -hbox do
    -cell :placeholder
    -cell :placeholder
    -cell :placeholder
