-unvalidateds = Operation.unvalidateds
.menu.indicator
  %h2= tc('indicator')
  %ul
    %li= link_to tc('x_performed_operations', :count=>unvalidateds.count), :action=>:unvalidateds, :controller=>:operations
