=formalize do |f|
  - f.error :journal
  - f.field :journal, :name
  - f.field :journal, :code
  - f.field :journal, :currency_id, :choices=>{:reflection=>:currencies}
  - f.field :journal, :nature, :field=>:radio, :choices=>Journal.natures
