=form_tag do
  =field_set :select_closure_date, @journal do
    =field :closed_on, :source => @journal.closures.collect{|d| [::I18n.l(d), d]}
  =form_actions do
    =submit_tag(tc(:close_journal))
    =link_to_back(:label => :cancel)
