= timeline(resource) do |l|
  - l.side :analyses
  - l.side :issues
  - l.side :interventions
  - l.side :localizations, new: false
  - l.side :parcel_items, new: false
  - l.side :phases, new: false
  - l.side :supports, new: false
  - l.side :ownerships, new: false
  - l.side :versions, new: false
