=field_set do
  =f.association :payee
  =f.input :amount
  =f.input :to_bank_on
  =f.input :delivered
  =f.association :mode

=field_set(:depositable_options) do
  =f.association :responsible, :source => :employees
  =f.input :paid_on
  =f.input :bank_check_number
