- taxes = Tax.all
- if taxes.any?
  :ruby
    stopped_at = Time.now
    started_at = (stopped_at - 1.year).beginning_of_month

    series = []
    date = started_at
    periods = {}
    while date < stopped_at
      periods[date.l(format: "%b %Y")] = date..(date.end_of_month)
      date = date + 1.month
    end

    for tax in taxes
      collect_items   =   tax.collect_account.journal_entry_items.between(started_at, stopped_at).reorder(:printed_on)
      deduction_items = tax.deduction_account.journal_entry_items.between(started_at, stopped_at).reorder(:printed_on)

      data = []
      last = {collect: 0.0, deduction: 0.0}
      for name, period in periods
        collect = collect_items.where(printed_on: period).last
        deduction = deduction_items.where(printed_on: period).last
        last[:collect] = (collect ? collect.cumulated_absolute_balance.to_f : last[:collect])
        last[:deduction] = (deduction ? deduction.cumulated_absolute_balance.to_f : last[:deduction])
        data << - (last[:collect] + last[:deduction])
      end
      series << {name: tax.name, data: data }
    end

  = spline_chart(series, legend: { align: 'center', border_width: 0 }, x_axis: { title: {text: :months.tl}, categories: periods.keys}, y_axis: {title: {text: :amounts_in_currency.tl(currency: Preference[:currency])}})
- else
  = no_data
