- if @campaign and @activities
  :ruby
    # In theorie, @activity and @productions should be produced here from @campaign only
    series = []
    series << {name: Activity.model_name.human, data: @activities, size: "60%"}
    series << {name: Production.model_name.human, data: @productions, size: "80%", inner_size: "60%"}

  = pie_chart(series, legend: {})
- else
  %strong= :no_data.tl