#about_us{:style=>'text-align: center; padding: 64px;'}
  =link_to image_tag("ekylong.png"), "http://www.ekylibre.org"
  %table.evalue
    -for p in @properties
      %tr
        %td.label=p[0]
        %td.value=p[1]
