=form_tag() do
  %fieldset
    -#%legend=tc(:generate_last_journal_entry)
    =formalize do |f|
      -f.field content_tag(:label, tc(:with_assets_depreciations), :for=>:assets_depreciations), check_box_tag(:assets_depreciations)
    .actions=submit_tag tc(:generate), :name=>nil
