-# Eclated automatically (2011-06-08)
=toolbar do |t|
  -t.print :balance_sheet, :id=>@financial_year.id
  -t.print :income_statement, :id=>@financial_year.id

%h2= tc 'general_informations'
=attributes_list(@financial_year) do |l|
  -l.attribute :started_on
  -l.attribute :stopped_on
  -l.attribute :closed
  -l.attribute :code
