=toolbar do |t|
  -t.compute_balances @financial_year, :method=>:post
  -t.print_balance_sheet @financial_year
  -t.print_income_statement @financial_year
  -if @financial_year == @current_company.closable_financial_year
    -t.close @financial_year

%h2= tc 'general_informations'
=attributes_list(@financial_year) do |l|
  -l.attribute :started_on
  -l.attribute :stopped_on
  -l.attribute :closed
  -l.attribute :code

%h2
  -if @financial_year.closed
    =tc :balance
  -else
    =tc :last_computed_balance
=list :account_balances
