=toolbar do |t|
  -t.print_balance_sheet @financial_year
  -t.print_income_statement @financial_year

%h2= tc 'general_informations'
=attributes_list(@financial_year) do |l|
  -l.attribute :started_on
  -l.attribute :stopped_on
  -l.attribute :closed
  -l.attribute :code
