-# =master_form(:update, options.merge(:method => :put))
=form_tag({:action => :create}, {:method => :put}.merge(params[:dialog] ? {"data-dialog" => params[:dialog]} : {})) do
  -#=@product_nature.errors.inspect
  -if params[:redirect]
    =hidden_field_tag(:redirect, params[:redirect])
  .form-fields>=render(:partial => "form")
  =form_actions do
    =submit_tag(options[:submit]||tl(:update), "data-disable-with" => tl(:please_wait))
    =link_to(options[:cancel]||tl(:cancel), :back, (params[:dialog] ? {"data-close-dialog" => params[:dialog]} : {}))