Source: ekylibre
Section: misc
Priority: extra
Maintainer: Brice Texier <brice.texier@ekylibre.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://www.ekylibre.org

Package: ekylibre
Architecture: all
Depends: ruby1.9.1, libruby1.9.1, ruby1.9.1-dev, apache2 (>=2.2.4), apache2-prefork-dev, libcurl4-openssl-dev, build-essential, postgresql (>=8.3), zlib1g-dev, libxml2-dev, libpq-dev, libxslt1-dev
Suggests: ttf-liberation
Description: Simple ERP for little businesses
 Ekylibre is a simple ERP for little businesses. Ekylibre can manage companies,
 users, rights, CRM, general accounting, sales, purchases, stocks and 
 production. 
 It's aimed to be simple but all-in-one for little enterprises.
