-# TODO Check
-field_set do
  -input :nature
  -input :amount
  -input :name
  -association :collected_account # , :choices=>:collected_account, :resize=>true, :new=>{:number=>Account.find_in_chart(:collected_taxes).number}
  -association :paid_account # , :choices=>:paid_account, :resize=>true, :new=>{:number=>Account.find_in_chart(:paid_taxes)}
  -input :included
  -input :reductible
