-field_set do
  -input :name
  -input :number
  -input :commercial_name
  -input :comment

-field_set :nature do
  -association :category
  -association :unit
  -#input :nature, :show => {:subscription => :subscription}

-field_set :subscription do
  -association :subscription_nature
  -#input :duration

-field_set :nature do
  -#input :reduction_submissive
  -input :active
  -input :depreciable, :show => :asset_account
  -input :saleable, :show => :product_account
  -input :purchasable, :show => :charge_account
  -input :producible
  -input :deliverable#, :show => :stock_options
  -input :storable, :show => :stock_account#, :show => :stocks, :in => :stock_options

-#field_set :stocks, :in => :stock_options do
  -#nested_association(:stocks) do
    -#input :critic_quantity_min
    -#input :quantity_min
    -#input :quantity_max
    -#association :warehouse

-#price=render :partial=>'price_amount_form'

-field_set :accountancy do
  -association :product_account#,     :source => :products
  -association :charge_account#, :source => :charges
  -association :stock_account
  -association :asset_account

