= beehive do |b|
  - b.hbox do
    - b.cell :details do
      = attributes_list do |l|
        - l.attribute :name
        - l.attribute :nature
        - l.attribute :key
    - b.cell :archives do
      = list :archives
