- dimension = resource.activity.unit_preference(current_user)
- symbol_measure = Nomen::Unit.find(resource.user_quantity_unit(dimension)).symbol
- yield_symbol = Nomen::Unit.find(resource.user_per_area_unit(dimension)).symbol

- dataset = resource.calibrations.of_scale(scale).reorder(:id)

.chart-line
  - charts = %w(percentage stock_in_ground yield_by_calibration).map do |measure|
    - render "#{measure}_chart", dataset: dataset, resource: resource, scale: scale, dimension: dimension, symbol_measure: symbol_measure, yield_symbol: yield_symbol
  = even_cells(*charts, cell_tag: :span)