- current = inspection.unit_preference(current_user)
- choices = inspection.unit_choices.map { |e| [e, e.capitalize] }.to_h

- if choices.length > 1
  - cobble_meta_toolbar do
    .btn-group{style: "float: right;"}
      - choices.each do |pref, name|
        - classes = ["btn", "btn-default", ("active" if current == pref)]
        = link_to(set_view_preference_backend_inspection_path(preference: pref),  class: classes) do
          = name