- dimension = resource.activity.unit_preference(current_user)
- user_q_unit = resource.user_quantity_unit(dimension)
- user_a_unit = resource.user_per_area_unit(dimension)

- if resource.quantity_statable? dimension
  - ActivityInspectionPointNature.unmarketable_categories.each do |category|
    - if resource.points.of_category(category).any?
      .med-info
        %span.title= category.l
        %span.value= resource.points_percentage(dimension, category).round(2).l(precision: 2) + '%'
  - if resource.activity.inspection_calibration_scales.any?
    :ruby
      totals_of = [
        [:marketable_quantity, "marketable_DIMENSION", user_q_unit],
        [:marketable_yield, "marketable_net_yield", user_a_unit],
        [:projected_total, "gross_DIMENSION", user_q_unit],
        [:quantity_yield, "gross_yield_value", user_a_unit]
      ]
    - totals_of.each do |config|
      - method = config.first
      - name = config.second
      - unit = config.last
      .med-info
        %span.title= (name && Inspection.human_attribute_name(name.gsub(/DIMENSION/, dimension.to_s).tl)) || Inspection.human_attribute_name(method)
        %span.value= resource.send(method, dimension).in(unit).round(2).l(precision: 2)
