- current = activity.unit_preference(current_user)
- choices = activity.unit_choices.map { |e| [e, e.capitalize] }.to_h

- if choices.length > 1
  - cobble_meta_toolbar do
    .btn-group.pull-right
      - choices.each do |pref, name|
        - classes = ['btn', 'btn-default', ('active' if current == pref)]
        = link_to({ unit: pref, activity_id: activity.id, anchor: "#{CobblesHelper::Cobble.current.id}" }, class: classes) do
          = "models.inspection.#{name.downcase}".t
