- short_graph_name = {"items_count" => "items", "net_mass" => "mass" }[to_graph]

- data = data_series(resource, :"marketable_#{short_graph_name}_yield", dataset, yield_unit) { |name, result| {name: name, data: [result]} }

- yield_symbol_measure = Maybe(yield_unit).symbol.or_else(nil)

.chart-cell= column_highcharts(data, title: {text: :yield_by_calibration.tl}, y_axis: {reversed_stacks: false, title: {text: "#{yield_symbol_measure}"}, stack_labels: {enabled: true}}, legend: true, tooltip: {point_format: "{point.y: 1f} #{yield_symbol_measure}"}, plot_options: { column: {stacking: 'normal', data_labels: {enabled: true}}})
