- data = data_series(dimension, :"marketable_yield", dataset)

.chart-cell= column_highcharts(data, title: {text: :yield_by_calibration_x.tl(x: scale.name)}, x_axis: { categories: [''] }, y_axis: {reversed_stacks: false, title: {text: "#{yield_symbol}"}, stack_labels: {enabled: true}}, legend: true, tooltip: {point_format: "{point.y: 1f} #{yield_symbol}"}, plot_options: { column: {stacking: 'normal', data_labels: {enabled: true}}})
