=field_set do
  =f.input :name
  =f.association :parent_place
  =f.input :comment, :field => :text
  =f.input :reservoir, :show => :reservoir_options

=field_set(:reservoir_options) do
  -#association :product, :source => :availables
  =f.input :maximal_quantity
  =f.input :number

-#field_set :localization do
  -#association :establishment
  -#input :division
  -#input :subdivision
  -#input :subsubdivision
