=field_set do
  =f.input :name
  =f.referenced_association :parent
  =f.input :description, :field => :text
  =f.input :reservoir, :show => :reservoir_options

=field_set(:reservoir_options) do
  -#association :product, :source => :availables
  =f.input :maximal_quantity
  =f.input :number

-#field_set :localization do
  -#association :establishment
  -#input :division
  -#input :subdivision
  -#input :subsubdivision
