=toolbar do |t|
  -t.edit @warehouse


=beehive do |b|
  -b.cell :details do
    =attributes_list(@warehouse) do |l|
      -l.attribute :name
      -l.attribute :description
      -l.attribute :establishment
      -l.attribute :division
      -l.attribute :subdivision
      -l.attribute :subsubdivision
      -if @warehouse.reservoir
        -l.attribute :product, :label => :name, :url => true
        -l.attribute :number
        -l.attribute :quantity_max

  -b.tabbox do
    -#b.cell :stocks do
      =list(:stocks)
    -#b.cell :stock_moves do
      =list(:stock_moves)
