- series = []
- interventions = Intervention.real.of_civil_year(@campaign.harvest_year)
- if @campaign && interventions.any?
  :ruby
    started_at = interventions.reorder(:started_at).first.started_at
    stopped_at = interventions.reorder(:started_at).last.stopped_at

    unit = Onoma::Unit[:hour]

    categories = {}

    date = started_at
    stopped_at = started_at + 1 if started_at >= stopped_at
    while date < stopped_at
      categories[date.year.to_s + date.month.to_s.rjust(3, '0')] = date.l(format: "%b %Y")
      date = date + 1.month
    end

    # data for bar chart times by activities and by month
    # TODO add details time
    Worker.all.find_each do |worker|
      act_interventions = interventions.with_generic_cast(:doer, worker).reorder(:started_at).group_by { |m| m.started_at.year.to_s + m.started_at.month.to_s.rjust(3, '0') }
      if act_interventions.any?
        sums = {}
        act_interventions.each do |act_int_by_month|
          sums[act_int_by_month[0].to_i.to_s] = act_int_by_month[1].map{|i| i.duration}.compact.sum.to_i.in_second.in(unit).round(2).to_f
        end
        series << { name: worker.name, data: normalize_serie(sums, categories.keys), tooltip: {value_suffix: unit.symbol }, stack: 'time'}
      end
    end

- if series.any?
  = column_highcharts(series, y_axis: {title: {text: :duration.tl}, stack_labels: {enabled: true, format: "{total} #{unit.symbol}"}, labels: { format: "{value} #{unit.symbol}" }}, x_axis: { categories: categories.values}, legend: true, plot_options: { column: {stacking: 'normal'}})
- else
  = no_data
