table.fz.field { width: 100%; border-collapse: collapse; border-spacing: 0;}
fieldset .fz.field { margin: 1ex 0 0; }
fieldset .fz.field:first-child { margin-top: 0 }

table.fz.field td.label { padding: 2px 1em; width: 30%; vertical-align: top;}
table.fz.field td.label { text-align: right;}
html[dir="rtl"] table.fz.field td.label {text-align: left}

span.rad * { vertical-align: baseline;}

.mini-toolbar { margin: 0 8px; }

#overlay { opacity: 0.4; background: black; margin: 0; padding: 0; border: none; }
.dialog { background: white; border: 1px solid #777; padding: 8px; overflow: auto; overflow-y: scroll;}

.errors { border: 2px solid #C00; margin: 8px 0; }
.errors h2 { background: #C00; color: #FFF; padding: 4px 8px; margin: 0; font-size: 100%; }
.errors ul { padding: 8px 8px 8px 20px; margin: 0; }
ul.inline-errors { padding: 0; margin: 0; }
ul.inline-errors li { padding: 2px; margin: 0; list-style-type: none; color: #C00;}
