- if @cashes.any?
  .big-infos
    - @cashes.each do |cash|
      - balance = cash.balance
      .big-info{class: (balance > 0 ? :positive : balance < 0 ? :negative : :caution)}
        %span.title= cash.name
        %span.value= balance.l(currency: cash.currency)
- else
  = no_data
