- if @cashes.any?
  = infos do
    - @cashes.each do |cash|
      :ruby
        balance = cash.balance
        entry = cash.last_journal_entry
        label = entry ? :dated_cash.tl(cash: cash.name, on: entry.printed_on.l) : cash.name
        balance_class = if balance > 0
                          :positive
                        elsif balance < 0
                          :negative
                        else
                          :caution
                        end
      = info(label, balance.l(currency: cash.currency), class: balance_class)
- else
  = no_data
