- if @cashes.any?
  = infos do
    - @cashes.each do |cash|
      - balance = cash.balance
      = info(cash.name, balance.l(currency: cash.currency), class: (balance > 0 ? :positive : balance < 0 ? :negative : :caution))
- else
  = no_data
