=toolbar do |t|
  -t.edit @entity_category

=attributes_list(@entity_category) do |l|
  -l.attribute :name
  -l.attribute :by_default
  -l.attribute :description

%h2=tc(:x_prices, :count=>@entity_category.active_prices.count)
=toolbar do |t|
  -t.link :new, :action=>:new, :controller=>:product_nature_prices, :mode=>:sales
=list :prices
