%p= t("devise.mailer.registrations.signed_up.details", first_name: @resource.first_name, last_name: @resource.last_name, email: @resource.email)

%p= t("devise.mailer.registrations.signed_up.confirm")

