-# Generated automatically. Don't edit this file.
-custom_field_choice ||= f.object
.nested-fields
  = link_to_remove_nested_association(:choices, f)
  = f.input(:name, wrapper_html: {id: 'name-field'})
