- main_toolbar do |t|
  - t.edit resource

= cobbles do |c|
  - c.cobble :general_informations do
    = attributes_list do |l|
      - l.attribute :name
      - l.attribute :nature
      - l.attribute :active
      - l.attribute :required

  - if resource.choice?
    - c.cobble(:choices) do
      = toolbar do |t|
        - t.sort resource, {method: :post}
      = list :choices
