= beehive do |b|
  - for category in Nomen::DocumentCategories.to_a
    - aggregators = Aggeratio.of_category(category)
    - if aggregators.size > 0
      - b.cell Nomen::DocumentCategories[category].human_name do
        %ul.desc-list
          - for aggregator in aggregators
            %li
              %h3= link_to(aggregator.human_name, {:action => :show, :id => aggregator.id})
