-# = kujaku do |k|
  -# for p in @aggregator.parameters
= main_toolbar do |t|
  - t.export do |e|
    - e.send(@aggregator.class.aggregator_name, @aggregator.key, @aggregator)

.aggregator= @aggregator.to_html_fragment