=field_set do
  =f.input :name
  -# =f.input :number
  =f.input :description, :field => :text
  -# =f.input :started_on
  -# =f.input :area_measure
  -# =f.referenced_association :group
  -# =f.referenced_association :area_unit
  -# input :shape
