= toolbar do
  = tool_to(Issue.model_name.human, {action: :new, controller: :issues, target_id: land_parcel.id, target_type: land_parcel.class.name}, tool: 'new-issue')
  = tool_to(Analysis.model_name.human, {action: :new, controller: :analyses, product_id: land_parcel.id, nature: :soil_analysis}, tool: 'new-analysis')
