=field_set do
  =f.input :name
  =f.input :description, :as=>:text

=field_set(:depreciation) do
  =f.input :depreciable_amount
  =f.input :currency, :choices=>currencies
  =f.input :depreciation_method#, :choices=>Asset.deprecation_method.values.collect{|p| [p[0], p[1], {"data-show"=>"##{p[1]}_options"}]}, :field=>:radio
  =f.input :started_on

  -#=formalize(:id => :simplified_linear_options) do |f|
    -f.field :asset, :depreciation_percentage

  -#=formalize(:id => :linear_options) do |f|
    -f.field :asset, :stopped_on

=field_set(:accountancy) do
  =f.referenced_association :journal
  =f.referenced_association :allocation_account
  =f.referenced_association :charges_account

=field_set(:products) do
  =f.nested_association(:products)