- item ||= f.object

.nested-fields.item-storing-fields
  = f.input :quantity, input_html: { class: 'item-storing-quantity' }
  = f.referenced_association :storage, source: :storage
  .act
    - if f.object.destroyable?
      = link_to_remove_association(content_tag(:i) + h(:destroy.tl), f, 'data-no-turbolink' => true, class: 'destroy remove remove-item')