= beehive do |b|
  - b.cell do
    = list
  - b.hbox do
    -# b.cell :current_stocks_by_variety, params: {variety: 'herbicide'}
    -# b.cell :current_stocks_by_variety, params: {variety: 'fungicide'}
    -# b.cell :current_stocks_by_variety, params: {variety: 'insecticide'}
    - b.cell :working_sets_stocks, params: {working_set: 'phytosanitary_products'}
