- main_toolbar do |t|
  - t.edit resource

= cobbles do |c|
  - c.cobble :general_informations do
    = attributes_list do |l|
      - l.attribute :name
  - c.cobble(:identifiers) do
    = cobble_list(:identifiers)
