= journals_tag
- main_toolbar do |t|
  - t.edit @journal_entry if @journal_entry.updateable?
  - t.destroy @journal_entry, method: :delete, "data-confirm" => tg(:are_you_sure) if @journal_entry.destroyable?

= beehive do |b|

  - b.cell do
    = attributes_list do |l|
      - l.attribute :number
      - l.attribute :printed_on
      - l.attribute :created_at
      - if @journal_entry.resource
        - l.attribute :resource, url: true
      - l.attribute :journal, url: true
      - l.attribute :debit,  currency: true
      - l.attribute :credit, currency: true
      - l.attribute :real_debit,  currency: :real_currency
      - l.attribute :real_credit, currency: :real_currency
      - l.attribute :absolute_debit,  currency: :absolute_currency
      - l.attribute :absolute_credit, currency: :absolute_currency

  - b.cell :items, title: JournalEntry.human_attribute_name("items") do
    = list(:items)

