- title = time_log.human_period
- details = capture do
  %p
    = time_log.worker.name

  - if time_log.description
    %p= time_log.description

= link_to backend_worker_time_log_path(time_log), class: "time-log", title: title, data: {content: details} do
  = time_log.human_duration + " | " + time_log.worker.name
