- if @financial_years
  :ruby
    #
    cashes = Cash.all

    started_at = @financial_years.started_at
    stopped_at = @financial_years.stopped_at

    series = []
    categories = {}
    date = started_at
    while date < stopped_at
      categories[date.year.to_s + date.month.to_s.rjust(2, '0')] = date.l(format: "%b %Y")
      date = date + 1.month
    end

    for cash in cashes
      items = cash.lasts_of_periods(started_at, stopped_at)

      item_h = items.sort.inject({}) do |hash, pair|
        hash[pair.printed_at.l(format: "%b %Y")] = (pair.cumulated_absolute_debit - pair.cumulated_absolute_credit).to_d
        hash
      end

      for cat in categories.keys
        item_h[cat] ||= 0.0
      end
      series << {name: cash.name, data: item_h.collect{|k,v| v.to_s.to_f } }
    end

  = line_chart(series,legend: { layout: 'vertical', align: 'bottom', vertical_align: 'bottom', border_width: 0 }, x_axis: { title: {text: :months.tl}, categories: categories.values}, y_axis: {title: {text: :values.tl}})
- else
  = no_data