- if @financial_years
  :ruby
    #
    cashes = Cash.all

    started_on = @financial_years.started_on
    stopped_on = @financial_years.stopped_on

    series = []
    categories = {}
    date = started_on
    while date < stopped_on
      categories[date.year.to_s + date.month.to_s.rjust(2, '0')] = date.l(:format => "%b %Y")
      date = date >> 1
    end
    
    for cash in cashes
      items = cash.lasts_of_periods(started_on,stopped_on)
      
      item_h = items.sort.inject({}) do |hash, pair|
        hash[pair.printed_on.l(:format => "%b %Y")] = (pair.cumulated_absolute_debit - pair.cumulated_absolute_credit).to_d
        hash
      end
      
      for cat in categories.keys
        item_h[cat] ||= 0.0
      end      
      series << {name: cash.name ,data: item_h.collect{|k,v| v.to_s.to_f } }
    end

  = line_chart(series,legend: { layout: 'vertical', align: 'bottom', vertical_align: 'bottom', border_width: 0 }, x_axis: { categories: categories.values})
- else
  %strong= :no_data.tl