-field_set do
  -input :name
  -input :code
  -input :code2
  -input :ean13
  -input :catalog_name
  -input :comment, :field => :text

-field_set :nature do
  -association :category
  -association :unit
  -input :weight
  -# input :price
  -input :nature, :show => "[NATURE]_options"

-field_set :service_options do
  -input :service_coeff

-field_set :subscrip_options do
  -association :subscription_nature
  -input :duration

-field_set :nature do
  -input :reduction_submissive
  -input :active
  -input :for_sales, :show => :sales_account
  -input :for_purchases, :show => :purchases_account
  -input :for_productions
  -input :deliverable, :show => :stockable
  -input :stockable, :show => :stocks

-field_set :stocks do
  -nested_association(:stocks) do
    -input :critic_quantity_min
    -input :quantity_min
    -input :quantity_max
    -association :warehouse

-#price=render :partial=>'price_amount_form'

-field_set :accountancy do
  -input :sales_account, :source => "Account#products"
  -input :purchases_account, :source => "Account#charges"
