-warehouse_id = nil
=formalize do |f|
  -f.error :product
  -f.error :stock
  -f.title :identification
  -f.field :product, :name
  -f.field :product, :code
  -f.field :product, :code2
  -f.field :product, :ean13
  -f.field :product, :catalog_name
  -f.field :product, :comment, :field=>:textarea
  -f.title :nature
  -f.field :product, :category_id, :choices=>{:reflection=>:product_categories}, :new=>true
  -f.field :product, :unit_id, :choices=>{:reflection=>:units}, :new=>true
  -f.field :product, :weight
  -# f.field :product, :price
  -f.field :product, :nature, :field=>:radio, :choices=>Product.natures.collect{|p| [p[0], p[1], "data-show"=>"##{p[1]}_options"]}
=formalize(:id=>:service_options) do |f|
  -f.field :product, :service_coeff
=formalize(:id=>:subscrip_options) do |f|
  -f.field :product, :subscription_nature_id,  :choices=>{:reflection=>:subscription_natures}, :new=>true
  -f.field :product, :duration

=formalize do |f|
  -f.field :product, :reduction_submissive
  -f.field :product, :active
  -f.field :product, :for_sales, "data-show"=>"#sales_account"
  -f.field :product, :for_purchases, "data-show"=>"#purchases_account"
  -f.field :product, :for_productions
  -f.field :product, :deliverable
  -f.field :product, :stockable, "data-show"=>"#product_form_stocks"
  -# f.field :product, :trackable
=formalize(:id=>:product_form_stocks) do |f|
  -f.title :stocks_preferences
  -f.field :stock, :quantity_min
  -f.field :stock, :critic_quantity_min
  -f.field :stock, :quantity_max
  -if @warehouses.size > 1
    -warehouse_id = f.field :stock, :warehouse_id, :choices=>{:reflection=>:warehouses}, :new=>true
-#price=render :partial=>'price_amount_form'

=formalize do |f|
  -f.title :accountancy
  -f.field :product, :sales_account_id, :choices=>{:reflection=>:products_accounts}, :new=>true, :html_options=>{:id=>'sales_account'}
  -f.field :product, :purchases_account_id, :choices=>{:reflection=>:charges_accounts}, :new=>true, :html_options=>{:id=>'purchases_account'}
