-# Generated automatically. Don't edit this file.
-product_group_passing ||= f.object
.nested-fields
  =link_to_remove_association('labels.remove_passage'.t, f, :class => 'nested-remove remove-passage')
  #group-field.control-group.selector.optional
    %label.control-label.optional{:for => 'product_group_passing-group-input'}
      =ProductGroupPassing.human_attribute_name('group')
    .controls
      =selector(:product_group_passing, :group, {:controller=>"product_groups", :action=>:unroll}, {:object => product_group_passing}, :id => 'product_group_passing-group-input', :class => 'selector optional') + link_to(('<span class="icon"></span><span class="text">' + h('labels.new'.t) + '</span>').html_safe, {:controller => :product_groups, :action => :new}, 'data-new-item' => 'product_group_passing-group-input', :class => 'btn btn-new')
      -for error in product_group_passing.errors['group']
        %span.help-inline=error
  =f.input(:entered_at, :wrapper_html => {:id => 'entered-at-field'})
  =f.input(:departed_at, :wrapper_html => {:id => 'departed-at-field'})
