- main_toolbar do |t|
  - t.edit resource

= beehive do |b|
  - b.cell do
    = attributes_list do |l|
      - l.attribute :number
      - l.attribute :reference_number
      - l.attribute :product, url: true
      - l.attribute :sampler, url: true
      - l.attribute :sampled_at
      - l.attribute :analyser, url: true
      - l.attribute :analysed_at

  - b.cell :items do
    = list :items

