-field_set do
  -input :created_on
  -association :emitter_cash, :source => "entity#cashes"
  -input :emitter_amount
  -association :receiver_cash, :source => "entity#cashes"
  -input :comment, :field => :text
