- if @campaigns && @activity_productions.any?
  = visualization({async_url: backend_visualizations_map_cells_visualizations_path(@url_params)}, {}) do |v|
    - v.control :zoom
    - v.control :scale
    - v.control :fullscreen
    - v.control :layer_selector
    -  #TODO !!!!!
    - v.center [44.1799572846565, -0.75576301664114]
- else
  .placeholding-message= :no_production_defined_for_current_campaign.tn
