-field_set do
  -input :name
  -association :event

-field_set(:drug) do
  -association :drug_allowed
  -input :quantity
  -association :quantity_unit
  -input :per_animal_unit
  -input :drug_admission_path