-field_set do
  -input :name
  -association :parent
  -input :comment, :field => :text
  -input :reservoir, :show => :reservoir_options

-field_set(:reservoir_options) do
  -association :product, :source => :availables
  -input :quantity_max
  -input :number

-field_set :localization do
  -association :establishment
  -input :division
  -input :subdivision
  -input :subsubdivision
