-# TODO Check
=field_set do
  =f.referenced_association :sale_item, :field => :hidden
  =f.referenced_association :nature
  =f.input :quantity
  -# input :suspended
  =f.referenced_association :address
  =f.input :description

=field_set :interval, :depend_on => :nature do
  =f.input :started_at, :if => :period?
  =f.input :stopped_at, :if => :period?
  =f.input :first_number, :if => :quantity?
  =f.input :last_number,  :if => :quantity?
