- if @subscription_nature.quantity?
  %label= :select_number.tl
  = text_field_tag(:instant, session[:subscriptions_instant], :size => 6)
- elsif @subscription_nature.period?
  %label= :select_date.tl
  = date_field_tag(:instant, session[:subscriptions_instant])
- else
  %strong [NoNatureError]
