=kujaku do |k|
  -k.criterion do
    =select_tag(:nature_id, options_for_select(SubscriptionNature.to_a.collect{|x| [x.name, x.id]}, :selected=>params[:nature_id].to_i), "data-dependents"=>"#subscriptions_options")
    %span#subscriptions_options{"data-refresh"=>url_for(), "data-refresh-mode"=>"update"}=render 'options'

=list
