.map-background-container
  .map-background
    .map-background-header
      .map-background-name=link_to map_background.name, edit_backend_map_background_path(map_background)
      =link_to '', toggle_enabled_backend_map_background_path(map_background), title: :show.tl, class: "map-background-icon map-background-display #{map_background.enabled ? 'enable': ''}", remote: true, "data-type" => "json", method: :patch
      =link_to '', edit_backend_map_background_path(map_background), title: :edit.tl, class: 'map-background-icon map-background-edit'
    :ruby
      bg = map_background.to_json_object
      zoom = bg.try(:[], 'maxZoom')

    .map-view{data: {visualization: {box: {height: 250}, backgrounds: bg, view: {center: CultivableZone.first.shape_centroid, zoom: zoom}.compact, map: {attributionControl: false, setDefaultBackground: true, dragging: false, touchZoom: false, doubleClickZoom: false, boxZoom: false, tap: false}}.to_json}}
