-# TODO Form
=sales_steps

=field_set do
  -association :client, :source => :clients

=field_set :addresses, :depend_on => :client do
  -association :address
  -association :delivery_address
  -association :invoice_address

=field_set :sales_conditions do
  -association :nature
  -association :responsible, :source => :employees, :new => {:employed => 1}
  -association :transporter, :source => :transporters
  -input :comment
  -input :letter_format, :show => :letter_options

=field_set :letter_options do
  -input :subject
  -input :function_title
  -input :introduction
  -input :conclusion
