-if !session[:errors].nil?
  -if !session[:errors].empty?
    .errorExplanation
      %h2=session[:errors].size.to_s+" erreur(s) ont empéché l'enregistrement"
      %p Il y a eu des problèmes avec les champs suivantes :
      %ul
        -for error in session[:errors]
          %li=error.to_s

=error_messages('sale', :object=>@credit) if @credit

=form_tag() do
  =list :creditable_lines
  .actions
    =submit_tag(tc('validate'))
 
