=form_tag({}, :method=>:get) do 
  .search
    %table
      %tr
        %td.crit
          %label=tc("nb_years")
          =text_field_tag(:nb_years, session[:nb_year].to_s, :size=>5)
        %td.submit{:rowspan=>3}
          =submit_tag tg(:export), :name=>nil
      %tr
        %td.crit
          %label=tc("data_to_export")
          -for x in [:quantity, :pretax_amount, :amount]
            =radio_button_tag "mode", x
            %label{:for=>"mode_#{x}"}=SaleLine.human_attribute_name(x)
      %tr
        %td.crit
          %label=tc("source")
          -for x in [:sales_invoices, :sales]
            =radio_button_tag "source", x
            %label{:for=>"source_#{x}"}=tc(x)
