@import "compass/css3";
@import "config.css.scss";

@import "active-list/minimal";
@import "active-list/background";
@import "active-list/theme";
$list-line-backgrounds: ("" rgba(255, 255, 255, 0)) (".odd" rgba(255, 255, 255, 0.5)) (".even" rgba(255, 255, 255, 0.5));
$list-column-backgrounds: ("" rgba(255, 255, 255, 0)) (".act" rgba(255, 134, 0, 0)) (".sor" rgba(0, 18, 132, 0.05));
$list-hover-backgrounds: ("" rgba(255, 255, 255, 0)) (":hover" $hover-mask);

// $default-border-color: $menu-border-color;
// $zz-menu-width: 250px;

.active-list[data-list-source], .active-list { 
  table.list { 
    border-collapse: collapse;
    width: 100%;
    border: $menu-border;
    z-index: 2;
    //@include box-shadow(0 0 7px rgba(0, 0, 0, 0.15));
    @include incrust-shadow;
    thead { 
      th { 
        border: $menu-border;
        padding: round($fs-normal*0.2) round($fs-normal*0.4);
        @include text-align(left);
        @include background($menu-background);
        @include background-image(linear-gradient(lighten($menu-background, $default-lightness-variation), darken($menu-background, $default-lightness-variation)));
        &[data-list-column-sort] { 
          .icon { 
            @include active-list-sprite(sort); 
            @include inline-block;
            @include left(margin, round($fs-normal*0.2));
          }
          &.sor[data-list-column-sort="desc"] .icon { 
            @include active-list-sprite(sort-down); }
          &.sor[data-list-column-sort="asc"] .icon { 
            @include active-list-sprite(sort-up); }
        }
        &.spe { 
          
          width: 16px;
          height: 16px;
          .list-menu { 
            position: relative;
            background: none;
            .list-menu-start { 
              padding: 2px;
              width: 16px;
              height: 16px;
              .icon { @include active-list-sprite(menu); display: block; }
              .text { display: none; }
            }
            &:hover {
              @include menu-shadow;
              .list-menu-start { 
                background-color: $menu-background; 
                z-index:5000; 
              }
            }
            ul { 
              @include menu;
              li { 
                @include menu-item;
                ul { 
                  & { right: $menu-width; }
                  html[dir="rtl"] & { left: $menu-width; }
                }
                a { 
                  &.pages     .icon { @include active-list-sprite(pages); }
                  &.columns   .icon { @include active-list-sprite(columns); }
                }
                &.export    .icon { @include active-list-sprite(export); }
                &.check     .icon { @include active-list-sprite(check); }
                &.checked   .icon { @include active-list-sprite(true); }
                &.unchecked .icon { @include active-list-sprite(false); }
                &:hover { 
                  text-decoration: none;
                  background: $menu-background-hover;
                }
                &.separator { 
                  @include menu-separator;
                }

              }
            }
            & > ul {
              top: 19px;
            }

          }
        }
      }
    }
    tbody { 
      tr {
        td { 
          padding: round($fs-normal*0.2) round($fs-normal*0.4);
          border-top: $menu-border-width solid mix($base-color, #FFF, 10%);
          border-bottom: none;
          border-left: none;
          border-right: none;
          &.chk,&.act, &.dld, &.bln, &.dat, &.web  { 
            @include text-align(center);
            .checkbox-true, .checkbox-false { margin: 0 auto; }
          }
          &.dec, &.flt, &.int { @include text-align(right) }
          &.country { white-space: nowrap; }
          &.color { color: white; text-shadow: 0 0 2px #000; width: 6ex; @include text-align(center) }
        }
        &:first-child td { 
          border-top: none;
        }
      }
    }

    @include list-colors($desktop-background);
  }
  .extras { 
    z-index: 0;
    @include background(transparentize($desktop-background, 0.7));
    .pagination { 
       @include text-align(left);
       & > * { 
         margin: 0 2px;
       }
       .first-page, .previous-page, .next-page, .last-page {
         @include inline-block;
         @include squish-text;
       }
        html[dir="rtl"] & .last-page,  & .first-page {
          @include active-list-sprite(first-page);
        }
        html[dir="rtl"] & .first-page,  & .last-page {
          @include active-list-sprite(last-page);
        }
        html[dir="rtl"] & .next-page,  & .previous-page {
          @include active-list-sprite(previous-page);
        }
        html[dir="rtl"] & .previous-page, & .next-page {
          @include active-list-sprite(next-page);
        }
       .separator { 
         @include inline-block;
         width: $menu-border-width;
         $margin:$menu-border-width * 3 ;
         margin: 0 $margin;
         height: 1.2em;
         background: $menu-border-color;
       }
    }
  }
}









.active-list[data-list-source] table.list, .active-list table.list, table.list { 
  width: 100%;
  tr.total {
    td, th { 
      border: $menu-border;
      font-size: $fs-large; 
      font-weight: bold;
      padding: 2px;
      html[dir="ltr"] & { text-align:right; }
      html[dir="rtl"] & { text-align:left; }
    }
    th { 
      padding: 4px 6px;
      @include background-image(linear-gradient(lighten($menu-background, 4%), darken($menu-background, 4%)));
    }
    td { 
      padding: 4px;
      color: $text-color;
      @include background-image(linear-gradient(lighten($desktop-background, 4%), darken($desktop-background, 4%)));
    }
    &.invalid td { color: #D20; }  
  }
  tbody {
    tr.empty { 
      td { 
        text-align: center;
        color: rgba(0, 0, 0, 0.3);
        font-weight: bold;
        /*padding: 1ex !important;*/
      }
    }
    tr.odd, tr.even, tr.empty { 
      td { 
        padding-top: $fs-normal*0.25;
        padding-bottom: $fs-normal*0.25;
      }
    }
    td.act { 
      width: 16px;
      a { 
        color: transparent;
        font-size: 0;
        @include icons-sprite(action);
        display: block;
        height: 16px;
        width: 16px;
        margin: 0 auto;

        &.show { @include icons-sprite(print); }
        &.destroy { @include icons-sprite(destroy); }

        &.abort       { @include icons-sprite(destroy); }
        &.action      { @include icons-sprite(action); }
        &.backup      { @include icons-sprite(right); }
        &.cancel      { @include icons-sprite(cancel); }
        &.checked     { @include icons-sprite(true); }
        &.close       { @include icons-sprite(close); }
        &.column      { @include icons-sprite(column); }
        &.confirm     { @include icons-sprite(validate); }
        &.configure   { @include icons-sprite(configure); }
        &.correct     { @include icons-sprite(edit); }
        &.edit,        &.update { @include icons-sprite(edit); }
        &.new,         &.create { @include icons-sprite(new); }
        &.destroy,     &.delete { @include icons-sprite(destroy); }
        &.divide      { @include icons-sprite(divide); }
        &.down        { @include icons-sprite(down); }
        &.duplicate   { @include icons-sprite(duplicate); }
        &.extract     { @include icons-sprite(action); }
        &.filter      { @include icons-sprite(filter); }
        &.firefox     { @include icons-sprite(down); }
        &.help        { @include icons-sprite(help); }
        &.import      { @include icons-sprite(left); }
        &.letter      { @include icons-sprite(mark); }
        &.load        { @include icons-sprite(load); }
        &.logout      { @include icons-sprite(logout); }
        &.mail        { @include icons-sprite(mail); }
        &.merge       { @include icons-sprite(merge); }
        &.point       { @include icons-sprite(point); }
        &.print       { @include icons-sprite(print); }
        &.reflect     { @include icons-sprite(action); }
        &.refuse      { @include icons-sprite(destroy); }
        &.register    { @include icons-sprite(new); }
        &.restore     { @include icons-sprite(left); }
        &.sort        { @include icons-sprite(sort); }
        &.table       { @include icons-sprite(table); }
        &.unchecked   { @include icons-sprite(false); }
        &.up          { @include icons-sprite(up); }
      }
     
    }
  }
  
}


table.active-list tr.total.valid   td { color: #090; }  
table.active-list tr.subtotal.invalid td { color: #D20; }  
table.active-list tr.subtotal.valid   td { color: #090; }  
table.active-list tr.first-line    td { border-top: 2px solid #F77; }  
table.active-list tr.last-line     td { border-bottom: 2px solid #F77; }  
table.active-list tr.inline-errors td { background: transparent; padding:8px 4px 0; border-left:none; border-right:none; }
