@import "config.css.scss";
$break-small: 480px;
$break-large: 768px;
$break-huge: 1200px;

@mixin single-respond-to($media) {
  @if $media == phone {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: $break-large) { @content; }
  }
  @else if $media == table {
    @media only screen and (min-width: $break-huge) { @content; }
  }
}

@mixin respond-to($media1, $media2: undefined, $media3: undefined, $media4: undefined, $media5: undefined) {
  @include single-respond-to($media1) { @content };
  @include single-respond-to($media2) { @content };
  @include single-respond-to($media3) { @content };
  @include single-respond-to($media4) { @content };
  @include single-respond-to($media5) { @content };
}

@mixin break-percent($property, $percent) { 
  @include single-respond-to(tablet) { 
    #{$property}: round($percent * $break-small);
  }
  @include single-respond-to(desktop) { 
    #{$property}: round($percent * $break-large);
  }
  @include single-respond-to(table) { 
    #{$property}: round($percent * $break-huge);
  }
}


html.authentication {
  height: 100%;
  width: 100%;
  body { 
    height: 100%;
    width: 100%;
  }
}

html.admin { 
  height:100%;
  $side-percent: 0.22;
  &[dir="ltr"] body #wrap {
    #side { margin-right: -100% }
    #main { @include break-percent(margin-left, $side-percent); }
  }
  &[dir="rtl"] body #wrap { 
    #side { margin-left: -100% }
    #main { @include break-percent(margin-right, $side-percent); }
  }
  body { 
    width: 100%;
    height: 100%;
    #wrap { 
      width: 100%;
      display: block;
      #side { 
        position: absolute;
        top: 0;
        left: 0;
        vertical-align: top;
        @include break-percent(width, $side-percent);
      }
      #main {
        vertical-align: top;
        #nav { display: none; }
      }
    }
    @include respond-to(phone) {
      $gap: round($default-gap * 0.5);
      #wrap {
        display: block;
        #side { 
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          display: none;
          &.visible { 
            display: block;
          }
        }
        #main { 
          display: block;
          .login { 
            width: auto;
            margin: $gap 0;
          }
          #content { 
            padding-left: $gap;
            padding-right: $gap;
          }
        }
      }
    }
  }
}

