@import "compass/css3";
@import "compass/utilities";
$experimental-support-for-svg: true;


@function merge-color($color-1, $color-2) { 
  $col2: rgb(red($color-2), green($color-2), blue($color-2));
  $percent: 100*alpha($color-2);
  @return mix($col2, $color-1, $percent);
}

@function merge-colors($color, $color-1: rgba(0, 0, 0, 0), $color-2: rgba(0, 0, 0, 0), $color-3: rgba(0, 0, 0, 0), $color-4: rgba(0, 0, 0, 0), $color-5: rgba(0, 0, 0, 0), $color-6: rgba(0, 0, 0, 0), $color-7: rgba(0, 0, 0, 0), $color-8: rgba(0, 0, 0, 0), $color-9: rgba(0, 0, 0, 0), $color-10: rgba(0, 0, 0, 0)) { 
  @return merge-color(merge-color(merge-color(merge-color(merge-color(merge-color(merge-color(merge-color(merge-color(merge-color($color, $color-1), $color-2), $color-3), $color-4), $color-5), $color-6), $color-7), $color-8), $color-9), $color-10);
}

$list-line-backgrounds: ("" rgba(255, 255, 255, 0)) (".odd" rgba(255, 255, 255, 0.5)) (".even" rgba(255, 255, 255, 0.5));
/*$list-column-backgrounds: ("" rgba(255, 255, 255, 0)) (".act" rgba(255, 134, 0, 0.14)) (".sor" rgba(0, 18, 132, 0.05));*/
$list-column-backgrounds: ("" rgba(255, 255, 255, 0)) (".act" rgba(255, 134, 0, 0)) (".sor" rgba(0, 18, 132, 0.05));
$list-hover-backgrounds: ("" rgba(255, 255, 255, 0)) (":hover" rgba(209, 218, 255, 0.3));

@mixin list-colors($bgcolor: #000000, $selector: '&') { 
  tr { 
    #{$selector} { 
      @each $line-background in $list-line-backgrounds { 
        &#{nth($line-background, 1)} { 
          @each $hover-background in $list-hover-backgrounds { 
            &#{nth($hover-background, 1)} { 
              @each $col-background in $list-column-backgrounds { 
                td#{nth($col-background, 1)} { 
                  background-color: merge-colors($bgcolor, nth($line-background, 2), nth($col-background, 2), nth($hover-background, 2));
                }
              }
            }
          }
        }
      }
    }
  }
}


$list-layout: smart;
@import "themes/tekyla/list/*.png";
@include all-list-sprites;

div.list { margin: 0; }

table.list { 
  border-collapse: collapse; 
  width:100%;  
  padding:0; 
  margin: 0;
  tbody, & thead th { border: 1px solid #AAA;}
  th { 
    background: #DDD inline-image("themes/tekyla/boss-effect.png") center repeat-x;
    padding: 0; 
    & > a {
      .text {
        color: #555; 
        font-weight: normal; 
        @include text-shadow(white 1px 1px 1px);
      }
    }
    html[dir="ltr"] & { text-align: left; }
    html[dir="rtl"] & { text-align: right; }
    &.act { 
      background-color: #F1D7C9; 
      width:16px; 
      text-align: center; 
    }
  }
  thead { 
    th { 
      a { 
        display: block; 
        text-decoration:none; 
        color: #000; 
        padding: 3px 4px; 
        span { 
          vertical-align: middle;
        }
        span.icon {
          width:11px;
          @include inline-block;
        }
        &.sortable {
          span { margin: 0 2px;}
          background-position: right center; 
          background-repeat: no-repeat; 
          html[dir="rtl"] & { background-position: left center; padding-left: 12px; }
          &.nsr  .icon { @include list-sprite(sort); height: 12px;}
          &.desc .icon { @include list-sprite(sort-down); height: 5px;}
          &.asc  .icon { @include list-sprite(sort-up); height: 5px}
        }
      }
      &:hover { background-color: #E6EBFB; }
      &.sor { background-color: #C9D7F1; color: #000; font-weight: normal; }
    }
  }
  tr {
    &:first-child td {
      border-top: none;
    }
    td {
      border-top: 1px solid #EEE;
      padding: 0px 4px;
      color: #000; 
      height:22px;
      &.chk { text-align:center }
      &.act { 
        padding: 1px; 
        a {
          margin: 0; 
          padding: 2px; 
          display:block; 
          text-align: center;
          .icon { margin: 0 }
          .text { display: none; }
          img {padding: 0; margin: 0; display:block; border: none;}
        }
      }
      &.dec { text-align: right; }
      &.flt { text-align: right; }
      &.int { text-align: right; }
      &.dld { text-align: center; }
      &.bln { 
        text-align: center; 
        div { 
          margin: 0 auto; 
          width: 16px;
          height: 16px;
        }
        .checkbox-true { @include list-sprite(checked); }
        .checkbox-false { @include list-sprite(unchecked); }
      }
      &.dat { text-align: center; }
      &.web { text-align: center; }
      &.country { white-space: nowrap; }
      &.code { font-family: "Liberation Mono", monospace; }
      &.code * { font-family: "Liberation Mono", monospace; }
      &.color { color:white; text-shadow: black 0 0 2px; width: 6em; text-align: center; }
      &.rights * { font-size: 11px; }
      &.rights.more * { color: #080; }
      &.rights.less * { color: #F00; }
    }
    &.child { 
      td { color: #77A; }
      td:first-child { padding:0 20px; }
    }
    &.empty { 
      td { text-align:center;  color: #77A; padding: 1em; }
      &:hover td { background: white; }
    }
  }

  thead th.col, table.list thead th.act { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; }

  tfoot { 
    tr th { 
      clear:both; 
      border:none; 
      background: #EEEFFA image-url("themes/tekyla/shadow-bottom.png") repeat-x top center !important; 
      background: rgba(240,242,250,0.7) image-url("themes/tekyla/shadow-bottom.png") repeat-x top center !important;
      font-weight: normal;  
      div.pagination {
        padding: 4px; 
        display:block;
        * { padding: 2px 4px; margin: 0 2px }
        span.current { font-weight:bold; color: black; }
        em { font-weight:bold; color: black; font-style: normal; }
        span.disabled {
          @include opacity(0.5);
        }
        .paginator { 
          padding: 5px;
          @include inline-block;
          .ui-slider-horizontal {
            width: 200px;
            height: 4px;
            position: relative;
            background: white;
            border: 1px solid #AAA;
            padding: 0;
            @include border-radius(3px);
            .ui-slider-handle { 
              position: absolute;
              top: -6px;
              z-index: 2;
              width: 16px; 
              height: 16px;
              margin-left: -8px;
              padding:0;
              background: #48A;
              @include box-shadow(0 0 4px black inset);
              @include border-radius(8px);
            }
          }
        }
        .last-page, .first-page, .next-page, .previous-page {
          @include hide-text;
          @include inline-block;
          width: 16px;
          height: 16px;
          padding: 0;
        }
        html[dir="rtl"] & .last-page, html[dir="ltr"] & .first-page { 
          @include list-sprite(first);
        }
        html[dir="rtl"] & .first-page, html[dir="ltr"] & .last-page { 
          @include list-sprite(last);
        }
        html[dir="rtl"] & .next-page, html[dir="ltr"] & .previous-page { 
         /* padding: 2px 4px 2px 10px; */
          @include list-sprite(previous-page);
          /* &.disabled { @include list-sprite(previous-disabled);}*/
        }
        html[dir="rtl"] & .previous-page, html[dir="ltr"] & .next-page { 
          /*padding: 2px 10px 2px 4px; */
          @include list-sprite(next-page);
          /* &.disabled { @include list-sprite(next-disabled);}*/
        }
      }
    }
    .widget { 
      display: block; 
      padding: 2px;
      html[dir="ltr"] & { float: left; margin: 0 8px 0 0; }
      html[dir="rtl"] & { float: right; margin: 0 0 0 8px; }
    }
  }

  .spe { 
    width: 16px; 
    height: 16px; 
    padding: 0; 
    vertical-align:bottom;
    .list-menu { 
      position: relative; 
      background: none; 
      border: none;
      * { font-weight: normal; }
      a { cursor: pointer; }
      .list-menu-start { 
        display: block; 
        padding: 3px;
        .icon { 
          width: 16px; 
          height: 16px; 
          @include inline-block;
          @include list-sprite(start);
        }
        .text { display: none; }
      }
      &:hover { 
        .list-menu-start { background-color: #F1F1F1; z-index:5000;  position: relative; top: 0px; }
        & > ul { display: block; }
      }
      ul { 
        display: none; 
        position:absolute; 
        top: 20px; 
        padding: 1px; 
        margin:0; 
        background: #F1F1F1; 
        border:1px solid #AAA; 
        z-index: 1000; 
        @include box-shadow(0 0 4px rgba(0,0,0,0.2));
        html[dir="ltr"] & { right: -1px;}
        html[dir="rtl"] & { left: -1px;}
        li { 
          list-style-type: none; 
          color: #000; 
          padding: 2px 4px; 
          width: 190px; 
          position: relative;
          * { color: #000;}
          &.parent > a { font-weight: bold; }
          &.separator { height: 0; padding: 0; border-top: 1px solid #F1F1F1; border-bottom: 1px solid #AAA; margin: 2px auto;}
          &.separator:hover { background: transparent;}
          a { 
            display: block; 
            padding: 2px;
            .icon { 
              @include inline-block;
              height:16px;
              width: 16px;
              html[dir="ltr"] & { margin-right:  4px; }
              html[dir="rtl"] & { margin-left: 4px; }
            }

            &.pages     .icon { @include list-sprite(pages); }
            &.export    .icon { @include list-sprite(export); }
            &.check     .icon { @include list-sprite(check); }
            &.checked   .icon { @include list-sprite(checked); }
            &.unchecked .icon { @include list-sprite(unchecked); }
            &.columns   .icon { @include list-sprite(columns); }
          }
          ul { 
            display: none; 
            position: absolute; 
            top: -2px;
            html[dir="ltr"] & { right: 198px; }
            html[dir="rtl"] & { left: 198px; }
            &:hover { display:block; }
          }
          &:hover { background: #C9D7F1; color: #000; }
          &:hover > * { color: #000; }
          &:hover ul { display:block; }
        }
      }
    }
  }

  th.hidden, td.hidden { display: none; }

  tr.details td { 
    padding: 8px; 
    text-align:center;
    &.comment { 
      padding: 10px; 
      font-size:15px;
    }
  }
  
  tr.total { 
    th { 
      text-align: right;
      html[dir="rtl"] & {text-align: left;}
    }
    td {
      font-size: 18px;
      font-weight:bold; 
      width: 10em; 
      white-space: nowrap; 
      background:#FFD !important; 
      padding: 2px 4px; 
      text-align: right; 
      border:1px solid #CCC;
      &.important {font-size: 20px; } 
    }
  }
  tr.subtotal { 
    th { text-align: right;}
    html[dir="rtl"] & th {text-align: left;}
    td {font-size: 15px; font-weight:normal; width: 10em; white-space: nowrap; background: #FFE !important; padding: 2px 4px; text-align: right; border:1px solid #CCC; }  
  }
  tr.centralize td { font-weight:bold; }  

  tr.disabled td, table.list tr.disabled td * {color: #888; }

  @include list-colors(#FFFFFF);
  @include list-colors(#D8FFA3, "&.notice, &.estimate, &.advance, &.enough, &.balanced, &.pointable, &.letter");
  @include list-colors(#FFE0B3, "&.warning, &.order, &.late, &.minimum, &.unpointabled, &.letter-unbalanced");
  @include list-colors(#FFAD87, "&.error, &.unpaid, &.verylate, &.critic, &.unbalanced, &.unpointable");
  @include list-colors(#FFFFDD, "&.subtotal");
  @include list-colors(#EEEEEE, "&.disabled");
  @include list-colors(#EAFAEF, "&.validated");

}

