/*
 * This is a manifest file that'll be compiled into screen.css, which will include all the files
 * listed below.
 *
 *= require_self
*/

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";
/*@import "compass/layout/sticky-footer";*/
/*@import "bootstrap";*/
/* These two files are imported throught chaining call
screen -> buttons -> active-list -> config
@import "config.css.scss";
@import "active-list.css.scss";
*/
@import "buttons.css.scss";
$experimental-support-for-svg: true;

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, textarea, select, options {
  margin:0; 
  padding:0; 
  font-family: "Open Sans", Arial, sans-serif;
  vertical-align: middle;
  font-size: $fs-normal;
  color: $text-color;
  @include text-align(left);
}

fieldset {
  @include border-radius($default-border-radius);
  padding: round($default-gap/2) $default-gap $default-gap; 
  margin: 0 0 $default-gap; 
  border: $menu-border;
  legend { 
    padding: 0 round(0.25*$fs-normal);
    color: $default-color-base;
    font-size: $fs-large;
    font-weight: bold;
    vertical-align: middle;
    .icon { display: none }
    &[data-toggle-set] {
      cursor: default;
      .icon { 
        @include inline-block;
        width: 12px;
        height: 12px;
        @include right(margin, round(0.25*$fs-normal));
      }
      &.show .icon { @include common-sprite(toggle-show) }
      &.show:hover .icon { @include common-sprite(toggle-show-hover) }
      &.hide .icon { @include common-sprite(toggle-hide) }
      &.hide:hover .icon { @include common-sprite(toggle-hide-hover) }
    }
  }
  .actions { border-left: none; border-right: none; border-bottom: none; margin-top: 8px}
}

td, th, a, p, input, textarea, select, div { font-size: $fs-normal;}
small, sup, sub { font-size: $fs-small; }
a:link, a:visited, a:focus { color: $link-color; text-decoration: none; }
a:hover { color: $link-color; text-decoration: underline;}

#body > div > .hbox > * { overflow: auto; }

html { 
  background: $menu-background;
  height:100%;
  body { 
    @include display(box);
    @include box-flex(1);
    @include box-orient(vertical);
    width: 100%;
    height:100%;
    #body { 
      @include display(box);
      @include box-flex(1);
      @include box-orient(vertical);
    }
  }
}

#loading { padding: 2px; @include text-align(center); }

*[data-click], .clickable { cursor: pointer; }

#wrap { 
  width: auto;
  @include display(box);
  @include box-flex(1);
  @include box-orient(horizontal);
  padding: 0; 
  #main { 
    @include display(box);
    @include box-flex(1);
    @include box-orient(vertical);
    //border: 2*$menu-border-width solid $default-color-base;
    border: 1px solid mix($menu-background, $base-color, 50%);
    @include box-shadow(0 0 $fs-large rgba(#000, 0.2));
    border-top: none;
    border-right: none;
    background: mix(#FFF, $default-color-base, 98%);
    body.mod-production & { border-color: $default-color-spe; }
    body.mod-settings & { border-color: $default-color-config; }
    padding: $default-gap;
    h1 { margin: 0px 0px $default-gap; @include title($fs-very-huge); }
    .subheading { margin: 0 0 $default-gap; font-size: $fs-huge; color: #AAA; font-weight: normal; font-style: italic; }
    h2 { margin: 8px 0px 4px; font-size: $fs-huge; color: $title-color; font-weight: bold;  padding: 1px 0;}
    .menu { 
      @include border-radius($default-border-radius);
      background: $cell-background; 
      @include incrust-shadow; 
      padding:4px 6px; 
      margin: 0 0 8px;
      h2 { margin: 2px 0px !important; }
      ul { padding: round($fs-normal*0.25) round($fs-normal*1.25); }
      li { list-style-type: square; padding: 1px; }
      &.special { background: #FE9; }
      &.special a:link, &.special a:visited { color: #A60; }
      &.indicator { background: #FD8; } /*#FA3;*/
    }
  }
}

#legals { 
  @include text-align(center); 
  padding: round(0.5*$fs-small);
  &, & * { color: #AAA; font-size: $fs-small; text-shadow: 1px 1px 1px #FFF }
}

.fields { 
  background: image-url("themes/tekyla/shadow-top.png") repeat-x bottom; 
  @include columns(2);
  padding: 0 1px; 
  overflow: auto; 
}

.end { height: 8px; }

#about-us div { padding: 64px; }
#about-us div a { @include text-align(center); display: block; }
#about-us div a img { border:none; }
#about-us div table { margin: 0 auto; width: 500px; }

.content { 
  $content-font-size: round($fs-normal*0.9);
  clear: both;
  * { 
    vertical-align: baseline;
    color: $text-color; line-height: 1.2em; font-size: $content-font-size; 
  }
  h1 { @include title($fs-normal); margin: 0px 0 8px; text-transform: uppercase; letter-spacing: 1px;}
  h2 { @include title($fs-normal); margin: 8px 0 4px; border-bottom: $menu-border; }
  h3 { @include title($content-font-size); margin: 4px 0 2px 10px; color: $text-color; }
  pre { font-family: "Liberation Mono", monospace; color: #777; background: #FFF; padding: $default-gap; margin: $default-gap 0; }
  strong { font-weight: bold; }
  em { font-style: italic; }
  ul, ol { 
    padding: 0; 
    @include left(padding, 1.3*$content-font-size);
    margin: 0 0 $default-gap 0;
  }
  ul li { list-style-type: square; }
  ol li { list-style-type: decimal; }
  dl { 
    padding: 0 0.1em; margin-bottom: 0.2em;
    dt { margin-top: .2em; font-weight: bold; color: #210 }
    dd { margin-bottom: .2em; margin-left: 1em; }
  }
  a img { border: $menu-border-width solid $link-color; padding: $menu-border-width; }
  p { 
    /*@include text-align(justify);*/
    margin: 0 0 $default-gap 0;
    &.notice { border-left: $default-gap solid #7A4; background: #CE8; padding: round($default-gap/2) $default-gap; }
    &.warning { border-left: $default-gap solid #FA0; background: #FD9; padding: round($default-gap/2) $default-gap; }
  }
  .text-end { height: 1px; }
  .help-error {  @include text-align(center); margin: $default-gap 0; color: mix($text-color, $menu-background, 50%); @include text-shadow($menu-border-width $menu-border-width 0 $desktop-background) }
  .content .md {
    display:block; 
    &.md-center { margin: round($default-gap/2) auto; }
    &.md-left   { margin: round($default-gap/2); @include float(left); }
    &.md-right  { margin: round($default-gap/2); @include float(right); }
  }
}

#side-splitter { 
  background: $default-color-base; 
  width:         4*$menu-border-width; 
  border-top:    2*$menu-border-width solid $default-color-base; 
  border-bottom: 2*$menu-border-width solid $default-color-base;
  body.mod-production & { border-color: $default-color-spe; background: $default-color-spe}
  body.mod-settings & { border-color: $default-color-config; background: $default-color-config }
  &:hover { 
    background: $title-color;
    border-color: $title-color;
    html[dir="ltr"] &, html[dir="rtl"] &.closed { cursor: w-resize; }
    html[dir="ltr"] &.closed, html[dir="rtl"] & { cursor: e-resize; }
  }
}



#side { 
  width: $menu-width; 
  @include display(box);
  @include box-orient(vertical);      
  #side-middle { 
    @include display(box);
    @include box-orient(vertical);      
    @include box-flex(1);
  }
  #side-footer { 
    *:last-child { 
      margin-bottom: 0;
    }
  }
  .sd-module { 
    padding: round($fs-normal/4) 0;
    border-top: $menu-border-width solid mix($menu-background, $base-color, 60%);
    &:first-child { 
      border-top: none; 
    }
    .sd-title {
      padding: round($fs-normal/4);
      @include left(padding, round($fs-normal * 0.5));
      h2 {
        padding: 0;
        margin: 0;
        width: $menu-width - (2 * round($fs-normal/4)) - 1.5*12px;
        @include ellipsis;
        font-weight: bold;
      }
      *[data-toggle-module] { 
        display: block; 
        cursor: pointer; 
        height: 12px; 
        width: 12px; 
        position: relative; 
        top: 0px; 
        padding: 0;
        margin: round(($fs-normal - 12px)/2) 0;
        @include float(right);
        &.show { @include common-sprite(toggle-show) }
        &.show:hover { @include common-sprite(toggle-show-hover) }
        &.hide { @include common-sprite(toggle-hide) }
        &.hide:hover { @include common-sprite(toggle-hide-hover) }
      }
    }
    .sd-content { 
      &.unique .sd-item { 
        font-weight: bold;
      }
      .sd-item {
        padding: 0;
        a { 
          display: block; 
          text-decoration: none; 
          padding: round($fs-normal * 0.1) round($fs-normal * 0.5);
          width: $menu-width - 2*round($fs-normal/2);
          vertical-align: middle;
          white-space: nowrap; 
          overflow: hidden; 
          line-height: round($fs-normal * 1.4);
          @include ellipsis;
          -moz-binding: url(../xml/ellipsis.xml#ellipsis); 
          -o-text-overflow: ellipsis; text-overflow: ellipsis; 
          &:hover {
            @include background(background-hover($menu-background));
          }          
        }
        &.current a {
          background: $base-color; 
          color: white; 
          text-shadow: 0 0 2px mix($base-color, #000, 30%); 
          /*font-weight: bold;*/
        }
      }
    }
    &.help { 
      #help .content { padding: round($fs-normal * 0.5); }
    }
  }
}





#top {
  $menu-bar-margin-bottom: $menu-border-width;
  .user-bar {
    border: $menu-border;
    border-color: transparent;
    border-top: none; 
    border-bottom: none; 
    height: $menu-height;
    padding: 0; 
    position :relative; 
    vertical-align:bottom;
    @include float(right);
    a.root { 
      display:block; 
      height: $menu-text-height + 3px;
      line-height: $menu-text-height;
      white-space: nowrap; 
      vertical-align: top; 
      padding: (($menu-height - 2px - $menu-text-height)/2) $default-gap;
      text-decoration: none;
      text-shadow: $menu-border-width $menu-border-width 0 white; 
      text-shadow: $menu-border-width $menu-border-width 0 transparentize(white, 0.5); 
      color: #555;
      cursor: default;
    }
    .name { .text { font-weight: bold; } }
    ul { 
      @include menu;
      display: none; 
      position:absolute; 
      top: $menu-height - $menu-border-width + $menu-bar-margin-bottom; 
      z-index: 1000; 
      html[dir="ltr"] & { right: -$menu-border-width; }
      html[dir="rtl"] & { left: -$menu-border-width; }
      li { 
        @include menu-item;
        &.separator { 
          @include menu-separator;
        }
      }
    }
    &:hover { 
      background: $menu-background; 
      border-color: $menu-border-color;
      @include menu-shadow;
      a.root { 
        background: $menu-background;
        z-index:5000; 
        position: relative; 
        top: 0; 
      }
      ul { display: block; }
    }
  }

  .menu-bar { 
    height: $menu-height; 
    padding: 0; 
    margin-bottom: $menu-bar-margin-bottom;
    $menu-bar-background: #CCC; /* #D0D0D0; */
    @include background($menu-bar-background); 
    @include background-image(linear-gradient(lighten($menu-bar-background, $default-lightness-variation), darken($menu-bar-background, $default-lightness-variation)));
    display: block;
    ul {
      li { 
        position:relative; 
        list-style-type:none; 
        padding: 0;
        @include float(left);
        .logo-item { 
          @include background(image-url("themes/tekyla/ekylibre-menu.png") no-repeat); 
          width: 108px; height: $menu-height; 
          @include right(margin, round($fs-normal/4)); border: none; padding: 0;
          html[dir="ltr"] & { background-position: -20px center; }
          html[dir="rtl"] & { background-position: 0px center; }
        }
        ul {
          @include menu;
          display:none; position:absolute; margin:0; 
          top: $menu-height - $menu-border-width + $menu-bar-margin-bottom;
          z-index: 1000; 
          html[dir="ltr"] & { left: 0px; }
          html[dir="rtl"] & { right: 0px; }
          li { 
            a { @include text-align(left); }
          }
        }
        &.submenu { 
          @include menu-item;
        }
      }
    }
    ul li:hover ul, ul li ul:hover { display:block; }
    a { display: block; white-space: nowrap; color: black; text-decoration: none; }
    li.menu { 
      a.menu {
        &, & span { 
          height: $menu-text-height;
          line-height: $menu-text-height;
          vertical-align: top;
          font-weight: bold;
          text-shadow: $menu-border-width $menu-border-width 0 white; 
          text-shadow: $menu-border-width $menu-border-width 0 transparentize(white, 0.5); 
          color: #555;
        }
        border-top: ($menu-border-width * 2) solid transparent; /* #BBB */
        border-left: $menu-border-width solid transparent;
        border-right: $menu-border-width solid transparent;
        $padding-total: ($menu-height - (2*$menu-border-width) - $menu-text-height);
        $padding-top: floor($padding-total/2);
        $padding-bottom: $padding-total - $padding-top;
        padding: $padding-top $default-gap $padding-bottom; 
        color: white; @include text-align(center); position: relative; z-index: 500;
        &.current { 
          background-color: $menu-background; 
          span { color: $text-color; }
          @include box-shadow(0 -round($fs-normal/3) round($fs-normal/3) rgba(0,0,0,0.2)); 
          border-color: #D50; /*$menu-border-color;*/
          border-left: none;
          border-right: none;
        }
      }
      &.other:hover { 
        background-color: $menu-background; 
        @include menu-shadow;
        a.menu {
          span { color: $text-color; }
          border-color: $menu-border-color;
          border-top-color: background-hover($base-color);
          height: $menu-text-height + 1px;
        }
      }
    }
    li:hover a.menu.other { 
      background-color: $menu-background; z-index: 1500; color: #000; text-shadow: -1px -1px 1px white;}
/*
    li.menu.settings { 
      a.menu.settings { 
        width: 20px; 
        color: transparent; 
        text-shadow: none; 
        .text { display: none }
        .icon {
          margin-top: -4px; 
          vertical-align: middle;
          @include common-sprite(home); 
          @include inline-block; 
          height: 16px; 
          width: 17px; 
        }
      }
      &:hover a.menu.settings .icon, &.current a.menu.settings .icon{ 
        @include common-sprite(home-current); 
      }
    }
*/

  }
}



#helpage { padding-left: $default-gap; }

.clearfix:after { content: "."; display:block; height:0; clear: both; visibility: hidden; }
/* backslash hack hides from IE mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* end backslash hack*/

table.invex, table.invisible { border-collapse: collapse; }
table.invex { width: 100% }
table.invex > tbody > tr > td { vertical-align: top;  }
table.invex tr td.space{ width: 8px }
table.center { margin-left: auto; margin-right: auto; }

table.quick { margin: 0 8px 8px 8px; border-collapse: collapse; }
table.quick td { padding: 0px 4px; }


.attributes-list {
  border-collapse: collapse; width: 100%;
  tr td { border-bottom: $menu-border; border-style : dotted;}
  .label, .value { padding: round($fs-normal/6) round($fs-normal/3);  vertical-align: middle; }
  .code { font-family: "Liberation Mono", monospace; }
  .label { color: #555; @include text-align(right);}
  .value .string { max-height: 3em; overflow-y: auto;}
}

.desc { background: transparent; text-shadow: white 0 0 1.5px; color: black; behavior: url(/pie.htc); }


.logo { width: 160px; padding:4px; background: white; border:1px solid #EEE; text-align:center; vertical-align:center; }

#company { border-spacing:6px; }
#company div.side { border:1px solid #EEE; padding: 2px; background: #f9f9f9; }
#company div.side h2{ margin: 2px 0px 4px; }
#company div.side h3{ border-bottom :1px solid #BBB; margin: 10px 6px 2px; color:#555; }
#company div.side .label {color:#777; width: 160px; @include text-align(right); padding: 2px; }
#company div.side .value {color:#227;  padding: 2px; }

.flash { 
  padding: $default-gap; 
  margin-bottom: $default-gap; 
  vertical-align: middle; 
  color: black; 
  border: $menu-border; 
  @include border-radius($default-border-radius);
  @include incrust-shadow;
  $icon-size: 32px;
  .icon {
    display: block;
    height: $icon-size;
    width: $icon-size;
    @include float(left);
  }
  .message {
    @include left(margin, $icon-size + $default-gap);
    h3 {
      font-size: $fs-normal; 
      font-weight: bold; 
      $gap: floor(($default-gap - $menu-border-width)/2);
      padding: 0 0 $gap; 
      margin-bottom: $default-gap - $menu-border-width - $gap; 
      border-bottom: $menu-border-width dotted #999; 
    }
    ul { 
      padding: round($fs-normal/4);
      @include left(padding, round(1.2*$fs-normal)); 
      li { list-style-type: square; }
    }
  }
  .end { 
    clear: both;
    height: 0;
  }
  @each $level in (error #D10), (warning #E60), (success #591), (information #777) { 
    $level-name: nth($level, 1);
    $level-color: change-color(nth($level, 2), $lightness: 40%);
    &.#{$level-name} {
      &, & .message h3 { border-color: $level-color;}
      * { color: $level-color; }
      background-color: mix($level-color, $desktop-background, 10%); 
      .icon { @include common-sprite(notification-#{$level-name}); }
    }
  }
}

.checkbox-true { @include common-sprite(true); height:12px; width:12px; }
.checkbox-false { @include common-sprite(false); height:12px; width:12px; }

.count { margin: 0 0 4px; color:#777; }

.contact { padding: 5px 0 8px 4px; border:0.2px solid; border-color:$light-color; background-color:#FEB; }


.ika { 
  .input { 
    padding: round($fs-normal*0.2) 0;
    margin: round($fs-normal*0.1) 0;    

    label { 
      min-width: 25%;
      line-height: 1.4*$fs-normal;
      @include inline-block;
      white-space: nowrap;
      @include right(margin, round($fs-normal/2));
      &.required { 
        abbr { color: red; }
      }
    }
    input{ 
      max-width: 65%;
    }
  }
}

table.formalize { 
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  tr.field td { 
    label { color: #555; }
    td:last-child { border: none }
  }
}
table.formalize td.label { @include text-align(right); padding:1px 4px; color: #555; width: 30%; border-right: 0px dotted #CCC;  }
table.formalize td.input { padding: 4px 6px 4px 2px; }
table.formalize td.help  { text-align:left; padding:2px 2px 2px 6px; font-size: $fs-small; border-left: 1px dashed #CCC; }
table.formalize td [required] { border: $menu-border-width solid #33F; background-color: #EEF }
table.formalize td .info         { color: #007;  background:#CDF; padding:2px; }
table.formalize td .info span    { color: #55C; }
table.formalize td .example      { color: #040;  background:#CFC; padding:2px; }
table.formalize td .example span { color: #4A5; }
table.formalize td .hint         { color: #600;  background:#FDE; padding:2px; }
table.formalize td .hint span    { color: #B54; }
table.formalize td .note         { color: #777; }
table.formalize tr.title th { padding: 16px 8px 2px; border-bottom: 0px dotted #012; color: #012; font-size: $fs-normal; border-bottom: 1px solid #CCC; font-weight:bold; }
table.formalize td.input .code { font-family: "Liberation Mono", monospace; }
a.act img { border: none !important; }
/*
table.formalize tr.odd  td { background: #E5ECF6; }
table.formalize tr.even td { background: #F0F8FF; }
*/
table.formalize a.fastadd { margin: 0px 8px; }





div.field { padding: 4px; }
div.field > * { vertical-align: middle; }
div.field label.attr { color: #555; width: 30%; display: inline-block; text-align: right; padding: 0 8px;}
html[dir="rtl"] div.field label.attr { text-align: left; }
div.field.mono-choice .toolbar { margin: 0 8px; }


.form-column{
  overflow: auto;
  &.aside {
    width: $menu-width; 
    @include float(left);
    @include right(padding, round($fs-normal/2));
  }
}

span.rad {
  padding: round($fs-normal/8) round($fs-normal/4);
  * { vertical-align: middle; ; }
}

.actions { 
  @include text-align(center);
  input, a, span { @include text-align(center); }
  padding: round($fs-normal/4) !important; 
  background: $menu-background; 
  border-top: $menu-border;
  margin: 0;
}

input, textarea, select { 
  border: $input-border;
  @include border-radius(3px);
  @include background($input-background); 
  @include box-shadow(0 0 0.7em rgba(#000, 0.1), 0 round($fs-normal*0.1) round($fs-normal*0.2) rgba(#000, 0.12) inset); /*incrust-shadow;*/
  padding: $menu-border-width;
  
  &:focus { 
    $color: change-color($default-color-base, $lightness: 70%);
    @include box-shadow(0 0 0.6em rgba($color, 0.9));
    border-color: $color;
    &.invalid { 
      border-color: $invalid-color !important; 
    }
  }
}
input.invalid, textarea.invalid, select.invalid { border: 1px solid $invalid-color !important; background-color: #FDD !important; }


.search { background: #CEA !important; color: #580; @include border-radius($default-border-radius); padding:4px 6px; margin: 0 0 8px; }
.search table { margin: 0px auto; }
.search .label { padding: 1px 4px; }
.search .submit { padding: 0px 4px;}
.search table .crit { border-top: 1px dotted #580; padding: 1px 4px; vertical-align: middle; text-align:center; }
/*.search table .crit input[type="radio"], .search table .crit input[type="checkbox"] { position: relative; top: 2px }*/
.search table tr:first-child .crit { border-top: none; }

.kujaku { 
  background: #CEA !important; 
  color: #580; 
  @include incrust-shadow;
  @include border-radius($default-border-radius); 
  padding:4px 6px;
  margin: 0 0 8px; 
  table {
    margin: 0px auto;
    .crit { border-top: $menu-border-width dotted #580; padding: round($fs-normal/6) round($fs-normal/4); vertical-align: middle; text-align:center; }
    tr:first-child .crit { border-top: none; }
  }
  .label { padding: round($fs-normal/6) round($fs-normal/4); }
  .submit { padding: round($fs-normal/6) round($fs-normal/4); width: 10*$fs-normal; text-align:center; }
}


.results { background: #EEF;  padding:4px 6px; margin: 0 0 8px; width:192px; }
.results h2 { font-size : $fs-large; color: black; padding: 2px; margin: 2px 0px; }
.results ul { padding: 4px 4px 4px 18px; }
.results li { list-style-type: square; }
.results li .pertinence{ color: #AAA; font-size: 11px; }



/*e7f2fd bbcfe6*/

h2.form { font-size: $fs-large; margin: 8px 0px 4px; border-bottom: 1px solid $light-color; color: #656C79; }

.stepper { border-collapse: collapse; width: 100%; margin-bottom:8px; }
.stepper td { height: 36px; }
.stepper td.step { text-align:center; background: image-url("themes/tekyla/stepper-default.png") no-repeat; padding: 6px 20px; line-height: 24px; height: 24px; vertical-align:middle;}
.stepper td.step.usable { background: image-url("themes/tekyla/stepper-usable.png") no-repeat; }
.stepper td.step.active { background: image-url("themes/tekyla/stepper-active.png") no-repeat; }
html[dir="ltr"] .stepper td.step { background-position: right center; }
html[dir="rtl"] .stepper td.step { background-position: left center; }
.stepper td.transition { width: 8px; }




.login { 
  width:500px; 
  margin:64px auto; 
  z-index: 1000; 
  border: $menu-border; 
  background: $menu-background;
  .ui-dialog & { margin: 0; padding: 0 8px;}
  .logoban { height:80px; width: 280px; @include common-sprite(ekylibre); margin: 16px auto 8px; }
  h2 { color:red !important; padding: 2px; text-align:center; font-size: $fs-huge; }
  p { margin:8px; }
  table { 
    border-collapse: collapse;  margin:16px auto; margin-left:auto; margin-right:auto;
    tr {
      td { 
        padding: 2px 4px;
        &.label { @include text-align(right); }
        &.input, &.input input { width:128px; }
        &.button {text-align:center; padding:6px 6px 16px; }
      }
    }
    &.browsers tr td { padding: 8px 16px; }
  }
  &.register { padding:16px 0; @include text-align(center);}
}
#nojavascript p { font-weight: bold; @include text-align(center); padding: 24px; color: #c00; }


/* Users rights */
.right-category { @include text-align(center); padding: 15px 0 5px 0; font-weight: bold; }
.right {  margin-left:50px; }

/* entries */
#table.entries tr * { border: 1px solid #AAA; padding: 1px 2px; }
#table.entries tr.odd td{background: #E3F4FF; }
#table.entries tr.even td{background: #A3FCFF; }


.tabbox {
  margin: $default-gap 0;
  & > .tabs  { 
    $tabs-height: 2 * ceil($fs-normal * 0.8);
    height: $tabs-height;
    padding: 0px; 
    white-space: nowrap;
    & > .tab { 
      @include inline-block;
      $text-height: 2 * ceil($fs-normal * 0.55);
      height: $text-height;
      line-height: $text-height;
      cursor: pointer;
      @include right(margin, round($fs-normal/4)); 
      padding: (($tabs-height - $text-height)/2 - $menu-border-width) 6px (($tabs-height - $text-height)/2); 
      color: #000;
      text-shadow: 1px 1px 0 white;
      text-decoration: none;
      white-space: nowrap;
      border: $menu-border;
      border-bottom: none;
      @include border-top-left-radius($default-border-radius);
      @include border-top-right-radius($default-border-radius);
      background: $menu-background;
      opacity: 0.5;
      &:hover { 
        opacity: 0.8; 
      }
      &.current {
        font-weight: bold; 
        text-shadow: none;
        opacity: 1;
        position: relative;
        top: $menu-border-width;
      }
    }
  }
  & > .tabpanels {
    @include incrust-shadow;
    background: $menu-background;
    border: $menu-border;
    padding: $default-gap;
    @include border-bottom-left-radius($default-border-radius);
    @include border-bottom-right-radius($default-border-radius);
    & > .tabpanel {
      display: none;
      &.current { display: block; }
    }
  }
  &.journals { 
    border-bottom: $menu-border-width solid mix($desktop-background, #000, 70%);
    @include background(linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.05)));
    & > .tabs {
      & > .tab {
        &.current{ @include background($desktop-background); }
        &.special{ color: $base-color; }
      }
    }
  }
}

$tree-line: 1px dotted #AAA;
.branch { 

  &:hover { 
    background-color: background-hover($desktop-background); 
  }
  .shift { 
    height: 15px; 
    width:10px; 
    border-bottom: $tree-line;
    html[dir="ltr"] & { float:left; }
    html[dir="rtl"] & { float:right; }
  }
  .tools { 
    padding: 1px 4px; 
    width: 20em;
    html[dir="ltr"] & { float:right; }
    html[dir="rtl"] & { float:left; }
  }
  .item {
    padding: 2px;
    @include left(padding, 16px);
    td.ic { 
      width: 16px;
      @include right(padding, 4px);
      .icon { 
        height: 16px;
        width:16px;
        &.table  { @include icons-sprite(table) }
        &.column { @include icons-sprite(column) }
      }
    }
    table { 
      width: 100%; 
/*      border-bottom:1px dotted #79F; */
    }
    form { @include inline-block; }
    .export { vertical-align: middle; width: 1em; @include right(padding, 2px);}
    .attribute { color: #888; font-style: italic; }
    td.delete {padding: 0 4px; width: 2em; }
    td.position { width: 15ex; }
    .item-tool { @include text-align(right); }
  }
}

.branches { 
  html[dir="ltr"] & { margin-left: 20px; border-left: $tree-line; }
  html[dir="rtl"] & { margin-right: 20px; border-right: $tree-line; }
}


tbody.lines td input { width: 95%; }



div.fastadd { background: #FC8; text-align:center; padding: 4px; margin: 4px 0; }

#conditions .condition { background: #FD8; padding: 4px; margin-bottom: 8px; }
#conditions .title { clear: both; background: #FEA; padding: 4px; }
#conditions .title .right-menu { float: right; padding-left:8px; }
#conditions .title h3 { font-size: $fs-normal; }
#conditions .parameters { padding-top: 4px; }
#conditions .param { padding: 2px; border-bottom: 1px dotted #AAA; }
#conditions .param:last-child { border-bottom:none; }

table.accounts { 
  tr { 
    td.tabs { 
      width: 16em; 
      .major-accounts {
        a, strong { 
          background: $cell-background; display: block; padding:4px 8px; margin-bottom:2px;
          html[dir="ltr"] & { @include border-top-left-radius($default-border-radius); @include border-bottom-left-radius($default-border-radius); }
          html[dir="rtl"] & { @include border-top-right-radius($default-border-radius); @include border-bottom-right-radius($default-border-radius); }
        }
        strong { background: $cell-background-current; font-weight: bold; }
        & > *:last-child { margin-bottom: 0 }
      }
    }
  }
}
  
table.accounts tr td.list, .tab-content { background: $cell-background-current; padding: 4*$menu-border-width; }

.view {
  padding: 0 round($fs-normal/4);
  span { padding:4px 8px; }
  a, strong {
    @include inline-block;
    $text-height: $fs-normal + 2px;
    height: $text-height;
    line-height: $text-height;
    vertical-align: top;
    padding: round($fs-normal/4) round($fs-normal/2); 
    margin: 0 round($fs-normal/6);
    background: $cell-background; 
    @include border-top-left-radius($default-border-radius);
    @include border-top-right-radius($default-border-radius); 
  }
  strong { background: $cell-background-current; }
}


.map { border: 1px solid #999; background: white; }


html[dir="ltr"] .toggle { float:right }
html[dir="rtl"] .toggle { float:right }
.toggle a.icon { background-position: center center;  height: 18px; }
.toggle a.icon.current { @include opacity(0.5); }

#chains .chain { border-top: 1px dotted #CCC;  }
#chains .chain:first-child { border-top: none;  }
.chain { padding:8px 0; }
html[dir="ltr"] .chain .delete { float:right; }
html[dir="rtl"] .chain .delete { float:left; }
.work-center-graph { border-collapse: collapse; }
.work-center-graph .work-center { background: $light-color; padding: 4px 8px; border: 2px dotted $base-color; text-align:center; width: 10em;}
.work-center-graph .work-center.master { border-style: solid; }
.work-center-graph .work-center .action { margin: 2px;}
table.conveyor { border-collapse: collapse; margin: 2px 0; }
.conveyor .information table { border-collapse: collapse; padding: 0}
.conveyor .cell { background: #DDD; font-size: $fs-small; border: 2px solid #555; padding: 0;}
/*.conveyor .cell * { font-size: $fs-small; }
.conveyor .cell .bmenu { padding: 0; width: 12em;}
.conveyor .cell .bmenu ul { width: 12em;}
.conveyor .cell .bmenu a { display: block; padding: 2px 4px;}*/
.conveyor a img { border: none; display: block;}
.conveyor .cell.action { padding: 1px; }
.conveyor .cell.quantity { background: $light-color; padding: 2px 4px; border-color: $base-color;  }
html[dir="ltr"] .conveyor .cell.target, html[dir="rtl"] .conveyor .cell.source { margin-right: -2px; border-right: none; }
html[dir="rtl"] .conveyor .cell.target, html[dir="ltr"] .conveyor .cell.source { margin-left: -2px; border-left: none; }
.conveyor .cell.check-state { background: #EF9; }
.conveyor .cell.unique-tracking { background: #FE9; }
.conveyor .cell.new { padding: 2px 4px; background: #FFD; @include border-radius(5px); }

.conveyor .conveyor-input {  width: 24px; background: image-url("themes/tekyla/conveyor.png") no-repeat -8px center; }
.conveyor .conveyor-output { width: 32px; background: image-url("themes/tekyla/conveyor.png") no-repeat -32px center; }
html[dir="rtl"] .conveyor .conveyor-input { background-position: -32px center; }
html[dir="rtl"] .conveyor .conveyor-output { background-position: 0px center; }


.conveyor .rail { width: 20px; background: image-url("themes/tekyla/rail.png") repeat-x center; }
.conveyor .arrow { width: 16px; background-repeat: no-repeat; background-position:center; height: 24px;}
html[dir="ltr"] .conveyor .arrow { background-image: image-url("themes/tekyla/arrow-right.png"); }
html[dir="rtl"] .conveyor .arrow { background-image: image-url("themes/tekyla/arrow-left.png"); }
html[dir="ltr"] .work-center-graph .input-conveyors .conveyor { margin-left: auto; }
html[dir="rtl"] .work-center-graph .input-conveyors .conveyor { margin-right: auto; }

.bmenu {
  position: relative;
  ul { 
    display: none; position:absolute; z-index: 1000;
    @include menu;
    html[dir="ltr"] & { left: -1px; }
    html[dir="rtl"] & { right: -1px; }
    li { @include menu-item; }
  }
  &:hover ul { display: block;  }
}




.treemap { 
  border-collapse: collapse; width: 100%;
  .plot { 
    padding: 4px; 
    border: 2px solid #8a8; 
    vertical-align: top; 
    .name { 
      padding: 2px; 
      display:block; 
      border-bottom: 1px dotted #8A8; 
    }
    ul.operations { 
      padding: 2px 2px 2px 20px; 
    }
  }
}
.treemap .plot.odd { background: #D7F1C9; }
.treemap .plot.even { background: #C9F1D7; }
.treemap .plot.selected {background: Highlight; color: HighlightText; }
.treemap .plot.selected * { color: HighlightText; }


table.active-list tr.aborted td, table.active-list tr.refused td { text-decoration: line-through; }

table.profile { border-collapse: collapse; border-spacing: 0; width: 100%;}
table.profile td { padding: 1px 2px; }

div.profile { clear: both; border-left: 1px solid #000; border-top: 1px solid #000;}
div.profile .md { float: right; }

.profile * { font-size: $fs-small; font-family: "Liberation Mono", monospace; }
.profile .dec { text-align: right; width: 15ex;}
.profile .mdc { text-align: right; width: 7ex;}
.profile .tit { border : 1px solid transparent; cursor: pointer;}
.profile .tit:hover { border : 1px solid red }
.profile span.fil { color: #0A7; }
.profile span.lno { color: #0A7; }
.profile span.cls { color: #05D; }
.profile span.mth { color: #D50; }


/*all the styles used by the plugin Unroll.*/
div.unroll-choices {width: 350px; z-index: 1000; background-color: #FFF;}
div.unroll-choices ul {border:1px solid #555; margin:0; padding:0; list-style-type:none; }
div.unroll-choices ul li { margin:0; padding:3px; color: #000; cursor: pointer; } /*$light-color*/
div.unroll-choices ul li.selected {background-color: $light-color; }
div.unroll-choices ul strong.highlight { margin:0; padding:0; }
/*input[data-unroll] { background: #FFF image-url("themes/tekyla/buttons/unroll.png") no-repeat; }
html[dir="ltr"] input[data-unroll] { background-position: right center; padding-right: 18px; }
html[dir="rtl"] input[data-unroll] { background-position: left center; padding-left: 18px; }
*/



.ui-dialog .ui-dialog-content.ajax-dialog { padding: 8px; }

.ui-autocomplete.ui-menu { 
  position: absolute;
  cursor: default;
  background: $menu-background;
  @include menu-shadow;
  border: $menu-border;
  list-style:none;
  padding: 0;
  margin: 0;
  display:block;
  float: left;
  max-height: 200px;
  overflow: auto;
  .ui-menu {
    margin-top: -3px;
  }
  .ui-menu-item {
    margin:0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%;
    a {
      text-decoration:none;
      display:block;
      padding:.2em .4em;
      line-height:1.5;
      zoom:1;
      &.ui-state-hover, &.ui-state-active {
        font-weight: normal;
        background: $menu-background-hover;
        /*margin: -1px;*/
      }
    }
  }
}




.ui-dialog { 
  position: absolute; 
  background: $menu-background;
  border: 2px solid $base-color;
  @include box-shadow(0 0 10px rgba(0, 0, 0, 0.3));
  overflow: hidden;
  .ui-dialog-titlebar { 
    padding: 4px;
    height: 16px;
    background: $base-color;
    .ui-dialog-title {
      margin: 4px;
      font-weight: bold;
      font-size: $fs-large;
      color: white;
      @include text-shadow(0 0 3px rgba(0,0,0,0.5));
    }
    .ui-dialog-titlebar-close { 
      float: right;
      span { 
        display: block;
        @include squish-text;
        @include icons-sprite(close);
        height: 16px;
        width: 16px;
      }
      &:hover, &:focus { padding: 0; }
    }
  }
  .ui-dialog-content { 
    clear: both;
    position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
  .ui-dialog-buttonpane { 
    text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; 
    .ui-dialog-buttonset { float: right; }
    button { margin: .5em .4em .5em 0; cursor: pointer; }
  }
  .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
}

.ui-draggable .ui-dialog-titlebar { cursor: move; }

.ui-widget-overlay { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background: transparentize($base-color, 0.8);
}

.ui-datepicker {
  display:none;
  background: $menu-background;
  padding: 4px;
  border: 1px solid #AAA;
  @include border-radius(3px);
  @include box-shadow(0 0 5px rgba(0,0,0,0.3));
  $title-line-height: 16px;
  .ui-datepicker-prev { 
    float: left; 
    line-height: $title-line-height;
    @include hide-text;
    display: block;
    width: 16px;
    height: 16px;
    margin: 3px;
    @include icons-sprite(left);
  }
  .ui-datepicker-next {
    float: right;
    line-height: $title-line-height;
    @include hide-text;
    display: block;
    width: 16px;
    height: 16px;
    margin:3px;
    @include icons-sprite(right);
  }
  .ui-datepicker-title { 
    padding: 4px;
    @include text-align(center);
    line-height: $title-line-height;
    * { font-weight: bold; }
  }
  table { 
    border-collapse: separate;
    border-spacing: 2px;
    th { 
      @include text-align(center);
      font-weight: bold;
    }
    td { 
      border: 1px solid mix($base-color, #FFF, 15%);
      &:hover { 
        border: 1px solid #FFF;
        background: rgba(255, 255, 255, 0.5);
      }
      &.ui-datepicker-unselectable { 
        border: none;
        background: transparent;
      }
      a { 
        display: block;
        padding: 2px 4px;
        @include text-align(center);
      }
    }
  }
}



input[data-datepicker] {@include text-align(center)}



/*
a.mn { 
  white-space: nowrap;
  padding: 4px 6px;
  @include inline-block;

  span { 
    vertical-align: middle;
    margin: 0 2px;
    html[dir="ltr"] &:first-child, html[dir="rtl"] &:last-child { margin-left: 0; }
    html[dir="rtl"] &:first-child, html[dir="ltr"] &:last-child { margin-right: 0; }
  }
  .icon { 
    background-repeat: no-repeat; 
    width: 16px;
    height: 16px;
    @include inline-block;
  }

}*/

#main-menu { 
  @include text-align(center);
}

.big-button:link, .big-button:visited { 
  $size: 200px;
  width: $size;
  $biseau: 3px;
  $biseau-opacity: 0.3;
  @include border-radius($biseau*5);
/*  @include box-shadow($biseau $biseau $biseau rgba(#FFF, $biseau-opacity) inset, (-1 * $biseau) (-1 * $biseau) $biseau rgba(#000, $biseau-opacity) inset);
  @include background-image(linear-gradient(top, rgba(#FFF,0.3), rgba(#FFF, 0), rgba(#000, 0), rgba(#000,0.3)));*/
  opacity: 0.8;
  font-size: 1.5*$fs-huge;
  text-decoration: none;
  border: 2*$biseau solid #CCC;
  @include inline-block;
  &:hover { 
/*    @include box-shadow(0 0 1.4*$fs-huge rgba(#000, 0.3), 0 3px 5px rgba(#FFF, 0.5) inset);
    @include box-shadow(0 5px $fs-large rgba(#000, 0.3));*/
    opacity: 1;
  }
  .text {
    color: white;
    font-weight:bold;
    @include text-shadow(0 0 5px rgba(#000, 0.5));
    display: block;
    text-align: center;
    vertical-align: center;
    overflow: hidden;
    font-size: $fs-huge;
    padding: 0 0 $fs-normal;
  }
  .icon { 
    $image-size: round(0.8*$size);
    background-size: 100%;
    height: $image-size;
    width: $image-size;
    display: block;
    margin: (($size - $image-size)/2) auto $fs-normal;
    background-position: center center;
    background-repeat: no-repeat;
  }
  &:active { 
    @include box-shadow($biseau $biseau $biseau rgba(#000, $biseau-opacity) inset, (-1 * $biseau) (-1 * $biseau) $biseau rgba(#FFF, $biseau-opacity) inset);
  }
  /*@include background(image-url("themes/tekyla/menus/EKY-btn-c.png") center center no-repeat);*/
/*  @include background(linear-gradient(top, mix(#FFF, $default-color-base, 35%), $default-color-base));*/
  background-color: $default-color-base;
  margin: $fs-normal;
  @each $module in (production relations accountancy purchases sales stocks) { 
    &.#{$module} { 
      span.icon { background-image: image-url("themes/tekyla/menus-160/#{$module}.png"); }
    }
  }
}

.med-button:link, .med-button:visited { 
  $transp: 40%;
  display: block;
  padding: $fs-normal*0.8 $fs-normal;
  @include background(mix($menu-background, $default-color-base, $transp));
  margin: $default-gap;
  @include incrust-shadow;
  @include border-radius($default-border-radius);
  color: white;
  font-weight: bold;
  @include text-shadow(0 0 5px rgba(#000, 0.5));
  text-decoration: none;
  &:hover { 
    @include background($default-color-base);
  }
  body.mod-production & { 
    @include background($default-color-spe);
    @include background(mix($menu-background, $default-color-spe, $transp));
    &:hover { 
      @include background($default-color-spe);
    }
  }
  body &.back, body &.help, body &.logout, body &.settings { 
    @include background($default-color-config);
    @include background(mix($menu-background, $default-color-config, $transp));
    &:hover { 
      @include background($default-color-config);
    }
  }

}



#help { 
  display: none;
  float: left;
  @include box-shadow(0 0 15px rgba(#000, 0.3));
  background: white;
  position: absolute;
  width: 30*$fs-normal;
  left:$menu-width+$fs-normal;
  top: $fs-normal;
  padding: $fs-small;
  z-index: 10000;
  height: 90%;
  overflow: auto;
}