/*
 * This is a manifest file that'll be compiled into screen.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require ./buttons
*/

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";
@import "config.css.scss";
$experimental-support-for-svg: true;

@import "active-list/minimal";
@import "active-list/background";
@import "active-list/theme";
$list-line-backgrounds: ("" rgba(255, 255, 255, 0)) (".odd" rgba(255, 255, 255, 0.5)) (".even" rgba(255, 255, 255, 0.5));
$list-column-backgrounds: ("" rgba(255, 255, 255, 0)) (".act" rgba(255, 134, 0, 0)) (".sor" rgba(0, 18, 132, 0.05));
$list-hover-backgrounds: ("" rgba(255, 255, 255, 0)) (":hover" $hover-mask);
.active-list[data-list-source], .active-list { 
  @include active-list-theme;
}


$icons-layout: smart;
@import "themes/tekyla/icons/*.png";
@include all-icons-sprites;

$common-layout: smart;
@import "themes/tekyla/common/*.png";
@include all-common-sprites;

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, textarea, select, options {
  margin:0; 
  padding:0; 
  font-family: "Liberation Sans", sans-serif;
  vertical-align: middle;
  font-size: $fs-normal;
  color: $text-color;
  /*line-height: 1.4em;*/
}

html { background: $menu-background; }
fieldset {padding: 4px 8px 8px; margin: 1px 1px 8px; border: 1px solid #DDD;}
fieldset legend { padding: 0 4px;  margin: 0 0px; color: #555; font-size: $fs-large; font-weight: bold;}
fieldset nobr { margin: 0 8px; vertical-align: middle; }
fieldset .actions { border-left: none; border-right: none; border-bottom: none; margin-top: 8px}
td, th, a, p, input, textarea, select, div { font-size: $fs-normal;}
small, sup, sub { font-size: $fs-small; }
a:link, a:visited, a:focus { color: $link-color; text-decoration: none; }
a:hover { color: $link-color; text-decoration: underline;}
/*a.current:link, a.current:visited, a.current:focus { color: #000; text-decoration: none; font-weight: bold}
a.current:hover { color: #000; }*/

#body > div > .hbox > * { overflow: auto; }

#loading { padding: 2px; text-align: center; }

*[data-click], .clickable { cursor: pointer; }

#wrap { padding: 8px 0; clear: both; background: $menu-background; position: relative; z-index: 750; }
#wrap-table {
  border-collapse: collapse; 
  width: 100%;
  td#side, td#main {vertical-align: top}
}

#legals { 
  text-align: center; padding: 2px 4px;
  &, & * { color: #AAA; font-size: $fs-small; text-shadow: 1px 1px 1px #FFF }
}

.fields { 
  background: image-url("themes/tekyla/shadow-top.png") repeat-x bottom; 
  padding: 0 1px; 
  overflow: auto; 
}

.end { height: 8px; }
.main { padding: 0; background: white; border-top: 4px solid $base-color; border-bottom: 4px solid $base-color;} /*  overflow: visible; */

#about-us div { padding: 64px; }
#about-us div a { text-align: center; display: block; }
#about-us div a img { border:none; }
#about-us div table { margin: 0 auto; width: 500px; }

.content { clear: both; }
.content * { color: $text-color }
.content h1 { font-size: $fs-normal; margin: 0px 0 8px; color: $title-color; font-weight:bold; text-transform: uppercase; letter-spacing: 1px;}
.content h2 { font-size: $fs-normal; margin: 8px 0 4px; border-bottom: 1px dotted #AAA; color: $title-color; font-weight:bold; }
.content h3 { font-size: $fs-normal; margin: 4px 0 2px 10px; font-weight: bold; color: #000; }
.content pre { font-family: "Liberation Mono", monospace; color: #777; background: #FFF; padding: 8px; margin: 8px 0; }
.content ul { padding: 4px 2em; }
.content ul li { list-style-type: square; }
.content ol { padding: 4px 2em; }
.content ol li { list-style-type: decimal; }
.content dl { padding: 0 0.1em; margin-bottom: 0.2em; }
.content dt { margin-top: .2em; font-weight: bold; color: #210 }
.content dd { margin-bottom: .2em; margin-left: 1em; }
.content a img { border: 1px solid #00C; padding: 1px; }
.content p { margin: 8px 0px; }
.content p.notice { border-left: 10px solid #7A4; background: #CE8; padding: 4px 8px; }
.content p.warning { border-left: 10px solid #FA0; background: #FD9; padding: 4px 8px; }
.content .text-end { height: 1px; }
.content .help-error { color: #977; text-align: center; padding: 8px;  margin: 16px 0; background:#F5EAD7; border: 1px solid #977; }
.content .md { }
.content .md.md-center { display:block; margin: 2px auto; }
.content .md.md-left   { display:block; margin: 2px; float: left; }
.content .md.md-right  { display:block; margin: 2px; float: right; }
dl { padding: 0 0.1em; margin-bottom: 0.2em; }
dt { margin-top: .2em; font-weight: bold; color: #210 }
dd { margin-bottom: .2em; margin-left: 1em; }


#side-splitter {width: 4px; background: $base-color; border-top: 4px solid $base-color; border-bottom: 4px solid $base-color;}
#side-splitter:hover { background: $title-color; }
html[dir="ltr"] #side-splitter:hover, html[dir="rtl"] #side-splitter.closed:hover { cursor: w-resize; }
html[dir="ltr"] #side-splitter.closed:hover, html[dir="rtl"] #side-splitter:hover { cursor: e-resize; }

div#side { 
  @include float(left);
}

#side { 
  width: 200px; 
  overflow: auto; 
  vertical-align: top;
  .sd-module { 
    padding: 4px 0;
    border-top: 1px solid mix($menu-background, $base-color, 60%);
    &:first-child { 
      border-top: none; 
    }
    .sd-title {
      padding: 4px;
      @include left(padding, 8px);
      h2 { 
        font-weight: bold;
      }
      *[data-toggle-module] { 
        display: block; 
        cursor: pointer; 
        height: 12px; 
        width: 12px; 
        position: relative; 
        top: 0px; 
        padding: 0;
        @include float(right);
        &.show { @include common-sprite(toggle-show) }
        &.show:hover { @include common-sprite(toggle-show-hover) }
        &.hide { @include common-sprite(toggle-hide) }
        &.hide:hover { @include common-sprite(toggle-hide-hover) }
      }
    }
    .sd-content { 
      &.unique .sd-item { 
        font-weight: bold;
      }
      .sd-item {
        padding: 0;
        a { 
          display: block; 
          text-decoration: none; 
          padding: 2px;
          @include left(padding, 8px);
          width: 194px;
          // color: #126; 
          vertical-align: middle;
          white-space: nowrap; 
          overflow: hidden; 
          line-height: 1.4em;
          @include ellipsis;
          -moz-binding: url(../xml/ellipsis.xml#ellipsis); 
          -o-text-overflow: ellipsis; text-overflow: ellipsis; 
          &:hover {
            @include background(background-hover($menu-background));
          }          
        }
        &.current a {
          background: $base-color; 
          color: white; 
          text-shadow: 0 0 2px mix($base-color, #000, 30%); 
          /*font-weight: bold;*/
        }
      }
    }
    &.help { 
      #help .content { padding: 8px; }
    }
  }
}



.main { padding: 8px; overflow: auto; overflow-y: scroll; /*#F7F7FF*/;  } /* border-left: 4px solid $base-color; border-right: none; border-top: none;*/
.main h1 { margin: 0px 0px 8px; font-size: $fs-very-huge; color: $title-color; font-weight: bold; }
.main .subheading { margin: -4px 0 8px; font-size: $fs-huge; color: #AAA; font-weight: normal; font-style: italic; }
.main h2 { margin: 8px 0px 4px; font-size: $fs-huge; color: $title-color; font-weight: bold;  padding: 1px 0;}
.main .mn-index { margin-bottom: 8px; width: 200px; }
html[dir="ltr"] .main .mn-index {float: left; margin-right: 8px; }
html[dir="rtl"] .main .mn-index {float: right; margin-left: 8px; }

.main .mn-index .mn-index-sub { margin: 8px 0 0; padding: 0 8px; }
.main .mn-index .mn-index-sub:first-child { margin: 0; }
.main .mn-index .mn-index-sub legend { font-size: $fs-small; text-transform: uppercase; }
.main .mn-index .mn-index-sub a { display: block; padding: 4px 8px; margin: 0 -8px; text-decoration:none; line-height: 1.4em;}
.main .mn-index .mn-index-sub a:hover { @include background(background-hover($desktop-background)); }

.main .menu { @include border-radius($default-border-radius); background: $cell-background; padding:4px 6px; margin: 0 0 8px; }
/*.main .menu h2 { font-size : $fs-large; color: black !important; padding: 2px !important; margin: 2px 0px !important; }*/
.main .menu h2 { margin: 2px 0px !important; }
.main .menu ul { padding: 4px 18px; }
.main .menu li { list-style-type: square; padding: 1px; }
.main .menu li { }
.main .menu.special { background: #FE9; }
.main .menu.special a:link, .main .menu.special a:visited { color: #A60; }
.main .menu.indicator { background: #FD8; } /*#FA3;*/


#top {
  $menu-height: $fs-normal+round(0.75 * $fs-normal);
  $menu-text-height: $fs-normal + 1px;
  @if ($menu-text-height/2) != round($menu-text-height/2) { 
    $menu-text-height: $menu-text-height + 1px;
  }
  .user-bar { 
/*   background: rgba(255,255,255,0.3); */
    border: $menu-border;
    border-color: transparent;
    border-top: none; 
    border-bottom: none; 
    height: $menu-height;
    padding: 0; 
    position :relative; 
    vertical-align:bottom;
    @include float(right);
    a.root { 
      display:block; 
      height: $menu-text-height + 3px;
      line-height: $menu-text-height;
      white-space: nowrap; 
      vertical-align: top; 
      padding: (($menu-height - 2px - $menu-text-height)/2) 8px;
      text-decoration: none;
      text-shadow: 1px 1px 0 white; 
      text-shadow: 1px 1px 0 transparentize(white, 0.5); 
      color: #555;
      cursor: default;
    }
    .name { font-weight: bold; }
    ul { 
      display: none; 
      border: $menu-border; 
      margin: 0; 
      padding: 2px; 
      position:absolute; 
      top: $menu-height; 
      z-index: 1000; 
      width:auto; 
      min-width: 10em; 
      background: $menu-background; 
      @include menu-shadow;
      html[dir="ltr"] & { right: -1px; }
      html[dir="rtl"] & { left: -1px; }
      li { 
        display: block; 
        padding: 0;
        &:hover { background: $menu-background-hover }
        a { display: block; padding: 4px 6px; white-space: nowrap; text-decoration: none; color: black;}
        &.separator { height: 1px; padding: 0; background: $menu-border-color; margin: 3px auto;}
        &.separator:hover, &.no-link:hover { background: transparent;}
      }
    }
    &:hover { 
      background: $menu-background; 
      border-color: $menu-border-color;
      a.root { 
        z-index:5000; 
        position: relative; 
        top: 0; 
        background: $menu-background 
      }
      ul { display: block; }
    }
  }

  .menu-bar { 
    height: $menu-height; 
    padding: 0 $fs-normal/4; 
    margin-bottom: 1px;
    @include background(#D0D0D0); 
    @include background(linear-gradient(top, #D0D0D0, #B9B9B9));
    display: block;
    ul {
      li { 
        position:relative; 
        list-style-type:none; 
        padding: 0;
        @include float(left);
        .logo-item { @include common-sprite(ekylibre); width: 74px; height: 24px; border: none; margin: (($menu-height - 24px)/2) 8px 0; padding: 0;}
        ul {
          display:none; position:absolute; margin:0; top: $menu-height; padding: 2px; width:auto; min-width: 10em; z-index: 1000; background: $menu-background;
          html[dir="ltr"] & { left: 0px; }
          html[dir="rtl"] & { right: 0px; }
        }
        &.submenu { 
          padding: 2px 4px; display:block; float: none !important;
          &:hover { background: $menu-background-hover; }
          a { display: block; padding: 3px 6px;}
        }
      }
    }
    ul li:hover ul, ul li ul:hover { display:block; border: $menu-border; @include menu-shadow; }
    a { display: block; white-space: nowrap; color: black; text-decoration: none; }
    li.menu { 
      margin: 0 0 0 1px;
      a.menu {
        &, & span { 
          height: $menu-text-height;
          line-height: $menu-text-height;
          vertical-align: top;
          font-weight: bold;
          text-shadow: 1px 1px 0 white; 
          text-shadow: 1px 1px 0 transparentize(white, 0.5); 
          color: #555;
        }
        border-top: 2px solid #BBB;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        padding: (($menu-height - 2px - $menu-text-height)/2) 8px; color: white; text-align: center; position: relative; z-index: 500;
        &.current { 
          background-color: $menu-background; 
          span { color: $text-color; }
          @include box-shadow(0 -5px 5px rgba(0,0,0,0.2)); 
          border-color: #D50; /*$menu-border-color;*/
          border-left: none;
          border-right: none;
        }
      }
      &.other:hover { 
        background-color: $menu-background; 
        @include menu-shadow;
        a.menu {
          span { color: $text-color; }
          border-color: $menu-border-color;
          border-top-color: background-hover($base-color);
          height: $menu-text-height + 1px;
        }
      }
    }
    li:hover a.menu.other { 
      background-color: $menu-background; z-index: 1500; color: #000; text-shadow: -1px -1px 1px white;}
/*
    li.menu.general { 
      a.menu.general { 
        width: 20px; 
        color: transparent; 
        text-shadow: none; 
        .text { display: none }
        .icon {
          margin-top: -4px; 
          vertical-align: middle;
          @include common-sprite(home); 
          @include inline-block; 
          height: 16px; 
          width: 17px; 
        }
      }
      &:hover a.menu.general .icon, &.current a.menu.general .icon{ 
        @include common-sprite(home-current); 
      }
    }
*/

  }
}


html[dir="ltr"] #top .menu-bar ul li ul li a { text-align: left; }
html[dir="rtl"] #top .menu-bar ul li ul li a { text-align: right; }


#helpage { padding-left: 8px; }

.clearfix:after { content: "."; display:block; height:0; clear: both; visibility: hidden; }
/* backslash hack hides from IE mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* end backslash hack*/

table.invex, table.invisible { border-collapse: collapse; }
table.invex { width: 100% }
table.invex > tbody > tr > td { vertical-align: top;  }
table.invex tr td.space{ width: 8px }
table.center { margin-left: auto; margin-right: auto; }

table.quick { margin: 0 8px 8px 8px; border-collapse: collapse; }
table.quick td { padding: 0px 4px; }


.attributes-list {  border-collapse: collapse; width: 100%; }
.attributes-list tr td { border-bottom: 1px dotted #CCC; }
.attributes-list .label, .attributes-list .value { padding:1px 4px;  vertical-align: middle; }
.attributes-list .code { font-family: "Liberation Mono", monospace; }
.attributes-list .label { color: #555; }
.attributes-list .value .string { max-height: 3em; overflow-y: auto;}
html[dir="ltr"] .attributes-list .label { text-align: right; }
html[dir="rtl"] .attributes-list .label { text-align: left; }


.evalue { border-collapse: collapse; border-bottom: 1px dotted #CCC; margin: 0px 4px; }
.evalue .label, .evalue .value { padding:1px 4px;  vertical-align: middle; }
.evalue .code { font-family: "Liberation Mono", monospace; }
.evalue .label { color: #777; }
.evalue.verti td { width: 250px }
.evalue.hori .label { width:176px;  }
/*.evalue.hori .value { width:164px; }*/
html[dir="ltr"] .evalue.hori .label { text-align: right; }
html[dir="rtl"] .evalue.hori .label { text-align: left; }


.desc { background: transparent; text-shadow: white 0 0 1.5px; color: black; behavior: url(/pie.htc); }

div.tr { display: table-row; }
div.td { display: table-cell; }

.logo { width: 160px; padding:4px; background: white; border:1px solid #EEE; text-align:center; vertical-align:center; }

#company { border-spacing:6px; }
#company div.side { border:1px solid #EEE; padding: 2px; background: #f9f9f9; }
#company div.side h2{ margin: 2px 0px 4px; }
#company div.side h3{ border-bottom :1px solid #BBB; margin: 10px 6px 2px; color:#555; }
#company div.side .label {color:#777; width: 160px; text-align:right; padding: 2px; }
#company div.side .value {color:#227;  padding: 2px; }

.flash { 
  padding: 8px; 
  margin-bottom: 8px; 
  vertical-align: middle; 
  color: black; 
  border: 1px solid black; 
  @include border-radius($default-border-radius);
  @include box-shadow(0 0 7px rgba(0, 0, 0, 0.15));
  .icon {
    display: block;
    height: 32px;
    width: 32px;
    @include right(margin, 8px);
    @include float(left);
  }
  .message { 
    @include left(margin, 40px);
    h3 {
      font-size: $fs-normal; 
      font-weight: bold; 
      padding: 0 0 2px; 
      margin-bottom: 2px; 
      border-bottom: 1px dotted #999; 
    }
    ul { 
      padding: 4px;
      @include left(padding, 20px); 
      li { list-style-type: square; }
    }
  }
  .end { 
    clear: both;
    height: 0;
  }
  &.error { 
    border-color: #D10; 
    color: #D10; 
    background-color: #FFDFD0; 
    .icon { @include common-sprite(notification-error); }
  }
  &.warning {
    border-color: #E60;
    color: #E60;
    background-color: #FFEECC;
    .icon { @include common-sprite(notification-warning); }
  }
  &.success {
    border-color: #5A1;
    color: #5A1;
    background-color: #EEFFCC;
    .icon { @include common-sprite(notification-success); }
  }
  &.information {
    border-color: #777;
    color: #777;
    background-color: #F5F5F5;
    .icon { @include common-sprite(notification-info); }
  }
}

/*.errorExplanation { background: #ECA; color: #543; margin: 8px; }
.errorExplanation { padding: 0 0 0 40px; border: 1px solid #F00; vertical-align: middle; min-height:32px; background: #FDD image-url("themes/tekyla/notification-error.png") left center no-repeat; }
.errorExplanation h2 { color: #F00;  font-size: $fs-normal; }
*/

.checkbox-true { @include common-sprite(true); height:12px; width:12px; }
.checkbox-false { @include common-sprite(false); height:12px; width:12px; }

.count { margin: 0 0 4px; color:#777; }

.contact { padding: 5px 0 8px 4px; border:0.2px solid; border-color:$light-color; background-color:#FEB; }


table.formalize { border-collapse: collapse; margin-left: auto; margin-right: auto; width: 100% }
table.formalize tr.field td { border-bottom:  1px dotted #CCC; }
table.formalize tr.field td label { color: #555; }
table.formalize td.label { text-align:right; padding:1px 4px; color: #555; width: 30%; border-right: 0px dotted #CCC;  }
html[dir="rtl"] table.formalize td.label { text-align:left !important; }
table.formalize td.input { padding:2px 6px 2px 2px; }
table.formalize td.help  { text-align:left; padding:2px 2px 2px 6px; font-size: $fs-small; border-left:1px dashed #CCC; }
table.formalize td .notnull { border: 1px solid #33F; background-color: #EEF }
table.formalize td .info         { color: #007;  background:#CDF; padding:2px; }
table.formalize td .info span    { color: #55C; }
table.formalize td .example      { color: #040;  background:#CFC; padding:2px; }
table.formalize td .example span { color: #4A5; }
table.formalize td .hint         { color: #600;  background:#FDE; padding:2px; }
table.formalize td .hint span    { color: #B54; }
table.formalize td .note         { color: #777; }
table.formalize tr.title th { padding: 16px 8px 2px; border-bottom: 0px dotted #012; color: #012; font-size: $fs-normal; border-bottom: 1px solid #CCC; font-weight:bold; }
table.formalize td.input .code { font-family: "Liberation Mono", monospace; }
a.act img { border: none !important; }
/*
table.formalize tr.odd  td { background: #E5ECF6; }
table.formalize tr.even td { background: #F0F8FF; }
*/
table.formalize a.fastadd { margin: 0px 8px; }





div.field { padding: 4px; }
div.field > * { vertical-align: middle; }
div.field label.attr { color: #555; width: 30%; display: inline-block; text-align: right; padding: 0 8px;}
html[dir="rtl"] div.field label.attr { text-align: left; }
div.field.mono-choice .toolbar { margin: 0 8px; }


.form-column{ overflow: auto; padding:4px; }

.rad { padding: 1px 4px; }
.rad * { vertical-align: middle; }

/*.actions { text-align:center; padding:4px !important; background: #e9e9a8; border-top: 1px solid #BEBEBB; margin: 8px 0 0; }*/
.actions { text-align:center; padding:4px !important; background: $menu-background; border-top: 1px solid #DDD;  margin: 0; } /* CEC  ACA*/
/*.actions * { margin: 0px 8px; }
.actions a { padding: 4px; margin: 4px; }*/
/*.actions a:link, .actions a:visited, .actions a:hover { color:#080; }*/


a.right { float:right; }

/* BEGIN BUTTON STYLES */
/*
input[type="submit"] { text-decoration:none; border:1px solid #BBB; color:#444; background: #CCC image-url("themes/tekyla/button.png") repeat-x top; -moz-border-radius: 4px; padding:1px 5px 2px; }
input[type="submit"]:hover { border:2px solid #DA4; color: #555; text-decoration:none; background: #DDD image-url("themes/tekyla/button_hover.png") repeat-x top; }
input[type="submit"]:active, input[type="submit"]:focus { border:2px solid #68C; color: #555; text-decoration:none; background: #CCC image-url("themes/tekyla/button_hover.png") repeat-x top; }
input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus { padding:0px 4px 1px; }
*/
/* END */
input[type="text"], input[type="password"], textarea, select { border: 1px solid #aaa; background: #fff; } 
input[type="text"], input[type="password"], textarea, select { margin: 1px !important; border-width: 1px; }
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus { border: 2px solid $base-color !important; margin: 0px !important; }
input[type="text"].invalid:focus, input[type="password"].invalid:focus, textarea.invalid:focus, select.invalid:focus { border-color: $invalid-color !important; }
input.invalid, textarea.invalid, select.invalid { border: 1px solid $invalid-color !important; background-color: #FDD !important; } 


.fore { border: 1px solid $light-color; margin: 8px 0; background: #EFE; }
.fore .formalize { margin:8px auto; }
/*E4EBF8*/

/*#E7E7E7*/

.search { background: #CEA !important; color: #580; @include border-radius($default-border-radius); padding:4px 6px; margin: 0 0 8px; }
.search table { margin: 0px auto; }
.search .label { padding: 1px 4px; }
.search .submit { padding: 0px 4px;}
.search table .crit { border-top: 1px dotted #580; padding: 1px 4px; vertical-align: middle; text-align:center; }
.search table .crit input[type="radio"], .search table .crit input[type="checkbox"] { position: relative; top: 2px }
.search table tr:first-child .crit { border-top: none; }

.kujaku { background: #CEA !important; color: #580; @include border-radius($default-border-radius); padding:4px 6px; margin: 0 0 8px; }
.kujaku table { margin: 0px auto; }
.kujaku .label { padding: 1px 4px; }
.kujaku .submit { padding: 0px 4px; width: 130px; text-align:center; }
.kujaku table .crit { border-top: 1px dotted #580; padding: 1px 4px; vertical-align: middle; text-align:center; }
.kujaku table .crit input[type="radio"], .kujaku table .crit input[type="checkbox"] { position: relative; top: 2px }
.kujaku table tr:first-child .crit { border-top: none; }



.results { background: #EEF;  padding:4px 6px; margin: 0 0 8px; width:192px; }
.results h2 { font-size : $fs-large; color: black; padding: 2px; margin: 2px 0px; }
.results ul { padding: 4px 4px 4px 18px; }
.results li { list-style-type: square; }
.results li .pertinence{ color: #AAA; font-size: 11px; }



/*e7f2fd bbcfe6*/

h2.form { font-size: $fs-large; margin: 8px 0px 4px; border-bottom: 1px solid $light-color; color: #656C79; }

.stepper { border-collapse: collapse; width: 100%; margin-bottom:8px; }
.stepper td { height: 36px; }
.stepper td.step { text-align:center; background: image-url("themes/tekyla/stepper-default.png") no-repeat; padding: 6px 20px; line-height: 24px; height: 24px; vertical-align:middle;}
.stepper td.step.usable { background: image-url("themes/tekyla/stepper-usable.png") no-repeat; }
.stepper td.step.active { background: image-url("themes/tekyla/stepper-active.png") no-repeat; }
html[dir="ltr"] .stepper td.step { background-position: right center; }
html[dir="rtl"] .stepper td.step { background-position: left center; }
.stepper td.transition { width: 8px; }




.login { width:500px; margin:64px auto; /*border: 1px solid $base-color; background:$light-color;*/ z-index: 1000; border: 1px solid #DDD; background: #f1f1f1; } /* $light-color */
.ui-dialog .login { margin: 0; padding: 0 8px;}
.login .logoban { height:80px; width: 280px; @include common-sprite(ekylong); margin: 16px auto 8px; }
.login h2 { color:red !important; padding: 2px; text-align:center; font-size: $fs-huge; }
.login p { margin:8px; }
.login table { border-collapse: collapse;  margin:16px auto; margin-left:auto; margin-right:auto; }
.login table tr td { padding: 2px 4px; }
.login table tr td.label { text-align:right; }
html[dir="rtl"] .login table tr td.label { text-align:left !important; }
.login table tr td.input, .login table tr td.input input { width:128px; }
.login table tr td.button {text-align:center; padding:6px 6px 16px; }
.login table.browsers tr td { padding: 8px 16px; }
/*div.flash-error {text-align:center; color:red; font-style:italic;height:20px;padding: 16px; margin-top: 64px; }*/
#nojavascript p { font-weight: bold; text-align: center; padding: 24px; color: #c00; }
.login.register { padding:16px 0; text-align: center;}

.window { padding:4px; background: #EEE; border: 1px solid #AAA; margin: 8px; }
.window .list { background: white; }


/* Droits utilisateurs */
.right-category { text-align: center; padding: 15px 0 5px 0; font-weight: bold; }
.right {  margin-left:50px; }

/* entries */
#table.entries tr * { border: 1px solid #AAA; padding: 1px 2px; }
#table.entries tr.odd td{background: #E3F4FF; }
#table.entries tr.even td{background: #A3FCFF; }


.tabbox {
  margin: 8px 0;
  & > .tabs  { 
    padding: 0px; 
    & > .tab { 
      text-decoration: none; 
      line-height: 24px; 
      cursor: pointer;
      padding: 4px 6px; 
      color: #000;
      text-shadow: 1px 1px 0 white;
      text-decoration: none;
      margin: 0 4px 0 0; 
      white-space: nowrap;
      @include border-top-left-radius($default-border-radius);
      @include border-top-right-radius($default-border-radius);
      border: 1px solid mix($desktop-background, #000, 70%);
      border-bottom: none;
      background: $menu-background;
      opacity: 0.5;
      &:hover { 
        opacity: 0.8; 
      }
      &.current {
        font-weight: bold; 
        text-shadow: none;
        opacity: 1;
        position: relative;
        top: 1px;
      }
    }
  }
  & > .tabpanels {
    @include menu-shadow;
    background: $menu-background;
    border: 1px solid mix($desktop-background, #000, 70%);
    padding:8px;
    & > .tabpanel {
      display: none;
      &.current { display: block; }
    }
  }
  &.journals { 
    border-bottom: 1px solid mix($desktop-background, #000, 70%);
    @include background(linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.05)));
    & > .tabs {
      & > .tab {
        &.current{ @include background($desktop-background); }
        &.special{ color: $base-color; }
      }
    }
  }
}

$tree-line: 1px dotted #AAA;
.branch { 

  &:hover { 
    background-color: background-hover($desktop-background); 
  }
  .shift { 
    height: 15px; 
    width:10px; 
    border-bottom: $tree-line;
    html[dir="ltr"] & { float:left; }
    html[dir="rtl"] & { float:right; }
  }
  .tools { 
    padding: 1px 4px; 
    width: 20em;
    html[dir="ltr"] & { float:right; }
    html[dir="rtl"] & { float:left; }
  }
  .item {
    padding: 2px;
    @include left(padding, 16px);
    td.ic { 
      width: 16px;
      @include right(padding, 4px);
      .icon { 
        height: 16px;
        width:16px;
        &.table  { @include icons-sprite(table) }
        &.column { @include icons-sprite(column) }
      }
    }
    table { 
      width: 100%; 
/*      border-bottom:1px dotted #79F; */
    }
    form { @include inline-block; }
    .export { vertical-align: middle; width: 1em; @include right(padding, 2px);}
    .attribute { color: #888; font-style: italic; }
    td.delete {padding: 0 4px; width: 2em; }
    td.position { width: 15ex; }
    .item-tool { @include text-align(right); }
  }
}

.branches { 
  html[dir="ltr"] & { margin-left: 20px; border-left: $tree-line; }
  html[dir="rtl"] & { margin-right: 20px; border-right: $tree-line; }
}


tbody.lines td input { width: 95%; }


.active-list[data-list-source] table.list, .active-list table.list, table.list { 
  width: 100%;
  tr.total {
    td, th { 
      border: 1px solid #DDD;
      font-size: $fs-large; 
      font-weight: bold;
      padding: 2px;
      html[dir="ltr"] & { text-align:right; }
      html[dir="rtl"] & { text-align:left; }
    }
    th { 
      padding: 4px 6px;
      @include background(linear-gradient(top, #EEE, #DDD));
    }
    td { 
      padding: 4px;
      color: black;
      @include background(linear-gradient(top, #FFF, #EEE));
    }
    &.invalid td { color: #D20; }  
  }
  tbody {
    tr.empty { 
      td { 
        text-align: center;
        color: rgba(0, 0, 0, 0.3);
        font-weight: bold;
        /*padding: 1ex !important;*/
      }
    }
    tr.odd, tr.even, tr.empty { 
      td { 
        padding-top: $fs-normal*0.25;
        padding-bottom: $fs-normal*0.25;
      }
    }
    td.act { 
      width: 16px;
      a { 
        color: transparent;
        font-size: 0;
        @include icons-sprite(action);
        display: block;
        height: 16px;
        width: 16px;
        margin: 0 auto;

        &.show { @include icons-sprite(print); }
        &.destroy { @include icons-sprite(destroy); }

        &.abort       { @include icons-sprite(destroy); }
        &.action      { @include icons-sprite(action); }
        &.backup      { @include icons-sprite(right); }
        &.cancel      { @include icons-sprite(cancel); }
        &.checked     { @include icons-sprite(true); }
        &.close       { @include icons-sprite(close); }
        &.column      { @include icons-sprite(column); }
        &.confirm     { @include icons-sprite(validate); }
        &.configure   { @include icons-sprite(configure); }
        &.correct     { @include icons-sprite(edit); }
        &.edit,        &.update { @include icons-sprite(edit); }
        &.new,         &.create { @include icons-sprite(new); }
        &.destroy,     &.delete { @include icons-sprite(destroy); }
        &.divide      { @include icons-sprite(divide); }
        &.down        { @include icons-sprite(down); }
        &.duplicate   { @include icons-sprite(duplicate); }
        &.extract     { @include icons-sprite(action); }
        &.filter      { @include icons-sprite(filter); }
        &.firefox     { @include icons-sprite(down); }
        &.help        { @include icons-sprite(help); }
        &.import      { @include icons-sprite(left); }
        &.letter      { @include icons-sprite(mark); }
        &.load        { @include icons-sprite(load); }
        &.logout      { @include icons-sprite(logout); }
        &.mail        { @include icons-sprite(mail); }
        &.merge       { @include icons-sprite(merge); }
        &.point       { @include icons-sprite(point); }
        &.print       { @include icons-sprite(print); }
        &.reflect     { @include icons-sprite(action); }
        &.refuse      { @include icons-sprite(destroy); }
        &.register    { @include icons-sprite(new); }
        &.restore     { @include icons-sprite(left); }
        &.sort        { @include icons-sprite(sort); }
        &.table       { @include icons-sprite(table); }
        &.unchecked   { @include icons-sprite(false); }
        &.up          { @include icons-sprite(up); }
      }
     
    }
  }
  
}


table.active-list tr.total.valid   td { color: #090; }  
table.active-list tr.subtotal.invalid td { color: #D20; }  
table.active-list tr.subtotal.valid   td { color: #090; }  
table.active-list tr.first-line    td { border-top: 2px solid #F77; }  
table.active-list tr.last-line     td { border-bottom: 2px solid #F77; }  
table.active-list tr.inline-errors td { background: transparent; padding:8px 4px 0; border-left:none; border-right:none; }

div.fastadd { background: #FC8; text-align:center; padding: 4px; margin: 4px 0; }

#conditions .condition { background: #FD8; padding: 4px; margin-bottom: 8px; }
#conditions .title { clear: both; background: #FEA; padding: 4px; }
#conditions .title .right-menu { float: right; padding-left:8px; }
#conditions .title h3 { font-size: $fs-normal; }
#conditions .parameters { padding-top: 4px; }
#conditions .param { padding: 2px; border-bottom: 1px dotted #AAA; }
#conditions .param:last-child { border-bottom:none; }

table.accounts { 
  tr { 
    td.tabs { 
      width: 16em; 
      .major-accounts {
        a, strong { 
          background: $cell-background; display: block; padding:4px 8px; margin-bottom:2px;
          html[dir="ltr"] & { @include border-top-left-radius($default-border-radius); @include border-bottom-left-radius($default-border-radius); }
          html[dir="rtl"] & { @include border-top-right-radius($default-border-radius); @include border-bottom-right-radius($default-border-radius); }
        }
        strong { background: $cell-background-current; font-weight: bold; }
        & > *:last-child { margin-bottom: 0 }
      }
    }
  }
}
  
table.accounts tr td.list, .tab-content { background: $cell-background-current; padding:4px; }

.view {
  padding:4px;
  span { padding:4px 8px; }
  a, strong {
    $text-height: $fs-normal + 2px;
    height: $text-height;
    line-height: $text-height;
    vertical-align: top;
    padding: 4px 8px; 
    margin: 0 2px; 
    background: $cell-background; 
    @include border-top-left-radius($default-border-radius); @include border-top-right-radius($default-border-radius); 
  }
  strong { background: $cell-background-current; }
}


.map { border: 1px solid #999; background: white; }


html[dir="ltr"] .toggle { float:right }
html[dir="rtl"] .toggle { float:right }
.toggle a.icon { background-position: center center;  height: 18px; }
.toggle a.icon.current { @include opacity(0.5); }

#chains .chain { border-top: 1px dotted #CCC;  }
#chains .chain:first-child { border-top: none;  }
.chain { padding:8px 0; }
html[dir="ltr"] .chain .delete { float:right; }
html[dir="rtl"] .chain .delete { float:left; }
.work-center-graph { border-collapse: collapse; }
.work-center-graph .work-center { background: $light-color; padding: 4px 8px; border: 2px dotted $base-color; text-align:center; width: 10em;}
.work-center-graph .work-center.master { border-style: solid; }
.work-center-graph .work-center .action { margin: 2px;}
table.conveyor { border-collapse: collapse; margin: 2px 0; }
.conveyor .information table { border-collapse: collapse; padding: 0}
.conveyor .cell { background: #DDD; font-size: $fs-small; border: 2px solid #555; padding: 0;}
.conveyor .cell * { font-size: $fs-small; }
.conveyor .cell .bmenu { padding: 0; width: 12em;}
.conveyor .cell .bmenu ul { width: 12em;}
.conveyor .cell .bmenu a { display: block; padding: 2px 4px;}
.conveyor a img { border: none; display: block;}
.conveyor .cell.action { padding: 1px; }
.conveyor .cell.quantity { background: $light-color; padding: 2px 4px; border-color: $base-color;  }
html[dir="ltr"] .conveyor .cell.target, html[dir="rtl"] .conveyor .cell.source { margin-right: -2px; border-right: none; }
html[dir="rtl"] .conveyor .cell.target, html[dir="ltr"] .conveyor .cell.source { margin-left: -2px; border-left: none; }
.conveyor .cell.check-state { background: #EF9; }
.conveyor .cell.unique-tracking { background: #FE9; }
.conveyor .cell.new { padding: 2px 4px; background: #FFD; @include border-radius(5px); }

.conveyor .conveyor-input {  width: 24px; background: image-url("themes/tekyla/conveyor.png") no-repeat -8px center; }
.conveyor .conveyor-output { width: 32px; background: image-url("themes/tekyla/conveyor.png") no-repeat -32px center; }
html[dir="rtl"] .conveyor .conveyor-input { background-position: -32px center; }
html[dir="rtl"] .conveyor .conveyor-output { background-position: 0px center; }


.conveyor .rail { width: 20px; background: image-url("themes/tekyla/rail.png") repeat-x center; }
.conveyor .arrow { width: 16px; background-repeat: no-repeat; background-position:center; height: 24px;}
html[dir="ltr"] .conveyor .arrow { background-image: image-url("themes/tekyla/arrow-right.png"); }
html[dir="rtl"] .conveyor .arrow { background-image: image-url("themes/tekyla/arrow-left.png"); }
html[dir="ltr"] .work-center-graph .input-conveyors .conveyor { margin-left: auto; }
html[dir="rtl"] .work-center-graph .input-conveyors .conveyor { margin-right: auto; }

.bmenu { position: relative; }
.bmenu ul { display: none; position:absolute; background: Menu; border:1px solid ButtonShadow; z-index: 1000; box-shadow: 0px 0px 4px #555; -moz-box-shadow: 0px 0px 4px #555; -webkit-box-shadow: 0px 0px 4px #555; behavior: url(/pie.htc);}
.bmenu:hover ul { display: block;  }
html[dir="ltr"] .bmenu ul { left: -1px; }
html[dir="rtl"] .bmenu ul { right: -1px; }
.bmenu ul li { list-style-type: none; padding: 2px 4px; }
.bmenu ul li a { padding: 2px 2px 2px 20px; display: block;}
.bmenu ul li:hover { background: Highlight; }
.bmenu ul li:hover * { color: HighlightText; }



.treemap { 
  border-collapse: collapse; width: 100%;
  .plot { 
    padding: 4px; 
    border: 2px solid #8a8; 
    vertical-align: top; 
    .name { 
      padding: 2px; 
      display:block; 
      border-bottom: 1px dotted #8A8; 
    }
    ul.operations { 
      padding: 2px 2px 2px 20px; 
    }
  }
}
.treemap .plot.odd { background: #D7F1C9; }
.treemap .plot.even { background: #C9F1D7; }
.treemap .plot.selected {background: Highlight; color: HighlightText; }
.treemap .plot.selected * { color: HighlightText; }


table.active-list tr.aborted td, table.active-list tr.refused td { text-decoration: line-through; }

table.profile { border-collapse: collapse; border-spacing: 0; width: 100%;}
table.profile td { padding: 1px 2px; }

div.profile { clear: both; border-left: 1px solid #000; border-top: 1px solid #000;}
div.profile .md { float: right; }

.profile * { font-size: $fs-small; font-family: "Liberation Mono", monospace; }
.profile .dec { text-align: right; width: 15ex;}
.profile .mdc { text-align: right; width: 7ex;}
.profile .tit { border : 1px solid transparent; cursor: pointer;}
.profile .tit:hover { border : 1px solid red }
.profile span.fil { color: #0A7; }
.profile span.lno { color: #0A7; }
.profile span.cls { color: #05D; }
.profile span.mth { color: #D50; }


/*all the styles used by the plugin Unroll.*/
div.unroll-choices {width: 350px; z-index: 1000; background-color: #FFF;}
div.unroll-choices ul {border:1px solid #555; margin:0; padding:0; list-style-type:none; }
div.unroll-choices ul li { margin:0; padding:3px; color: #000; cursor: pointer; } /*$light-color*/
div.unroll-choices ul li.selected {background-color: $light-color; }
div.unroll-choices ul strong.highlight { margin:0; padding:0; }
/*input[data-unroll] { background: #FFF image-url("themes/tekyla/buttons/unroll.png") no-repeat; }
html[dir="ltr"] input[data-unroll] { background-position: right center; padding-right: 18px; }
html[dir="rtl"] input[data-unroll] { background-position: left center; padding-left: 18px; }
*/



.ui-dialog .ui-dialog-content.ajax-dialog { padding: 8px; }

.ui-autocomplete.ui-menu { 
  position: absolute;
  cursor: default;
  background: $menu-background;
  @include menu-shadow;
  border: $menu-border;
  list-style:none;
  padding: 0;
  margin: 0;
  display:block;
  float: left;
  max-height: 200px;
  overflow: auto;
  .ui-menu {
    margin-top: -3px;
  }
  .ui-menu-item {
    margin:0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%;
    a {
      text-decoration:none;
      display:block;
      padding:.2em .4em;
      line-height:1.5;
      zoom:1;
      &.ui-state-hover, &.ui-state-active {
        font-weight: normal;
        background: $menu-background-hover;
        /*margin: -1px;*/
      }
    }
  }
}




.ui-dialog { 
  position: absolute; 
  background: $menu-background;
  border: 2px solid $base-color;
  @include box-shadow(0 0 10px rgba(0, 0, 0, 0.3));
  overflow: hidden;
  .ui-dialog-titlebar { 
    padding: 4px;
    height: 16px;
    background: $base-color;
    .ui-dialog-title {
      margin: 4px;
      font-weight: bold;
      font-size: $fs-large;
      color: white;
      @include text-shadow(0 0 3px rgba(0,0,0,0.5));
    }
    .ui-dialog-titlebar-close { 
      float: right;
      span { 
        display: block;
        @include squish-text;
        @include icons-sprite(close);
        height: 16px;
        width: 16px;
      }
      &:hover, &:focus { padding: 0; }
    }
  }
  .ui-dialog-content { 
    clear: both;
    position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
  .ui-dialog-buttonpane { 
    text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; 
    .ui-dialog-buttonset { float: right; }
    button { margin: .5em .4em .5em 0; cursor: pointer; }
  }
  .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
}

.ui-draggable .ui-dialog-titlebar { cursor: move; }

.ui-widget-overlay { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background: transparentize($base-color, 0.8);
}

.ui-datepicker {
  display:none;
  background: $menu-background;
  padding: 4px;
  border: 1px solid #AAA;
  @include border-radius(3px);
  @include box-shadow(0 0 5px rgba(0,0,0,0.3));
  $title-line-height: 16px;
  .ui-datepicker-prev { 
    float: left; 
    line-height: $title-line-height;
    @include hide-text;
    display: block;
    width: 16px;
    height: 16px;
    margin: 3px;
    @include icons-sprite(left);
  }
  .ui-datepicker-next {
    float: right;
    line-height: $title-line-height;
    @include hide-text;
    display: block;
    width: 16px;
    height: 16px;
    margin:3px;
    @include icons-sprite(right);
  }
  .ui-datepicker-title { 
    padding: 4px;
    text-align: center;
    line-height: $title-line-height;
    * { font-weight: bold; }
  }
  table { 
    border-collapse: separate;
    border-spacing: 2px;
    th { 
      text-align: center;
      font-weight: bold;
    }
    td { 
      border: 1px solid mix($base-color, #FFF, 15%);
      &:hover { 
        border: 1px solid #FFF;
        background: rgba(255, 255, 255, 0.5);
      }
      &.ui-datepicker-unselectable { 
        border: none;
        background: transparent;
      }
      a { 
        display: block;
        padding: 2px 4px;
        text-align: center;
      }
    }
  }
}



input[data-datepicker] {text-align: center}




a.mn { 
  white-space: nowrap;
  padding: 4px 6px;
  @include inline-block;

  span { 
    vertical-align: middle;
    margin: 0 2px;
    html[dir="ltr"] &:first-child, html[dir="rtl"] &:last-child { margin-left: 0; }
    html[dir="rtl"] &:first-child, html[dir="ltr"] &:last-child { margin-right: 0; }
  }
  .icon { 
    background-repeat: no-repeat; 
    width: 16px;
    height: 16px;
    @include inline-block;
  }

}