- main_toolbar do |t|
  - t.edit @prescription

= beehive do |b|
  - b.cell do
    = attributes_list do |l|
      - l.attribute :reference_number
      - l.attribute :delivered_at
      - l.attribute :prescriptor, url: true
      - l.attribute :document, url: true
      - l.attribute :description

  - b.hbox do
    - b.cell(:interventions) do
      = list(:interventions)