= main_toolbar do |t|
  - t.edit @prescription

= beehive do |b|
  - b.cell do
    = attributes_list do |l|
      - l.attribute :reference_number
      - l.attribute :delivered_at
      - l.attribute :prescriptor
      - l.attribute :document
      - l.attribute :description