= kujaku do |k|
  - k.text
  - k.helper :journal_period_crit
  - k.choice :all, :consume, :available
  - k.needle_choice :working_set, [[]] + Nomen::WorkingSet.selection

- main_toolbar do |t|
  = t.new params: { controller: :parcels, action: :new, nature: :incoming }, label: :new_incoming_parcel.tl
  = t.new

= main_list
