- main_toolbar do |t|
  - t.edit resource

= beehive do |b|
  - b.hbox do
    - b.cell :general do
      - if resource.shape
        = mini_map(resource)
      = attributes_list do |l|
        - l.attribute :name
        - l.attribute :variant, url: true
        - l.attribute :nature, url: true
        - l.attribute :work_number

  - b.hbox do
    - b.cell(:contained_products) do
      = list(:contained_products)
