=field_set do
  =f.input :name
  =f.referenced_association :parent
  =f.input :nomen
  =f.input :description
  =f.input :analytical_center_type
  =f.input :closed
  =f.input :family
  =f.input :net_margin, :show => :product

=field_set(:product) do
  =f.referenced_association :area_unit
  =f.referenced_association :work_unit
  =f.referenced_association :favored_product_nature