- productions = ActivityProduction.of_activity(resource).of_campaign(current_campaign)
.toolbar
  = tool_to :new.ta, {action: :new, controller: :activity_productions, activity_id: resource.id, campaign_id: current_campaign.id, redirect: request.fullpath}, tool: :new
  - if resource.family == 'vine_farming'
    = tool_to :create_vine_plants.ta(count: productions.count), {action: :create_plants, controller: :activity_productions, activity_production_ids: productions.pluck(:id), campaign_id: current_campaign.id, redirect: request.fullpath}, tool: :grape
= production_chronologies(productions.order(:rank_number))
