.nested-fields
  - bulk_units = Nomen::Units.where(dimension: :mass).selection
  - days = ['Jours']
  = link_to_remove_nested_association(:tactics, f)
  = f.input :mode, as: :radio_buttons
  = f.delta_field(:plan_on, :mode_delta, :mode, days)
  = f.delta_field(:bulk_quantity, :bulk_delta, :bulk_unit_name, bulk_units)
