- main_period_selector(:year)

- main_toolbar do |t|
  - if @availables_activities.any?
    = t.menu :open, icon: false, class: 'btn-open-new-activity' do |menu|
      - @availables_activities.order(:name).each do |a|
        - menu.item a.name, { action: :open, controller: :campaigns, id: current_campaign.id, activity_id: a.id }, method: :post, title: a.name
      - menu.separator
      - menu.item :new_activity.tl, { controller: :activities, action: :new }, as: 'main'
  - else
    = tool_to :new_activity.tl, { controller: :activities, action: :new }
  - if @availables_activities.any?
    = t.export :land_parcel_register, key: Printers::LandParcelRegisterCampaignPrinter.build_key(campaign: current_campaign), label: :print_land_parcel_register

= render 'backend/activities/activities', activities: @activities, families: @families, campaign: @campaign, currency: @currency
