- main_toolbar do |t|
  - t.edit resource

= beehive do |b|
  - b.cell :details do
    = attributes_list do |l|
      - l.attribute :name
      - l.attribute :parent
      - l.attribute :nature
      - l.attribute :family

  - b.hbox do
    - b.cell(:productions) do
      = toolbar do |t|
        - t.new(params: {controller: :productions, activity_id: resource.id})
      = list(:productions)