- if resource.family? && %w[administering plant_farming wine_making animal_farming tool_maintaining default vine_farming].include?(resource.family)
  = render "backend/activities/show/#{resource.family}", resource: resource
- else
  = render 'backend/activities/show/default', resource: resource
