VER   020000000000Transfert ISAPAYE Win 12.0    1
DOS   111                                                   
ECR   9031072020        Paye de juil. 20                                    12            0016022021160220210           EUR                         
MVT   64110000  BRUT                          0000010509.300000000000.00                                                    
MVT   64510000  MSA                           0000000305.970000000000.00                                                    
MVT   43100000  MSA                           0000000000.000000002017.25                                                    
MVT   64531000  RETRAITE / PREVOY. NON CADRE  0000000500.630000000000.00                                                    
MVT   43721000  RETRAITE / PREVOY. NON CADRE  0000000000.000000001090.21                                                    
MVT   64520000  MUTUELLE                      0000000074.960000000000.00                                                    
MVT   43740000  MUTUELLE                      0000000000.000000000149.92                                                    
MVT   63380000  IMPOTS ET TAXES               0000000001.690000000000.00                                                    
MVT   44210000  PRELEVEMENTS A LA SOURCE (IR) 0000000000.000000000007.64                                                    
MVT   42100000  NET A PAYER                   0000000000.000000008127.53                                                    
ECR   9031082020        Paye de août 20                                     12            0016022021160220210           EUR                         
MVT   64110000  BRUT                          0000008687.940000000000.00                                                    
MVT   64510000  MSA                           0000000394.780000000000.00                                                    
MVT   43100000  MSA                           0000000000.000000001867.13                                                    
MVT   64531000  RETRAITE / PREVOY. NON CADRE  0000000397.760000000000.00                                                    
MVT   43721000  RETRAITE / PREVOY. NON CADRE  0000000000.000000000885.14                                                    
MVT   64520000  MUTUELLE                      0000000074.960000000000.00                                                    
MVT   43740000  MUTUELLE                      0000000000.000000000149.92                                                    
MVT   63380000  IMPOTS ET TAXES               0000000001.400000000000.00                                                    
MVT   44210000  PRELEVEMENTS A LA SOURCE (IR) 0000000000.000000000007.20                                                    
MVT   42100000  NET A PAYER                   0000000000.000000006647.45                                                    
ECR   9030092020        Paye de sept. 20                                    12            0016022021160220210           EUR                         
MVT   64110000  BRUT                          0000004960.020000000000.00                                                    
MVT   64510000  MSA                           0000000596.200000000000.00                                                    
MVT   43100000  MSA                           0000000000.000000001406.84                                                    
MVT   64531000  RETRAITE / PREVOY. NON CADRE  0000000166.820000000000.00                                                    
MVT   43721000  RETRAITE / PREVOY. NON CADRE  0000000000.000000000445.08                                                    
MVT   64520000  MUTUELLE                      0000000074.960000000000.00                                                    
MVT   43740000  MUTUELLE                      0000000000.000000000149.92                                                    
MVT   63380000  IMPOTS ET TAXES               0000000000.790000000000.00                                                    
MVT   44210000  PRELEVEMENTS A LA SOURCE (IR) 0000000000.000000000007.20                                                    
MVT   42100000  NET A PAYER                   0000000000.000000003789.75                                                    
ECR   9031102020        Paye de oct. 20                                     12            0016022021160220210           EUR                         
MVT   64110000  BRUT                          0000005373.730000000000.00                                                    
MVT   64510000  MSA                           0000000473.450000000000.00                                                    
MVT   43100000  MSA                           0000000000.000000001320.50                                                    
MVT   64531000  RETRAITE / PREVOY. NON CADRE  0000000169.750000000000.00                                                    
MVT   43721000  RETRAITE / PREVOY. NON CADRE  0000000000.000000000471.22                                                    
MVT   64520000  MUTUELLE                      0000000074.960000000000.00                                                    
MVT   43740000  MUTUELLE                      0000000000.000000000149.92                                                    
MVT   63380000  IMPOTS ET TAXES               0000000000.860000000000.00                                                    
MVT   44210000  PRELEVEMENTS A LA SOURCE (IR) 0000000000.000000000007.20                                                    
MVT   42100000  NET A PAYER                   0000000000.000000004143.91                                                    
ECR   9030112020        Paye de nov. 20                                     12            0016022021160220210           EUR                         
MVT   64110000  BRUT                          0000005024.920000000000.00                                                    
MVT   64510000  MSA                           0000000426.130000000000.00                                                    
MVT   43100000  MSA                           0000000000.000000001251.15                                                    
MVT   64531000  RETRAITE / PREVOY. NON CADRE  0000000151.440000000000.00                                                    
MVT   43721000  RETRAITE / PREVOY. NON CADRE  0000000000.000000000433.34                                                    
MVT   64520000  MUTUELLE                      0000000074.960000000000.00                                                    
MVT   43740000  MUTUELLE                      0000000000.000000000149.92                                                    
MVT   63380000  IMPOTS ET TAXES               0000000000.810000000000.00                                                    
MVT   44210000  PRELEVEMENTS A LA SOURCE (IR) 0000000000.000000000007.20                                                    
MVT   42100000  NET A PAYER                   0000000000.000000003836.65                                                    
ECR   9031122020        Paye de déc. 20                                     12            0016022021160220210           EUR                         
MVT   64110000  BRUT                          0000006098.230000000000.00                                                    
MVT   64510000  MSA                           0000000598.770000000000.00                                                    
MVT   43100000  MSA                           0000000000.000000001623.95                                                    
MVT   64531000  RETRAITE / PREVOY. NON CADRE  0000000199.330000000000.00                                                    
MVT   43721000  RETRAITE / PREVOY. NON CADRE  0000000000.000000000539.16                                                    
MVT   64520000  MUTUELLE                      0000000102.000000000000.00                                                    
MVT   43740000  MUTUELLE                      0000000000.000000000204.00                                                    
MVT   63380000  IMPOTS ET TAXES               0000000000.980000000000.00                                                    
MVT   44210000  PRELEVEMENTS A LA SOURCE (IR) 0000000000.000000000007.21                                                    
MVT   42100000  NET A PAYER                   0000000000.000000004624.99                                                    
ECR   9031012021        Paye de janv. 21                                    12            0016022021160220210           EUR                         
MVT   64110000  BRUT                          0000006995.830000000000.00                                                    
MVT   64510000  MSA                           0000001014.330000000000.00                                                    
MVT   43100000  MSA                           0000000000.000000002166.78                                                    
MVT   64531000  RETRAITE / PREVOY. NON CADRE  0000000282.890000000000.00                                                    
MVT   43721000  RETRAITE / PREVOY. NON CADRE  0000000000.000000000672.56                                                    
MVT   64520000  MUTUELLE                      0000000108.000000000000.00                                                    
MVT   43740000  MUTUELLE                      0000000000.000000000216.00                                                    
MVT   63380000  IMPOTS ET TAXES               0000000001.130000000000.00                                                    
MVT   44210000  PRELEVEMENTS A LA SOURCE (IR) 0000000000.000000000007.21                                                    
MVT   42100000  NET A PAYER                   0000000000.000000005339.63                                                    
