- if @forecast
  :ruby
    categories = @forecast[:list].collect{|d| d[:at].l(format: "%d/%m %HH") }
    series = []
    series << {name: :humidity.tl, data: @forecast[:list].collect{|d| d[:humidity].to_f(:percent).round(1)}, tooltip: {value_suffix: ' %' }, y_axis: 0 }
    series << {name: :pluviometry.tl, type: 'column', data: @forecast[:list].collect{|d| d[:pluviometry].to_f(:millimeter).round(1)}, tooltip: {value_suffix: ' mm' }, y_axis: 1 }
    series << {name: :wind_speed.tl, data: @forecast[:list].collect{|d| d[:wind_speed].to_f(:kilometer_per_hour).round(1)}, tooltip: {value_suffix: ' km/h' }, y_axis: 2 }
    series << {name: :temperature.tl, data: @forecast[:list].collect{|d| d[:temperatures].to_f(:celsius).round(1) }, tooltip: {value_suffix: '°C' }, y_axis: 3 }
    # series << {name: :clouds.tl, type: 'column', data: @forecast[:list].collect{|d| d[:clouds].to_f(:percent).round(1)}, tooltip: {value_suffix: ' %' }, y_axis: 1 }
    # series << {name: :pressure.tl, data: @forecast[:list].collect{|d| d[:pressure].to_f(:hectopascal).round(1) }, tooltip: {value_suffix: 'hPa' }, dashStyle: 'shortdot', y_axis: 2 }

    y_axis = [
      {title: { text: :humidity.tl }, labels: { format: '{value} %' }, opposite: true},
      {title: { text: :pluviometry.tl }, labels: { format: '{value} mm' }, opposite: true},
      {title: { text: :wind_speed.tl }, labels: { format: '{value} km/h' }},
      {title: {text: Onoma::Indicator[:temperature].human_name}, labels: { format: '{value} °C' }},
    ]

  = spline_highcharts(series, x_axis: {categories: categories}, y_axis: y_axis, legend: true)
- else
  = no_data
