= form_tag({action: :upload}, {method: :post, multipart: true, remote: true, :authenticity_token => true, data: { 'importer-form': true}}) do
  = hidden_field_tag :importer_format, '{importer}'
  = file_field_tag :import_file
  %span.spinner-loading{data: { 'importer-spinner': true}}
    %i

