-snippet :search, :title => false do
  =form_tag(backend_search_url, :method => :get, :class => "search") do
    =text_field_tag(:q, params[:q], :placeholder => tl(:search_placeholder))


-mod = Ekylibre::Modules.module_of(controller.controller_path, action_name)
-current = Ekylibre::Modules.reverse(controller.controller_path, action_name) rescue []
-for group, items in Ekylibre::Modules.groups_in(mod)
  -side_menu(group, :title => Ekylibre::Modules.human_name(mod, group), :icon => Ekylibre::Modules.icon(mod, group), :active => !!(group == current[1])) do |m|
    -for item, pages in items
      -attrs = {:title => Ekylibre::Modules.human_name(mod, group, item)}
      -attrs[:active] = true if item == current[2]
      -m.link(item, pages.first, attrs)

-if content_for?(:aside)
  =content_for(:aside)
