-# coding: UTF-8
!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", :dir => t("i18n.dir"), :lang => t("i18n.iso2"), "xml:lang" => t("i18n.iso2")}
  %head
    %link{:rel => "icon", :type => "image/png", :href => image_path("favicon.png")}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0"}
    =title_tag
    =csrf_meta_tags
    =stylesheet_link_tag :application
    =theme_link_tag(@current_theme)
    =javascript_include_tag :application
  -expiration = {}
  -expiration = {"timeout" => session[:expiration], "timeout-href" => renew_session_url(:name => @current_user.name)} if @current_user and session[:expiration].to_i>0
  %body{:data => expiration, :class => "mod-"+reverse_menus[0].to_s}
    =yield :popover
    #wrap
      -if @current_user
        %aside#side{:style => ("display:none;" unless session[:side])}=side_tag
      #main
        %header#header
          %nav#toolbar.toolbar
            -if @current_user
              -content_for(:toolbar) do
                =tool_to(:menu, '#', "data-target" => "#side", :tool => :nav, :id => "nav")
            =yield(:toolbar)
          %h1#title=controller.human_action_name
        #content
          =notifications_tag
          =yield
    %footer#legals=legals_sentence
