!!! XML utf-8
!!! strict-svg
%html{:xmlns=>'http://www.w3.org/1999/xhtml'}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=UTF-8'}
    %link{:rel=>"icon", :type=>"image/png", :href=>image_path("favicon.png")}
    =title_tag
    =theme_link_tag(@current_theme)
    =calendar_link_tag
    =javascript_include_tag :defaults
  %body{:id=>:body, :orient=>:vertical, :onload=>"resize();", :onresize=>'resize();'}
    = top_tag
    #columns{:orient=>:horizontal, :flex=>1}
      -side=side_tag
      -unless side.blank?
        #side{:style=>''+(session[:side] ? "" : "display:none")}
          =side      
      #main{:flex=>9, :orient=>:vertical, :style=>"position: absolute; top: 0px;"}
        #content{:flex=>3, :orient=>:vertical}
          .nav
            =help_link_tag
            =side_link_tag
            %h1.title=action_title
          #yield{:flex=>1, :orient=>:vertical}
            =notification_tag :error
            =notification_tag :warning
            =notification_tag :success
            =notification_tag :information
            =yield
            .end{:style=>'height:1px'}
      #help{:flex=>3, :style=>(session[:help] ? "" : "display:none; ")+"position: absolute; top: 0px;"}
        = render :partial=>'help/search' if session[:help]
   
