-# coding: UTF-8
!!! XML utf-8
=doctype_tag

%html{:xmlns=>"http://www.w3.org/1999/xhtml", :dir=>t("i18n.dir"), :lang=>t("i18n.iso2"), "xml:lang"=>t("i18n.iso2")}
  %head
    %link{:rel=>"icon", :type=>"image/png", :href=>image_path("favicon.png")}
    =title_tag
    =javascript_include_tag :application
    -#=formize_include_tag
    -#=javascript_include_tag "combo_box", "list-jquery", "support", "ui"
    =theme_link_tag(@current_theme)
  -expiration = {}
  -expiration = {"timeout"=>session[:expiration], "timeout-href"=>renew_session_url(:name=>@current_user.name)} if @current_user and session[:expiration].to_i>0
  %body{:data=>expiration}
    #body.flex{:class=>("resizable" if resizable?)}
      #top=top_tag
      #wrap.wrap.hbox.flex
        -if resizable?
          -if @current_user
            #side.side.anchor-left{:style=>("display:none;" unless session[:side])}=side_tag
            #side-splitter.splitter{:data=>{"toggle"=>toggle_side_url}} 
          #main.main.flex
            =title_header_tag
            =notifications_tag
            =yield
        -else
          %table#wrap-table
            %tr
              -if @current_user
                %td#side.side{:style=>("display:none;" unless session[:side])}=side_tag
                %td#side-splitter.splitter{:data=>{"toggle"=>toggle_side_url}} &nbsp;
              %td#main.main.flex-9
                =title_header_tag
                =notifications_tag
                =yield
      #legals=legals_sentence
