!!! XML utf-8
=doctype_tag

%html{:xmlns=>"http://www.w3.org/1999/xhtml", :dir=>t("i18n.dir"), :lang=>t("i18n.iso2"), "xml:lang"=>t("i18n.iso2")}
  %head
    %link{:rel=>"icon", :type=>"image/png", :href=>image_path("favicon.png")}
    =title_tag
    =theme_link_tag(@current_theme)
    =calendar_link_tag
    =javascript_include_tag :defaults
    =javascript_include_tag "dyke", "kame"
  %body
    -expiration = {}
    -expiration = {"timeout"=>session[:expiration], "timeout-href"=>url_for(:controller=>:authentication, :action=>:relogin, :name=>@current_user.name)} if @current_user and session[:expiration].to_i>0
    #body.flex{:data=>expiration, :class=>("resizable" if resizable?)}
      #top=top_tag
      #wrap.wrap.hbox.flex
        #side.side.anchor-left{:style=>("display:none;" unless session[:side])}=side_tag
        #help.help.flex-3.anchor-right{:style=>("display:none;" unless session[:help])}=help_tag
        #main.main.flex-9{:class=>"#{'with-side' if session[:side]} #{'with-help' if session[:help]}"}
          .nav
            =help_link_tag
            =side_link_tag
            =title_header_tag
          .yield.flex
            =notifications_tag
            =yield
          #legals="Ekylibre "+Ekylibre.version+" - Ruby on Rails "+Rails.version+" - Ruby #{RUBY_VERSION} - "+ActiveRecord::Base.connection.adapter_name+" - "+ActiveRecord::Migrator.current_version.to_s
