!!! XML utf-8
-#!!! strict-svg
="<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN\" \"http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg.dtd\">"

%html{:xmlns=>'http://www.w3.org/1999/xhtml'}
  %head
    %link{:rel=>"icon", :type=>"image/png", :href=>image_path("favicon.png")}
    =title_tag
    =theme_link_tag(@current_theme)
    =calendar_link_tag
    =javascript_include_tag :defaults
    =#javascript_include_tag 'layout'
    =javascript_include_tag 'dyke'
  %body
    #body.vbox.flex
      #top=top_tag
      #wrap
        #side.hbox{:style=>"overflwow: visible"+(session[:side] ? "" : "; display:none")}=side_tag
        -#=help_tag(:flex=>3)
        #help.help.flex-3{:style=>"#{'display:none;' unless session[:help]}; width: 240px;"}=help_tag
        #main.vbox.main.flex-9{:class=>("with-side" if session[:side]), :xstyle=>"position: absolute; top: 0px; overflow: visible;"}
          .nav
            =help_link_tag
            =side_link_tag
            -title = action_title
            %h1.title{:title=>title}=title
          .yield.flex.vbox
            =notifications_tag
            =yield

