!!! XML utf-8
-#!!! strict-svg
="<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN\" \"http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg.dtd\">"

%html{:xmlns=>'http://www.w3.org/1999/xhtml'}
  %head
    %link{:rel=>"icon", :type=>"image/png", :href=>image_path("favicon.png")}
    =title_tag # text/xml;charset=UTF-8
    =theme_link_tag(@current_theme)
    =calendar_link_tag
    =javascript_include_tag :defaults
    =javascript_include_tag 'dyke'
  %body{:onload=>"resize();", :onresize=>"resize();"}
    #body{:orient=>:vertical, :flex=>1}
      =top_tag
      #columns.columns{:orient=>:horizontal, :flex=>1}
        -side=side_tag
        -unless side.blank?
          #side{:orient=>:vertical, :style=>"overflow: visible"+(session[:side] ? "" : "; display:none")}=side
        #main.main{:flex=>9, :orient=>:vertical, :class=>("with-side" if session[:side]), :style=>"position: absolute; top: 0px; overflow: visible;"}
          .nav
            =help_link_tag
            =side_link_tag
            %h1.title=action_title
          .yield{:flex=>1, :orient=>:vertical}
            =notifications_tag
            =yield
        =help_tag(:flex=>3)
   
