-# coding: UTF-8
!!! XML utf-8
=doctype_tag

%html{:xmlns=>"http://www.w3.org/1999/xhtml", :dir=>t("i18n.dir"), :lang=>t("i18n.iso2"), "xml:lang"=>t("i18n.iso2")}
  %head
    -#%link{:rel=>"icon", :type=>"image/png", :href=>image_path("favicon.png")}
    =title_tag
    =csrf_meta_tags
    =stylesheet_link_tag :application
    =theme_link_tag(@current_theme)
    =javascript_include_tag :application
  -expiration = {}
  -expiration = {"timeout"=>session[:expiration], "timeout-href"=>renew_session_url(:name=>@current_user.name)} if @current_user and session[:expiration].to_i>0
  %body{:data=>expiration, :class => "mod-"+reverse_menus[0].to_s}
    #body.vbox.flex{:class=>("resizable" if resizable?)}
      #wrap.hbox
        -if @current_user
          #side{:style=>("display:none;" unless session[:side])}=side_tag
        #main
          =title_header_tag
          =notifications_tag
          =yield
      #legals=legals_sentence
