-help_id = "#{params[:dialog]}-help"
.columns{:orient=>:horizontal, :flex=>1}
  .main{:flex=>9, :orient=>:vertical}
    .nav
      =link_to_function(tg(:close), "closeDialog('#{params[:dialog]}')", :class=>"help-close help-link")
      =help_link_tag(:update=>help_id, :resize=>params[:dialog], :url=>{:dialog=>params[:dialog]})
      %h1.title=action_title
    .yield{:flex=>1, :orient=>:vertical}
      =notifications_tag
      =yield
  =help_tag(:id=>help_id)
