.main{:flex=>9, :orient=>:vertical}
  .page{:flex=>3, :orient=>:vertical}
    .nav
      %h1.title=action_title
    .yield{:flex=>1, :orient=>:vertical}
      =notification_tag :error
      =notification_tag :warning
      =notification_tag :success
      =notification_tag :information
      =yield
      .end{:style=>'height:1px'}
