= formalize do |f|
  - f.error :operation

=field_set(@operation, :general_informations) do |f|
  =f.input :name
  =f.association :responsible
  =f.association :nature
  =f.input :description, :field=>:textarea

=field_set(@operation, :delays) do |f|
  =f.input :planned_on
  =f.input :duration
  =f.input :hour_duration
  =f.input :min_duration

=field_set(@operation, :operations_details) do |f|
  =formalize do |f|
    -f.title :operation_lines
  =hidden_field_tag "operation[target_type]", LandParcel.name

