-field_set do
  -input :name
  -association :responsible, :source => :employees
  -association :nature
  -input :planned_on
  -input :description

-field_set(:duration) do
  -input :hour_duration
  -input :min_duration

-field_set(:products) do
  -nested_association(:lines) do
    -input :direction
    -association :product
    -input :quantity
    -association :tracking
    -association :warehouse

-field_set(:tools) do
  -nested_association(:uses) do
    -association :tool

