.leaflet-label {
  color: $text-color;
  font-size: $fs-normal;
  display: block;
  padding: 0.5*$default-gap $default-gap;
  position: absolute;
  @include user-select(none);
  pointer-events: none;
  white-space: nowrap;
  z-index: 1;
  text-shadow: 0 0 2px white;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  &.leaflet-clickable {
    cursor: pointer;
    pointer-events: auto;
  }

  &:before, &:after {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    content: none;
    position: absolute;
    top: 5px;
  }

  &:before {
    border-right: 6px solid black;
    border-right-color: inherit;
    left: -10px;
  }

  &:after {
    border-left: 6px solid black;
    border-left-color: inherit;
    right: -10px;
  }
}

.leaflet-label-right:before, .leaflet-label-left:after {
  content: "";
}
